{
  "swagger": "2.0",
  "info": {
    "title": "AIHW MyHospitals",
    "description": "The MyHospitals national reporting platform allows users to explore information about their local hospital and Local Hospital Network (LHN), as well as trends across Australia",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://www.atlassian.com/software/jira",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "myhospitalsapi.aihw.gov.au",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/caveats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Caveat"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Gets a list of caveats",
        "description": "Gets a list of caveats.",
        "operationId": "GetCaveats",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/caveats/{caveat-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Caveat"
            }
          }
        },
        "summary": "Get Caveat",
        "description": "Gets a caveat matching the supplied caveat code.",
        "operationId": "GetCaveat",
        "parameters": [
          {
            "name": "caveat-code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Caveat code",
            "description": "Caveat code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Dataset"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Datasets",
        "description": "Gets a list of datasets, optionally filtered by a list of measure and reported measure codes. Matching within each filter is by logical disjunction (OR) and matching across filters is by logical conjunction (AND).",
        "operationId": "GetDataSets",
        "parameters": [
          {
            "name": "measure_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The measure codes.",
            "x-ms-summary": "The measure codes"
          },
          {
            "name": "reported_measure_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The reported measure codes.",
            "x-ms-summary": "The reported measure codes"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/datasets/{dataset-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "summary": "Gets a single dataset",
        "description": "Gets a single dataset matching the supplied dataset id.",
        "operationId": "GetDataSet",
        "parameters": [
          {
            "name": "dataset-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The dataset id.",
            "x-ms-summary": "The dataset id",
            "format": "int32",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/datasets/{dataset-id}/data-items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "caveats": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Caveat"
                  },
                  "description": "caveats"
                },
                "data_set_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "data_set_id",
                  "description": "The id for the associated DataSet."
                },
                "group_number": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Indicates a quintile, decile or other grouping number for the data value. This will be null if it is not applicable.",
                  "title": "group_number"
                },
                "lower_value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Represents the lower data value if this DataItem is a data range or has a confidence interval, otherwise this will be null.",
                  "title": "lower_value"
                },
                "measure_code": {
                  "type": "string",
                  "description": "The code for the associated Measure.",
                  "title": "measure_code"
                },
                "peer_group_summary": {
                  "$ref": "#/definitions/ReportingUnitSummaryModel"
                },
                "proxy_reporting_unit_summary": {
                  "$ref": "#/definitions/ReportingUnitSummaryModel"
                },
                "reported_measure_code": {
                  "type": "string",
                  "description": "The code for the associated ReportedMeasure.",
                  "title": "reported_measure_code"
                },
                "reporting_unit_summary": {
                  "$ref": "#/definitions/ReportingUnitSummaryModel"
                },
                "upper_value": {
                  "type": "integer",
                  "format": "int32",
                  "title": "upper_value",
                  "description": "Represents the upper data value if this DataItem is a data range or has a confidence interval, otherwise this will be null."
                },
                "value": {
                  "type": "integer",
                  "format": "int32",
                  "title": "value",
                  "description": "The data value for this DataItem. This data value may be null if the data is suppressed, in which case a caveat will be present in the Caveats list."
                }
              }
            }
          }
        },
        "description": "Gets a list of data items for a dataset,, optionally filtered, using logical disjunction (OR), by a list of reporting unit codes.",
        "summary": "Get Dataset Items",
        "operationId": "GetDatasetItems",
        "parameters": [
          {
            "name": "dataset-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The dataset id.",
            "x-ms-summary": "The dataset id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "reporting_unit_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The reporting unit codes.",
            "x-ms-summary": "The reporting unit codes"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measure-categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MeasureCategory"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of measure categories",
        "description": "Get a list of measure categories.",
        "operationId": "GetMeasureCategories",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measure-categories/{measure-category-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/MeasureCategory"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a single measure category",
        "description": "Gets a single measure category matching the supplied measure category code.",
        "operationId": "GetSingleMeasureCategory",
        "parameters": [
          {
            "name": "measure-category-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The measure category code.",
            "x-ms-summary": "The measure category code",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetMeasureCategories",
              "value-path": "measure_category_code",
              "value-collection": "result",
              "value-title": "measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measure-categories/{measure-category-code}/measures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "measure_categories": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/MeasureCategory"
                        },
                        "description": "measure_categories"
                      },
                      "measure_code": {
                        "type": "string",
                        "description": "measure_code"
                      },
                      "measure_name": {
                        "type": "string",
                        "description": "measure_name"
                      },
                      "meta_tags": {
                        "$ref": "#/definitions/MetaTags"
                      },
                      "units": {
                        "$ref": "#/definitions/Units"
                      }
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Gets a list of measures for a measure category",
        "description": "Gets a list of measures for the specified measure category code.",
        "operationId": "GetSingleMeasureCategoryMeasures",
        "parameters": [
          {
            "name": "measure-category-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The measure category code.",
            "x-ms-summary": "The measure category code.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetMeasureCategories",
              "value-path": "measure_category_code",
              "value-collection": "result",
              "value-title": "measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measure-categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportedMeasureCategoryModel"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of reported measure categories",
        "description": "Gets list of all reported measure categories available.",
        "operationId": "GetReportedMeasureCategories",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measure-categories/{reported-measure-category-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/ReportedMeasureCategoryModel"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Gets a list of reported measure categories for the measure category code",
        "description": "Gets a list reported measure categories matching the supplied reported measure category codes. NOTE: Reported measure codes are not constrained to be unique in the system.",
        "operationId": "GetReportedMeasureCategory",
        "parameters": [
          {
            "name": "reported-measure-category-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reported measure category code.",
            "x-ms-summary": "The reported measure category code",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetReportedMeasureCategories",
              "value-path": "reported_measure_category_code",
              "value-collection": "result",
              "value-title": "reported_measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measure-categories/{reported-measure-category-code}/reported-measures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "measure": {
                        "type": "object",
                        "properties": {
                          "measure_categories": {
                            "type": "array",
                            "items": {
                              "$ref": "#/definitions/MeasureCategory"
                            },
                            "description": "measure_categories"
                          },
                          "measure_code": {
                            "type": "string",
                            "description": "measure_code"
                          },
                          "measure_name": {
                            "type": "string",
                            "description": "measure_name"
                          },
                          "meta_tags": {
                            "$ref": "#/definitions/MetaTags"
                          },
                          "units": {
                            "$ref": "#/definitions/Units"
                          }
                        },
                        "description": "measure"
                      },
                      "meta_tags": {
                        "$ref": "#/definitions/MetaTags"
                      },
                      "reported_measure_categories": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/ReportedMeasureCategoryModel"
                        },
                        "description": "reported_measure_categories"
                      },
                      "reported_measure_code": {
                        "type": "string",
                        "description": "reported_measure_code"
                      },
                      "reported_measure_name": {
                        "type": "string",
                        "description": "reported_measure_name"
                      }
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get reported measures for a reported measure category",
        "description": "Gets a list of all reported measures for a specified reported measure category code.",
        "operationId": "GetReportedMeasureCategoryMeasures",
        "parameters": [
          {
            "name": "reported-measure-category-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets reported measures for a reported measure category.",
            "x-ms-summary": "Gets reported measures for a reported measure category.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetReportedMeasureCategories",
              "value-path": "reported_measure_category_code",
              "value-collection": "result",
              "value-title": "reported_measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "measure": {
                        "$ref": "#/definitions/Measure"
                      },
                      "meta_tags": {
                        "$ref": "#/definitions/MetaTags"
                      },
                      "reported_measure_categories": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/ReportedMeasureCategoryModel"
                        },
                        "description": "reported_measure_categories"
                      },
                      "reported_measure_code": {
                        "type": "string",
                        "description": "reported_measure_code"
                      },
                      "reported_measure_name": {
                        "type": "string",
                        "description": "reported_measure_name"
                      }
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of reported measures",
        "description": "Gets list of reported measures, optionally filtered by a list of measure and reported measure category codes. Matching within each filter is by logical disjunction (OR) and matching across filters is by logical conjunction (AND).",
        "operationId": "GetReportedMeasures",
        "parameters": [
          {
            "name": "measure_code",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "The measure codes",
            "description": "The measure codes"
          },
          {
            "name": "reported_measure_category_code",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "The reported measure category codes.",
            "description": "The reported measure category codes.",
            "x-ms-dynamic-values": {
              "operationId": "GetReportedMeasureCategories",
              "value-path": "reported_measure_category_code",
              "value-collection": "result",
              "value-title": "reported_measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measures/{reported-measure-code}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a single reported measure",
        "description": "Gets a single reported measure.",
        "operationId": "GetSingleReportedMeasure",
        "parameters": [
          {
            "name": "reported-measure-code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The reported measure category codes.",
            "description": "The reported measure category codes.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reported-measures/{reported-measure-code}/data-items": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a list of data items for a reported measure",
        "description": "Get a list of all data items for the specified reported measure.",
        "operationId": "GetSingleReportedMeasureDataItems",
        "parameters": [
          {
            "name": "reported-measure-code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The reported measure category codes.",
            "description": "The reported measure category codes.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-units": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingUnit"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Gets a list of reporting units",
        "description": "Gets list of all reporting units, optionally filtered, using logical disjunction (OR), by a list of reporting unit type codes.",
        "operationId": "GetReportingUnits",
        "parameters": [
          {
            "name": "reporting_unit_type_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The reporting unit type codes.",
            "x-ms-summary": "The reporting unit type codes",
            "x-ms-dynamic-values": {
              "operationId": "GetReportingUnitTypes",
              "value-path": "reporting_unit_type_code",
              "value-collection": "result",
              "value-title": "reporting_unit_type_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-units/{reporting-unit-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ReportingUnit"
            }
          }
        },
        "summary": "Gets a single reporting unit",
        "description": "Gets a single reporting unit matching the supplied reporting unit code.",
        "operationId": "GetSingleReportingUnit",
        "parameters": [
          {
            "name": "reporting-unit-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reporting unit code.",
            "x-ms-summary": "The reporting unit code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-units/{reporting-unit-code}/data-items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingUnit"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of data items for a reporting unit",
        "description": "Gets a list of all data items for the specified reporting unit.",
        "operationId": "GetSingleReportingUnitDataitems",
        "parameters": [
          {
            "name": "reporting-unit-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reporting unit code.",
            "x-ms-summary": "The reporting unit code.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-units/{reporting-unit-code}/measures-available": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MeasureSummaryModel"
                  }
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "All measures with data available for this reporting unit",
        "description": "Get list of all measures that have data available for the specified reporting unit.",
        "operationId": "GetSingleReportingUnitMeasures",
        "parameters": [
          {
            "name": "reporting-unit-code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Reporting unit code",
            "description": "Reporting unit code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-units/{reporting-unit-code}/bricks-available": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "List all brick codes available for this reporting unit",
        "description": "Get list of all brick codes available for the specified reporting unit.",
        "operationId": "GetSingleReportingUnitBricks",
        "parameters": [
          {
            "name": "reporting-unit-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reporting unit code.",
            "x-ms-summary": "The reporting unit code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-unit-types": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingUnitType"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of reporting unit types",
        "description": "Get a list of reporting unit types.",
        "operationId": "GetReportingUnitTypes",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-unit-types/{reporting-unit-type-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/ReportingUnitType"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a single reporting unit type",
        "description": "Gets a single reporting unit type matching the supplied reporting unit type code.",
        "operationId": "GetSingleReportingUnitType",
        "parameters": [
          {
            "name": "reporting-unit-type-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reporting unit type code.",
            "x-ms-summary": "The reporting unit type code.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetReportingUnitTypes",
              "value-path": "reporting_unit_type_code",
              "value-collection": "result",
              "value-title": "reporting_unit_type_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/reporting-unit-types/{reporting-unit-type-code}/bricks-available": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {},
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a dictionary of reporting unit codes and available bricks",
        "operationId": "GetSingleReportUnitTypeBricks",
        "parameters": [
          {
            "name": "reporting-unit-type-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The reporting unit type code.",
            "x-ms-summary": "The reporting unit type code.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetReportingUnitTypes",
              "value-path": "reporting_unit_type_code",
              "value-collection": "result",
              "value-title": "reporting_unit_type_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          }
        ],
        "description": "Gets a dictionary of reporting units codes and their available bricks, for the specified reporting unit type."
      }
    },
    "/measures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "measure_categories": {
                        "type": "array",
                        "items": {
						  "$ref": "#/definitions/MeasureCategory"
                        },
                        "description": "measure_categories"
                      },
                      "measure_code": {
                        "type": "string",
                        "description": "measure_code"
                      },
                      "measure_name": {
                        "type": "string",
                        "description": "measure_name"
                      },
                      "meta_tags": {
						"$ref": "#/definitions/MetaTags"
                      },
                      "units": {
						"$ref": "#/definitions/Units"
                      }
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of measures",
        "description": "Gets list of all measures, optionally filtered, using logical disjunction (OR), by a list of measure category codes.",
        "operationId": "GetMeasures",
        "parameters": [
          {
            "name": "measure_category_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The measure category codes.",
            "x-ms-summary": "The measure category codes",
            "x-ms-dynamic-values": {
              "operationId": "GetMeasureCategories",
              "value-path": "measure_category_code",
              "value-collection": "result",
              "value-title": "measure_category_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measures/{measure-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "measure_categories": {
                      "type": "array",
                      "items": {
						"$ref": "#/definitions/MeasureCategory"
                      },
                      "description": "measure_categories"
                    },
                    "measure_code": {
                      "type": "string",
                      "description": "measure_code"
                    },
                    "measure_name": {
                      "type": "string",
                      "description": "measure_name"
                    },
                    "meta_tags": {
					  "$ref": "#/definitions/MetaTags"
                    },
                    "units": {
					  "$ref": "#/definitions/Units"
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a single measure",
        "description": "Gets a single measure matching the supplied measure code.",
        "operationId": "GetMeasure",
        "parameters": [
          {
            "name": "measure-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The measure category codes.",
            "x-ms-summary": "The measure category codes",
			"x-ms-url-encoding" : "single",			
            "x-ms-dynamic-values": {
              "operationId": "GetMeasures",
              "value-path": "measure_code",
              "value-collection": "result",
              "value-title": "measure_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measures/{measure-code}/reporting-units-available": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
					"$ref": "#/definitions/ReportingUnitSummaryModel"
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Get a list of reporting units available for a measure",
        "description": "Gets a list of all reporting units that have data available for the specified measure.",
        "operationId": "GetReportingUnitsForMeasure",
        "parameters": [
          {
            "name": "measure-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The measure codes.",
            "x-ms-summary": "The measure codes",
			"x-ms-url-encoding" : "single",			
            "x-ms-dynamic-values": {
              "operationId": "GetMeasures",
              "value-path": "measure_code",
              "value-collection": "result",
              "value-title": "measure_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/measures/{measure-code}/data-items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "caveats": {
                        "type": "array",
                        "items": {},
                        "description": "caveats"
                      },
                      "data_set_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "data_set_id"
                      },
                      "group_number": {
                        "type": "string",
                        "description": "group_number"
                      },
                      "lower_value": {
                        "description": "lower_value",
                        "title": ""
                      },
                      "measure_code": {
                        "type": "string",
                        "description": "measure_code"
                      },
                      "peer_group_summary": {
                        "type": "string",
                        "description": "peer_group_summary"
                      },
                      "proxy_reporting_unit_summary": {
                        "type": "string",
                        "description": "proxy_reporting_unit_summary"
                      },
                      "reported_measure_code": {
                        "type": "string",
                        "description": "reported_measure_code"
                      },
                      "reporting_unit_summary": {
                        "type": "object",
                        "properties": {
                          "reporting_unit_code": {
                            "type": "string",
                            "description": "reporting_unit_code"
                          },
                          "reporting_unit_name": {
                            "type": "string",
                            "description": "reporting_unit_name"
                          },
                          "reporting_unit_type": {
                            "type": "object",
                            "properties": {
                              "reporting_unit_type_code": {
                                "type": "string",
                                "description": "reporting_unit_type_code"
                              },
                              "reporting_unit_type_name": {
                                "type": "string",
                                "description": "reporting_unit_type_name"
                              }
                            },
                            "description": "reporting_unit_type"
                          }
                        },
                        "description": "reporting_unit_summary"
                      },
                      "suppressions": {
                        "type": "array",
                        "items": {},
                        "description": "suppressions"
                      },
                      "upper_value": {
                        "description": "upper_value",
                        "title": ""
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "value"
                      }
                    }
                  },
                  "description": "result"
                },
                "version_information": {
                  "$ref": "#/definitions/VersionInformation"
                }
              }
            }
          }
        },
        "summary": "Gets a list of data items for a measure",
        "description": "Gets a list of all data items for the specified measure.",
        "operationId": "GetMeasureDataItems",
        "parameters": [
          {
            "name": "measure-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The measure code.",
            "x-ms-summary": "The measure code",
			"x-ms-url-encoding" : "single",			
            "x-ms-dynamic-values": {
              "operationId": "GetMeasures",
              "value-path": "measure_code",
              "value-collection": "result",
              "value-title": "measure_name",
              "parameters": {
                "Accept": "application/json"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "Caveat": {
      "type": "object",
      "properties": {
        "caveat_code": {
          "type": "string",
          "description": "The code for the corresponding Caveat.",
          "title": "caveat_code"
        },
        "caveat_display_value": {
          "type": "string",
          "description": "The display value or symbol for the corresponding Caveat. If the Caveat has no symbol then this field will be null.",
          "title": "caveat_display_value"
        },
        "caveat_footnote": {
          "type": "string",
          "description": "The footnote/explanation text for the corresponding Caveat. If the Caveat has no text then this field will be null.",
          "title": "caveat_footnote"
        },
        "caveat_name": {
          "type": "string",
          "description": "The name for the corresponding Caveat.",
          "title": "caveat_name"
        }
      }
    },
    "Measure": {
      "type": "object",
      "properties": {
        "measure_categories": {
          "type": "array",
          "items": {},
          "description": "measure_categories"
        },
        "measure_code": {
          "type": "string",
          "description": "measure_code"
        },
        "measure_name": {
          "type": "string",
          "description": "measure_name"
        },
        "meta_tags": {
          "type": "array",
          "items": {},
          "description": "meta_tags"
        },
        "units": {
          "type": "object",
          "properties": {
            "decimal_places": {
              "type": "integer",
              "format": "int32",
              "description": "decimal_places"
            },
            "units_are_prefix": {
              "type": "boolean",
              "description": "units_are_prefix"
            },
            "units_display": {
              "type": "string",
              "description": "units_display"
            },
            "units_name": {
              "type": "string",
              "description": "units_name"
            }
          },
          "description": "units"
        }
      },
      "description": "measure"
    },
    "MeasureSummaryModel": {
      "type": "object",
      "properties": {
        "measure_code": {
          "type": "string",
          "description": "The code for the corresponding Measure.",
          "title": "measure_code"
        },
        "measure_name": {
          "type": "string",
          "description": "The name for the corresponding Measure.",
          "title": "measure_name"
        }
      },
      "description": "measure_summary"
    },
    "MeasureCategory": {
      "type": "object",
      "properties": {
        "measure_category_code": {
          "type": "string",
          "description": "measure_category_code"
        },
        "measure_category_name": {
          "type": "string",
          "description": "measure_category_name"
        }
      }
    },
    "ReportedMeasureCategoryModel": {
      "type": "object",
      "properties": {
        "reported_measure_category_code": {
          "type": "string",
          "description": "reported_measure_category_code"
        },
        "reported_measure_category_name": {
          "type": "string",
          "description": "reported_measure_category_name"
        },
        "reported_measure_category_type": {
          "type": "object",
          "properties": {
            "reported_measure_category_type_code": {
              "type": "string",
              "description": "reported_measure_category_type_code"
            },
            "reported_measure_category_type_name": {
              "type": "string",
              "description": "reported_measure_category_type_name"
            }
          },
          "description": "reported_measure_category_type"
        }
      }
    },
    "ReportingUnitSummaryModel": {
      "type": "object",
      "properties": {
        "reporting_unit_code": {
          "type": "string",
          "description": "The code for the corresponding ReportingUnit.",
          "title": "reporting_unit_code"
        },
        "reporting_unit_name": {
          "type": "string",
          "description": "The name for the corresponding ReportingUnit.",
          "title": "reporting_unit_name"
        },
        "reporting_unit_type": {
          "$ref": "#/definitions/ReportingUnitType"
        }
      },
      "description": "A ReportingUnitSummary details the code and name of a ReportingUnit, including a summary of the associated ReportingUnitType."
    },
    "ReportingUnitType": {
      "type": "object",
      "properties": {
        "reporting_unit_type_code": {
          "type": "string",
          "title": "reporting_unit_type_code",
          "description": "The code for the corresponding ReportingUnitType."
        },
        "reporting_unit_type_name": {
          "type": "string",
          "title": "reporting_unit_type_name",
          "description": "The name for the corresponding ReportingUnitType."
        }
      },
      "description": "A ReportingUnitType indicates the type for a ReportingUnit and is used to group ReportingUnits."
    },
    "ReportingUnit": {
      "type": "object",
      "properties": {
        "alternative_names": {
          "type": "array",
          "items": {},
          "title": "alternative_names",
          "description": "The list of alternate names for this ReportingUnit. If there are no alternate names then this list will be empty."
        },
        "closed": {
          "type": "boolean",
          "description": "Indicates whether this ReportingUnit is closed.",
          "title": "closed"
        },
        "private": {
          "type": "boolean",
          "description": "Indicates whether this ReportingUnit is private, e.g. a private hospital.",
          "title": "private"
        },
        "latitude": {
          "type": "number",
          "format": "float",
          "description": "The latitude for the ReportingUnit. This field may be null if no geographical point is applicable for the ReportingUnit.",
          "title": "latitude"
        },
        "longitude": {
          "type": "number",
          "format": "float",
          "description": "The longitude for the ReportingUnit. This field may be null if no geographical point is applicable for the ReportingUnit.",
          "title": "longitude"
        },
        "mapped_reporting_units": {
          "$ref": "#/definitions/MappedReportingUnits"
        },
        "meta_tags": {
          "$ref": "#/definitions/MetaTags"
        },
        "reporting_unit_code": {
          "type": "string",
          "description": "The code for the corresponding ReportingUnit.",
          "title": "reporting_unit_code"
        },
        "reporting_unit_name": {
          "type": "string",
          "description": "The name for the corresponding ReportingUnit.",
          "title": "reporting_unit_name"
        },
        "reporting_unit_type": {
          "$ref": "#/definitions/ReportingUnitType"
        }
      }
    },
    "MappedReportingUnits": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "mapped_reporting_unit": {
            "$ref": "#/definitions/ReportingUnitSummaryModel"
          },
          "map_type": {
            "type": "object",
            "properties": {
              "mapped_reporting_unit_code": {
                "type": "string",
                "description": "The code for the corresponding MappedReportingUnitType",
                "title": "mapped_reporting_unit_code"
              },
              "mapped_reporting_unit_name": {
                "type": "string",
                "description": "The name for the corresponding MappedReportingUnitType.",
                "title": "mapped_reporting_unit_name"
              }
            },
            "description": "A MappedReportingUnitType indicates the type of relationship for a ReportingUnitMapping giving context to the relationship."
          }
        }
      },
      "description": "List of mapped ReportingUnits applicable to this ReportingUnit. This list will be empty if there are no mappings."
    },
    "MetaTags": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "meta_tag_code": {
            "type": "string",
            "description": "meta_tag_code"
          },
          "meta_tag_name": {
            "type": "string",
            "description": "meta_tag_name"
          },
          "meta_tag_type": {
            "type": "object",
            "properties": {
              "meta_tag_type_code": {
                "type": "string",
                "description": "meta_tag_type_code"
              },
              "meta_tag_type_name": {
                "type": "string",
                "description": "meta_tag_type_name"
              }
            },
            "description": "meta_tag_type"
          }
        }
      },
      "description": "meta_tags"
    },
    "Units": {
      "type": "object",
      "properties": {
        "decimal_places": {
          "type": "integer",
          "format": "int32",
          "description": "decimal_places"
        },
        "units_are_prefix": {
          "type": "boolean",
          "description": "units_are_prefix"
        },
        "units_display": {
          "type": "string",
          "description": "units_display"
        },
        "units_name": {
          "type": "string",
          "description": "units_name"
        }
      },
      "description": "units"
    },
    "VersionInformation": {
      "type": "object",
      "properties": {
        "api_version": {
          "type": "string",
          "description": "Api Version",
          "title": "api_version"
        },
        "data_version": {
          "type": "integer",
          "format": "int32",
          "description": "Data Version",
          "title": "data_version"
        },
        "date_uploaded": {
          "type": "string",
          "description": "The date the data was uploaded",
          "title": "date_uploaded"
        },
        "requested_time_stamp": {
          "type": "string",
          "description": "The timestamp of the request",
          "title": "requested_time_stamp"
        }
      },
      "description": "version_information"
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "caveats": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Caveat"
          },
          "description": "caveats"
        },
        "data_set_id": {
          "type": "integer",
          "format": "int32",
          "description": "The id for the DataSet.",
          "title": "data_set_id"
        },
        "data_set_name": {
          "type": "string",
          "description": "The display name for the corresponding DataSet.",
          "title": "data_set_name"
        },
        "meta_tags": {
          "$ref": "#/definitions/MetaTags"
        },
        "reported_measure_summary": {
          "type": "object",
          "properties": {
            "measure_summary": {
              "$ref": "#/definitions/MeasureSummaryModel"
            },
            "reported_measure_code": {
              "type": "string",
              "description": "The code for the corresponding ReportedMeasure.",
              "title": "reported_measure_code"
            },
            "reported_measure_name": {
              "type": "string",
              "description": "The name for the corresponding ReportedMeasure.",
              "title": "reported_measure_name"
            }
          },
          "description": "reported_measure_summary"
        },
        "reporting_end_date": {
          "type": "string",
          "description": "The end date for the DataSet data period.",
          "title": "reporting_end_date"
        },
        "reporting_start_date": {
          "type": "string",
          "description": "The start date for the DataSet data period.",
          "title": "reporting_start_date"
        }
      }
    },
    "SuppressionModel": {
      "type": "object",
      "properties": {
        "suppression_code": {
          "type": "string",
          "description": "The code for the corresponding Suppression",
          "title": "suppression_code"
        },
        "suppression_display_value": {
          "type": "string",
          "description": "The display value or symbol for the corresponding Suppression. If the Suppression has no symbol then this field will be null.",
          "title": "suppression_display_value"
        },
        "suppression_footnote": {
          "type": "string",
          "description": "The footnote/explanation text for the corresponding Suppression. If the Suppression has no text then this field will be null.",
          "title": "suppression_footnote"
        },
        "suppression_name": {
          "type": "string",
          "description": "The name for the corresponding Suppression.",
          "title": "suppression_name"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.aihw.gov.au/reports-data/myhospitals/content/api"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.aihw.gov.au/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}