{
  "swagger": "2.0",
  "info": {
    "description": "Captisa Forms allows you to build powerful online forms with workflows, conditional logic, duplicate detection rules, multi-level select, lookup, repeating panels, tabs, accordions. Create views and filters use them to analyze your data using charts or pivot grids, and then present them in dashboard.",
    "title": "Captisa Forms",
    "contact": {
      "name": "Captisa Form Support",
      "url": "https://captisa.com/contact-us",
      "email": "support@captisa.com"
    },
    "version": "1.0.0"
  },
  "host": "api.captisa.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/msflow/forms": {
      "get": {
        "description": "Get Form List",
        "operationId": "GetFormList",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of forms",
            "schema": {
              "$ref": "#/definitions/FormListResponse"
            }
          }
        },
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "Get Form List",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/msflow/forms/{formID}/c/subscribe": {
      "x-ms-notification-content": {
        "description": "Get form fields",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetFormFields",
            "parameters": {
              "formID": {
                "parameter": "formID"
              },
              "type": "c"
            },
            "value-path": "content/schema"
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow each time a form gets a new submission",
        "summary": "When a form record is created",
        "operationId": "WebhookCreateTrigger",
        "parameters": [
          {
            "description": "Select a form",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormList",
              "value-collection": "content",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Select form"
          },
          {
            "description": "Payload",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "callbackURL": {
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackURL"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook created",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          }
        },
        "x-ms-trigger": "single"
      }
    },
    "/v1/msflow/forms/{formID}/u/subscribe": {
      "x-ms-notification-content": {
        "description": "Get form fields",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetFormFields",
            "parameters": {
              "formID": {
                "parameter": "formID"
              },
              "type": "c"
            },
            "value-path": "content/schema"
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow each time an entry in your form is updated",
        "summary": "When a form record is updated",
        "operationId": "WebhookUpdateTrigger",
        "parameters": [
          {
            "description": "Select a form",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormList",
              "value-collection": "content",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Select form"
          },
          {
            "description": "Payload",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "callbackURL": {
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackURL"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook created",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          }
        },
        "x-ms-trigger": "single"
      }
    },
    "/v1/msflow/forms/{formID}/{webhookID}/unsubscribe": {
      "delete": {
        "description": "Delete webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "description": "Form ID",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string"
          },
          {
            "description": "Webhook ID",
            "in": "path",
            "name": "webhookID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook Deleted",
            "schema": {
              "$ref": "#/definitions/WebhookDeleteResponse"
            }
          }
        },
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "Delete webhook",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/msflow/forms/{formID}/{type}": {
      "get": {
        "description": "Get Form Fields",
        "operationId": "GetFormFields",
        "parameters": [
          {
            "description": "Form ID for DynamicSchema",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string",
            "x-ms-summary": "formID"
          },
          {
            "description": "Type of schema request (u)pdate or (c)reate",
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string",
            "x-ms-summary": "type"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Form Fields",
            "schema": {
              "$ref": "#/definitions/FormFieldResponse"
            }
          }
        },
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "Get Form Fields",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/data/{formID}": {
      "post": {
        "description": "Create an Entry",
        "summary": "Create an Entry",
        "operationId": "CreateEntry",
        "parameters": [
          {
            "description": "Select a form",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormList",
              "value-collection": "content",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Select form"
          },
          {
            "description": "This is the request body of the Webhook",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormFields",
                "parameters": {
                  "formID": {
                    "parameter": "formID"
                  },
                  "type": "u"
                },
                "value-path": "content/schema"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook created",
            "schema": {
              "$ref": "#/definitions/FormFieldResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/data/{formID}/{id}": {
      "patch": {
        "description": "Update an Entry",
        "summary": "Update an Entry",
        "operationId": "UpdateEntry",
        "parameters": [
          {
            "description": "Select a form",
            "in": "path",
            "name": "formID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormList",
              "value-collection": "content",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Select form"
          },
          {
            "description": "External data source primary ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Integration ID"
          },
          {
            "description": "This is the request body of the Webhook",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormFields",
                "parameters": {
                  "formID": {
                    "parameter": "formID"
                  },
                  "type": "xx"
                },
                "value-path": "content/schema"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook created",
            "schema": {
              "$ref": "#/definitions/FormFieldResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/users/me": {
      "get": {
        "consumes": [],
        "description": "Test Connection",
        "operationId": "TestAPIConnection",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Test Connection",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "FormFieldResponse": {
      "properties": {
        "content": {
          "description": "content",
          "type": "object"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FormListResponse": {
      "properties": {
        "content": {
          "description": "content",
          "items": {
            "properties": {
              "id": {
                "description": "id",
                "type": "string"
              },
              "name": {
                "description": "id",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "WebhookDeleteResponse": {
      "properties": {
        "content": {
          "description": "content",
          "type": "string"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "WebhookRequestBody": {
      "properties": {
        "formID": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetFormList",
            "value-collection": "content",
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-summary": "Select a form"
        },
        "url": {
          "description": "Callback URL",
          "title": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      },
      "required": [
        "url"
      ],
      "type": "object"
    },
    "WebhookResponse": {
      "properties": {
        "content": {
          "description": "content",
          "properties": {
            "message": {
              "description": "Operation message",
              "type": "string"
            },
            "webhookDeleteUrl": {
              "description": "webhook delete url",
              "type": "string"
            }
          },
          "type": "object"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.captisa.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.captisa.com/privacy-policy"
    },
    {
      "propertyName": "Terms",
      "propertyValue": "https://www.captisa.com/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestAPIConnection",
      "parameters": {}
    }
  }
}