{
  "swagger": "2.0",
  "info": {
    "title": "Ecologi",
    "description": "Ecologi is a platform to reverse and halt climate change. We facilitate the funding of climate projects and tree planting projects around the world, allowing ordinary people to contribute to real climate action. Our mission is to remove 50% of global CO2 emissions by 2040 and to responsibly plant billions of trees every year.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "public.ecologi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/impact/trees": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of trees to purchase.",
                  "title": "Amount"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency of the amount.",
                  "title": "Currency"
                },
                "treeUrl": {
                  "type": "string",
                  "description": "The URL for the trees you just planted.",
                  "title": "Tree URL"
                },
                "name": {
                  "type": "string",
                  "description": "The name you passed.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "summary": "Purchase trees",
        "description": "Use this action to purchase 1 or more trees per request.",
        "operationId": "PurchaseTrees",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of trees to purchase.",
                  "title": "Number"
                },
                "name": {
                  "type": "string",
                  "description": "The funded by name for these trees.",
                  "title": "Name"
                },
                "test": {
                  "type": "boolean",
                  "description": "Whether this is a test transaction or not.",
                  "title": "Test"
                }
              },
              "required": ["number"]
            }
          }
        ]
      }
    },
    "/impact/carbon": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of units you purchased.",
                  "title": "Number"
                },
                "units": {
                  "type": "string",
                  "description": "The type of purchase you made.",
                  "title": "Units"
                },
                "numberInTonnes": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of units you purchased converted to tons.",
                  "title": "Number In Tons"
                },
                "amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total cost of this transaction.",
                  "title": "Amount"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency of the amount.",
                  "title": "Currency"
                }
              }
            }
          }
        },
        "summary": "Purchase carbon offsets",
        "description": "Use this action to purchase 1 or more KG of carbon offsets per request.",
        "operationId": "PurchaseOffsets",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of units to purchase.",
                  "title": "Number"
                },
                "units": {
                  "type": "string",
                  "description": "The type of purchase to make.",
                  "title": "Units"
                },
                "test": {
                  "type": "boolean",
                  "description": "Whether this is a test transaction or not.",
                  "title": "Test"
                }
              },
              "required": ["number", "units"]
            }
          }
        ]
      }
    },
    "/users/{username}/impact": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "trees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of trees purchased.",
                  "title": "Trees"
                },
                "carbonOffset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of carbon offsets purchased.",
                  "title": "Carbon Offset"
                }
              }
            }
          }
        },
        "summary": "Get total impact",
        "description": "How many trees has this user planted, and how many tons of CO2 emissions have been offset.",
        "operationId": "GetImpact",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "x-ms-summary": "Username",
            "x-ms-url-encoding": "single",
            "description": "Your Ecologi username.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/users/{username}/trees": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of trees purchased.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get total number of trees",
        "description": "The total number of trees this user has planted.",
        "operationId": "GetTrees",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "x-ms-summary": "Username",
            "x-ms-url-encoding": "single",
            "description": "Your Ecologi username.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/users/{username}/carbon-offset": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of carbon offsets purchase.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get total tons of CO2e offset",
        "description": "The total number of tons of CO2e emissions has this user offset.",
        "operationId": "GetOffset",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "x-ms-summary": "Username",
            "x-ms-url-encoding": "single",
            "description": "Your Ecologi username.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://ecologi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://ecologi.com/pages/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}