{
  "swagger": "2.0",
  "info": {
    "title": "Revue",
    "description": "Revue makes it easy for writers and publishers to send editorial newsletters - and get paid.",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz | Sogeti",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.getrevue.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.getrevue.co/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "www.getrevue.co",
  "basePath": "/api/v2",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/lists": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/List"
              }
            }
          }
        },
        "summary": "Get all lists",
        "description": "List all lists associated with account.",
        "operationId": "GetAllLists",
        "parameters": []
      }
    },
    "/lists/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/List"
            }
          }
        },
        "summary": "Get list",
        "description": "Get specific list.",
        "operationId": "GetList",
        "parameters": [
          {
            "$ref": "#/parameters/List"
          }
        ]
      }
    },
    "/exports/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        },
        "summary": "Get an export",
        "description": "Get an export with ID.",
        "operationId": "GetExport",
        "parameters": [
          {
            "$ref": "#/parameters/Export"
          }
        ]
      }
    },
    "/exports/lists/{id}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        },
        "summary": "Start an export",
        "description": "Start an export for list.",
        "operationId": "StartExport",
        "parameters": [
          {
            "$ref": "#/parameters/List"
          }
        ]
      }
    },
    "/items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          }
        },
        "summary": "Get items",
        "description": "Returns a list of items from your my items inbox.",
        "operationId": "GetItems",
        "parameters": []
      }
    },
    "/issues/latest": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/SentIssue"
            }
          }
        },
        "description": "Returns the last issue sent.",
        "summary": "Get latest issue",
        "operationId": "GetLatestIssue",
        "parameters": []
      }
    },
    "/issues": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SentIssue"
              }
            }
          }
        },
        "parameters": [],
        "description": "Returns a list of your sent issues.",
        "summary": "Get all sent issues",
        "operationId": "GetAllSentIssues"
      }
    },
    "/issues/current": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Issue"
              }
            }
          }
        },
        "description": "Returns the current issue that is being worked on.",
        "summary": "Get current issue",
        "operationId": "GetCurrentIssue",
        "parameters": []
      }
    },
    "/subscribers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Subscriber"
              }
            }
          }
        },
        "description": "Returns a list of your subscribers that are actively subscribed.",
        "summary": "Get all subscribers",
        "operationId": "GetAllSubscribers",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Subscriber"
            }
          }
        },
        "summary": "Add a subscriber",
        "description": "Adds a subscriber to your list.",
        "operationId": "AddSubscriber",
        "parameters": [
          {
            "$ref": "#/parameters/Subscriber"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Subscriber"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/Subscriber"
          }
        ],
        "description": "Update a subscriber on your list.",
        "summary": "Update a subscriber",
        "operationId": "UpdateSubscriber"
      }
    },
    "/subscribers/unsubscribed": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Subscriber"
              }
            }
          }
        },
        "description": "Returns a list of your subscribers that are currently unsubscribed.",
        "summary": "Get unsubscribed subscribers",
        "operationId": "GetUnsubscribed",
        "parameters": []
      }
    },
    "/subscribers/unsubscribe": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Subscriber"
            }
          }
        },
        "description": "Unsubscribe a subscriber from your list.",
        "summary": "Unsubscribe a subscriber",
        "operationId": "UnsubscribeSubscriber",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Subscriber"
            }
          }
        ],
        "consumes": ["application/json"]
      }
    },
    "/accounts/me": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "summary": "Get profile URL",
        "description": "Get the profile URL for your account.",
        "operationId": "GetProfileURL",
        "parameters": []
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "profile_url": {
          "description": "The profile URL of the account.",
          "title": "Profile URL",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "Export": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the export.",
          "title": "Export ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "subscribed_file_name": {
          "description": "File name of the subscribed file.",
          "title": "Subscribed File Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "subscribed_file_size": {
          "description": "File size of the subscribed file.",
          "title": "Subscribed File Size",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "subscribed_content_type": {
          "description": "Content type of the subscribed file.",
          "title": "Subscribed Content Type",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "subscribed_url": {
          "description": "URL to get the file with subscribed people.",
          "title": "Subscribed URL",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "unsubscribed_file_name": {
          "description": "File name of the unsubscribed file.",
          "title": "Unsubscribed File Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_file_size": {
          "description": "File size of the unsubscribed file.",
          "title": "Unsubscribed File Size",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_content_type": {
          "description": "Content type of the unsubscribed file.",
          "title": "Unsubscribed Content Type",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unsubscribe_url": {
          "description": "URL to get the file with unsubscribed people.",
          "title": "Unsubscribed URL",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "Issue": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the issue.",
          "title": "ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "Date of when the issue is created.",
          "title": "Created At",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the issue.",
          "title": "Description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "subject": {
          "description": "Subject of the issue.",
          "title": "Subject",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "scheduled": {
          "description": "Whether the issue is scheduled or not.",
          "title": "Scheduled",
          "type": "boolean",
          "x-ms-visibility": "important"
        },
        "active": {
          "description": "Whether the issue is active or not.",
          "title": "Active",
          "type": "boolean",
          "x-ms-visibility": "important"
        }
      }
    },
    "Item": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the item.",
          "title": "ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "Title of the item.",
          "title": "Title",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "Created date of the item.",
          "title": "Created At",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "url": {
          "description": "URL of the item.",
          "title": "URL",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the item.",
          "title": "Description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title_display": {
          "description": "Title display of the item.",
          "title": "Title Display",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "short_url": {
          "description": "Short URL of the item.",
          "title": "Short URL",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "thumb_url": {
          "description": "Thumb URL of the item.",
          "title": "Thumb URL",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "default_image": {
          "description": "Default image of the item.",
          "title": "Default Image",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "hash_id": {
          "description": "Hash ID of the item.",
          "title": "Hash ID",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "List": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the list.",
          "title": "ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name of the list.",
          "title": "Name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "Created date of the list.",
          "title": "Created At",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "updated_at": {
          "description": "Updated date of the list.",
          "title": "Updated At",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "account_id": {
          "description": "Account ID of the list.",
          "title": "Account ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "verified": {
          "description": "Whether the list is verified or not.",
          "title": "Verified",
          "type": "boolean",
          "x-ms-visibility": "important"
        },
        "manually_verified_at": {
          "description": "Date of when the list is manually verified.",
          "title": "Manually Verified At",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SentIssue": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the issue.",
          "title": "ID",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "Title of the issue.",
          "title": "Title",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "html": {
          "description": "HTML of the issue.",
          "title": "HTML",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "sent_at": {
          "description": "Date time of when the issue was sent.",
          "title": "Sent At",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the issue (HTML).",
          "title": "Description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "url": {
          "description": "URL of the issue.",
          "title": "URL",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "active": {
          "description": "Whether the issue is active or not",
          "title": "Active",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Subscriber": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the subscriber.",
          "title": "Email",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "first_name": {
          "description": "First name of the subscriber.",
          "title": "First Name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "last_name": {
          "description": "Last name of the subscriber.",
          "title": "Last Name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "double_opt_in": {
          "default": true,
          "description": "If true, the subscriber will receive a confirmation email. If false, the subscriber will be added to your list immediately and a confirmation email will not be send.",
          "enum": [true, false],
          "title": "Double Opt In",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "Export": {
      "name": "id",
      "x-ms-url-encoding": "single",
      "description": "ID of the export.",
      "x-ms-summary": "Export ID",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "List": {
      "name": "id",
      "in": "path",
      "x-ms-url-encoding": "single",
      "description": "ID of the list.",
      "x-ms-summary": "List ID",
      "x-ms-dynamic-values": {
        "operationId": "GetAllLists",
        "value-title": "name",
        "value-path": "id"
      },
      "required": true,
      "type": "string"
    },
    "Subscriber": {
      "name": "body",
      "in": "body",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "email": {
            "description": "Email address of the subscriber.",
            "title": "Email",
            "type": "string",
            "x-ms-visibility": "important"
          },
          "first_name": {
            "description": "First name of the subscriber.",
            "title": "First Name",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "last_name": {
            "description": "Last name of the subscriber.",
            "title": "Last Name",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "double_opt_in": {
            "description": "If true, the subscriber will receive a confirmation email. If false, the subscriber will be added to your list immediately and a confirmation email will not be send.",
            "title": "Double Opt In",
            "type": "boolean",
            "x-ms-visibility": "advanced"
          }
        },
        "required": ["email"]
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
