{
  "swagger": "2.0",
  "info": {
    "title": "Tumblr",
    "description": "Tumblr is a microblogging and social networking website. The service allows users to post multimedia and other content to a short-form blog.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.tumblr.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/blog/{blog-identifier}/info": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "blog": {
                  "type": "object",
                  "properties": {
                    "admin": {
                      "type": "boolean",
                      "description": "Whether is admin.",
                      "title": "Admin"
                    },
                    "ask": {
                      "type": "boolean",
                      "description": "Whether is asked.",
                      "title": "Ask"
                    },
                    "ask_anon": {
                      "type": "boolean",
                      "description": "Whether is asked anonymously.",
                      "title": "Ask Anon"
                    },
                    "ask_page_title": {
                      "type": "string",
                      "description": "The ask page title.",
                      "title": "Ask Page Title"
                    },
                    "asks_allow_media": {
                      "type": "boolean",
                      "description": "Whether the asks allow media.",
                      "title": "Asks Allow Media"
                    },
                    "avatar": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The width.",
                            "title": "Width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The height.",
                            "title": "Height"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Avatar"
                    },
                    "can_chat": {
                      "type": "boolean",
                      "description": "Whether can chat.",
                      "title": "Can Chat"
                    },
                    "can_send_fan_mail": {
                      "type": "boolean",
                      "description": "Whether can send fan mail.",
                      "title": "Can Send Fan Mail"
                    },
                    "can_subscribe": {
                      "type": "boolean",
                      "description": "Whether can subscribe.",
                      "title": "Can Subscribe"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "drafts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of drafts.",
                      "title": "Drafts"
                    },
                    "facebook": {
                      "type": "string",
                      "description": "The Facebook link.",
                      "title": "Facebook"
                    },
                    "facebook_opengraph_enabled": {
                      "type": "string",
                      "description": "The Facebook OpenGraph enabled link.",
                      "title": "Facebook OpenGraph Enabled"
                    },
                    "followed": {
                      "type": "boolean",
                      "description": "Whether is followed.",
                      "title": "Followed"
                    },
                    "followers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of followers.",
                      "title": "Followers"
                    },
                    "is_blocked_from_primary": {
                      "type": "boolean",
                      "description": "Whether is blocked from primary.",
                      "title": "Is Blocked From Primary"
                    },
                    "is_nsfw": {
                      "type": "boolean",
                      "description": "Whether is NSFW.",
                      "title": "Is NSFW"
                    },
                    "likes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of likes.",
                      "title": "Likes"
                    },
                    "messages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of messages.",
                      "title": "Messages"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "posts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of posts.",
                      "title": "Posts"
                    },
                    "primary": {
                      "type": "boolean",
                      "description": "Whether is primary.",
                      "title": "Primary"
                    },
                    "queue": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number in queue.",
                      "title": "Queue"
                    },
                    "share_likes": {
                      "type": "boolean",
                      "description": "Whether share likes is enabled.",
                      "title": "Share Likes"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "description": "Whether is subscribed.",
                      "title": "Subscribed"
                    },
                    "theme": {
                      "type": "object",
                      "properties": {
                        "avatar_shape": {
                          "type": "string",
                          "description": "The avatar shape.",
                          "title": "Avatar Shape"
                        },
                        "background_color": {
                          "type": "string",
                          "description": "The background color.",
                          "title": "Background Color"
                        },
                        "body_font": {
                          "type": "string",
                          "description": "The body font.",
                          "title": "Body Font"
                        },
                        "header_bounds": {
                          "type": "string",
                          "description": "The header bounds.",
                          "title": "Header Bounds"
                        },
                        "header_image": {
                          "type": "string",
                          "description": "The header image.",
                          "title": "Header Image"
                        },
                        "header_image_focused": {
                          "type": "string",
                          "description": "The header image focused.",
                          "title": "Header Image Focused"
                        },
                        "header_image_poster": {
                          "type": "string",
                          "description": "The header image poster.",
                          "title": "Header Image Poster"
                        },
                        "header_image_scaled": {
                          "type": "string",
                          "description": "The header image scaled.",
                          "title": "Header Image Scaled"
                        },
                        "header_stretch": {
                          "type": "boolean",
                          "description": "Whether the header is stretched.",
                          "title": "Header Stretch"
                        },
                        "link_color": {
                          "type": "string",
                          "description": "The link color.",
                          "title": "Link Color"
                        },
                        "show_avatar": {
                          "type": "boolean",
                          "description": "Whether to show avatar.",
                          "title": "Show Avatar"
                        },
                        "show_description": {
                          "type": "boolean",
                          "description": "Whether to show description.",
                          "title": "Show Description"
                        },
                        "show_header_image": {
                          "type": "boolean",
                          "description": "Whether to show header image.",
                          "title": "Show Header Image"
                        },
                        "show_title": {
                          "type": "boolean",
                          "description": "Whether to show title.",
                          "title": "Show Title"
                        },
                        "title_color": {
                          "type": "string",
                          "description": "The title color.",
                          "title": "Title Color"
                        },
                        "title_font": {
                          "type": "string",
                          "description": "The title font.",
                          "title": "Title Font"
                        },
                        "title_font_weight": {
                          "type": "string",
                          "description": "The title font weight.",
                          "title": "Title Font Weight"
                        }
                      },
                      "title": "Theme"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "total_posts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of posts.",
                      "title": "Total Posts"
                    },
                    "tweet": {
                      "type": "string",
                      "description": "The tweet.",
                      "title": "Tweet"
                    },
                    "twitter_enabled": {
                      "type": "boolean",
                      "description": "Whether Twitter is enabled.",
                      "title": "Twitter Enabled"
                    },
                    "twitter_send": {
                      "type": "boolean",
                      "description": "Whether Twitter send is enabled.",
                      "title": "Twitter Send"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "updated": {
                      "type": "integer",
                      "format": "int32",
                      "description": "When updated.",
                      "title": "Updated"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The universally unique identifier.",
                      "title": "UUID"
                    }
                  },
                  "title": "Blog"
                }
              }
            }
          }
        },
        "summary": "Get blog info",
        "description": "Retrieves general information about the blog, such as the title, number of posts, and other high-level data.",
        "operationId": "BlogGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v2/blog/{blog-identifier}/blocks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "blocked_tumblelogs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Blocked Tumblelogs"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The href attribute.",
                          "title": "Href"
                        },
                        "method": {
                          "type": "string",
                          "description": "The method.",
                          "title": "Method"
                        },
                        "query_params": {
                          "type": "object",
                          "properties": {
                            "offset": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The offset.",
                              "title": "Offset"
                            }
                          },
                          "title": "Query Params"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get blog's blocks",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Retrieve the blogs that the requested blog is currently blocking.",
        "operationId": "BlocksGet"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Remove a block",
        "description": "Allows you to remove a block on a post by identifier.",
        "operationId": "PostUnblockPost",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blocked_tumblelog": {
                  "type": "string",
                  "description": "The blocked tumblelog.",
                  "title": "Blocked Tumblelog"
                },
                "anonymous_only": {
                  "type": "boolean",
                  "description": "Whether is anonymous only.",
                  "title": "Anonymous Only"
                }
              }
            }
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Block a blog",
        "description": "Allows you to block a post by identifier.",
        "operationId": "PostBlockPost",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blocked_tumblelog": {
                  "type": "string",
                  "description": "The blocked tumblelog.",
                  "title": "Blocked Tumblelog"
                },
                "post_id": {
                  "type": "string",
                  "description": "The post identifier.",
                  "title": "Post ID"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/blocks/bulk": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Block a list of posts",
        "description": "Allows you to block a list of posts by identifier.",
        "operationId": "PostsBlockPost",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blocked_tumblelogs": {
                  "type": "string",
                  "description": "The blocked tumblelogs.",
                  "title": "Blocked Tumblelogs"
                },
                "force": {
                  "type": "boolean",
                  "description": "Whether to force.",
                  "title": "Force"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/likes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "liked_posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "blog_name": {
                        "type": "string",
                        "description": "The blog name.",
                        "title": "Blog Name"
                      },
                      "blog": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The universally unique identifier.",
                            "title": "UUID"
                          },
                          "updated": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of updates.",
                            "title": "Updated"
                          }
                        },
                        "title": "Blog"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "id_string": {
                        "type": "string",
                        "description": "The identifier string.",
                        "title": "ID String"
                      },
                      "genesis_post_id": {
                        "type": "string",
                        "description": "The genesis post identifier.",
                        "title": "Genesis Post ID"
                      },
                      "post_url": {
                        "type": "string",
                        "description": "The post URL address.",
                        "title": "Post URL"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "format": {
                        "type": "string",
                        "description": "The format.",
                        "title": "Format"
                      },
                      "reblog_key": {
                        "type": "string",
                        "description": "The reblog key.",
                        "title": "Reblog Key"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "short_url": {
                        "type": "string",
                        "description": "The short URL address.",
                        "title": "Short URL"
                      },
                      "summary": {
                        "type": "string",
                        "description": "The summary.",
                        "title": "Summary"
                      },
                      "should_open_in_legacy": {
                        "type": "boolean",
                        "description": "Whether should open in legacy.",
                        "title": "Should Open In Legacy"
                      },
                      "recommended_source": {
                        "type": "string",
                        "description": "The recommended source.",
                        "title": "Recommended Source"
                      },
                      "recommended_color": {
                        "type": "string",
                        "description": "The recommended color.",
                        "title": "Recommended Color"
                      },
                      "followed": {
                        "type": "boolean",
                        "description": "Whether followed.",
                        "title": "Followed"
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Whether liked.",
                        "title": "Liked"
                      },
                      "note_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The note count.",
                        "title": "Note Count"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      },
                      "reblog": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "The comment.",
                            "title": "Comment"
                          },
                          "tree_html": {
                            "type": "string",
                            "description": "The tree HTML.",
                            "title": "Tree HTML"
                          }
                        },
                        "title": "Reblog"
                      },
                      "trail": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "blog": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Whether active.",
                                  "title": "Active"
                                },
                                "theme": {
                                  "type": "object",
                                  "properties": {
                                    "header_full_width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full width.",
                                      "title": "Header Full Width"
                                    },
                                    "header_full_height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full height.",
                                      "title": "Header Full Height"
                                    },
                                    "avatar_shape": {
                                      "type": "string",
                                      "description": "The avatar shape.",
                                      "title": "Avatar Shape"
                                    },
                                    "background_color": {
                                      "type": "string",
                                      "description": "The background color.",
                                      "title": "Background Color"
                                    },
                                    "body_font": {
                                      "type": "string",
                                      "description": "The body font.",
                                      "title": "Body Font"
                                    },
                                    "header_bounds": {
                                      "type": "string",
                                      "description": "The header bounds.",
                                      "title": "Header Bounds"
                                    },
                                    "header_image": {
                                      "type": "string",
                                      "description": "The header image.",
                                      "title": "Header Image"
                                    },
                                    "header_image_focused": {
                                      "type": "string",
                                      "description": "The header image focused.",
                                      "title": "Header Image Focused"
                                    },
                                    "header_image_poster": {
                                      "type": "string",
                                      "description": "The header image poster.",
                                      "title": "Header Image Poster"
                                    },
                                    "header_image_scaled": {
                                      "type": "string",
                                      "description": "The header imaged scaled.",
                                      "title": "Header Image Scaled"
                                    },
                                    "header_stretch": {
                                      "type": "boolean",
                                      "description": "Whether the header is stretched.",
                                      "title": "Header Stretched"
                                    },
                                    "link_color": {
                                      "type": "string",
                                      "description": "The link color.",
                                      "title": "Link Color"
                                    },
                                    "show_avatar": {
                                      "type": "boolean",
                                      "description": "Whether to show avatar.",
                                      "title": "Show Avatar"
                                    },
                                    "show_description": {
                                      "type": "boolean",
                                      "description": "Whether to show description.",
                                      "title": "Show Description"
                                    },
                                    "show_header_image": {
                                      "type": "boolean",
                                      "description": "Whether to show header image.",
                                      "title": "Show Header Image"
                                    },
                                    "show_title": {
                                      "type": "boolean",
                                      "description": "Whether to show title.",
                                      "title": "Show Title"
                                    },
                                    "title_color": {
                                      "type": "string",
                                      "description": "The title color.",
                                      "title": "Title Color"
                                    },
                                    "title_font": {
                                      "type": "string",
                                      "description": "The title font.",
                                      "title": "Title Font"
                                    },
                                    "title_font_weight": {
                                      "type": "string",
                                      "description": "The title font weight.",
                                      "title": "Title Font Weight"
                                    }
                                  },
                                  "title": "Theme"
                                },
                                "share_likes": {
                                  "type": "boolean",
                                  "description": "Whether to share likes.",
                                  "title": "Share Likes"
                                },
                                "share_following": {
                                  "type": "boolean",
                                  "description": "Whether to share following.",
                                  "title": "Share Following"
                                },
                                "can_be_followed": {
                                  "type": "boolean",
                                  "description": "Whether can be followed.",
                                  "title": "Can Be Followed"
                                }
                              },
                              "title": "Blog"
                            },
                            "post": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "Post"
                            },
                            "content_raw": {
                              "type": "string",
                              "description": "The raw content.",
                              "title": "Raw Content"
                            },
                            "content": {
                              "type": "string",
                              "description": "The content.",
                              "title": "Content"
                            },
                            "is_current_item": {
                              "type": "boolean",
                              "description": "Whether is current item.",
                              "title": "Is Current Item"
                            },
                            "is_root_item": {
                              "type": "boolean",
                              "description": "Whether is root item.",
                              "title": "Is Root Item"
                            }
                          }
                        },
                        "title": "Trail"
                      },
                      "liked_timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The liked timestamp.",
                        "title": "Liked Timestamp"
                      },
                      "can_like": {
                        "type": "boolean",
                        "description": "Whether can like.",
                        "title": "Can Like"
                      },
                      "interactability_reblog": {
                        "type": "string",
                        "description": "The interactability reblog.",
                        "title": "Interactability Reblog"
                      },
                      "can_reblog": {
                        "type": "boolean",
                        "description": "Whether can reblog.",
                        "title": "Can Reblog"
                      },
                      "can_send_in_message": {
                        "type": "boolean",
                        "description": "Whether can send in message.",
                        "title": "Can Send In Message"
                      },
                      "can_reply": {
                        "type": "boolean",
                        "description": "Whether can reply.",
                        "title": "Can Reply"
                      },
                      "display_avatar": {
                        "type": "boolean",
                        "description": "Whether to display avatar.",
                        "title": "Display Avatar"
                      }
                    }
                  },
                  "title": "Liked Posts"
                },
                "liked_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The liked count.",
                  "title": "Liked Count"
                }
              }
            }
          }
        },
        "summary": "Get blog's likes",
        "description": "Retrieve a list of all likes for a blog.",
        "operationId": "BlogLikesGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "description": "The before.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/following": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "blogs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "uuid": {
                        "type": "string",
                        "description": "The universally unique identifier.",
                        "title": "UUID"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When updated.",
                        "title": "Updated"
                      }
                    }
                  },
                  "title": "Blogs"
                },
                "total_blogs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of blogs.",
                  "title": "Total Blogs"
                }
              }
            }
          }
        },
        "summary": "Get blog's following",
        "description": "Retrieve the publicly exposed list of blogs that a blog follows, in order from most recently-followed to first.",
        "operationId": "BlogFollowingGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/followers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_users": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of users.",
                  "title": "Total Users"
                },
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "following": {
                        "type": "boolean",
                        "description": "Whether following.",
                        "title": "Following"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When updated.",
                        "title": "Updated"
                      }
                    }
                  },
                  "title": "Users"
                }
              }
            }
          }
        },
        "summary": "Get a blog's followers",
        "description": "Retrieve a list of a blog's followers",
        "operationId": "BlogFollowersGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/followed_by": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "followed_by": {
                  "type": "boolean",
                  "description": "Whether followed by.",
                  "title": "Followed By"
                }
              }
            }
          }
        },
        "summary": "Check if followed by blog",
        "description": "Used to check if one of your blogs is followed by another blog.",
        "operationId": "BlogFollowCheckGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/posts/queue": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "object",
                  "properties": {
                    "paused": {
                      "type": "boolean",
                      "description": "Whether is paused.",
                      "title": "Paused"
                    }
                  },
                  "title": "State"
                },
                "posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "blog_name": {
                        "type": "string",
                        "description": "The blog name.",
                        "title": "Blog Name"
                      },
                      "blog": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The universally unique identifier.",
                            "title": "UUID"
                          },
                          "updated": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of updates.",
                            "title": "Updated"
                          }
                        },
                        "title": "Blog"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "id_string": {
                        "type": "string",
                        "description": "The identifier string.",
                        "title": "ID String"
                      },
                      "post_url": {
                        "type": "string",
                        "description": "The post URL address.",
                        "title": "Post URL"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "format": {
                        "type": "string",
                        "description": "The format.",
                        "title": "Format"
                      },
                      "reblog_key": {
                        "type": "string",
                        "description": "The reblog key.",
                        "title": "Reblog Key"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "short_url": {
                        "type": "string",
                        "description": "The short URL address.",
                        "title": "Short URL"
                      },
                      "summary": {
                        "type": "string",
                        "description": "The summary.",
                        "title": "Summary"
                      },
                      "should_open_in_legacy": {
                        "type": "boolean",
                        "description": "Whether should open in legacy.",
                        "title": "Should Open In Legacy"
                      },
                      "recommended_source": {
                        "type": "string",
                        "description": "The recommended source.",
                        "title": "Recommended Source"
                      },
                      "recommended_color": {
                        "type": "string",
                        "description": "The recommended color.",
                        "title": "Recommended Color"
                      },
                      "followed": {
                        "type": "boolean",
                        "description": "Whether followed.",
                        "title": "Followed"
                      },
                      "scheduled_publish_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The scheduled publish time.",
                        "title": "Scheduled Publish Time"
                      },
                      "queued_state": {
                        "type": "string",
                        "description": "The queued state.",
                        "title": "Queued State"
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Whether liked.",
                        "title": "Liked"
                      },
                      "note_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The note count.",
                        "title": "Note Count"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      },
                      "reblog": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "The comment.",
                            "title": "Comment"
                          },
                          "tree_html": {
                            "type": "string",
                            "description": "The tree HTML.",
                            "title": "Tree HTML"
                          }
                        },
                        "title": "Reblog"
                      },
                      "trail": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "blog": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Whether active.",
                                  "title": "Active"
                                },
                                "theme": {
                                  "type": "object",
                                  "properties": {
                                    "header_full_width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full width.",
                                      "title": "Header Full Width"
                                    },
                                    "header_full_height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full height.",
                                      "title": "Header Full Height"
                                    },
                                    "avatar_shape": {
                                      "type": "string",
                                      "description": "The avatar shape.",
                                      "title": "Avatar Shape"
                                    },
                                    "background_color": {
                                      "type": "string",
                                      "description": "The background color.",
                                      "title": "Background Color"
                                    },
                                    "body_font": {
                                      "type": "string",
                                      "description": "The body font.",
                                      "title": "Body Font"
                                    },
                                    "header_bounds": {
                                      "type": "string",
                                      "description": "The header bounds.",
                                      "title": "Header Bounds"
                                    },
                                    "header_image": {
                                      "type": "string",
                                      "description": "The header image.",
                                      "title": "Header Image"
                                    },
                                    "header_image_focused": {
                                      "type": "string",
                                      "description": "The header image focused.",
                                      "title": "Header Image Focused"
                                    },
                                    "header_image_poster": {
                                      "type": "string",
                                      "description": "The header image poster.",
                                      "title": "Header Image Poster"
                                    },
                                    "header_image_scaled": {
                                      "type": "string",
                                      "description": "The header imaged scaled.",
                                      "title": "Header Image Scaled"
                                    },
                                    "header_stretch": {
                                      "type": "boolean",
                                      "description": "Whether the header is stretched.",
                                      "title": "Header Stretched"
                                    },
                                    "link_color": {
                                      "type": "string",
                                      "description": "The link color.",
                                      "title": "Link Color"
                                    },
                                    "show_avatar": {
                                      "type": "boolean",
                                      "description": "Whether to show avatar.",
                                      "title": "Show Avatar"
                                    },
                                    "show_description": {
                                      "type": "boolean",
                                      "description": "Whether to show description.",
                                      "title": "Show Description"
                                    },
                                    "show_header_image": {
                                      "type": "boolean",
                                      "description": "Whether to show header image.",
                                      "title": "Show Header Image"
                                    },
                                    "show_title": {
                                      "type": "boolean",
                                      "description": "Whether to show title.",
                                      "title": "Show Title"
                                    },
                                    "title_color": {
                                      "type": "string",
                                      "description": "The title color.",
                                      "title": "Title Color"
                                    },
                                    "title_font": {
                                      "type": "string",
                                      "description": "The title font.",
                                      "title": "Title Font"
                                    },
                                    "title_font_weight": {
                                      "type": "string",
                                      "description": "The title font weight.",
                                      "title": "Title Font Weight"
                                    }
                                  },
                                  "title": "Theme"
                                },
                                "share_likes": {
                                  "type": "boolean",
                                  "description": "Whether to share likes.",
                                  "title": "Share Likes"
                                },
                                "share_following": {
                                  "type": "boolean",
                                  "description": "Whether to share following.",
                                  "title": "Share Following"
                                },
                                "can_be_followed": {
                                  "type": "boolean",
                                  "description": "Whether can be followed.",
                                  "title": "Can Be Followed"
                                }
                              },
                              "title": "Blog"
                            },
                            "post": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "Post"
                            },
                            "content_raw": {
                              "type": "string",
                              "description": "The raw content.",
                              "title": "Raw Content"
                            },
                            "content": {
                              "type": "string",
                              "description": "The content.",
                              "title": "Content"
                            },
                            "is_current_item": {
                              "type": "boolean",
                              "description": "Whether is current item.",
                              "title": "Is Current Item"
                            },
                            "is_root_item": {
                              "type": "boolean",
                              "description": "Whether is root item.",
                              "title": "Is Root Item"
                            }
                          }
                        },
                        "title": "Trail"
                      },
                      "can_like": {
                        "type": "boolean",
                        "description": "Whether can like.",
                        "title": "Can Like"
                      },
                      "interactability_reblog": {
                        "type": "string",
                        "description": "The interactability reblog.",
                        "title": "Interactability Reblog"
                      },
                      "can_reblog": {
                        "type": "boolean",
                        "description": "Whether can reblog.",
                        "title": "Can Reblog"
                      },
                      "can_send_in_message": {
                        "type": "boolean",
                        "description": "Whether can send in message.",
                        "title": "Can Send In Message"
                      },
                      "can_reply": {
                        "type": "boolean",
                        "description": "Whether can reply.",
                        "title": "Can Reply"
                      },
                      "display_avatar": {
                        "type": "boolean",
                        "description": "Whether to display avatar.",
                        "title": "Display Avatar"
                      }
                    }
                  },
                  "title": "Posts"
                }
              }
            }
          }
        },
        "summary": "Get queued posts",
        "description": "Retrieves a list of the currently queued posts for the specified blog.",
        "operationId": "PostsQueuedGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/posts/queue/reorder": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Reorder queued posts",
        "description": "Allows you to reorder a post within the queue, moving it after an existing queued post, or to the top.",
        "operationId": "PostQueuedReorderPost",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "post_id": {
                  "type": "string",
                  "description": "The post identifier.",
                  "title": "Post ID"
                },
                "insert_after": {
                  "type": "string",
                  "description": "The insert after.",
                  "title": "Insert After"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/posts/queue/shuffle": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Shuffle queued posts",
        "description": "Randomly shuffles the queue for the specified blog.",
        "operationId": "PostQueuedShufflePost",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/posts/draft": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "blog_name": {
                        "type": "string",
                        "description": "The blog name.",
                        "title": "Blog Name"
                      },
                      "blog": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The universally unique identifier.",
                            "title": "UUID"
                          },
                          "updated": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of updates.",
                            "title": "Updated"
                          }
                        },
                        "title": "Blog"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "id_string": {
                        "type": "string",
                        "description": "The identifier string.",
                        "title": "ID String"
                      },
                      "post_url": {
                        "type": "string",
                        "description": "The post URL address.",
                        "title": "Post URL"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "format": {
                        "type": "string",
                        "description": "The format.",
                        "title": "Format"
                      },
                      "reblog_key": {
                        "type": "string",
                        "description": "The reblog key.",
                        "title": "Reblog Key"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "short_url": {
                        "type": "string",
                        "description": "The short URL address.",
                        "title": "Short URL"
                      },
                      "summary": {
                        "type": "string",
                        "description": "The summary.",
                        "title": "Summary"
                      },
                      "should_open_in_legacy": {
                        "type": "boolean",
                        "description": "Whether should open in legacy.",
                        "title": "Should Open In Legacy"
                      },
                      "recommended_source": {
                        "type": "string",
                        "description": "The recommended source.",
                        "title": "Recommended Source"
                      },
                      "recommended_color": {
                        "type": "string",
                        "description": "The recommended color.",
                        "title": "Recommended Color"
                      },
                      "followed": {
                        "type": "boolean",
                        "description": "Whether followed.",
                        "title": "Followed"
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Whether liked.",
                        "title": "Liked"
                      },
                      "note_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The note count.",
                        "title": "Note Count"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      },
                      "reblog": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "The comment.",
                            "title": "Comment"
                          },
                          "tree_html": {
                            "type": "string",
                            "description": "The tree HTML.",
                            "title": "Tree HTML"
                          }
                        },
                        "title": "Reblog"
                      },
                      "trail": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "blog": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Whether active.",
                                  "title": "Active"
                                },
                                "theme": {
                                  "type": "object",
                                  "properties": {
                                    "header_full_width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full width.",
                                      "title": "Header Full Width"
                                    },
                                    "header_full_height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The header full height.",
                                      "title": "Header Full Height"
                                    },
                                    "avatar_shape": {
                                      "type": "string",
                                      "description": "The avatar shape.",
                                      "title": "Avatar Shape"
                                    },
                                    "background_color": {
                                      "type": "string",
                                      "description": "The background color.",
                                      "title": "Background Color"
                                    },
                                    "body_font": {
                                      "type": "string",
                                      "description": "The body font.",
                                      "title": "Body Font"
                                    },
                                    "header_bounds": {
                                      "type": "string",
                                      "description": "The header bounds.",
                                      "title": "Header Bounds"
                                    },
                                    "header_image": {
                                      "type": "string",
                                      "description": "The header image.",
                                      "title": "Header Image"
                                    },
                                    "header_image_focused": {
                                      "type": "string",
                                      "description": "The header image focused.",
                                      "title": "Header Image Focused"
                                    },
                                    "header_image_poster": {
                                      "type": "string",
                                      "description": "The header image poster.",
                                      "title": "Header Image Poster"
                                    },
                                    "header_image_scaled": {
                                      "type": "string",
                                      "description": "The header imaged scaled.",
                                      "title": "Header Image Scaled"
                                    },
                                    "header_stretch": {
                                      "type": "boolean",
                                      "description": "Whether the header is stretched.",
                                      "title": "Header Stretched"
                                    },
                                    "link_color": {
                                      "type": "string",
                                      "description": "The link color.",
                                      "title": "Link Color"
                                    },
                                    "show_avatar": {
                                      "type": "boolean",
                                      "description": "Whether to show avatar.",
                                      "title": "Show Avatar"
                                    },
                                    "show_description": {
                                      "type": "boolean",
                                      "description": "Whether to show description.",
                                      "title": "Show Description"
                                    },
                                    "show_header_image": {
                                      "type": "boolean",
                                      "description": "Whether to show header image.",
                                      "title": "Show Header Image"
                                    },
                                    "show_title": {
                                      "type": "boolean",
                                      "description": "Whether to show title.",
                                      "title": "Show Title"
                                    },
                                    "title_color": {
                                      "type": "string",
                                      "description": "The title color.",
                                      "title": "Title Color"
                                    },
                                    "title_font": {
                                      "type": "string",
                                      "description": "The title font.",
                                      "title": "Title Font"
                                    },
                                    "title_font_weight": {
                                      "type": "string",
                                      "description": "The title font weight.",
                                      "title": "Title Font Weight"
                                    }
                                  },
                                  "title": "Theme"
                                },
                                "share_likes": {
                                  "type": "boolean",
                                  "description": "Whether to share likes.",
                                  "title": "Share Likes"
                                },
                                "share_following": {
                                  "type": "boolean",
                                  "description": "Whether to share following.",
                                  "title": "Share Following"
                                },
                                "can_be_followed": {
                                  "type": "boolean",
                                  "description": "Whether can be followed.",
                                  "title": "Can Be Followed"
                                }
                              },
                              "title": "Blog"
                            },
                            "post": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "Post"
                            },
                            "content_raw": {
                              "type": "string",
                              "description": "The raw content.",
                              "title": "Raw Content"
                            },
                            "content": {
                              "type": "string",
                              "description": "The content.",
                              "title": "Content"
                            },
                            "is_current_item": {
                              "type": "boolean",
                              "description": "Whether is current item.",
                              "title": "Is Current Item"
                            },
                            "is_root_item": {
                              "type": "boolean",
                              "description": "Whether is root item.",
                              "title": "Is Root Item"
                            }
                          }
                        },
                        "title": "Trail"
                      },
                      "can_like": {
                        "type": "boolean",
                        "description": "Whether can like.",
                        "title": "Can Like"
                      },
                      "interactability_reblog": {
                        "type": "string",
                        "description": "The interactability reblog.",
                        "title": "Interactability Reblog"
                      },
                      "can_reblog": {
                        "type": "boolean",
                        "description": "Whether can reblog.",
                        "title": "Can Reblog"
                      },
                      "can_send_in_message": {
                        "type": "boolean",
                        "description": "Whether can send in message.",
                        "title": "Can Send In Message"
                      },
                      "can_reply": {
                        "type": "boolean",
                        "description": "Whether can reply.",
                        "title": "Can Reply"
                      },
                      "display_avatar": {
                        "type": "boolean",
                        "description": "Whether to display avatar.",
                        "title": "Display Avatar"
                      }
                    }
                  },
                  "title": "Posts"
                }
              }
            }
          }
        },
        "summary": "Get draft posts",
        "description": "Retrieve a list of draft posts.",
        "operationId": "PostDraftsGet",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "description": "The blog identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "before_id",
            "in": "query",
            "x-ms-summary": "Before ID",
            "description": "The before identifier.",
            "required": false,
            "type": "number"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v2/blog/{blog-identifier}/posts/submission": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "blog_name": {
                        "type": "string",
                        "description": "The blog name.",
                        "title": "Blog Name"
                      },
                      "blog": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The universally unique identifier.",
                            "title": "UUID"
                          },
                          "updated": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of updates.",
                            "title": "Updated"
                          }
                        },
                        "title": "Blog"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "id_string": {
                        "type": "string",
                        "description": "The identifier string.",
                        "title": "ID String"
                      },
                      "post_url": {
                        "type": "string",
                        "description": "The post URL address.",
                        "title": "Post URL"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "format": {
                        "type": "string",
                        "description": "The format.",
                        "title": "Format"
                      },
                      "reblog_key": {
                        "type": "string",
                        "description": "The reblog key.",
                        "title": "Reblog Key"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "short_url": {
                        "type": "string",
                        "description": "The short URL address.",
                        "title": "Short URL"
                      },
                      "summary": {
                        "type": "string",
                        "description": "The summary.",
                        "title": "Summary"
                      },
                      "should_open_in_legacy": {
                        "type": "boolean",
                        "description": "Whether should open in legacy.",
                        "title": "Should Open In Legacy"
                      },
                      "recommended_source": {
                        "type": "string",
                        "description": "The recommended source.",
                        "title": "Recommended Source"
                      },
                      "recommended_color": {
                        "type": "string",
                        "description": "The recommended color.",
                        "title": "Recommended Color"
                      },
                      "followed": {
                        "type": "boolean",
                        "description": "Whether followed.",
                        "title": "Followed"
                      },
                      "scheduled_publish_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The scheduled publish time.",
                        "title": "Scheduled Publish Time"
                      },
                      "queued_state": {
                        "type": "string",
                        "description": "The queued state.",
                        "title": "Queued State"
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Whether liked.",
                        "title": "Liked"
                      },
                      "note_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The note count.",
                        "title": "Note Count"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      },
                      "reblog": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "The comment.",
                            "title": "Comment"
                          },
                          "tree_html": {
                            "type": "string",
                            "description": "The tree HTML.",
                            "title": "Tree HTML"
                          }
                        },
                        "title": "Reblog"
                      },
                      "trail": {
                        "type": "array",
                        "items": {
                          "type": "object",
[...]
