{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "AutoPylot",
    "description": "AutoPylot is a communications service. You can send and receive text messages associated with an AutoPylot phone number.",
    "contact": {
      "name": "AutoPylot Support",
      "url": "https://autopylot.com",
      "email": "support@autopylot.com"
    }
  },
  "host": "autopylot.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/short_messages": {
      "post": {
        "summary": "Sends a Text Message using your AutoPylot phone number",
        "description": "Send a Text Message to a mobile phone number usnig your AutoPylot phone number",
        "operationId": "Send-Text-Message",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.api+json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "title": "Type",
                      "default": "short_messages",
                      "x-ms-visibility": "internal"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "To.",
                          "title": "To",
                          "x-ms-visibility": "important"
                        },
                        "body": {
                          "type": "string",
                          "description": "Content.",
                          "title": "Body",
                          "x-ms-visibility": "important"
                        }
                      },
                      "description": "attributes",
                      "required": [
                        "to",
                        "body"
                      ]
                    }
                  },
                  "description": "data",
                  "required": [
                    "type",
                    "attributes"
                  ]
                }
              },
              "default": {
                "data": {
                  "type": "short_messages",
                  "attributes": {
                    "to": "+1415",
                    "body": "Hi there"
                  }
                }
              },
              "required": [
                "data"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "self"
                        }
                      },
                      "description": "links"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "description": "from"
                        },
                        "to": {
                          "type": "string",
                          "description": "to"
                        },
                        "body": {
                          "type": "string",
                          "description": "body"
                        },
                        "short_message_type": {
                          "type": "string",
                          "description": "short_message_type"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        }
                      },
                      "description": "attributes"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id."
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self",
                      "title": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "links"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "From.",
                      "title": "From",
                      "x-ms-visibility": "important"
                    },
                    "body": {
                      "type": "string",
                      "description": "Content.",
                      "title": "Body",
                      "x-ms-visibility": "important"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Created at."
                    }
                  },
                  "description": "attributes"
                }
              },
              "description": "data"
            }
          }
        },
        "description": "Webhook Response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "callback_url": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "callback_url",
                        "created_at"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "links",
                    "attributes"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        },
        "summary": "Inbound Text Message",
        "description": "Received an Inbound Text Message through an AutoPylot phone number.",
        "operationId": "Receive-Text-Message",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.api+json",
            "x-ms-visibility": "internal",
            "description": "Request Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "title": "Type",
                      "default": "webhooks"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "callback_url": {
                          "type": "string",
                          "description": "Callback URL.",
                          "title": "Callback URL",
                          "x-ms-notification-url": true,
                          "x-ms-visibility": "internal"
                        }
                      },
                      "description": "attributes",
                      "required": [
                        "callback_url"
                      ]
                    }
                  },
                  "description": "data",
                  "required": [
                    "attributes",
                    "type"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://autopylot.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.autopylot.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Communication"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://autopylot.com/oauth/authorize",
      "tokenUrl": "https://autopylot.com/oauth/token",
      "scopes": {
        "public write": "public write"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "public write"
      ]
    }
  ],
  "tags": []
}