{
  "swagger": "2.0",
  "info": {
    "title": "MailboxValidator",
    "description": "MailboxValidator API is easy to integrate and use for email validation. Validate and clean your email list by detecting disposable emails, invalid emails, mail server and much more.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.mailboxvalidator.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/validation/single": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email_address": {
                  "type": "string",
                  "description": "The input email address.",
                  "title": "Email Address"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain of the email address.",
                  "title": "Domain"
                },
                "is_free": {
                  "type": "string",
                  "description": "Whether the email address is from a free email provider like Gmail or Hotmail.",
                  "title": "Is Free"
                },
                "is_syntax": {
                  "type": "string",
                  "description": "Whether the email address is syntactically correct.",
                  "title": "Is Syntax"
                },
                "is_domain": {
                  "type": "string",
                  "description": "Whether the email address has a valid MX record in its DNS entries. '-' means not applicable.",
                  "title": "Is Domain"
                },
                "is_smtp": {
                  "type": "string",
                  "description": "Whether the mail servers specified in the MX records are responding to connections. '-' means not applicable",
                  "title": "Is SMTP"
                },
                "is_verified": {
                  "type": "string",
                  "description": "Whether the mail server confirms that the email address actually exist. '-' means not applicable.",
                  "title": "Is Verified"
                },
                "is_server_down": {
                  "type": "string",
                  "description": "Whether the mail server is currently down or unresponsive. '-' means not applicable.",
                  "title": "Is Server Down"
                },
                "is_greylisted": {
                  "type": "string",
                  "description": "Whether the mail server employs greylisting where an email has to be sent a second time at a later time. '-' means not applicable.",
                  "title": "Is Greylisted"
                },
                "is_disposable": {
                  "type": "string",
                  "description": "Whether the email address is a temporary one from a disposable email provider. '-' means not applicable.",
                  "title": "Is Disposable"
                },
                "is_suppressed": {
                  "type": "string",
                  "description": "Whether the email address is in our blacklist. '-' means not applicable.",
                  "title": "Is Suppressed"
                },
                "is_role": {
                  "type": "string",
                  "description": "Whether the email address is a role-based email address like admin@example.net or webmaster@example.net. '-' means not applicable.",
                  "title": "Is Role"
                },
                "is_high_risk": {
                  "type": "string",
                  "description": "Whether the email address contains high risk keywords. '-' means not applicable.",
                  "title": "Is High Risk"
                },
                "is_catchall": {
                  "type": "string",
                  "description": "Whether the email address is a catch-all address. '-' means not applicable.",
                  "title": "Is Catchall"
                },
                "mailboxvalidator_score": {
                  "type": "string",
                  "description": "Email address reputation score. Score > 0.70 means good; score > 0.40 means fair; score ≤ 0.40 means poor.",
                  "title": "MailboxValidator Score"
                },
                "time_taken": {
                  "type": "string",
                  "description": "The time taken to get the results in seconds.",
                  "title": "Time Taken"
                },
                "status": {
                  "type": "string",
                  "description": "Whether our system think the email address is valid based on all the previous fields.",
                  "title": "Status"
                },
                "credits_available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of credits left to perform validations.",
                  "title": "Credits Available"
                },
                "error_code": {
                  "type": "string",
                  "description": "The error code if there is any error.",
                  "title": "Error Code"
                },
                "error_message": {
                  "type": "string",
                  "description": "The error message if there is any error.",
                  "title": "Error Message"
                }
              }
            }
          }
        },
        "summary": "Validate a single email address",
        "description": "Returns validations for a single email address.",
        "operationId": "ValidateSingle",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The email address to be validated.",
            "x-ms-summary": "Email"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Return the result in JSON.",
            "x-ms-summary": "Format",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/email/disposable": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email_address": {
                  "type": "string",
                  "description": "The input email address.",
                  "title": "Email Address"
                },
                "is_disposable": {
                  "type": "string",
                  "description": "Whether the email address is a temporary one from a disposable email provider. '-' means not applicable.",
                  "title": "Is Disposable"
                },
                "credits_available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of credits left to perform validations.",
                  "title": "Credits Available"
                },
                "error_code": {
                  "type": "string",
                  "description": "The error code if there is any error.",
                  "title": "Error Code"
                },
                "error_message": {
                  "type": "string",
                  "description": "The error message if there is any error.",
                  "title": "Error Message"
                }
              }
            }
          }
        },
        "summary": "Validate email address is from a disposable email provider",
        "description": "Returns validation from whether email address is from a disposable email provider. Disposable email addresses (DEAs) are temporary email addresses that are only valid for a very short period of time.",
        "operationId": "ValidateDisposable",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The email address to be validated.",
            "x-ms-summary": "Email"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Return the result in JSON.",
            "x-ms-summary": "Format",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/email/free": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email_address": {
                  "type": "string",
                  "description": "The input email address.",
                  "title": "Email Address"
                },
                "is_free": {
                  "type": "string",
                  "description": "Whether the email address is from a free email provider like Gmail or Hotmail.",
                  "title": "Is Free"
                },
                "credits_available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of credits left to perform validations.",
                  "title": "Credits Available"
                },
                "error_code": {
                  "type": "string",
                  "description": "The error code if there is any error.",
                  "title": "Error Code"
                },
                "error_message": {
                  "type": "string",
                  "description": "The error message if there is any error.",
                  "title": "Error Message"
                }
              }
            }
          }
        },
        "summary": "Validate email address is from a free email provider",
        "description": "Returns validation from whether email address is from a free email provider.",
        "operationId": "ValidateFree",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The email address to be validated.",
            "x-ms-summary": "Email"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Return the result in JSON.",
            "x-ms-summary": "Format",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mailboxvalidator.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mailboxvalidator.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ]
}