{
  "swagger": "2.0",
  "info": {
    "title": "GlobalGiving Project",
    "description": "GlobalGiving connects nonprofits, donors, and companies in nearly every country in the world. We help fellow nonprofits access the funding, tools, training, and support they need to serve their communities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.globalgiving.org",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/userservice/tokens": {
      "post": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "auth_response": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "title": "Access Token",
                      "description": "The access token."
                    }
                  },
                  "title": "Authorization Response"
                }
              }
            }
          }
        },
        "summary": "Get access token",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "auth_request": {
                  "type":"object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "title": "Email",
                          "description": "The account email address."
                        },
                        "password": {
                          "type": "string",
                          "title": "Password",
                          "description": "The account password."
                        }
                      },
                      "title": "User"
                    },
                    "api_key": {
                      "type": "string",
                      "title": "API Key",
                      "description": "The account API key."
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Access tokens are similar to session tokens and allow entering of credentials once per session. Once authenticated, a user is provided with an access token that is submitted with every secure request (those containing '/secure/' in the URL path, e.g. submitting a donation) instead of always submitting a username and password. Access tokens are short-lived and can expire so users need to re-GET a token at the start of each session or if their current access token expires. Note that access token timeouts are individually set for each API user as a database configuration and by default are set to 10 hours.",
        "operationId": "AccessTokenGet"
      }
    },
    "/public/projectservice/projects/collection/ids": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "title": "Active",
                            "description": "Whether the project is active."
                          },
                          "countries": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "iso3166CountryCode": {
                                      "type": "string",
                                      "title": "ISO3166 Country Code",
                                      "description": "The country code in ISO3166 format."
                                    },
                                    "name": {
                                      "type": "string",
                                      "title": "Name",
                                      "description": "The name."
                                    }
                                  }
                                },
                                "title": "Country"
                              }
                            },
                            "title": "Countries"
                          },
                          "country": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Country",
                            "description": "The country(ies)."
                          },
                          "donationOptions": {
                            "type": "object",
                            "properties": {
                              "donationOption": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "title": "Amount",
                                      "description": "The amount."
                                    },
                                    "description": {
                                      "type": "string",
                                      "title": "Description",
                                      "description": "The description."
                                    }
                                  }
                                },
                                "title": "Donation Option"
                              }
                            },
                            "title": "Donation Options"
                          },
                          "id": {
                            "type": "integer",
                            "title": "ID",
                            "description": "The unique identifier."
                          },
                          "imageLink": {
                            "type": "string",
                            "title": "Image Link",
                            "description": "The link to the image."
                          },
                          "iso3166CountryCode": {
                            "type": "string",
                            "title": "ISO3166 Country Code",
                            "description": "The country code in ISO3166 format."
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "activeProjects": {
                                "type": "string",
                                "title": "Active Projects",
                                "description": "The active projects."
                              },
                              "addressLine1": {
                                "type": "string",
                                "title": "Address Line",
                                "description": "The address line."
                              },
                              "city": {
                                "type": "string",
                                "title": "City",
                                "description": "The city."
                              },
                              "country": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "title": "Country",
                                "description": "The country."
                              },
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "title": "ID",
                                "description": "The unique identifier."
                              },
                              "iso3166CountryCode": {
                                "type": "string",
                                "title": "Country Code",
                                "description": "The ISO3166 country code."
                              },
                              "mission": {
                                "type": "string",
                                "title": "Mission",
                                "description": "The mission."
                              },
                              "name": {
                                "type": "string",
                                "title": "Name",
                                "description": "The name."
                              },
                              "state": {
                                "type": "string",
                                "title": "State",
                                "description": "The state."
                              },
                              "postal": {
                                "type": "string",
                                "title": "Postal",
                                "description": "The postal code."
                              },
                              "totalProjects": {
                                "type": "string",
                                "title": "Total Projects",
                                "description": "The total projects."
                              },
                              "url": {
                                "type": "string",
                                "title": "URL",
                                "description": "The URL address."
                              },
                              "themes": {
                                "type": "object",
                                "properties": {
                                  "theme": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "integer",
                                          "format": "int32",
                                          "title": "ID",
                                          "description": "The unique identifier."
                                        },
                                        "name": {
                                          "type": "string",
                                          "title": "Name",
                                          "description": "The name."
                                        }
                                      }
                                    },
                                    "title": "Theme"
                                  }
                                },
                                "title": "Themes"
                              },
                              "countries": {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "iso3166CountryCode": {
                                          "type": "string",
                                          "title": "Country Code",
                                          "description": "The ISO3166 country code."
                                        },
                                        "name": {
                                          "type": "string",
                                          "title": "Name",
                                          "description": "The name."
                                        }
                                      }
                                    },
                                    "title": "Country"
                                  }
                                },
                                "title": "Countries"
                              }
                            },
                            "title": "Organization"
                          },
                          "status": {
                            "type": "string",
                            "title": "Status",
                            "description": "The status."
                          },
                          "summary": {
                            "type": "string",
                            "title": "Summary",
                            "description": "The summary."
                          },
                          "themeName": {
                            "type": "string",
                            "title": "Theme Name",
                            "description": "The theme name."
                          },
                          "themes": {
                            "type": "object",
                            "properties": {
                              "theme": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "format": "int32",
                                      "title": "ID",
                                      "description": "The unique identifier."
                                    },
                                    "name": {
                                      "type": "string",
                                      "title": "Name",
                                      "description": "The name."
                                    }
                                  }
                                },
                                "title": "Theme"
                              }
                            },
                            "title": "Themes"
                          },
                          "title": {
                            "type": "string",
                            "title": "Title",
                            "description": "The title."
                          },
                          "type": {
                            "type": "string",
                            "title": "Type",
                            "description": "The type."
                          }
                        }
                      },
                      "title": "Project"
                    },
                    "_numberFound": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Number Found",
                      "description": "The number of results found."
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get all project information for a set of project IDs",
        "description": "This action retrieves information for projects filtered by a list of comma separated project ids. The result set is limited to a maximum of 10 results for a request.",
        "operationId": "ProjectInformationGet",
        "parameters": [
          {
            "name": "projectIds",
            "in": "query",
            "x-ms-summary": "Project IDs",
            "description": "The project unique identifiers.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/public/projectservice/projects/collection/summary/ids": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "title": "Active",
                          "description": "Whether it is active."
                        },
                        "activities": {
                          "type": "string",
                          "title": "Activities",
                          "description": "The activities."
                        },
                        "additionalDocumentation": {
                          "type": "string",
                          "title": "Additional Documentation",
                          "description": "Any additional documentation."
                        },
                        "approvedDate": {
                          "type": "string",
                          "title": "Approved Date",
                          "description": "The approved date."
                        },
                        "contactAddress": {
                          "type": "string",
                          "title": "Contact Address",
                          "description": "The contact's address."
                        },
                        "contactAddress2": {
                          "type": "string",
                          "title": "Contact Address 2",
                          "description": "The contact's address line 2."
                        },
                        "contactCity": {
                          "type": "string",
                          "title": "Contact City",
                          "description": "The contact's city."
                        },
                        "contactCountry": {
                          "type": "string",
                          "title": "Contact Country",
                          "description": "The contact's country."
                        },
                        "contactName": {
                          "type": "string",
                          "title": "Contact Name",
                          "description": "The contact's name."
                        },
                        "contactPostal": {
                          "type": "string",
                          "title": "Contact Postal",
                          "description": "The contact's postal."
                        },
                        "contactState": {
                          "type": "string",
                          "title": "Contact State",
                          "description": "The contact's state."
                        },
                        "contactTitle": {
                          "type": "string",
                          "title": "Contact Title",
                          "description": "The contact's title."
                        },
                        "contactUrl": {
                          "type": "string",
                          "title": "Contact URL",
                          "description": "The contact's URL."
                        },
                        "country": {
                          "type": "string",
                          "title": "Country",
                          "description": "The country."
                        },
                        "countries": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "object",
                              "properties": {
                                "iso3166CountryCode": {
                                  "type": "string",
                                  "title": "Country Code",
                                  "description": "The country code in ISO3166 format."
                                },
                                "name": {
                                  "type": "string",
                                  "title": "Name",
                                  "description": "The name."
                                }
                              },
                              "title": "Country"
                            }
                          },
                          "title": "Countries"
                        },
                        "dateOfMostRecentReport": {
                          "type": "string",
                          "title": "Report Date",
                          "description": "The date of most recent report."
                        },
                        "donationOptions": {
                          "type": "object",
                          "properties": {
                            "donationOption": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "title": "Amount",
                                    "description": "The amount."
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Description",
                                    "description": "The description."
                                  }
                                }
                              },
                              "title": "Donation Option"
                            }
                          },
                          "title": "Donation Options"
                        },
                        "funding": {
                          "type": "number",
                          "title": "Funding",
                          "description": "The funding."
                        },
                        "goal": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Goal",
                          "description": "The goal."
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "title": "ID",
                          "description": "The unique identifier."
                        },
                        "imageGallerySize": {
                          "type": "string",
                          "title": "Gallery Size",
                          "description": "The image gallery size."
                        },
                        "imageLink": {
                          "type": "string",
                          "title": "Image Link",
                          "description": "The image link."
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "imagelink": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "title": "URL",
                                    "description": "The URL address."
                                  },
                                  "_size": {
                                    "type": "string",
                                    "title": "Size",
                                    "description": "The size"
                                  }
                                }
                              },
                              "title": "Image Link"
                            },
                            "title": {
                              "type": "string",
                              "title": "Title",
                              "description": "The title."
                            },
                            "_id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            }
                          },
                          "title": "Image"
                        },
                        "iso3166CountryCode": {
                          "type": "string",
                          "title": "Country Code",
                          "description": "The country code in ISO3166 format."
                        },
                        "longTermImpact": {
                          "type": "string",
                          "title": "Long Term Impact",
                          "description": "The long term impact."
                        },
                        "modifiedDate": {
                          "type": "string",
                          "title": "Modified Date",
                          "description": "The modified date."
                        },
                        "need": {
                          "type": "string",
                          "title": "Need",
                          "description": "The need."
                        },
                        "notice": {
                          "type": "string",
                          "title": "Notice",
                          "description": "The notice."
                        },
                        "numberOfDonations": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Number of Donations",
                          "description": "The number of donations."
                        },
                        "numberOfReports": {
                          "type": "string",
                          "title": "Number of Reports",
                          "description": "The number of reports."
                        },
                        "organization": {
                          "type": "object",
                          "properties": {
                            "activeProjects": {
                              "type": "string",
                              "title": "Active Projects",
                              "description": "The active projects."
                            },
                            "addressLine1": {
                              "type": "string",
                              "title": "Address Line",
                              "description": "The address line."
                            },
                            "city": {
                              "type": "string",
                              "title": "City",
                              "description": "The city."
                            },
                            "country": {
                              "type": "string",
                              "title": "Country",
                              "description": "The country."
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            },
                            "iso3166CountryCode": {
                              "type": "string",
                              "title": "Country Code",
                              "description": "The country code in ISO3166 format."
                            },
                            "mission": {
                              "type": "string",
                              "title": "Mission",
                              "description": "The mission."
                            },
                            "name": {
                              "type": "string",
                              "title": "Name",
                              "description": "The name."
                            },
                            "postal": {
                              "type": "string",
                              "title": "Postal Code",
                              "description": "The postal code."
                            },
                            "totalProjects": {
                              "type": "string",
                              "title": "Total Projects",
                              "description": "The total projects."
                            },
                            "url": {
                              "type": "string",
                              "title": "URL",
                              "description": "The URL address."
                            },
                            "themes": {
                              "type": "object",
                              "properties": {
                                "theme": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "title": "ID",
                                        "description": "The unique identifier."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Theme"
                                }
                              },
                              "title": "Themes"
                            },
                            "countries": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "iso3166CountryCode": {
                                        "type": "string",
                                        "title": "Country Code",
                                        "description": "The country code in ISO3166 format."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Country"
                                }
                              },
                              "title": "Countries"
                            }
                          },
                          "title": "Organization"
                        },
                        "progressReportLink": {
                          "type": "string",
                          "title": "Progress Report URL",
                          "description": "The progress report link."
                        },
                        "projectLink": {
                          "type": "string",
                          "title": "Project URL",
                          "description": "The project link."
                        },
                        "region": {
                          "type": "string",
                          "title": "Region",
                          "description": "The region."
                        },
                        "remaining": {
                          "type": "string",
                          "title": "Remaining",
                          "description": "The remaining."
                        },
                        "status": {
                          "type": "string",
                          "title": "Status",
                          "description": "The status."
                        },
                        "summary": {
                          "type": "string",
                          "title": "Summary",
                          "description": "The summary."
                        },
                        "themeName": {
                          "type": "string",
                          "title": "Theme",
                          "description": "The theme name."
                        },
                        "themes": {
                          "type": "object",
                          "properties": {
                            "theme": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "title": "ID",
                                    "description": "The unique identifer."
                                  },
                                  "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "The name."
                                  }
                                }
                              },
                              "title": "Theme"
                            }
                          },
                          "title": "Themes"
                        },
                        "title": {
                          "type": "string",
                          "title": "Title",
                          "description": "The title."
                        },
                        "type": {
                          "type": "string",
                          "title": "Type",
                          "description": "The type."
                        },
                        "videos": {
                          "type": "object",
                          "properties": {
                            "video": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "title": "URL",
                                  "description": "The URL address."
                                }
                              },
                              "title": "Video"
                            }
                          },
                          "title": "Videos"
                        }
                      },
                      "title": "Project"
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get all project summary information for set of project IDs",
        "description": "This action retrieves a subset of the full project information for projects filtered by a list of comma separated project ids. The result set is limited to a maximum of 10 results for a request.",
        "operationId": "ProjectInformationSetIDs",
        "parameters": [
          {
            "name": "projectIds",
            "in": "query",
            "x-ms-summary": "Project IDs",
            "description": "The project unique identifiers.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/public/projectservice/campaign/{campaignId}/projects": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "title": "Active",
                          "description": "Whether it is active."
                        },
                        "activities": {
                          "type": "string",
                          "title": "Activities",
                          "description": "The activities."
                        },
                        "additionalDocumentation": {
                          "type": "string",
                          "title": "Additional Documentation",
                          "description": "Any additional documentation."
                        },
                        "approvedDate": {
                          "type": "string",
                          "title": "Approved Date",
                          "description": "The approved date."
                        },
                        "contactAddress": {
                          "type": "string",
                          "title": "Contact Address",
                          "description": "The contact's address."
                        },
                        "contactAddress2": {
                          "type": "string",
                          "title": "Contact Address 2",
                          "description": "The contact's address line 2."
                        },
                        "contactCity": {
                          "type": "string",
                          "title": "Contact City",
                          "description": "The contact's city."
                        },
                        "contactCountry": {
                          "type": "string",
                          "title": "Contact Country",
                          "description": "The contact's country."
                        },
                        "contactName": {
                          "type": "string",
                          "title": "Contact Name",
                          "description": "The contact's name."
                        },
                        "contactPostal": {
                          "type": "string",
                          "title": "Contact Postal",
                          "description": "The contact's postal."
                        },
                        "contactState": {
                          "type": "string",
                          "title": "Contact State",
                          "description": "The contact's state."
                        },
                        "contactTitle": {
                          "type": "string",
                          "title": "Contact Title",
                          "description": "The contact's title."
                        },
                        "contactUrl": {
                          "type": "string",
                          "title": "Contact URL",
                          "description": "The contact's URL."
                        },
                        "country": {
                          "type": "string",
                          "title": "Country",
                          "description": "The country."
                        },
                        "countries": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "object",
                              "properties": {
                                "iso3166CountryCode": {
                                  "type": "string",
                                  "title": "Country Code",
                                  "description": "The country code in ISO3166 format."
                                },
                                "name": {
                                  "type": "string",
                                  "title": "Name",
                                  "description": "The name."
                                }
                              },
                              "title": "Country"
                            }
                          },
                          "title": "Countries"
                        },
                        "dateOfMostRecentReport": {
                          "type": "string",
                          "title": "Report Date",
                          "description": "The date of most recent report."
                        },
                        "donationOptions": {
                          "type": "object",
                          "properties": {
                            "donationOption": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "title": "Amount",
                                    "description": "The amount."
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Description",
                                    "description": "The description."
                                  }
                                }
                              },
                              "title": "Donation Option"
                            }
                          },
                          "title": "Donation Options"
                        },
                        "funding": {
                          "type": "number",
                          "title": "Funding",
                          "description": "The funding."
                        },
                        "goal": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Goal",
                          "description": "The goal."
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "title": "ID",
                          "description": "The unique identifier."
                        },
                        "imageGallerySize": {
                          "type": "string",
                          "title": "Gallery Size",
                          "description": "The image gallery size."
                        },
                        "imageLink": {
                          "type": "string",
                          "title": "Image Link",
                          "description": "The image link."
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "imagelink": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "title": "URL",
                                    "description": "The URL address."
                                  },
                                  "_size": {
                                    "type": "string",
                                    "title": "Size",
                                    "description": "The size"
                                  }
                                }
                              },
                              "title": "Image Link"
                            },
                            "title": {
                              "type": "string",
                              "title": "Title",
                              "description": "The title."
                            },
                            "_id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            }
                          },
                          "title": "Image"
                        },
                        "iso3166CountryCode": {
                          "type": "string",
                          "title": "Country Code",
                          "description": "The country code in ISO3166 format."
                        },
                        "longTermImpact": {
                          "type": "string",
                          "title": "Long Term Impact",
                          "description": "The long term impact."
                        },
                        "modifiedDate": {
                          "type": "string",
                          "title": "Modified Date",
                          "description": "The modified date."
                        },
                        "need": {
                          "type": "string",
                          "title": "Need",
                          "description": "The need."
                        },
                        "notice": {
                          "type": "string",
                          "title": "Notice",
                          "description": "The notice."
                        },
                        "numberOfDonations": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Number of Donations",
                          "description": "The number of donations."
                        },
                        "numberOfReports": {
                          "type": "string",
                          "title": "Number of Reports",
                          "description": "The number of reports."
                        },
                        "organization": {
                          "type": "object",
                          "properties": {
                            "activeProjects": {
                              "type": "string",
                              "title": "Active Projects",
                              "description": "The active projects."
                            },
                            "addressLine1": {
                              "type": "string",
                              "title": "Address Line",
                              "description": "The address line."
                            },
                            "city": {
                              "type": "string",
                              "title": "City",
                              "description": "The city."
                            },
                            "country": {
                              "type": "string",
                              "title": "Country",
                              "description": "The country."
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            },
                            "iso3166CountryCode": {
                              "type": "string",
                              "title": "Country Code",
                              "description": "The country code in ISO3166 format."
                            },
                            "mission": {
                              "type": "string",
                              "title": "Mission",
                              "description": "The mission."
                            },
                            "name": {
                              "type": "string",
                              "title": "Name",
                              "description": "The name."
                            },
                            "postal": {
                              "type": "string",
                              "title": "Postal Code",
                              "description": "The postal code."
                            },
                            "totalProjects": {
                              "type": "string",
                              "title": "Total Projects",
                              "description": "The total projects."
                            },
                            "url": {
                              "type": "string",
                              "title": "URL",
                              "description": "The URL address."
                            },
                            "themes": {
                              "type": "object",
                              "properties": {
                                "theme": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "title": "ID",
                                        "description": "The unique identifier."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Theme"
                                }
                              },
                              "title": "Themes"
                            },
                            "countries": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "iso3166CountryCode": {
                                        "type": "string",
                                        "title": "Country Code",
                                        "description": "The country code in ISO3166 format."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Country"
                                }
                              },
                              "title": "Countries"
                            }
                          },
                          "title": "Organization"
                        },
                        "progressReportLink": {
                          "type": "string",
                          "title": "Progress Report URL",
                          "description": "The progress report link."
                        },
                        "projectLink": {
                          "type": "string",
                          "title": "Project URL",
                          "description": "The project link."
                        },
                        "region": {
                          "type": "string",
                          "title": "Region",
                          "description": "The region."
                        },
                        "remaining": {
                          "type": "string",
                          "title": "Remaining",
                          "description": "The remaining."
                        },
                        "status": {
                          "type": "string",
                          "title": "Status",
                          "description": "The status."
                        },
                        "summary": {
                          "type": "string",
                          "title": "Summary",
                          "description": "The summary."
                        },
                        "themeName": {
                          "type": "string",
                          "title": "Theme",
                          "description": "The theme name."
                        },
                        "themes": {
                          "type": "object",
                          "properties": {
                            "theme": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "title": "ID",
                                    "description": "The unique identifer."
                                  },
                                  "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "The name."
                                  }
                                }
                              },
                              "title": "Theme"
                            }
                          },
                          "title": "Themes"
                        },
                        "title": {
                          "type": "string",
                          "title": "Title",
                          "description": "The title."
                        },
                        "type": {
                          "type": "string",
                          "title": "Type",
                          "description": "The type."
                        },
                        "videos": {
                          "type": "object",
                          "properties": {
                            "video": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "title": "URL",
                                  "description": "The URL address."
                                }
                              },
                              "title": "Video"
                            }
                          },
                          "title": "Videos"
                        }
                      },
                      "title": "Project"
                    },
                    "_numberFound": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Number Found",
                      "description": "The number of results found."
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get all projects for a campaign",
        "description": "This action retrieves information for all projects in specific Campaign. The result set, however, is limited to a maximum of 10 results for every request. If there are more results available, the response will return two extra elements <hasNext> and <nextProjectId>. Note that these two elements are not present if there are no more available results. The <hasNext> element indicates whether there are more results available and the <nextProjectId> element indicates the next project id to include in the query string to retrieve the next set of results.",
        "operationId": "CampaignProjectGet",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nextProjectId",
            "in": "query",
            "x-ms-summary": "Next Project ID",
            "description": "The unique identifier of the next project.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/projectservice/campaign/{campaignId}/projects/summary": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "title": "Active",
                          "description": "Whether it is active."
                        },
                        "countries": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "object",
                              "properties": {
                                "iso3166CountryCode": {
                                  "type": "string",
                                  "title": "Country Code",
                                  "description": "The country code in ISO3166 format."
                                },
                                "name": {
                                  "type": "string",
                                  "title": "Name",
                                  "description": "The name."
                                }
                              },
                              "title": "Country"
                            }
                          },
                          "title": "Countries"
                        },
                        "country": {
                          "type": "string",
                          "title": "Country",
                          "description": "The country."
                        },
                        "donationOptions": {
                          "type": "object",
                          "properties": {
                            "donationOption": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "title": "Amount",
                                    "description": "The amount."
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Description",
                                    "description": "The description."
                                  }
                                }
                              },
                              "title": "Donation Option"
                            }
                          },
                          "title": "Donation Options"
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "title": "ID",
                          "description": "The unique identifier."
                        },
                        "imageLink": {
                          "type": "string",
                          "title": "Image Link",
                          "description": "The image link."
                        },
                        "iso3166CountryCode": {
                          "type": "string",
                          "title": "Country Code",
                          "description": "The country code in ISO3166 format."
                        },
                        "organization": {
                          "type": "object",
                          "properties": {
                            "activeProjects": {
                              "type": "string",
                              "title": "Active Projects",
                              "description": "The active projects."
                            },
                            "addressLine1": {
                              "type": "string",
                              "title": "Address Line",
                              "description": "The address line."
                            },
                            "city": {
                              "type": "string",
                              "title": "City",
                              "description": "The city."
                            },
                            "country": {
                              "type": "string",
                              "title": "Country",
                              "description": "The country."
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            },
                            "iso3166CountryCode": {
                              "type": "string",
                              "title": "Country Code",
                              "description": "The country code in ISO3166 format."
                            },
                            "mission": {
                              "type": "string",
                              "title": "Mission",
                              "description": "The mission."
                            },
                            "name": {
                              "type": "string",
                              "title": "Name",
                              "description": "The name."
                            },
                            "state": {
                              "type": "string",
                              "title": "State",
                              "description": "The state."
                            },
                            "postal": {
                              "type": "string",
                              "title": "Postal Code",
                              "description": "The postal code."
                            },
                            "totalProjects": {
                              "type": "string",
                              "title": "Total Projects",
                              "description": "The total projects."
                            },
                            "url": {
                              "type": "string",
                              "title": "URL",
                              "description": "The URL address."
                            },
                            "themes": {
                              "type": "object",
                              "properties": {
                                "theme": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "title": "ID",
                                        "description": "The unique identifier."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Theme"
                                }
                              },
                              "title": "Themes"
                            },
                            "countries": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "iso3166CountryCode": {
                                        "type": "string",
                                        "title": "Country Code",
                                        "description": "The country code in ISO3166 format."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Country"
                                }
                              },
                              "title": "Countries"
                            }
                          },
                          "title": "Organization"
                        },
                        "status": {
                          "type": "string",
                          "title": "Status",
                          "description": "The status."
                        },
                        "summary": {
                          "type": "string",
                          "title": "Summary",
                          "description": "The summary."
                        },
                        "themeName": {
                          "type": "string",
                          "title": "Theme",
                          "description": "The theme name."
                        },
                        "themes": {
                          "type": "object",
                          "properties": {
                            "theme": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "title": "ID",
                                    "description": "The unique identifer."
                                  },
                                  "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "The name."
                                  }
                                }
                              },
                              "title": "Theme"
                            }
                          },
                          "title": "Themes"
                        },
                        "title": {
                          "type": "string",
                          "title": "Title",
                          "description": "The title."
                        },
                        "type": {
                          "type": "string",
                          "title": "Type",
                          "description": "The type."
                        }
                      },
                      "title": "Project"
                    },
                    "_numberFound": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Number Found",
                      "description": "The number of results found."
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get all projects for a campaign summary",
        "description": "This action retrieves a subset of the full project information for all projects in a specific campaign. The result set, however, is limited to a maximum of 10 results for every request. If there are more results available, the response will return two extra elements <hasNext> and <nextProjectId>. Note that these two elements are not present if there are no more available results. The <hasNext> element indicates whether there are more results available and the <nextProjectId> element indicates the next project id to include in the query string to retrieve the next set of results.",
        "operationId": "CampaignSummaryProject",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nextProjectId",
            "in": "query",
            "x-ms-summary": "Next Project ID",
            "description": "The unique identifier of the next project.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/projectservice/countries/{iso3166CountryCode}/projects": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "title": "Active",
                          "description": "Whether it is active."
                        },
                        "activities": {
                          "type": "string",
                          "title": "Activities",
                          "description": "The activities."
                        },
                        "additionalDocumentation": {
                          "type": "string",
                          "title": "Additional Documentation",
                          "description": "Any additional documentation."
                        },
                        "approvedDate": {
                          "type": "string",
                          "title": "Approved Date",
                          "description": "The approved date."
                        },
                        "contactAddress": {
                          "type": "string",
                          "title": "Contact Address",
                          "description": "The contact's address."
                        },
                        "contactAddress2": {
                          "type": "string",
                          "title": "Contact Address 2",
                          "description": "The contact's address line 2."
                        },
                        "contactCity": {
                          "type": "string",
                          "title": "Contact City",
                          "description": "The contact's city."
                        },
                        "contactCountry": {
                          "type": "string",
                          "title": "Contact Country",
                          "description": "The contact's country."
                        },
                        "contactName": {
                          "type": "string",
                          "title": "Contact Name",
                          "description": "The contact's name."
                        },
                        "contactPostal": {
                          "type": "string",
                          "title": "Contact Postal",
                          "description": "The contact's postal."
                        },
                        "contactState": {
                          "type": "string",
                          "title": "Contact State",
                          "description": "The contact's state."
                        },
                        "contactTitle": {
                          "type": "string",
                          "title": "Contact Title",
                          "description": "The contact's title."
                        },
                        "contactUrl": {
                          "type": "string",
                          "title": "Contact URL",
                          "description": "The contact's URL."
                        },
                        "country": {
                          "type": "string",
                          "title": "Country",
                          "description": "The country."
                        },
                        "countries": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "object",
                              "properties": {
                                "iso3166CountryCode": {
                                  "type": "string",
                                  "title": "Country Code",
                                  "description": "The country code in ISO3166 format."
                                },
                                "name": {
                                  "type": "string",
                                  "title": "Name",
                                  "description": "The name."
                                }
                              },
                              "title": "Country"
                            }
                          },
                          "title": "Countries"
                        },
                        "dateOfMostRecentReport": {
                          "type": "string",
                          "title": "Report Date",
                          "description": "The date of most recent report."
                        },
                        "donationOptions": {
                          "type": "object",
                          "properties": {
                            "donationOption": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "title": "Amount",
                                    "description": "The amount."
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Description",
                                    "description": "The description."
                                  }
                                }
                              },
                              "title": "Donation Option"
                            }
                          },
                          "title": "Donation Options"
                        },
                        "funding": {
                          "type": "number",
                          "title": "Funding",
                          "description": "The funding."
                        },
                        "goal": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Goal",
                          "description": "The goal."
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "title": "ID",
                          "description": "The unique identifier."
                        },
                        "imageGallerySize": {
                          "type": "string",
                          "title": "Gallery Size",
                          "description": "The image gallery size."
                        },
                        "imageLink": {
                          "type": "string",
                          "title": "Image Link",
                          "description": "The image link."
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "imagelink": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "title": "URL",
                                    "description": "The URL address."
                                  },
                                  "_size": {
                                    "type": "string",
                                    "title": "Size",
                                    "description": "The size"
                                  }
                                }
                              },
                              "title": "Image Link"
                            },
                            "title": {
                              "type": "string",
                              "title": "Title",
                              "description": "The title."
                            },
                            "_id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            }
                          },
                          "title": "Image"
                        },
                        "iso3166CountryCode": {
                          "type": "string",
                          "title": "Country Code",
                          "description": "The country code in ISO3166 format."
                        },
                        "longTermImpact": {
                          "type": "string",
                          "title": "Long Term Impact",
                          "description": "The long term impact."
                        },
                        "modifiedDate": {
                          "type": "string",
                          "title": "Modified Date",
                          "description": "The modified date."
                        },
                        "need": {
                          "type": "string",
                          "title": "Need",
                          "description": "The need."
                        },
                        "notice": {
                          "type": "string",
                          "title": "Notice",
                          "description": "The notice."
                        },
                        "numberOfDonations": {
                          "type": "integer",
                          "format": "int32",
                          "title": "Number of Donations",
                          "description": "The number of donations."
                        },
                        "numberOfReports": {
                          "type": "string",
                          "title": "Number of Reports",
                          "description": "The number of reports."
                        },
                        "organization": {
                          "type": "object",
                          "properties": {
                            "activeProjects": {
                              "type": "string",
                              "title": "Active Projects",
                              "description": "The active projects."
                            },
                            "addressLine1": {
                              "type": "string",
                              "title": "Address Line",
                              "description": "The address line."
                            },
                            "city": {
                              "type": "string",
                              "title": "City",
                              "description": "The city."
                            },
                            "country": {
                              "type": "string",
                              "title": "Country",
                              "description": "The country."
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "ID",
                              "description": "The unique identifier."
                            },
                            "iso3166CountryCode": {
                              "type": "string",
                              "title": "Country Code",
                              "description": "The country code in ISO3166 format."
                            },
                            "mission": {
                              "type": "string",
                              "title": "Mission",
                              "description": "The mission."
                            },
                            "name": {
                              "type": "string",
                              "title": "Name",
                              "description": "The name."
                            },
                            "postal": {
                              "type": "string",
                              "title": "Postal Code",
                              "description": "The postal code."
                            },
                            "totalProjects": {
                              "type": "string",
                              "title": "Total Projects",
                              "description": "The total projects."
                            },
                            "url": {
                              "type": "string",
                              "title": "URL",
                              "description": "The URL address."
                            },
                            "themes": {
                              "type": "object",
                              "properties": {
                                "theme": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "title": "ID",
                                        "description": "The unique identifier."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Theme"
                                }
                              },
                              "title": "Themes"
                            },
                            "countries": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "iso3166CountryCode": {
                                        "type": "string",
                                        "title": "Country Code",
                                        "description": "The country code in ISO3166 format."
                                      },
                                      "name": {
                                        "type": "string",
                                        "title": "Name",
                                        "description": "The name."
                                      }
                                    }
                                  },
                                  "title": "Country"
                                }
                              },
                              "title": "Countries"
                            }
                          },
                          "title": "Organization"
                        },
                        "progressReportLink": {
                          "type": "string",
                          "title": "Progress Report URL",
                          "description": "The progress report link."
                        },
                        "projectLink": {
                          "type": "string",
                          "title": "Project URL",
                          "description": "The project link."
                        },
                        "region": {
                          "type": "string",
                          "title": "Region",
                          "description": "The region."
                        },
                        "remaining": {
                          "type": "string",
                          "title": "Remaining",
                          "description": "The remaining."
                        },
                        "status": {
                          "type": "string",
                          "title": "Status",
                          "description": "The status."
                        },
                        "summary": {
                          "type": "string",
                          "title": "Summary",
                          "description": "The summary."
                        },
                        "themeName": {
                          "type": "string",
                          "title": "Theme",
                          "description": "The theme name."
                        },
                        "themes": {
                          "type": "object",
                          "properties": {
                            "theme": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "title": "ID",
                                    "description": "The unique identifer."
                                  },
                                  "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "The name."
                                  }
                                }
                              },
                              "title": "Theme"
                            }
                          },
                          "title": "Themes"
                        },
                        "title": {
                          "type": "string",
                          "title": "Title",
                          "description": "The title."
                        },
                        "type": {
                          "type": "string",
                          "title": "Type",
                          "description": "The type."
                        },
                        "videos": {
                          "type": "object",
                          "properties": {
                            "video": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "title": "URL",
                                  "description": "The URL address."
                                }
                              },
                              "title": "Video"
                            }
                          },
                          "title": "Videos"
                        }
                      },
                      "title": "Project"
                    },
                    "_numberFound": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Number Found",
                      "description": "The number of results found."
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get all projects for a country or region",
        "description": "This action retrieves information for all projects in a specific country or region. The result set, however, is limited to a maximum of 10 results for every request. If there are more results available, the response will return two extra elements <hasNext> and <nextProjectId>. Note that these two elements are not present if there are no more available results. The <hasNext> element indicates whether there are more results available and the <nextProjectId> element indicates the next project id to include in the query string to retrieve the next set of results.",
        "operationId": "ProjectCountryGet",
        "parameters": [
          {
            "name": "iso3166CountryCode",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nextProjectId",
            "in": "query",
            "x-ms-summary": "Next Project ID",
            "description": "The unique identifier of the next project.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/projectservice/countries/{iso3166CountryCode}/projects/summary": {
      "get": {
        "responses": {
          "200": {
            "description": "Default.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean",
                      "title": "Has Next",
                      "description": "Whether there is a next page."
                    },
                    "nextProjectId": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Next Project ID",
                      "description": "The identifier of the next project."
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "title": "Active",
                          "description": "Whether it is active."
                        },
                        "countries": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "object",
                              "properties": {
                                "iso3166CountryCode": {
                                  "type": "string",
                                  "title": "Country Code",
[...]
