{
  "swagger": "2.0",
  "info": {
    "title": "Microblink",
    "description": "Microblink’s AI-powered technology eliminates the need to type in personal data from identity documents. Use Microblink Connector as an API proxy for BlinkID Web API SaaS to get four different actions that extract data from identity documents.",
    "version": "1.0",
    "contact": {
      "name": "Microblink",
      "url": "https://microblink.com",
      "email": "support@microblink.com"
    }
  },
  "host": "api.microblink.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/recognizers/blinkid": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "executionId": {
                  "type": "string",
                  "description": "executionId"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "recognizer": {
                      "type": "string",
                      "description": "recognizer"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "startTime"
                    },
                    "finishTime": {
                      "type": "string",
                      "description": "finishTime"
                    },
                    "durationTimeInSeconds": {
                      "type": "number",
                      "format": "float",
                      "description": "durationTimeInSeconds"
                    },
                    "taskId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "taskId"
                    },
                    "workerId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workerId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "documentImageColorStatus": {
                          "type": "string",
                          "description": "documentImageColorStatus"
                        },
                        "documentImageMoireStatus": {
                          "type": "string",
                          "description": "documentImageMoireStatus"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "fullName": {
                          "type": "string",
                          "description": "fullName"
                        },
                        "address": {
                          "type": "string",
                          "description": "address"
                        },
                        "dateOfBirth": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "description": "day",
                              "title": "",
                              "format": "int32"
                            },
                            "month": {
                              "type": "integer",
                              "description": "month",
                              "title": "",
                              "format": "int32"
                            },
                            "year": {
                              "type": "integer",
                              "description": "year",
                              "title": "",
                              "format": "int32"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfBirth"
                        },
                        "dateOfIssue": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "description": "day",
                              "title": "",
                              "format": "int32"
                            },
                            "month": {
                              "type": "integer",
                              "description": "month",
                              "title": "",
                              "format": "int32"
                            },
                            "year": {
                              "type": "integer",
                              "description": "year",
                              "title": "",
                              "format": "int32"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfIssue"
                        },
                        "dateOfExpiry": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "description": "day",
                              "title": "",
                              "format": "int32"
                            },
                            "month": {
                              "type": "integer",
                              "description": "month",
                              "title": "",
                              "format": "int32"
                            },
                            "year": {
                              "type": "integer",
                              "description": "year",
                              "title": "",
                              "format": "int32"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfExpiry"
                        },
                        "documentNumber": {
                          "type": "string",
                          "description": "documentNumber"
                        },
                        "sex": {
                          "type": "string",
                          "description": "sex"
                        },
                        "driverLicenseDetailedInfo": {
                          "type": "object",
                          "properties": {
                            "endorsements": {
                              "type": "string",
                              "description": "endorsements"
                            },
                            "restrictions": {
                              "type": "string",
                              "description": "restrictions"
                            },
                            "vehicleClass": {
                              "type": "string",
                              "description": "vehicleClass"
                            }
                          },
                          "description": "driverLicenseDetailedInfo"
                        },
                        "additionalNameInformation": {
                          "type": "string",
                          "description": "additionalNameInformation"
                        },
                        "additionalAddressInformation": {
                          "type": "string",
                          "description": "additionalAddressInformation"
                        },
                        "placeOfBirth": {
                          "type": "string",
                          "description": "placeOfBirth"
                        },
                        "nationality": {
                          "type": "string",
                          "description": "nationality"
                        },
                        "race": {
                          "type": "string",
                          "description": "race"
                        },
                        "religion": {
                          "type": "string",
                          "description": "religion"
                        },
                        "profession": {
                          "type": "string",
                          "description": "profession"
                        },
                        "maritalStatus": {
                          "type": "string",
                          "description": "maritalStatus"
                        },
                        "residentialStatus": {
                          "type": "string",
                          "description": "residentialStatus"
                        },
                        "employer": {
                          "type": "string",
                          "description": "employer"
                        },
                        "personalIdNumber": {
                          "type": "string",
                          "description": "personalIdNumber"
                        },
                        "documentAdditionalNumber": {
                          "type": "string",
                          "description": "documentAdditionalNumber"
                        },
                        "issuingAuthority": {
                          "type": "string",
                          "description": "issuingAuthority"
                        },
                        "conditions": {
                          "type": "string",
                          "description": "conditions"
                        },
                        "localizedName": {
                          "type": "string",
                          "description": "localizedName"
                        },
                        "dateOfExpiryPermanent": {
                          "type": "boolean",
                          "description": "dateOfExpiryPermanent"
                        },
                        "classInfo": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "country"
                            },
                            "region": {
                              "type": "string",
                              "description": "region"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          },
                          "description": "classInfo"
                        },
                        "mrzData": {
                          "type": "object",
                          "properties": {
                            "documentCode": {
                              "type": "string",
                              "description": "documentCode"
                            },
                            "dateOfExpiry": {
                              "type": "object",
                              "properties": {
                                "month": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "month"
                                },
                                "year": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "year"
                                },
                                "originalString": {
                                  "type": "string",
                                  "description": "originalString"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "day"
                                },
                                "successfullyParsed": {
                                  "type": "boolean",
                                  "description": "successfullyParsed"
                                }
                              },
                              "description": "dateOfExpiry"
                            },
                            "secondaryId": {
                              "type": "string",
                              "description": "secondaryId"
                            },
                            "gender": {
                              "type": "string",
                              "description": "gender"
                            },
                            "documentType": {
                              "type": "string",
                              "description": "documentType"
                            },
                            "documentNumber": {
                              "type": "string",
                              "description": "documentNumber"
                            },
                            "alienNumber": {
                              "type": "string",
                              "description": "alienNumber"
                            },
                            "issuerName": {
                              "type": "string",
                              "description": "issuerName"
                            },
                            "nationalityName": {
                              "type": "string",
                              "description": "nationalityName"
                            },
                            "applicationReceiptNumber": {
                              "type": "string",
                              "description": "applicationReceiptNumber"
                            },
                            "rawMrzString": {
                              "type": "string",
                              "description": "rawMrzString"
                            },
                            "opt1": {
                              "type": "string",
                              "description": "opt1"
                            },
                            "dateOfBirth": {
                              "type": "object",
                              "properties": {
                                "month": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "month"
                                },
                                "year": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "year"
                                },
                                "originalString": {
                                  "type": "string",
                                  "description": "originalString"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "day"
                                },
                                "successfullyParsed": {
                                  "type": "boolean",
                                  "description": "successfullyParsed"
                                }
                              },
                              "description": "dateOfBirth"
                            },
                            "opt2": {
                              "type": "string",
                              "description": "opt2"
                            },
                            "primaryId": {
                              "type": "string",
                              "description": "primaryId"
                            },
                            "issuer": {
                              "type": "string",
                              "description": "issuer"
                            },
                            "nationality": {
                              "type": "string",
                              "description": "nationality"
                            },
                            "mrzVerified": {
                              "type": "boolean",
                              "description": "mrzVerified"
                            },
                            "mrzParsed": {
                              "type": "boolean",
                              "description": "mrzParsed"
                            },
                            "immigrantCaseNumber": {
                              "type": "string",
                              "description": "immigrantCaseNumber"
                            }
                          },
                          "description": "mrzData"
                        },
                        "age": {
                          "type": "integer",
                          "format": "int32",
                          "description": "age"
                        },
                        "isBelowAgeLimit": {
                          "type": "boolean",
                          "description": "isBelowAgeLimit"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "result"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Scan the front side of ID documents",
        "operationId": "ExecuteBlinkID",
        "description": "Extract data from the front side of the identity document.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mb-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "AZURE",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "allowBlurFilter": {
                  "type": "boolean",
                  "description": "allowBlurFilter",
                  "title": "Allow blur filter"
                },
                "allowUnparsedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnparsedMrzResults",
                  "title": "Allow unparsed MRZ results",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "allowUnverifiedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnverifiedMrzResults",
                  "title": "Allow unverified MRZ results",
                  "enum": [
                    true,
                    false
                  ]
                },
                "ageLimit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ageLimit",
                  "title": "Age limt",
                  "default": 18
                },
                "imageSource": {
                  "type": "string",
                  "description": "imageSource",
                  "title": "Image base64"
                },
                "validateResultCharacters": {
                  "type": "boolean",
                  "description": "validateResultCharacters",
                  "title": "Validate result characters",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "anonymizeImage": {
                  "type": "boolean",
                  "description": "anonymizeImage",
                  "title": "Anonymize image",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                }
              },
              "required": [
                "imageSource"
              ]
            }
          }
        ]
      }
    },
    "/recognizers/blinkid-combined": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "executionId": {
                  "type": "string",
                  "description": "executionId"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "recognizer": {
                      "type": "string",
                      "description": "recognizer"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "startTime"
                    },
                    "finishTime": {
                      "type": "string",
                      "description": "finishTime"
                    },
                    "durationTimeInSeconds": {
                      "type": "number",
                      "format": "float",
                      "description": "durationTimeInSeconds"
                    },
                    "taskId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "taskId"
                    },
                    "workerId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workerId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "dataMatchResult": {
                          "type": "string",
                          "description": "dataMatchResult"
                        },
                        "documentFrontImageColorStatus": {
                          "type": "string",
                          "description": "documentFrontImageColorStatus"
                        },
                        "documentBackImageColorStatus": {
                          "type": "string",
                          "description": "documentBackImageColorStatus"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "fullName": {
                          "type": "string",
                          "description": "fullName"
                        },
                        "address": {
                          "type": "string",
                          "description": "address"
                        },
                        "dateOfBirth": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfBirth"
                        },
                        "dateOfIssue": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfIssue"
                        },
                        "dateOfExpiry": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfExpiry"
                        },
                        "documentNumber": {
                          "type": "string",
                          "description": "documentNumber"
                        },
                        "sex": {
                          "type": "string",
                          "description": "sex"
                        },
                        "driverLicenseDetailedInfo": {
                          "type": "object",
                          "properties": {
                            "endorsements": {
                              "type": "string",
                              "description": "endorsements"
                            },
                            "restrictions": {
                              "type": "string",
                              "description": "restrictions"
                            },
                            "vehicleClass": {
                              "type": "string",
                              "description": "vehicleClass"
                            }
                          },
                          "description": "driverLicenseDetailedInfo"
                        },
                        "additionalNameInformation": {
                          "type": "string",
                          "description": "additionalNameInformation"
                        },
                        "additionalAddressInformation": {
                          "type": "string",
                          "description": "additionalAddressInformation"
                        },
                        "placeOfBirth": {
                          "type": "string",
                          "description": "placeOfBirth"
                        },
                        "nationality": {
                          "type": "string",
                          "description": "nationality"
                        },
                        "race": {
                          "type": "string",
                          "description": "race"
                        },
                        "religion": {
                          "type": "string",
                          "description": "religion"
                        },
                        "profession": {
                          "type": "string",
                          "description": "profession"
                        },
                        "maritalStatus": {
                          "type": "string",
                          "description": "maritalStatus"
                        },
                        "residentialStatus": {
                          "type": "string",
                          "description": "residentialStatus"
                        },
                        "employer": {
                          "type": "string",
                          "description": "employer"
                        },
                        "personalIdNumber": {
                          "type": "string",
                          "description": "personalIdNumber"
                        },
                        "documentAdditionalNumber": {
                          "type": "string",
                          "description": "documentAdditionalNumber"
                        },
                        "issuingAuthority": {
                          "type": "string",
                          "description": "issuingAuthority"
                        },
                        "conditions": {
                          "type": "string",
                          "description": "conditions"
                        },
                        "localizedName": {
                          "type": "string",
                          "description": "localizedName"
                        },
                        "dateOfExpiryPermanent": {
                          "type": "boolean",
                          "description": "dateOfExpiryPermanent"
                        },
                        "scanningFirstSideDone": {
                          "type": "boolean",
                          "description": "scanningFirstSideDone"
                        },
                        "classInfo": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "country"
                            },
                            "region": {
                              "type": "string",
                              "description": "region"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          },
                          "description": "classInfo"
                        },
                        "mrzData": {
                          "type": "object",
                          "properties": {
                            "documentCode": {
                              "type": "string",
                              "description": "documentCode"
                            },
                            "dateOfExpiry": {
                              "type": "object",
                              "properties": {
                                "month": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "month"
                                },
                                "year": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "year"
                                },
                                "originalString": {
                                  "type": "string",
                                  "description": "originalString"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "day"
                                },
                                "successfullyParsed": {
                                  "type": "boolean",
                                  "description": "successfullyParsed"
                                }
                              },
                              "description": "dateOfExpiry"
                            },
                            "secondaryId": {
                              "type": "string",
                              "description": "secondaryId"
                            },
                            "gender": {
                              "type": "string",
                              "description": "gender"
                            },
                            "documentType": {
                              "type": "string",
                              "description": "documentType"
                            },
                            "documentNumber": {
                              "type": "string",
                              "description": "documentNumber"
                            },
                            "alienNumber": {
                              "type": "string",
                              "description": "alienNumber"
                            },
                            "issuerName": {
                              "type": "string",
                              "description": "issuerName"
                            },
                            "nationalityName": {
                              "type": "string",
                              "description": "nationalityName"
                            },
                            "applicationReceiptNumber": {
                              "type": "string",
                              "description": "applicationReceiptNumber"
                            },
                            "rawMrzString": {
                              "type": "string",
                              "description": "rawMrzString"
                            },
                            "opt1": {
                              "type": "string",
                              "description": "opt1"
                            },
                            "dateOfBirth": {
                              "type": "object",
                              "properties": {
                                "month": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "month"
                                },
                                "year": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "year"
                                },
                                "originalString": {
                                  "type": "string",
                                  "description": "originalString"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "day"
                                },
                                "successfullyParsed": {
                                  "type": "boolean",
                                  "description": "successfullyParsed"
                                }
                              },
                              "description": "dateOfBirth"
                            },
                            "opt2": {
                              "type": "string",
                              "description": "opt2"
                            },
                            "primaryId": {
                              "type": "string",
                              "description": "primaryId"
                            },
                            "issuer": {
                              "type": "string",
                              "description": "issuer"
                            },
                            "nationality": {
                              "type": "string",
                              "description": "nationality"
                            },
                            "mrzVerified": {
                              "type": "boolean",
                              "description": "mrzVerified"
                            },
                            "mrzParsed": {
                              "type": "boolean",
                              "description": "mrzParsed"
                            },
                            "immigrantCaseNumber": {
                              "type": "string",
                              "description": "immigrantCaseNumber"
                            }
                          },
                          "description": "mrzData"
                        },
                        "age": {
                          "type": "integer",
                          "format": "int32",
                          "description": "age"
                        },
                        "isBelowAgeLimit": {
                          "type": "boolean",
                          "description": "isBelowAgeLimit"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "result"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Scan front and back side of ID documents",
        "operationId": "ExecuteBlinkIDCombined",
        "description": "Extract data from both sides of the identity documents.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mb-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "AZURE",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "allowBlurFilter": {
                  "type": "boolean",
                  "description": "allowBlurFilter",
                  "title": "Allow blur filter",
                  "enum": [
                    true,
                    false
                  ]
                },
                "allowUnparsedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnparsedMrzResults",
                  "title": "Allow unparsed MRZ results",
                  "enum": [
                    true,
                    false
                  ]
                },
                "allowUnverifiedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnverifiedMrzResults",
                  "title": "Allow unverified MRZ results",
                  "enum": [
                    true,
                    false
                  ]
                },
                "skipUnsupportedBack": {
                  "type": "boolean",
                  "description": "skipUnsupportedBack",
                  "title": "Skip unsupported back",
                  "default": true
                },
                "ageLimit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ageLimit",
                  "title": "Age limit",
                  "default": 18
                },
                "imageFrontSide": {
                  "type": "string",
                  "description": "imageFrontSide",
                  "title": "Image front side base64"
                },
                "imageBackSide": {
                  "type": "string",
                  "description": "imageBackSide",
                  "title": "Image back side base64"
                }
              },
              "required": [
                "imageFrontSide"
              ]
            }
          }
        ]
      }
    },
    "/recognizers/mrtd": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "executionId": {
                  "type": "string",
                  "description": "executionId"
                },
                "DEBUG": {
                  "type": "object",
                  "properties": {
                    "EXECUTION_STARTED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "EXECUTION_STARTED"
                    },
                    "IMAGE_LOAD_FROM_URL": {
                      "type": "string",
                      "description": "IMAGE_LOAD_FROM_URL"
                    },
                    "IMAGE_PREPARATION_FINISHED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "IMAGE_PREPARATION_FINISHED"
                    },
                    "OCR_PROCESS_STARTED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "OCR_PROCESS_STARTED"
                    },
                    "TASK_ON_WORKER": {
                      "type": "string",
                      "description": "TASK_ON_WORKER"
                    },
                    "OCR_PROCESS_FINISHED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "OCR_PROCESS_FINISHED"
                    },
                    "BEFORE_RESPONSE": {
                      "type": "integer",
                      "format": "int32",
                      "description": "BEFORE_RESPONSE"
                    }
                  },
                  "description": "DEBUG"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "recognizer": {
                      "type": "string",
                      "description": "recognizer"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "startTime"
                    },
                    "finishTime": {
                      "type": "string",
                      "description": "finishTime"
                    },
                    "durationTimeInSeconds": {
                      "type": "number",
                      "format": "float",
                      "description": "durationTimeInSeconds"
                    },
                    "taskId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "taskId"
                    },
                    "workerId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workerId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "primaryID": {
                          "type": "string",
                          "description": "primaryID"
                        },
                        "secondaryID": {
                          "type": "string",
                          "description": "secondaryID"
                        },
                        "documentCode": {
                          "type": "string",
                          "description": "documentCode"
                        },
                        "documentNumber": {
                          "type": "string",
                          "description": "documentNumber"
                        },
                        "documentType": {
                          "type": "string",
                          "description": "documentType"
                        },
                        "issuer": {
                          "type": "string",
                          "description": "issuer"
                        },
                        "issuerName": {
                          "type": "string",
                          "description": "issuerName"
                        },
                        "sex": {
                          "type": "string",
                          "description": "sex"
                        },
                        "nationality": {
                          "type": "string",
                          "description": "nationality"
                        },
                        "nationalityName": {
                          "type": "string",
                          "description": "nationalityName"
                        },
                        "dateOfBirth": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfBirth"
                        },
                        "dateOfExpiry": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfExpiry"
                        },
                        "alienNumber": {
                          "type": "string",
                          "description": "alienNumber"
                        },
                        "applicationReceiptNumber": {
                          "type": "string",
                          "description": "applicationReceiptNumber"
                        },
                        "immigrantCaseNumber": {
                          "type": "string",
                          "description": "immigrantCaseNumber"
                        },
                        "mrtdVerified": {
                          "type": "boolean",
                          "description": "mrtdVerified"
                        },
                        "opt1": {
                          "type": "string",
                          "description": "opt1"
                        },
                        "opt2": {
                          "type": "string",
                          "description": "opt2"
                        },
                        "rawMRZString": {
                          "type": "string",
                          "description": "rawMRZString"
                        },
                        "age": {
                          "type": "integer",
                          "format": "int32",
                          "description": "age"
                        },
                        "isBelowAgeLimit": {
                          "type": "string",
                          "description": "isBelowAgeLimit"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "result"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Scan ID documents that contain an MRZ",
        "description": "Extract encoded data from the MRZ found on the identity documents.",
        "operationId": "ExecuteMRTD",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mb-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "AZURE",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "detectGlare": {
                  "type": "boolean",
                  "description": "detectGlare",
                  "title": "Detect glare",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "allowUnparsedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnparsedMrzResults",
                  "title": "Allow unparsed MRZ result",
                  "enum": [
                    true,
                    false
                  ]
                },
                "allowUnverifiedMrzResults": {
                  "type": "boolean",
                  "description": "allowUnverifiedMrzResults",
                  "title": "Allow unverified MRZ results",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "imageSource": {
                  "type": "string",
                  "description": "imageSource",
                  "title": "Image base64"
                }
              }
            }
          }
        ]
      }
    },
    "/recognizers/id-barcode": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "executionId": {
                  "type": "string",
                  "description": "executionId"
                },
                "DEBUG": {
                  "type": "object",
                  "properties": {
                    "EXECUTION_STARTED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "EXECUTION_STARTED"
                    },
                    "IMAGE_LOAD_FROM_URL": {
                      "type": "string",
                      "description": "IMAGE_LOAD_FROM_URL"
                    },
                    "IMAGE_PREPARATION_FINISHED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "IMAGE_PREPARATION_FINISHED"
                    },
                    "OCR_PROCESS_STARTED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "OCR_PROCESS_STARTED"
                    },
                    "TASK_ON_WORKER": {
                      "type": "string",
                      "description": "TASK_ON_WORKER"
                    },
                    "OCR_PROCESS_FINISHED": {
                      "type": "integer",
                      "format": "int32",
                      "description": "OCR_PROCESS_FINISHED"
                    },
                    "BEFORE_RESPONSE": {
                      "type": "integer",
                      "format": "int32",
                      "description": "BEFORE_RESPONSE"
                    }
                  },
                  "description": "DEBUG"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "recognizer": {
                      "type": "string",
                      "description": "recognizer"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "startTime"
                    },
                    "finishTime": {
                      "type": "string",
                      "description": "finishTime"
                    },
                    "durationTimeInSeconds": {
                      "type": "number",
                      "format": "float",
                      "description": "durationTimeInSeconds"
                    },
                    "taskId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "taskId"
                    },
                    "workerId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workerId"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "rawDataBase64": {
                          "type": "string",
                          "description": "rawDataBase64"
                        },
                        "stringData": {
                          "type": "string",
                          "description": "stringData"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "fullName": {
                          "type": "string",
                          "description": "fullName"
                        },
                        "additionalNameInformation": {
                          "type": "string",
                          "description": "additionalNameInformation"
                        },
                        "address": {
                          "type": "string",
                          "description": "address"
                        },
                        "additionalAddressInformation": {
                          "type": "string",
                          "description": "additionalAddressInformation"
                        },
                        "placeOfBirth": {
                          "type": "string",
                          "description": "placeOfBirth"
                        },
                        "nationality": {
                          "type": "string",
                          "description": "nationality"
                        },
                        "race": {
                          "type": "string",
                          "description": "race"
                        },
                        "religion": {
                          "type": "string",
                          "description": "religion"
                        },
                        "profession": {
                          "type": "string",
                          "description": "profession"
                        },
                        "maritalStatus": {
                          "type": "string",
                          "description": "maritalStatus"
                        },
                        "residentialStatus": {
                          "type": "string",
                          "description": "residentialStatus"
                        },
                        "employer": {
                          "type": "string",
                          "description": "employer"
                        },
                        "sex": {
                          "type": "string",
                          "description": "sex"
                        },
                        "dateOfBirth": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfBirth"
                        },
                        "dateOfIssue": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfIssue"
                        },
                        "dateOfExpiry": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month"
                            },
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year"
                            },
                            "originalString": {
                              "type": "string",
                              "description": "originalString"
                            }
                          },
                          "description": "dateOfExpiry"
                        },
                        "documentNumber": {
                          "type": "string",
                          "description": "documentNumber"
                        },
                        "personalIdNumber": {
                          "type": "string",
                          "description": "personalIdNumber"
                        },
                        "documentAdditionalNumber": {
                          "type": "string",
                          "description": "documentAdditionalNumber"
                        },
                        "issuingAuthority": {
                          "type": "string",
                          "description": "issuingAuthority"
                        },
                        "age": {
                          "type": "integer",
                          "format": "int32",
                          "description": "age"
                        },
                        "isBelowAgeLimit": {
                          "type": "string",
                          "description": "isBelowAgeLimit"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "result"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Scan ID documents that contain a barcode",
        "description": "Extract data from a barcode found on the identity documents.",
        "operationId": "ExecuteIDBarcode",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mb-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "AZURE",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "imageSource": {
                  "type": "string",
                  "description": "imageSource",
                  "title": "Image base64"
                }
              },
              "required": [
                "imageSource"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://microblink.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://microblink.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}