{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Vonage",
    "description": "The Vonage API Platform enables you to add communications within the context of your applications, including SMS, Voice and Chat. Sign up for a Nexmo account here - https://www.vonage.com/",
    "contact": {
      "name": "Vonage Support",
      "url": "https://www.vonage.co.uk/support",
      "email": "support@vonage.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://vonage.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.vonage.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "host": "api.nexmo.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/messages/": {
      "post": {
        "summary": "Send a message to the given channel",
        "description": "Send a Message",
        "operationId": "SendAMessageToTheGivenChannel",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type for request"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-summary": "Accepted date type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "message_type": {
                  "type": "string",
                  "description": "The type of message to send. You must provide text in this field",
                  "x-ms-summary": "The type of message to send. You must provide text in this field"
                },
                "text": {
                  "type": "string",
                  "description": "The text of message to send; limited to 1000 characters",
                  "x-ms-summary": "The text of message to send; limited to 1000 characters"
                },
                "to": {
                  "type": "string",
                  "description": "The phone number of the message recipient in the E.164 format",
                  "x-ms-summary": "The phone number of the message recipient in the E.164 format"
                },
                "from": {
                  "type": "string",
                  "description": "The phone number of the message recipient in the E.164 format",
                  "x-ms-summary": "The phone number of the message recipient in the E.164 format"
                },
                "channel": {
                  "type": "string",
                  "description": "The channel to send to. You must provide sms in this field",
                  "x-ms-summary": "The channel to send to. You must provide sms in this field"
                },
                "client_ref": {
                  "type": "string",
                  "description": "Client reference of up to 40 characters",
                  "x-ms-summary": "Client reference of up to 40 characters"
                }
              },
              "default": {
                "message_type": "text",
                "text": "Hello World",
                "to": "447123456789"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "202",
            "schema": {
              "type": "object",
              "properties": {
                "message_uuid": {
                  "type": "string",
                  "description": "message_uuid"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                }
              }
            }
          },
          "402": {
            "description": "402",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          }
        }
      }
    },
    "/verify/{format}": {
      "post": {
        "operationId": "VerifyRequest",
        "summary": "Request a verification",
        "description": "Use Verify request to generate and send a PIN to your user",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "format",
            "description": "The response format",
            "x-ms-summary": "The response format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "description": "You can find your API key in your account dashboard https://dashboard.nexmo.com",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string",
            "x-ms-summary": "You can find your API key in your account dashboard https://dashboard.nexmo.com"
          },
          {
            "description": "You can find your API secret in your dashboard https://dashboard.nexmo.com",
            "x-ms-summary": "You can find your API secret in your dashboard https://dashboard.nexmo.com",
            "in": "formData",
            "name": "api_secret",
            "required": true,
            "type": "string"
          },
          {
            "description": "The mobile or landline phone number to verify. Number must be in E.164 format",
            "x-ms-summary": "The mobile or landline phone number to verify. Number must be in E.164 format",
            "in": "formData",
            "name": "number",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specify the two-character country code, verify will then format the number",
            "x-ms-summary": "Specify the two-character country code, verify will then format the number",
            "in": "formData",
            "name": "country",
            "type": "string"
          },
          {
            "description": "An 18-character alphanumeric string, use to personalize the request SMS body",
            "x-ms-summary": "An 18-character alphanumeric string, use to personalize the request SMS body",
            "in": "formData",
            "maxLength": 18,
            "name": "brand",
            "required": true,
            "type": "string"
          },
          {
            "default": "VERIFY",
            "description": "An 11-character alphanumeric string that represents the identity of the sender",
            "x-ms-summary": "An 11-character alphanumeric string that represents the identity of the sender",
            "in": "formData",
            "maxLength": 11,
            "name": "sender_id",
            "type": "string"
          },
          {
            "default": 4,
            "description": "The length of the verification code",
            "x-ms-summary": "The length of the verification code",
            "enum": [
              4,
              6
            ],
            "in": "formData",
            "name": "code_length",
            "type": "integer"
          },
          {
            "default": "en-us",
            "description": "Control the language used for the Verify request",
            "x-ms-summary": "Control the language used for the Verify request",
            "enum": [
              "ar-xa",
              "cs-cz",
              "cy-cy",
              "cy-gb",
              "da-dk",
              "de-de",
              "el-gr",
              "en-au",
              "en-gb",
              "en-in",
              "en-us",
              "es-es",
              "es-mx",
              "es-us",
              "fi-fi",
              "fil-ph",
              "fr-ca",
              "fr-fr",
              "hi-in",
              "hu-hu",
              "id-id",
              "is-is",
              "it-it",
              "ja-jp",
              "ko-kr",
              "nb-no",
              "nl-nl",
              "pl-pl",
              "pt-br",
              "pt-pt",
              "ro-ro",
              "ru-ru",
              "sv-se",
              "th-th",
              "tr-tr",
              "vi-vn",
              "yue-cn",
              "zh-cn",
              "zh-tw"
            ],
            "in": "formData",
            "name": "lg",
            "type": "string"
          },
          {
            "default": 300,
            "description": "How long the generated verification code is valid for, in seconds",
            "x-ms-summary": "How long the generated verification code is valid for, in seconds",
            "in": "formData",
            "maximum": 3600,
            "minimum": 60,
            "name": "pin_expiry",
            "type": "integer"
          },
          {
            "default": 300,
            "description": "Wait time in seconds between attempts to deliver the verification code",
            "x-ms-summary": "Wait time in seconds between attempts to deliver the verification code",
            "in": "formData",
            "maximum": 900,
            "minimum": 60,
            "name": "next_event_wait",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Predefined sequence of SMS and TTS actions to convey the PIN to your user",
            "x-ms-summary": "Predefined sequence of SMS and TTS actions to convey the PIN to your user",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ],
            "in": "formData",
            "name": "workflow_id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/verify/check/{format}": {
      "post": {
        "operationId": "VerifyCheck",
        "summary": "Verify check",
        "description": "Confirms the PIN you received from your user matches the Verify request",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "parameters": [
          {
            "description": "The response format",
            "x-ms-summary": "The response format",
            "enum": [
              "json",
              "xml"
            ],
            "in": "path",
            "name": "format",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string",
            "description" : "Your API Key",
            "x-ms-summary": "Your API Key"
          },
          {
            "in": "formData",
            "name": "api_secret",
            "required": true,
            "type": "string",
            "description" : "Your API Secret",
            "x-ms-summary": "Your API Secret"
          },
          {
            "in": "formData",
            "name": "request_id",
            "required": true,
            "type": "string",
            "maximum": 32,
            "description" : "This is the request_id you received in the response to the Verify request",
            "x-ms-summary": "This is the request_id you received in the response to the Verify request"
          },
          {
            "in": "formData",
            "name": "code",
            "required": true,
            "type": "string",
            "maximum": 6,
            "minimum": 4,
            "description": "The verification code entered by your user",
            "x-ms-summary": "The verification code entered by your user"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request_id": {
                  "type": "string"
                },
                "event_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "price": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "estimated_price_messages_sent": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ni/basic/{format}": {
      "get": {
        "operationId": "BasicNumberInsight",
        "summary": "Provides basic number insight information about a number",
        "description": "Provides basic number insight information about a number",
        "produces": [
          "application/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "format",
            "description": "The response format",
            "x-ms-summary": "The response format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "in": "query",
            "name": "api_key",
            "required": true,
            "type": "string",
            "description": "Your API key",
            "x-ms-summary": "Your API key"
          },
          {
            "in": "query",
            "name": "api_secret",
            "required": true,
            "type": "string",
            "description": "Your API secret",
            "x-ms-summary": "Your API secret"
          },
          {
            "in": "query",
            "name": "number",
            "required": true,
            "type": "string",
            "description": "A phone number that you need insight about in national or international format",
            "x-ms-summary": "A phone number that you need insight about in national or international format"
          },
          {
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "description": "Two-character country code in ISO 3166-1 alpha-2 format eg. GB or US",
            "x-ms-summary": "Two-character country code in ISO 3166-1 alpha-2 format eg. GB or US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "status_message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                },
                "international_format_number": {
                  "type": "string"
                },
                "national_format_number": {
                  "type": "string"
                },
                "country_code": {
                  "type": "string"
                },
                "country_code_iso3": {
                  "type": "string"
                },
                "country_name": {
                  "type": "string"
                },
                "country_prefix": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ni/standard/{format}": {
      "get": {
        "operationId": "StandardNumberInsight",
        "summary": "Provides standard number insight information about a number",
        "description": "Provides standard number insight information about a number",
        "produces": [
          "application/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "format",
            "description": "The response format",
            "x-ms-summary": "The response format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "in": "query",
            "name": "api_key",
            "required": true,
            "type": "string",
            "description": "Your API key",
            "x-ms-summary": "Your API key"
          },
          {
            "in": "query",
            "name": "api_secret",
            "required": true,
            "type": "string",
            "description": "Your API secret",
            "x-ms-summary": "Your API secret"
          },
          {
            "in": "query",
            "name": "number",
            "required": true,
            "type": "string",
            "description": "A phone number that you need insight about in national or international format",
            "x-ms-summary": "A phone number that you need insight about in national or international format"
          },
          {
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "description": "Two-character country code in ISO 3166-1 alpha-2 format eg. GB or US",
            "x-ms-summary": "Two-character country code in ISO 3166-1 alpha-2 format eg. GB or US"
          },
          {
            "in": "query",
            "name": "cnam",
            "type": "string",
            "description": "Set to true to receive phone number owner name in the response",
            "x-ms-summary": "Set to true to receive phone number owner name in the response"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "status_message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                },
                "international_format_number": {
                  "type": "string"
                },
                "national_format_number": {
                  "type": "string"
                },
                "country_code": {
                  "type": "string"
                },
                "country_code_iso3": {
                  "type": "string"
                },
                "country_name": {
                  "type": "string"
                },
                "country_prefix": {
                  "type": "string"
                },
                "request_price": {
                  "type": "string"
                },
                "refund_price": {
                  "type": "string"
                },
                "remaining_balance": {
                  "type": "string"
                },
                "current_carrier": {
                  "type": "object",
                  "properties": {
                    "network_code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "network_type": {
                      "type": "string"
                    }
                  }
                },
                "original_carrier": {
                  "type": "object",
                  "properties": {
                    "network_code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "network_type": {
                      "type": "string"
                    }
                  }
                },
                "ported": {
                  "type": "string"
                },
                "caller_identity": {
                  "type": "object",
                  "properties": {
                    "caller_type": {
                      "type": "string"
                    },
                    "caller_name": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    }
                  }
                },
                "caller_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "caller_type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}