{
  "swagger": "2.0",
  "info": {
    "title": "RescueGroups",
    "description": "Since 2002, RescueGroups.org has provided animal welfare organizations with easy to use, free and low-cost services like the Pet Adoption Portal to help maximize animal adoptions.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.rescuegroups.org",
  "basePath": "/v5/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/public/animals/breeds/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "species": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string",
                                          "description": "The self.",
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Data"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "The self.",
                                    "title": "Self"
                                  }
                                },
                                "title": "Links"
                              }
                            },
                            "title": "Species"
                          }
                        },
                        "title": "Relationships"
                      }
                    }
                  },
                  "title": "Data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "singular": {
                            "type": "string",
                            "description": "The singular.",
                            "title": "Singular"
                          },
                          "plural": {
                            "type": "string",
                            "description": "The plural.",
                            "title": "Plural"
                          },
                          "youngSingular": {
                            "type": "string",
                            "description": "The young singular.",
                            "title": "Young Singular"
                          },
                          "youngPlural": {
                            "type": "string",
                            "description": "The young plural.",
                            "title": "Young Plural"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Included"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    },
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get breeds",
        "description": "Retrieves a list of breeds.",
        "operationId": "Breed",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/animals/breeds/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "species": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string",
                                          "description": "The self.",
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Data"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "The self.",
                                    "title": "Self"
                                  }
                                },
                                "title": "Links"
                              }
                            },
                            "title": "Species"
                          }
                        },
                        "title": "Relationships"
                      }
                    }
                  },
                  "title": "Data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "singular": {
                            "type": "string",
                            "description": "The singular.",
                            "title": "Singular"
                          },
                          "plural": {
                            "type": "string",
                            "description": "The plural.",
                            "title": "Plural"
                          },
                          "youngSingular": {
                            "type": "string",
                            "description": "The young singular.",
                            "title": "Young Singular"
                          },
                          "youngPlural": {
                            "type": "string",
                            "description": "The young plural.",
                            "title": "Young Plural"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Included"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    },
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get breed by ID",
        "description": "Retrieves the breed information by identifier.",
        "operationId": "BreedID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/public/animals/breeds/search/{species}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "species": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string",
                                          "description": "The self.",
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Data"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "The self.",
                                    "title": "Self"
                                  }
                                },
                                "title": "Links"
                              }
                            },
                            "title": "Species"
                          }
                        },
                        "title": "Relationships"
                      }
                    }
                  },
                  "title": "Data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "singular": {
                            "type": "string",
                            "description": "The singular.",
                            "title": "Singular"
                          },
                          "plural": {
                            "type": "string",
                            "description": "The plural.",
                            "title": "Plural"
                          },
                          "youngSingular": {
                            "type": "string",
                            "description": "The young singular.",
                            "title": "Young Singular"
                          },
                          "youngPlural": {
                            "type": "string",
                            "description": "The young plural.",
                            "title": "Young Plural"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Included"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    },
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get breeds by species",
        "description": "Retrieves a list of breeds by species.",
        "operationId": "BreedSpecies",
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "x-ms-summary": "Species",
            "x-ms-url-encoding": "single",
            "description": "The species.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/animals/species/{id}/breeds/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "species": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string",
                                          "description": "The self.",
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Data"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "The self.",
                                    "title": "Self"
                                  }
                                },
                                "title": "Links"
                              }
                            },
                            "title": "Species"
                          }
                        },
                        "title": "Relationships"
                      }
                    }
                  },
                  "title": "Data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "singular": {
                            "type": "string",
                            "description": "The singular.",
                            "title": "Singular"
                          },
                          "plural": {
                            "type": "string",
                            "description": "The plural.",
                            "title": "Plural"
                          },
                          "youngSingular": {
                            "type": "string",
                            "description": "The young singular.",
                            "title": "Young Singular"
                          },
                          "youngPlural": {
                            "type": "string",
                            "description": "The young plural.",
                            "title": "Young Plural"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Included"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    },
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get breeds by species ID",
        "description": "Retrieves a list of breeds by species identifier.",
        "operationId": "BreedSpeciesID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/orgs/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "postalcode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "postalcodePlus4": {
                            "type": "string",
                            "description": "The postal code plus 4 digits.",
                            "title": "Postal Code Plus 4"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "facebookUrl": {
                            "type": "string",
                            "description": "The Facebook URL address.",
                            "title": "Facebook URL"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "isCommonapplicationAccepted": {
                            "type": "boolean",
                            "description": "Whether common application is accepted.",
                            "title": "Is Common Application Accepted"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "The latitude.",
                            "title": "Lat"
                          },
                          "lon": {
                            "type": "number",
                            "format": "float",
                            "description": "The longitude.",
                            "title": "Lon"
                          },
                          "coordinates": {
                            "type": "string",
                            "description": "The coordinates.",
                            "title": "Coordinates"
                          },
                          "citystate": {
                            "type": "string",
                            "description": "The city and state.",
                            "title": "City/State"
                          },
                          "street": {
                            "type": "string",
                            "description": "The street.",
                            "title": "Street"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone.",
                            "title": "Phone"
                          },
                          "serveAreas": {
                            "type": "string",
                            "description": "The areas served.",
                            "title": "Serve Areas"
                          },
                          "services": {
                            "type": "string",
                            "description": "The services.",
                            "title": "Services"
                          },
                          "about": {
                            "type": "string",
                            "description": "The about.",
                            "title": "About"
                          },
                          "adoptionProcess": {
                            "type": "string",
                            "description": "The adoption process.",
                            "title": "Adoption Process"
                          },
                          "adoptionUrl": {
                            "type": "string",
                            "description": "The adoption URL address.",
                            "title": "Adoption URL"
                          },
                          "donationUrl": {
                            "type": "string",
                            "description": "The donation URL address.",
                            "title": "Donation URL"
                          },
                          "sponsorshipUrl": {
                            "type": "string",
                            "description": "The sponsorship URL address.",
                            "title": "Sponsorship URL"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get organizations",
        "description": "Retrieves a list of organizations",
        "operationId": "Organization",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/orgs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "postalcode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "postalcodePlus4": {
                            "type": "string",
                            "description": "The postal code plus 4 digits.",
                            "title": "Postal Code Plus 4"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "facebookUrl": {
                            "type": "string",
                            "description": "The Facebook URL address.",
                            "title": "Facebook URL"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "isCommonapplicationAccepted": {
                            "type": "boolean",
                            "description": "Whether common application is accepted.",
                            "title": "Is Common Application Accepted"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "The latitude.",
                            "title": "Lat"
                          },
                          "lon": {
                            "type": "number",
                            "format": "float",
                            "description": "The longitude.",
                            "title": "Lon"
                          },
                          "coordinates": {
                            "type": "string",
                            "description": "The coordinates.",
                            "title": "Coordinates"
                          },
                          "citystate": {
                            "type": "string",
                            "description": "The city and state.",
                            "title": "City/State"
                          }
                        },
                        "title": "Attributes"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get organization by ID",
        "description": "Retrieve an organization by identifier.",
        "operationId": "OrganizationID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/public/animals/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "adoptedDate": {
                            "type": "string",
                            "description": "The adoption date.",
                            "title": "Adopted Date"
                          },
                          "isAdoptionPending": {
                            "type": "boolean",
                            "description": "Whether adoption is pending.",
                            "title": "Is Adoption Pending"
                          },
                          "ageGroup": {
                            "type": "string",
                            "description": "The age group.",
                            "title": "Age Group"
                          },
                          "ageString": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          },
                          "birthDate": {
                            "type": "string",
                            "description": "The birth date.",
                            "title": "Birth Date"
                          },
                          "isBirthDateExact": {
                            "type": "boolean",
                            "description": "Whether birth date is exact.",
                            "title": "Is Birth Date Exact"
                          },
                          "breedString": {
                            "type": "string",
                            "description": "The breed.",
                            "title": "Breed"
                          },
                          "breedPrimary": {
                            "type": "string",
                            "description": "The primary breed.",
                            "title": "Breed Primary"
                          },
                          "breedPrimaryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The primary breed identifier.",
                            "title": "Breed Primary ID"
                          },
                          "breedSecondary": {
                            "type": "string",
                            "description": "The secondary breed.",
                            "title": "Breed Secondary"
                          },
                          "breedSecondaryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The secondary breed identifier.",
                            "title": "Breed Secondary ID"
                          },
                          "colorDetails": {
                            "type": "string",
                            "description": "The color details.",
                            "title": "Color Details"
                          },
                          "isCourtesyListing": {
                            "type": "boolean",
                            "description": "Whether listing is courtesy.",
                            "title": "Is Courtesy Listing"
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "The description in HTML.",
                            "title": "Description Html"
                          },
                          "descriptionText": {
                            "type": "string",
                            "description": "The description text.",
                            "title": "Description Text"
                          },
                          "isNeedingFoster": {
                            "type": "boolean",
                            "description": "Whether is needing foster.",
                            "title": "Is Needing Foster"
                          },
                          "isFound": {
                            "type": "boolean",
                            "description": "Whether was found.",
                            "title": "Is Found"
                          },
                          "priority": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The priority.",
                            "title": "Priority"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "pictureCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The picture count.",
                            "title": "Picture Count"
                          },
                          "pictureThumbnailUrl": {
                            "type": "string",
                            "description": "The thumbnail picture URL address.",
                            "title": "Picture Thumbnail URL"
                          },
                          "searchString": {
                            "type": "string",
                            "description": "The search string.",
                            "title": "Search String"
                          },
                          "sex": {
                            "type": "string",
                            "description": "The sex.",
                            "title": "Sex"
                          },
                          "sizeUOM": {
                            "type": "string",
                            "description": "The size unit of measurement.",
                            "title": "Size UOM"
                          },
                          "slug": {
                            "type": "string",
                            "description": "The slug.",
                            "title": "Slug"
                          },
                          "isSponsorable": {
                            "type": "boolean",
                            "description": "Whether is sponsorable.",
                            "title": "Is Sponsorable"
                          },
                          "trackerimageUrl": {
                            "type": "string",
                            "description": "The tracker image URL address.",
                            "title": "Tracker Image URL"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "videoCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The video count.",
                            "title": "Video Count"
                          },
                          "videoUrlCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The video URL count.",
                            "title": "Video URL Count"
                          },
                          "createdDate": {
                            "type": "string",
                            "description": "The date created.",
                            "title": "Created Date"
                          },
                          "updatedDate": {
                            "type": "string",
                            "description": "When updated date.",
                            "title": "Updated Date"
                          },
                          "activityLevel": {
                            "type": "string",
                            "description": "The activity level.",
                            "title": "Activity Level"
                          },
                          "adoptionFeeString": {
                            "type": "string",
                            "description": "The adoption fee.",
                            "title": "Adoption Fee"
                          },
                          "isBreedMixed": {
                            "type": "boolean",
                            "description": "Whether is a mixed breed.",
                            "title": "Is Breed Mixed"
                          },
                          "isCatsOk": {
                            "type": "boolean",
                            "description": "Whether is okay with cats.",
                            "title": "Is Cats Ok"
                          },
                          "coatLength": {
                            "type": "string",
                            "description": "The coat length.",
                            "title": "Coat Length"
                          },
                          "isCurrentVaccinations": {
                            "type": "boolean",
                            "description": "Whether is current with vaccinations.",
                            "title": "Is Current Vaccinations"
                          },
                          "isDogsOk": {
                            "type": "boolean",
                            "description": "Whether is okay with dogs.",
                            "title": "Is Dogs Ok"
                          },
                          "isKidsOk": {
                            "type": "boolean",
                            "description": "Whether is okay with kids.",
                            "title": "Is Kids Ok"
                          },
                          "newPeopleReaction": {
                            "type": "string",
                            "description": "The reaction with new people.",
                            "title": "New People Reaction"
                          },
                          "ownerExperience": {
                            "type": "string",
                            "description": "The previous owner experience.",
                            "title": "Owner Experience"
                          },
                          "sizeCurrent": {
                            "type": "number",
                            "format": "float",
                            "description": "The current size.",
                            "title": "Size Current"
                          },
                          "sizeGroup": {
                            "type": "string",
                            "description": "The group size.",
                            "title": "Size Group"
                          },
                          "sizePotential": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The potential size.",
                            "title": "Size Potential"
                          },
                          "isSpecialNeeds": {
                            "type": "boolean",
                            "description": "Whether is special needs.",
                            "title": "Is Special Needs"
                          },
                          "availableDate": {
                            "type": "string",
                            "description": "The date available.",
                            "title": "Available Date"
                          },
                          "isHousetrained": {
                            "type": "boolean",
                            "description": "Whether is house-trained.",
                            "title": "Is House-trained"
                          },
                          "rescueId": {
                            "type": "string",
                            "description": "The rescue identifier.",
                            "title": "Rescue ID"
                          },
                          "adultSexesOk": {
                            "type": "string",
                            "description": "The adult sexes okay with.",
                            "title": "Adult Sexes Ok"
                          },
                          "energyLevel": {
                            "type": "string",
                            "description": "The energy level.",
                            "title": "Energy Level"
                          },
                          "fenceNeeds": {
                            "type": "string",
                            "description": "The fence needs.",
                            "title": "Fence Needs"
                          },
                          "groomingNeeds": {
                            "type": "string",
                            "description": "The grooming needs.",
                            "title": "Grooming Needs"
                          },
                          "obedienceTraining": {
                            "type": "string",
                            "description": "The obedience training.",
                            "title": "Obedience Training"
                          },
                          "qualities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The qualities.",
                            "title": "Qualities"
                          },
                          "vocalLevel": {
                            "type": "string",
                            "description": "The vocal level.",
                            "title": "Vocal Level"
                          },
                          "isYardRequired": {
                            "type": "boolean",
                            "description": "Whether yard is required.",
                            "title": "Is Yard Required"
                          },
                          "specialNeedsDetails": {
                            "type": "string",
                            "description": "The special needs details.",
                            "title": "Special Needs Details"
                          },
                          "exerciseNeeds": {
                            "type": "string",
                            "description": "The exercise needs.",
                            "title": "Exercise Needs"
                          },
                          "indoorOutdoor": {
                            "type": "string",
                            "description": "The indoor and outdoor preference.",
                            "title": "Indoor Outdoor"
                          },
                          "sheddingLevel": {
                            "type": "string",
                            "description": "The shedding level.",
                            "title": "Shedding Level"
                          },
                          "summary": {
                            "type": "string",
                            "description": "The summary.",
                            "title": "Summary"
                          },
                          "isDeclawed": {
                            "type": "boolean",
                            "description": "Whether is declawed.",
                            "title": "Is Declawed"
                          },
                          "earType": {
                            "type": "string",
                            "description": "The ear type.",
                            "title": "Ear Type"
                          },
                          "eyeColor": {
                            "type": "string",
                            "description": "The eye color.",
                            "title": "Eye Color"
                          },
                          "tailType": {
                            "type": "string",
                            "description": "The tail type.",
                            "title": "Tail Type"
                          },
                          "killReason": {
                            "type": "string",
                            "description": "The kill reason.",
                            "title": "Kill Reason"
                          }
                        },
                        "title": "Attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "breeds": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Breeds"
                          },
                          "species": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Species"
                          },
                          "statuses": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Statuses"
                          },
                          "locations": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Locations"
                          },
                          "orgs": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Orgs"
                          },
                          "pictures": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Pictures"
                          },
                          "colors": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Colors"
                          },
                          "videourls": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  }
                                },
                                "title": "Data"
                              }
                            },
                            "title": "Video URLs"
                          }
                        },
                        "title": "Relationships"
                      }
                    }
                  },
                  "title": "Data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "singular": {
                            "type": "string",
                            "description": "The singular.",
                            "title": "Singular"
                          },
                          "plural": {
                            "type": "string",
                            "description": "The plural.",
                            "title": "Plural"
                          },
                          "youngSingular": {
                            "type": "string",
                            "description": "The young singular.",
                            "title": "Young Singular"
                          },
                          "youngPlural": {
                            "type": "string",
                            "description": "The young plural.",
                            "title": "Young Plural"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "street": {
                            "type": "string",
                            "description": "The street.",
                            "title": "Street"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "citystate": {
                            "type": "string",
                            "description": "The city and state.",
                            "title": "City/State"
                          },
                          "postalcode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone.",
                            "title": "Phone"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "The latitude.",
                            "title": "Lat"
                          },
                          "lon": {
                            "type": "number",
                            "format": "float",
                            "description": "The longitude.",
                            "title": "Lon"
                          },
                          "coordinates": {
                            "type": "string",
                            "description": "The coordinates.",
                            "title": "Coordinates"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "facebookUrl": {
                            "type": "string",
                            "description": "The Facebook URL address.",
                            "title": "Facebook URL"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "original": {
                            "type": "object",
                            "properties": {
                              "filesize": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The file size.",
                                "title": "File Size"
                              },
                              "resolutionX": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The x resolution.",
                                "title": "Resolution X"
                              },
                              "resolutionY": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The y resolution.",
                                "title": "Resolution Y"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Original"
                          },
                          "large": {
                            "type": "object",
                            "properties": {
                              "filesize": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The file size.",
                                "title": "File Size"
                              },
                              "resolutionX": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The x resolution.",
                                "title": "Resolution X"
                              },
                              "resolutionY": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The y resolution.",
                                "title": "Resolution Y"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Large"
                          },
                          "small": {
                            "type": "object",
                            "properties": {
                              "filesize": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The file size.",
                                "title": "File Size"
                              },
                              "resolutionX": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The x resolution.",
                                "title": "Resolution X"
                              },
                              "resolutionY": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The y resolution.",
                                "title": "Resolution Y"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Small"
                          },
                          "order": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The order.",
                            "title": "Order"
                          },
                          "created": {
                            "type": "string",
                            "description": "When created.",
                            "title": "Created"
                          },
                          "updated": {
                            "type": "string",
                            "description": "When updated.",
                            "title": "Updated"
                          },
                          "services": {
                            "type": "string",
                            "description": "The services.",
                            "title": "Services"
                          },
                          "adoptionProcess": {
                            "type": "string",
                            "description": "The adoption process.",
                            "title": "Adoption Process"
                          },
                          "about": {
                            "type": "string",
                            "description": "The about.",
                            "title": "About"
                          },
                          "adoptionUrl": {
                            "type": "string",
                            "description": "The adoption URL address.",
                            "title": "Adoption URL"
                          },
                          "donationUrl": {
                            "type": "string",
                            "description": "The donation URL address.",
                            "title": "Donation URL"
                          },
                          "videoId": {
                            "type": "string",
                            "description": "The video identifier.",
                            "title": "Video ID"
                          },
                          "urlThumbnail": {
                            "type": "string",
                            "description": "The thumbnail URL address.",
                            "title": "URL Thumbnail"
                          }
                        },
                        "title": "Attributes"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "The self.",
                            "title": "Self"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Included"
                }
              }
            }
          }
        },
        "summary": "Get animals",
        "description": "Retrieve a list of animals.",
        "operationId": "Animal",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/public/animals/search/{status}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "countReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count returned.",
                      "title": "Count Returned"
                    },
                    "pageReturned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page returned.",
                      "title": "Page Returned"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "transactionId": {
                      "type": "string",
                      "description": "The transaction identifier.",
                      "title": "Transaction ID"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "isAdoptionPending": {
                            "type": "boolean",
                            "description": "Whether adoption is pending.",
                            "title": "Is Adoption Pending"
                          },
                          "ageGroup": {
                            "type": "string",
                            "description": "The age group.",
                            "title": "Age Group"
                          },
                          "ageString": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          },
                          "birthDate": {
                            "type": "string",
                            "description": "The birth date.",
                            "title": "Birth Date"
                          },
                          "isBirthDateExact": {
                            "type": "boolean",
                            "description": "Whether birth date is exact.",
                            "title": "Is Birth Date Exact"
                          },
                          "breedString": {
                            "type": "string",
                            "description": "The breed.",
                            "title": "Breed"
                          },
                          "breedPrimary": {
                            "type": "string",
                            "description": "The primary breed.",
                            "title": "Breed Primary"
                          },
                          "breedPrimaryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The primary breed identifier.",
                            "title": "Breed Primary ID"
                          },
                          "breedSecondary": {
                            "type": "string",
                            "description": "The secondary breed.",
                            "title": "Breed Secondary"
                          },
                          "breedSecondaryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The secondary breed identifier.",
                            "title": "Breed Secondary ID"
                          },
                          "coatLength": {
                            "type": "string",
                            "description": "The coat length.",
                            "title": "Coat Length"
                          },
[...]
