{
  "swagger": "2.0",
  "info": {
    "description": "Sms77.io offers you the possibility to send SMS, text2voice messages, perform home register lookups, mobile number portability status lookups, phone number formats and much more.",
    "version": "1.0.0",
    "title": "sms77io",
    "termsOfService": "https://sms77.io/en/company/terms/",
    "contact": {
      "email": "support@sms77.io",
      "url": "https://sms77.io/en/company/contact",
      "name": "Support"
    },
    "license": {
      "name": "Licensed by Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "gateway.sms77.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.sms77.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.sms77.io/en/company/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/analytics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "end",
            "description": "End date of the statistics. Defaults to the current day.",
            "type": "string",
            "x-ms-summary": "End Date"
          },
          {
            "in": "query",
            "name": "start",
            "description": "Start date of the statistics in the format YYYY-MM-DD. By default, the date of 30 days ago is set.",
            "type": "string",
            "x-ms-summary": "Start Date"
          },
          {
            "in": "query",
            "name": "label",
            "description": "Shows only data of a specific label.",
            "type": "string",
            "x-ms-summary": "Label"
          },
          {
            "in": "query",
            "name": "subaccounts",
            "description": "Receive the data only for the main account, all your (sub-)accounts or only for specific subaccounts.",
            "type": "string",
            "x-ms-summary": "Subaccounts"
          },
          {
            "in": "query",
            "name": "group_by",
            "description": "Defines the grouping of the data.",
            "type": "string",
            "x-ms-summary": "Group By"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The date the numbers refer to."
                      },
                      "country": {
                        "type": "string",
                        "description": "The country the numbers refer to."
                      },
                      "sms": {
                        "type": "integer",
                        "description": "The amount of outgoing SMS for this day."
                      },
                      "voice": {
                        "type": "integer",
                        "description": "The amount of voice calls for this day."
                      },
                      "hlr": {
                        "type": "integer",
                        "description": "The amount of HLR lookups for this day."
                      },
                      "mnp": {
                        "type": "integer",
                        "description": "The amount of MNP lookups for this day."
                      },
                      "inbound": {
                        "type": "integer",
                        "description": "The amount of inbound messages for this day."
                      },
                      "usage_eur": {
                        "type": "number",
                        "description": "The total costs for this day."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get Analytics",
        "description": "Retrieves analytics for the associated API key",
        "operationId": "Analytics"
      }
    },
    "/balance": {
      "get": {
        "tags": [
          "balance"
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Get Balance",
        "description": "Retrieves the account balance for given API key",
        "operationId": "Balance"
      }
    },
    "/journal": {
      "get": {
        "tags": [
          "journal"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "The type of logbook you want to query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Journal Type",
            "enum": [
              "outbound",
              "inbound",
              "voice",
              "replies"
            ]
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of a message",
            "type": "integer",
            "x-ms-summary": "ID"
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "A start date from which the search should start",
            "type": "string",
            "x-ms-summary": "Date From"
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "An end date up to which the search is to be performed",
            "type": "string",
            "x-ms-summary": "Date To"
          },
          {
            "in": "query",
            "name": "to",
            "description": "The receivers phone number in any format.",
            "type": "string",
            "x-ms-summary": "To"
          },
          {
            "in": "query",
            "name": "state",
            "description": "The status of the message. - could be e.g. completed / failed for Voice or DELIVERED / NOTDELIVERED etc. for SMS",
            "type": "string",
            "x-ms-summary": "State"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The message ID."
                      },
                      "to": {
                        "type": "string",
                        "description": "The message recipient."
                      },
                      "from": {
                        "type": "string",
                        "description": "The message sender."
                      },
                      "text": {
                        "type": "string",
                        "description": "The message text."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The message timestamp."
                      },
                      "price": {
                        "type": "string",
                        "description": "The message price."
                      },
                      "dlr": {
                        "type": "string",
                        "description": "The message delivery report."
                      },
                      "dlr_timestamp": {
                        "type": "string",
                        "description": "The message delivery report timestamp."
                      },
                      "mccmnc": {
                        "type": "string",
                        "description": "The mobile country code / mobile network code."
                      },
                      "latency": {
                        "type": "string",
                        "description": "The message delivery latency."
                      },
                      "type": {
                        "type": "string",
                        "description": "The SMS type."
                      },
                      "connection": {
                        "type": "string",
                        "description": "The connection type."
                      },
                      "label": {
                        "type": "string",
                        "description": "The label used for this message."
                      },
                      "foreign_id": {
                        "type": "string",
                        "description": "The foreign ID used for this message."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get Journal",
        "description": "Retrieves journals for the associated API key",
        "operationId": "Journal"
      }
    },
    "/lookup": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "lookup"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "type",
            "description": "The type of lookup to perform",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Type",
            "enum": [
              "cnam",
              "format",
              "hlr",
              "mnp"
            ]
          },
          {
            "in": "formData",
            "name": "number",
            "description": "The phone number to look up",
            "required": true,
            "type": "string",
            "x-ms-summary": "Number"
          },
          {
            "in": "formData",
            "name": "json",
            "description": "Determines whether the response shall be returned in JSON format. Works only if \"type\" is set to \"mnp\".",
            "type": "string",
            "x-ms-summary": "JSON"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "enum": [
                        100,
                        202,
                        500,
                        600
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Determines if the request was successful.,"
                    },
                    "international": {
                      "type": "string",
                      "description": "The number formatted accordingly to the E.164 standard."
                    },
                    "international_formatted": {
                      "type": "string",
                      "description": "The number formatted accordingly to the E.164 standard in a human readable format."
                    },
                    "name": {
                      "type": "string"
                    },
                    "Number": {
                      "type": "string",
                      "description": "The number formatted accordingly to the E.164 standard in a human readable format."
                    },
                    "national": {
                      "type": "string",
                      "description": "The number in a domestic number format."
                    },
                    "country_iso": {
                      "type": "string",
                      "description": "The two digit ISO 3166-1 alpha-2 country code."
                    },
                    "country_name": {
                      "type": "string",
                      "description": "The full english name if the number belonging country."
                    },
                    "country_code": {
                      "type": "string",
                      "description": "The area code of the number belonging country. This value is numeric."
                    },
                    "carrier": {
                      "type": "string",
                      "description": "The (former) mobile carrier the number got issued to on initial number release."
                    },
                    "status": {
                      "type": "string"
                    },
                    "international_format_number": {
                      "type": "string"
                    },
                    "national_format_number": {
                      "type": "string"
                    },
                    "country_code_iso3": {
                      "type": "string"
                    },
                    "country_prefix": {
                      "type": "string"
                    },
                    "ported": {
                      "type": "string",
                      "enum": [
                        "unknown",
                        "ported",
                        "not_ported",
                        "assumed_not_ported",
                        "assumed_ported"
                      ]
                    },
                    "current_carrier": {
                      "schema": {
                        "$ref": "#/definitions/Carrier"
                      }
                    },
                    "original_carrier": {
                      "schema": {
                        "$ref": "#/definitions/Carrier"
                      }
                    },
                    "lookup_outcome": {
                      "type": "string"
                    },
                    "lookup_outcome_message": {
                      "type": "string"
                    },
                    "valid_number": {
                      "type": "string"
                    },
                    "reachable": {
                      "type": "string",
                      "enum": [
                        "unknown",
                        "reachable",
                        "undeliverable",
                        "absent",
                        "bad_number",
                        "blacklisted"
                      ]
                    },
                    "roaming": {
                      "schema": {
                        "$ref": "#/definitions/Roaming"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Lookup HLR, CNAM, MNP or Format",
        "description": "Retrieves CNAM, MNP, HLR or number format info",
        "operationId": "Lookup"
      }
    },
    "/pricing": {
      "get": {
        "tags": [
          "pricing"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": "The countries ISO code to get pricing for. Example values are \"de\" for Germany or \"fr\" for France. Omit to show pricing for all channels.",
            "type": "string",
            "x-ms-summary": "Country Restriction"
          },
          {
            "in": "query",
            "name": "format",
            "description": "Determines the response format. Allowed values are json and csv. The default value is json.",
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "default": "csv",
            "x-ms-summary": "Response Format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "text/plain": "countryCode,countryName,countryPrefix,mcc,mncs,networkName,price,features,comment \"DE\";\"Germany\";\"49\";\"262\";\"15\";\" (Airdata)\";\"0.075\";\"\";\"\"",
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countCountries": {
                      "type": "integer",
                      "description": "The number if countries in total."
                    },
                    "countNetworks": {
                      "type": "integer",
                      "description": "The number of total networks."
                    },
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryCode": {
                            "type": "string",
                            "description": "The countries ISO code."
                          },
                          "countryName": {
                            "type": "string",
                            "description": "The countries full name."
                          },
                          "countryPrefix": {
                            "type": "string",
                            "description": "The countries number prefix."
                          },
                          "networks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "comment": {
                                  "description": "Any information which might be of interest.",
                                  "type": "string"
                                },
                                "features": {
                                  "description": "The features supported by this network.",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "networkName": {
                                  "type": "string",
                                  "description": "The full name of the carrier."
                                },
                                "mcc": {
                                  "type": "string",
                                  "description": "The mobile country code."
                                },
                                "mncs": {
                                  "description": "The mobile network code(s).",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "price": {
                                  "type": "number",
                                  "format": "float"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get Pricing",
        "description": "Retrieves pricing information for a single country or all",
        "operationId": "Pricing"
      }
    },
    "/sms": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "sms"
        ],
        "produces": [
          "text/plain; charset=utf-8",
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "text",
            "description": "The actual text message to send - may not exceed 1520 characters",
            "required": true,
            "type": "string",
            "x-ms-summary": "Message Content"
          },
          {
            "in": "formData",
            "name": "to",
            "description": "The recipient number(s) or contact/group name(s) - separate multiple recipients by comma",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipient(s)"
          },
          {
            "in": "formData",
            "name": "from",
            "description": "A custom sender name. A maximum of 11 alphanumeric or 16 numeric characters",
            "type": "string",
            "x-ms-summary": "Sender Identifier"
          },
          {
            "in": "formData",
            "name": "foreign_id",
            "description": "Identifier to return in callbacks for status reports etc.",
            "pattern": "^[A-Z|a-z|0-9|.|\\-|_|@]+",
            "type": "string",
            "x-ms-summary": "Foreign ID"
          },
          {
            "in": "formData",
            "name": "label",
            "description": "A custom label for sorting analytics",
            "pattern": "^[A-Z|a-z|0-9|.|\\-|_|@]+",
            "type": "string",
            "x-ms-summary": "Label"
          },
          {
            "in": "formData",
            "name": "udh",
            "description": "A custom user data deader - if set and message contains hex code, the message gets sent as 8-bit binary",
            "type": "string",
            "x-ms-summary": "User Data Header"
          },
          {
            "in": "formData",
            "name": "delay",
            "description": "Date/Time for delayed dispatch - expects a timestamp \"1141511104\" or date time \"2016-03-04 23:25:04\"",
            "type": "string",
            "x-ms-summary": "Delay"
          },
          {
            "in": "formData",
            "name": "debug",
            "description": "Disable actual message sending",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Debug"
          },
          {
            "in": "formData",
            "name": "no_reload",
            "description": "Allow sending of duplicated messages within 180 seconds",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "No Reload"
          },
          {
            "in": "formData",
            "name": "unicode",
            "description": "Force Unicode encoding - reduces SMS length to 70 characters",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Unicode"
          },
          {
            "in": "formData",
            "name": "flash",
            "description": "Send as flash SMS which appears directly on the recipients screen",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Flash"
          },
          {
            "in": "formData",
            "name": "utf8",
            "description": "Force UTF-8 encoding regardless of server detection",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "UTF-8"
          },
          {
            "in": "formData",
            "name": "details",
            "description": "Attach message details to response",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Details"
          },
          {
            "in": "formData",
            "name": "return_msg_id",
            "description": "Attach message ID to second row in the response",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Return Message ID"
          },
          {
            "in": "formData",
            "name": "json",
            "description": "Return a detailed JSON response",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "JSON"
          },
          {
            "in": "formData",
            "name": "performance_tracking",
            "description": "Enable performance tracking for found URLs",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "default": 0,
            "x-ms-summary": "Performance Tracking"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Send Sms",
        "description": "Sends one or multiple SMS to one or multiple recipients",
        "operationId": "Sms"
      }
    },
    "/status": {
      "get": {
        "tags": [
          "status"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "msg_id",
            "description": "The ID from the SMS to check",
            "required": true,
            "type": "string",
            "x-ms-summary": "Message ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Get SMS Status",
        "description": "Retrieves dispatch status for a given SMS ID",
        "operationId": "Status"
      }
    },
    "/validate_for_voice": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "validate_for_voice"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "number",
            "description": "The number to validate for usage with the Voice API",
            "required": true,
            "type": "string",
            "x-ms-summary": "Number"
          },
          {
            "in": "formData",
            "name": "callback",
            "description": "The optional callback URL to query right after validation",
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Callback"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Validate Caller ID for Voice",
        "description": "Validates the given phone number for the use of voice API",
        "operationId": "ValidateForVoice"
      }
    },
    "/voice": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "voice"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "to",
            "description": "The message receiver - must be a valid phone number or contact from the address book",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipient"
          },
          {
            "in": "formData",
            "name": "text",
            "description": "The text to convert to a voice message - accepts valid TwiML too",
            "type": "string",
            "required": true,
            "maxLength": 10000,
            "x-ms-summary": "Text"
          },
          {
            "in": "formData",
            "name": "xml",
            "description": "Decides whether the parameter \"text\" is plain text or TwiML - the default value is 0",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "x-ms-summary": "XML"
          },
          {
            "in": "formData",
            "name": "debug",
            "description": "Just validates input data, but won't make any calls if enabled",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "x-ms-summary": "Debug"
          },
          {
            "in": "formData",
            "name": "json",
            "description": "Enable to return a detailed JSON response",
            "type": "number",
            "enum": [
              1,
              0
            ],
            "x-ms-summary": "JSON"
          },
          {
            "in": "formData",
            "maxLength": 16,
            "name": "from",
            "description": "Sets the sender - must be a verified sender - use an inbound number of yours or one of ours.",
            "type": "string",
            "x-ms-summary": "From"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Send text-to-speech Voice Call",
        "description": "Sends a text-to-speech message to a given recipient number",
        "operationId": "Voice"
      }
    }
  },
  "definitions": {
    "Carrier": {
      "type": "object",
      "properties": {
        "network_code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "network_type": {
          "type": "string",
          "enum": [
            "fixed_line",
            "fixed_line_or_mobile",
            "mobile",
            "pager",
            "personal_number",
            "premium_rate",
            "shared_cost",
            "toll_free",
            "uan",
            "unknown",
            "voicemail",
            "voip"
          ]
        }
      }
    },
    "Roaming": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "unknown",
            "roaming",
            "not_roaming"
          ]
        },
        "roaming_country_code": {
          "type": "string"
        },
        "roaming_network_code": {
          "type": "string"
        },
        "roaming_network_name": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "sms",
      "externalDocs": {
        "description": "Send one/multiple SMS",
        "url": "https://sms77.io/en/docs/gateway/http-api/sms-disptach"
      }
    },
    {
      "name": "balance",
      "externalDocs": {
        "description": "Retrieve account balance",
        "url": "https://sms77.io/en/docs/gateway/http-api/credit-balance"
      }
    },
    {
      "name": "pricing",
      "externalDocs": {
        "description": "Retrieve pricing information",
        "url": "https://sms77.io/en/docs/gateway/http-api/pricing"
      }
    },
    {
      "name": "status",
      "externalDocs": {
        "description": "Retrieve the status for a sent SMS with the given ID",
        "url": "https://sms77.io/en/docs/gateway/http-api/status-reports"
      }
    },
    {
      "name": "validate_for_voice",
      "externalDocs": {
        "description": "Validate caller ID for voice Voice API",
        "url": "https://sms77.io/en/docs/gateway/http-api/caller-ids"
      }
    },
    {
      "name": "voice",
      "externalDocs": {
        "description": "Issue voice call to phone number",
        "url": "https://sms77.io/en/docs/gateway/http-api/voice"
      }
    },
    {
      "name": "lookup",
      "externalDocs": {
        "description": "Get number format, CNAM,- HLR- or MNP information for given phone number",
        "url": "https://sms77.io/en/docs/gateway/http-api"
      }
    }
  ],
  "externalDocs": {
    "description": "Find out more about the Sms77.io SMS gateway.",
    "url": "https://sms77.io/en/docs/gateway/http-api"
  }
}
