{
  "swagger": "2.0",
  "info": {
    "title": "Telstra SMS",
    "description": "Send SMS & MMS, leveraging Australia's leading mobile network.",
    "version": "1.0",
    "termsOfService": "https://www.telstra.com.au/customer-terms",
    "contact": {
      "name": "Telstra Messaging API",
      "url": "https://dev.telstra.com/apis/messaging-api",
      "email": "telstradev@team.telstra.com"
    }
  },
  "host": "products.api.telstra.com",
  "basePath": "/messaging/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "messageId"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "to": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "to"
                },
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "messageContent": {
                  "type": "string",
                  "description": "messageContent"
                },
                "retryTimeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "retryTimeout"
                },
                "deliveryNotification": {
                  "type": "boolean",
                  "description": "deliveryNotification"
                },
                "statusCallbackUrl": {
                  "type": "string",
                  "description": "statusCallbackUrl"
                },
                "queuePriority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "queuePriority"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "summary": "Send Messages",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Your virtual number or approved Sender Name",
                  "title": "From",
                  "x-ms-visibility": "important"
                },
                "to": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Recipient number",
                    "title": ""
                  },
                  "description": "Recipient number",
                  "title": "To",
                  "x-ms-visibility": "important"
                },
                "messageContent": {
                  "type": "string",
                  "description": "Message content",
                  "title": "Message Content",
                  "x-ms-visibility": "important"
                },
                "retryTimeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Retry Timeout",
                  "title": "Retry Timeout",
                  "x-ms-visibility": "advanced"
                },
                "scheduleSend": {
                  "type": "string",
                  "description": "scheduleSend",
                  "title": "Schedule Send",
                  "x-ms-visibility": "advanced"
                },
                "deliveryNotification": {
                  "type": "boolean",
                  "description": "Delivery Notification",
                  "title": "Delivery Notification",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                },
                "statusCallbackUrl": {
                  "type": "string",
                  "description": "StatusCallbackUrl",
                  "x-ms-visibility": "advanced",
                  "title": "Status Callback URL"
                },
                "multimedia": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Example:image/jpeg",
                        "title": "type"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "fileName"
                      },
                      "payload": {
                        "type": "string",
                        "title": "payload",
                        "description": "base64 encoded content"
                      }
                    }
                  },
                  "description": "multimedia",
                  "title": "Multimedia",
                  "x-ms-visibility": "advanced"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Tag",
                  "title": "Tags",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "from",
                "messageContent",
                "to"
              ]
            }
          },
          {
            "name": "Telstra-api-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "3.x",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "en-au",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept-Charset",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-request-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Telstra SMS Connector",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Send SMS/MMS leveraging Australia's leading mobile network",
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "SendSMS",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/virtual-numbers/{virtual-number}/callback": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "to": {
              "type": "string",
              "description": "to"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            },
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "messageContent": {
              "type": "string",
              "description": "messageContent"
            }
          }
        },
        "description": "Response"
      },
      "post": {
        "tags": [
          "virtual-numbers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "virtualNumber": {
                  "type": "string",
                  "minLength": 10,
                  "maxLength": 10,
                  "example": 67451255,
                  "description": "The Virtual Number assigned to your account."
                },
                "replyCallbackUrl": {
                  "type": "string",
                  "example": "http://www.example.com",
                  "description": "The URL that replies to the Virtual Number will be posted to."
                },
                "tags": {
                  "description": "Any customisable tags assigned to the Virtual Number.",
                  "type": "array",
                  "minItems": 0,
                  "maxItems": 10,
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "lastUse": {
                  "description": "The last time the Virtual Number was used to send a message.",
                  "type": "string",
                  "minLength": 24,
                  "maxLength": 24,
                  "format": "date-time"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "summary": "When you receive a Message",
        "description": "When you receive a Message on your virtual number this action will be triggered",
        "operationId": "ReceiveSMS",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "virtual-number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Virtual Number",
            "x-ms-summary": "Virtual Number",
			"x-ms-url-encoding": "single" 
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "replyCallbackUrl": {
                  "type": "string",
                  "description": "replyCallbackUrl",
                  "title": "",
                  "x-ms-summary": "Reply callback URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "replyCallbackUrl"
              ]
            }
          },
          {
            "name": "Telstra-api-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "3.x",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "en-au",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept-Charset",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-request-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Telstra SMS Connector",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/virtual-numbers/{virtual-number}/callback/{id}": {
      "delete": {
        "tags": [
          "virtual-numbers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "virtualNumber": {
                  "type": "string",
                  "description": "virtualNumber"
                },
                "replyCallbackUrl": {
                  "type": "string",
                  "description": "replyCallbackUrl"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "summary": "Delete callback",
        "description": "This action deletes the callback created by the trigger",
        "operationId": "DeleteCallback",
        "parameters": [
          {
            "name": "virtual-number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Virtual number used to create the trigger",
			"x-ms-url-encoding": "single" 
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Callback ID generated by the API when the trigger is registered",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Telstra-api-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "3.x",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept-Charset",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-request-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Telstra SMS Connector",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "Errors": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "code",
        "issue",
        "suggested_action"
      ],
      "properties": {
        "code": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100,
          "description": "Unique code of the error"
        },
        "issue": {
          "type": "string",
          "minLength": 1,
          "maxLength": 99999,
          "description": "The reason for the error"
        },
        "suggested_action": {
          "type": "string",
          "minLength": 1,
          "maxLength": 99999,
          "description": "Suggest practical actions for this particular issue."
        },
        "field": {
          "type": "string",
          "minLength": 1,
          "maxLength": 99999,
          "description": "The field that caused the error"
        },
        "value": {
          "type": "string",
          "minLength": 1,
          "maxLength": 99999,
          "description": "The value of the field that caused the error"
        },
        "location": {
          "type": "string",
          "description": "The location of the field that caused the error.",
          "enum": [
            "body",
            "path",
            "query"
          ]
        },
        "link": {
          "type": "string",
          "minLength": 1,
          "maxLength": 99999,
          "description": "URI for detailed information related to this error for the developer."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.telstra.com.au/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.telstra.com.au/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}