{
  "swagger": "2.0",
  "info": {
    "title": "iManage Insight Plus",
    "description": "iManage Insight Plus connector empowers users to manage their organization's knowledge assets, making sure all files are secure within the iManage Work ecosystem.",
    "version": "1.0",
    "contact": {
      "name": "iManage LLC",
      "url": "https://docs.imanage.com",
      "email": "cloudsupport@imanage.com"
    }
  },
  "host": "cloudimanage.com",
  "basePath": "/automate/work",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getCurationPropertiesForDocument": {
      "post": {
        "summary": "Get curation properties of a document",
        "description": "Gets curation properties of a document.",
        "tags": [
          "Documents"
        ],
        "x-im-controller": "document.controllers",
        "operationId": "GetCurationPropertiesForDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "documentId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+\\.[0-9]+$",
                  "title": "Document ID",
                  "description": "Specifies the ID of the document. For example, 'ACTIVE_US!453.1'.",
                  "x-ms-visibility": "important"
                },
                "latest": {
                  "type": "boolean",
                  "title": "Latest",
                  "description": "Specifies to get the latest version of the document.",
                  "x-ms-visibility": "important",
                  "default": false
                }
              },
              "required": [
                "documentId",
                "latest"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "curation": {
                      "$ref": "#/definitions/CurationProperties"
                    },
                    "is_latest": {
                      "type": "boolean",
                      "title": "Is Latest",
                      "description": "Indicates if this is the latest version of the document."
                    },
                    "latest": {
                      "type": "string",
                      "title": "Latest Version",
                      "description": "Indicates the latest version number of the document."
                    },
                    "full_file_name": {
                      "type": "string",
                      "title": "Full File Name",
                      "description": "Indicates the full file name of the document. Includes the file name extension."
                    },
                    "basic_properties": {
                      "type": "string",
                      "title": "Basic Document Properties",
                      "description": "Indicates an embeddable '<span>' element that contains basic document properties."
                    },
                    "document_url": {
                      "type": "string",
                      "title": "Document URL",
                      "description": "Indicates the sharable link for the document."
                    }
                  },
                  "required": [
                    "curation",
                    "is_latest",
                    "latest",
                    "full_file_name",
                    "basic_properties",
                    "document_url"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/setCurationPropertiesForDocument": {
      "post": {
        "summary": "Set curation properties on a document",
        "description": "Sets curation properties on a document.",
        "tags": [
          "Documents"
        ],
        "x-im-controller": "document.controllers",
        "operationId": "SetCurationPropertiesForDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "documentId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+\\.[0-9]+$",
                  "title": "Document ID",
                  "x-ms-visibility": "important",
                  "description": "Specifies the ID of the document. For example, 'ACTIVE_US!453.1'."
                },
                "approver": {
                  "type": "string",
                  "title": "Approvers",
                  "x-ms-visibility": "important",
                  "description": "Specifies the SSIDs of one or more approvers for the document. Multiple values must be a semicolon-separated list."
                },
                "drafting_notes": {
                  "type": "string",
                  "title": "Drafting Notes",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies notes or usage instructions for the document. Maximum 16,384 bytes."
                },
                "is_maintained": {
                  "type": "boolean",
                  "title": "Is Maintained",
                  "x-ms-visibility": "important",
                  "description": "Specifies if the document is actively maintained."
                },
                "knowledge_owner": {
                  "type": "string",
                  "title": "Knowledge Owners",
                  "x-ms-visibility": "important",
                  "description": "Specifies the SSIDs of one or more owners responsible for maintaining the document. Multiple values must be a semicolon-separated list."
                },
                "knowledge_type": {
                  "type": "string",
                  "title": "Knowledge Types",
                  "x-ms-visibility": "important",
                  "description": "Specifies one or more knowledge types for the document. Custom values entered must be SSIDs. Multiple values must be a semicolon-separated list.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetKnowledgeTypes",
                    "value-collection": "data",
                    "value-title": "id",
                    "value-path": "ssid",
                    "parameters": {
                      "libraryId": {
                        "parameter": "documentId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetKnowledgeTypes",
                    "itemsPath": "data",
                    "itemTitlePath": "id",
                    "itemValuePath": "ssid",
                    "parameters": {
                      "libraryId": {
                        "parameterReference": "body/documentId"
                      }
                    }
                  }
                },
                "language": {
                  "type": "string",
                  "title": "Languages",
                  "x-ms-visibility": "important",
                  "description": "Specifies one or more languages for the document (in ISO 639-2/T format). Custom values entered must be language codes. Multiple values must be a semicolon-separated list.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetKnowledgeLanguageOptions",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "code"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetKnowledgeLanguageOptions",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "code"
                  }
                },
                "last_review_date": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Last Review Date",
                  "x-ms-visibility": "important",
                  "description": "Specifies the date and time (in ISO 8601 format) the document was last reviewed."
                },
                "mini_summary": {
                  "type": "string",
                  "title": "Summary",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies summary information about the document. Maximum 4096 bytes."
                },
                "next_review_date": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Next Review Date",
                  "x-ms-visibility": "important",
                  "description": "Specifies the date and time (in ISO 8601 format) the document is next due for review."
                },
                "other_noteworthy": {
                  "type": "string",
                  "title": "Other Noteworthy",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies other notes related to the document. Maximum 4096 bytes."
                },
                "state": {
                  "type": "string",
                  "title": "State",
                  "x-ms-visibility": "important",
                  "description": "Specifies the current state of the document.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetKnowledgeDocumentStates",
                    "value-collection": "data"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetKnowledgeDocumentStates",
                    "itemsPath": "data"
                  }
                },
                "submit_date": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Submit Date",
                  "x-ms-visibility": "important",
                  "description": "Specifies the date and time (in ISO 8601 format) the document was submitted."
                },
                "taxonomy1": {
                  "type": "string",
                  "title": "Taxonomy1",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies one or more SSIDs of taxonomy1 values. Multiple values must be a semicolon-separated list."
                },
                "taxonomy2": {
                  "type": "string",
                  "title": "Taxonomy2",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies one or more SSIDs of taxonomy2 values. Multiple values must be a semicolon-separated list."
                },
                "taxonomy3": {
                  "type": "string",
                  "title": "Taxonomy3",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies one or more SSIDs of taxonomy3 values. Multiple values must be a semicolon-separated list."
                },
                "taxonomy4": {
                  "type": "string",
                  "title": "Taxonomy4",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies one or more SSIDs of taxonomy4 values. Multiple values must be a semicolon-separated list."
                },
                "taxonomy5": {
                  "type": "string",
                  "title": "Taxonomy5",
                  "x-ms-visibility": "advanced",
                  "description": "Specifies one or more SSIDs of taxonomy5 values. Multiple values must be a semicolon-separated list."
                },
                "submitter": {
                  "type": "string",
                  "title": "Submitted By",
                  "x-ms-visibility": "important",
                  "description": "Specifies SSID for the submitter of the document."
                },
                "submitted_doc_id": {
                  "type": "string",
                  "title": "Submitted Document ID",
                  "pattern": "^[^!]+![0-9]+\\.[0-9]+$",
                  "x-ms-visibility": "important",
                  "description": "Specifies the source ID of the submitted document. For example, 'ACTIVE_US!453.1'."
                }
              },
              "required": [
                "documentId"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetCurationPropertiesForDocumentResponseBody"
          }
        }
      }
    },
    "/getKnowledgeLanguageOptions": {
      "get": {
        "summary": "Get language options",
        "description": "Gets language options for the knowledge document.",
        "tags": [
          "Documents"
        ],
        "x-im-controller": "schema.controllers",
        "operationId": "GetKnowledgeLanguageOptions",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "display_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getKnowledgeTypes": {
      "get": {
        "summary": "Get knowledge types",
        "description": "Gets knowledge types for the library.",
        "tags": [
          "Documents"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "GetKnowledgeTypes",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Library ID",
            "description": "Specifies the ID of the library.",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetLibraries",
              "value-collection": "data",
              "value-title": "display_name",
              "value-path": "id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLibraries",
              "itemsPath": "data",
              "itemTitlePath": "display_name",
              "itemValuePath": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "title": "Each Knowledge Type",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created_by": {
                        "type": "object",
                        "properties": {
                          "ssid": {
                            "type": "string",
                            "title": "Created By",
                            "description": "Indicates the unique, system-generated ID of the user who created the knowledge type."
                          }
                        },
                        "required": [
                          "ssid"
                        ]
                      },
                      "create_date": {
                        "type": "string",
                        "title": "Creation Date",
                        "format": "date-time",
                        "description": "Indicates the date and time (in ISO 8601 format) the knowledge type was created."
                      },
                      "description": {
                        "type": "string",
                        "title": "Description",
                        "description": "Indicates the description of the knowledge type."
                      },
                      "edited_by": {
                        "type": "object",
                        "properties": {
                          "ssid": {
                            "type": "string",
                            "title": "Edited By",
                            "description": "Indicates the unique, system-generated ID of the user who last edited the knowledge type."
                          }
                        },
                        "required": [
                          "ssid"
                        ]
                      },
                      "edit_date": {
                        "type": "string",
                        "title": "Edit Date",
                        "format": "date-time",
                        "description": "Indicates the date and time (in ISO 8601 format) the knowledge type was last edited."
                      },
                      "enabled": {
                        "type": "boolean",
                        "title": "Is Enabled",
                        "description": "Indicates if the knowledge type is enabled."
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Indicates the identifying alias of the knowledge type."
                      },
                      "ssid": {
                        "type": "string",
                        "title": "SSID",
                        "description": "Indicates the unique, system-generated ID of the knowledge type."
                      }
                    },
                    "required": [
                      "enabled",
                      "id",
                      "ssid",
                      "created_by",
                      "edited_by"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getKnowledgeDocumentStates": {
      "get": {
        "summary": "Get knowledge document state",
        "description": "Gets states for knowledge document",
        "tags": [
          "Documents"
        ],
        "x-im-controller": "schema.controllers",
        "operationId": "GetKnowledgeDocumentStates",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getCurationConfiguration": {
      "get": {
        "summary": "Get curation configuration",
        "description": "Gets the curation configuration for the specified library, such as the knowledge administrators and folders.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "curation.controllers",
        "operationId": "GetCurationConfiguration",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Library ID",
            "description": "Specifies the ID of the library for which curation configuration is returned.",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetLibraries",
              "value-collection": "data",
              "value-title": "display_name",
              "value-path": "id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLibraries",
              "itemsPath": "data",
              "itemTitlePath": "display_name",
              "itemValuePath": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Getting curation config successful.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "$ref": "#/definitions/CurationFolders"
                    },
                    "knowledge_admins": {
                      "type": "array",
                      "title": "Knowledge Administrators",
                      "description": "Indicates one or more knowledge administrators.",
                      "x-ms-visibility": "important",
                      "items": {
                        "$ref": "#/definitions/KnowledgeAdmin"
                      }
                    },
                    "knowledge_library_id": {
                      "type": "string",
                      "title": "Knowledge Library ID",
                      "description": "Indicates the ID of the knowledge library corresponding to the specified library.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "folders",
                    "knowledge_admins",
                    "knowledge_library_id"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getLibraries": {
      "get": {
        "summary": "Get libraries",
        "description": "Gets a list of libraries to which the user has access.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "library.controllers",
        "operationId": "GetLibraries",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "showAllLibraries",
            "in": "query",
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "internal",
            "required": false
          },
          {
            "name": "hidePreferredLibrary",
            "in": "query",
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "internal",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of libraries.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Library ID",
                        "description": "Indicates the name of the library."
                      },
                      "display_name": {
                        "type": "string",
                        "title": "Library Name",
                        "description": "Indicates the display name of the library."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "worksite",
                          "linksite"
                        ],
                        "title": "Library Type",
                        "description": "Indicates the type of the library. Possible values are 'worksite' or 'linksite'."
                      },
                      "is_hidden": {
                        "type": "boolean",
                        "title": "Is Hidden Library",
                        "description": "Indicates if the library is hidden."
                      }
                    },
                    "required": [
                      "id",
                      "display_name",
                      "type",
                      "is_hidden"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getExtendedPropertyIds": {
      "get": {
        "summary": "Get extended property IDs",
        "description": "Gets extended or curation property IDs based on a specified property namespace and type.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "schema.controllers",
        "operationId": "GetExtendedPropertyIds",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "property_namespace",
            "in": "query",
            "type": "string",
            "enum": [
              "curation",
              "extended_metadata"
            ],
            "x-ms-summary": "Property Namespace",
            "description": "Specifies the property namespace to which the search is limited.",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "name": "property_type",
            "in": "query",
            "type": "string",
            "enum": [
              "lookup",
              "taxonomy",
              "mv_taxonomy",
              "taxonomy_mv_taxonomy",
              "all_core"
            ],
            "x-ms-summary": "Property Type",
            "description": "Specifies the type of property IDs to return.",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "ID",
                        "description": "Indicates the ID of the property.",
                        "type": "string"
                      },
                      "display_name": {
                        "title": "Display Name",
                        "description": "Indicates the display name of the property.",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/searchCurationTaxonomyNodeValues": {
      "post": {
        "summary": "Search curation taxonomy node values",
        "description": "Searches for curation taxonomy node values matching the specified search criteria.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "library.em.controllers",
        "operationId": "SearchCurationTaxonomyNodeValues",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "libraryId": {
                  "type": "string",
                  "title": "Library ID",
                  "description": "Specifies the ID of the library on which to perform the search.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLibraries",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "id"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetLibraries",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "id"
                  }
                },
                "taxonomyProperty": {
                  "type": "string",
                  "title": "Taxonomy Property",
                  "description": "Specifies the taxonomy property for which to search node values.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetExtendedPropertyIds",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "id",
                    "parameters": {
                      "property_namespace": "curation",
                      "property_type": "mv_taxonomy"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetExtendedPropertyIds",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "id",
                    "parameters": {
                      "property_namespace": {
                        "value": "curation"
                      },
                      "property_type": {
                        "value": "mv_taxonomy"
                      }
                    }
                  }
                },
                "id": {
                  "type": "string",
                  "title": "ID",
                  "description": "Specifies the display identifier of the taxonomy node value. This search is not case-sensitive. Partial matches are not supported.",
                  "x-ms-visibility": "important"
                },
                "query": {
                  "type": "string",
                  "title": "Query",
                  "description": "Specifies a query for matching taxonomy node values using a wildcard (*) search, providing partial matches for the display identifier or description.",
                  "x-ms-visibility": "important"
                },
                "enabled_state": {
                  "type": "string",
                  "enum": [
                    "Enabled",
                    "Disabled",
                    "Both Enabled and Disabled"
                  ],
                  "title": "Node State",
                  "description": "Specifies to return only taxonomy node values that are enabled or disabled or both.",
                  "x-ms-visibility": "important",
                  "default": "Enabled"
                },
                "include_path": {
                  "type": "boolean",
                  "title": "Include Path",
                  "description": "Specifies to return the full path to the matching node value. A path is an ordered list beginning with the top-level node in the taxonomy and then all nodes through to the matching node's immediate parent.",
                  "x-ms-visibility": "advanced",
                  "default": false
                },
                "children_of_ssid": {
                  "type": "string",
                  "title": "Ancestor Node SSID",
                  "description": "Specifies the unique, system-generated ID of the taxonomy node to limit the search to.",
                  "x-ms-visibility": "advanced"
                },
                "immediate_children_only": {
                  "type": "boolean",
                  "title": "Immediate Children Only",
                  "description": "Specifies to limit the search results to direct descendants of the taxonomy node specified by 'Ancestor Node SSID'. Search can be limited to the root level of the taxonomy by specifying an empty string for 'Ancestor Node SSID' wrapped in single or double quotes.",
                  "x-ms-visibility": "advanced",
                  "default": true
                }
              },
              "required": [
                "libraryId",
                "taxonomyProperty"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "topMatchingResult": {
                      "type": "object",
                      "title": "Top Matching Node",
                      "description": "Indicates the top matching node of search results.",
                      "properties": {
                        "created_by": {
                          "type": "object",
                          "title": "Created By",
                          "description": "Indicates the user who created the top matching node value.",
                          "properties": {
                            "ssid": {
                              "type": "string",
                              "title": "SSID",
                              "description": "Indicates the unique, system-generated ID for the user who created the top matching node value."
                            }
                          },
                          "required": [
                            "ssid"
                          ]
                        },
                        "create_date": {
                          "type": "string",
                          "title": "Create Date",
                          "description": "Indicates the date and time (in ISO 8601 format) the top matching node value was created."
                        },
                        "description": {
                          "type": "string",
                          "title": "Description",
                          "description": "Indicates the description of the top matching node value."
                        },
                        "edited_by": {
                          "type": "object",
                          "title": "Edited By",
                          "description": "Indicates the user who last edited the top matching node value.",
                          "properties": {
                            "ssid": {
                              "type": "string",
                              "title": "SSID",
                              "description": "Indicates the unique, system-generated ID for the user who last edited the top matching node value."
                            }
                          },
                          "required": [
                            "ssid"
                          ]
                        },
                        "edit_date": {
                          "type": "string",
                          "title": "Edit Date",
                          "description": "Indicates the date and time (in ISO 8601 format) the top matching node value was last edited."
                        },
                        "enabled": {
                          "type": "boolean",
                          "title": "Is Enabled",
                          "description": "Indicates if the top matching node value is enabled."
                        },
                        "id": {
                          "type": "string",
                          "title": "ID",
                          "description": "Indicates the display identifier for the top matching node value."
                        },
                        "parent": {
                          "type": "object",
                          "title": "Parent",
                          "description": "Indicates the immediate parent node of the top matching node value.",
                          "properties": {
                            "ssid": {
                              "type": "string",
                              "title": "SSID",
                              "description": "Indicates the unique, system-generated ID for the immediate parent node of the top matching node value."
                            }
                          },
                          "required": [
                            "ssid"
                          ]
                        },
                        "ssid": {
                          "type": "string",
                          "title": "SSID",
                          "description": "Indicates the unique, system-generated ID for the top matching node value."
                        },
                        "path": {
                          "type": "array",
                          "title": "Path",
                          "description": "Indicates the full path to the top matching node value. A path is an ordered list beginning with the top-level node in the taxonomy and then all nodes through to the matching node's immediate parent.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "Each ID",
                                "description": "Indicates the display identifier for a node value in the path of the top matching node."
                              },
                              "ssid": {
                                "type": "string",
                                "title": "Each SSID",
                                "description": "Indicates the unique, system-generated ID for a node value in the path of the top matching node."
                              }
                            },
                            "required": [
                              "id",
                              "ssid"
                            ]
                          }
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "title": "Curation Taxonomy Search Results",
                      "description": "Indicates one or more curation taxonomy node values matching the search.",
                      "items": {
                        "$ref": "#/definitions/TaxonomyNodeValue"
                      }
                    },
                    "all_taxonomy_ssids": {
                      "type": "string",
                      "title": "All Taxonomy Node SSIDs",
                      "description": "Indicates a list of all taxonomy node SSIDs, concatenated as a string and separated by semicolons."
                    }
                  },
                  "required": [
                    "results",
                    "all_taxonomy_ssids"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CurationProperties": {
      "type": "object",
      "properties": {
        "submit_date": {
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
          "title": "Submit Date",
          "description": "Indicates the date and time (in ISO 8601 format) the document was submitted."
        },
        "last_review_date": {
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
          "title": "Last Review Date",
          "description": "Indicates the date and time (in ISO 8601 format) the document was last reviewed."
        },
        "next_review_date": {
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
          "title": "Next Review Date",
          "description": "Indicates the date and time (in ISO 8601 format) the document is next due for review."
        },
        "is_maintained": {
          "type": "boolean",
          "title": "Is Maintained",
          "description": "Indicates if the content is actively maintained."
        },
        "drafting_notes": {
          "type": "string",
          "title": "Drafting Notes",
          "description": "Indicates notes or usage instructions for the document."
        },
        "mini_summary": {
          "type": "string",
          "title": "Summary",
          "description": "Indicates summary information about the document."
        },
        "taxonomy1": {
          "type": "array",
          "title": "Taxonomy1",
          "description": "Indicates one or more node values for taxonomy1.",
          "items": {
            "type": "object",
            "title": "Each Taxonomy1 Node",
            "description": "Indicates each node value for taxonomy1.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the taxonomy1 node value is enabled."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the taxonomy1 node value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the taxonomy1 node value."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the taxonomy1 node value."
              }
            }
          }
        },
        "taxonomy2": {
          "type": "array",
          "title": "Taxonomy2",
          "description": "Indicates one or more node values for taxonomy2.",
          "items": {
            "type": "object",
            "title": "Each Taxonomy2 Node",
            "description": "Indicates each node value for taxonomy2.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the taxonomy2 node value is enabled."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the taxonomy2 node value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the taxonomy2 node value."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the taxonomy2 node value."
              }
            }
          }
        },
        "taxonomy3": {
          "type": "array",
          "title": "Taxonomy3",
          "description": "Indicates one or more node values for taxonomy3.",
          "items": {
            "type": "object",
            "title": "Each Taxonomy3 Node",
            "description": "Indicates each node value for taxonomy3.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the taxonomy3 node value is enabled."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the taxonomy3 node value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the taxonomy3 node value."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the taxonomy3 node value."
              }
            }
          }
        },
        "taxonomy4": {
          "type": "array",
          "title": "Taxonomy4",
          "description": "Indicates one or more node values for taxonomy4.",
          "items": {
            "type": "object",
            "title": "Each Taxonomy4 Node",
            "description": "Indicates each node value for taxonomy4.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the taxonomy4 node value is enabled."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the taxonomy4 node value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the taxonomy4 node value."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the taxonomy4 node value."
              }
            }
          }
        },
        "taxonomy5": {
          "type": "array",
          "title": "Taxonomy5",
          "description": "Indicates one or more node values for taxonomy5.",
          "items": {
            "type": "object",
            "title": "Each Taxonomy5 Node",
            "description": "Indicates each node value for taxonomy5.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the taxonomy5 node value is enabled."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the taxonomy5 node value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the taxonomy5 node value."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the taxonomy5 node value."
              }
            }
          }
        },
        "all_taxonomy1_ssids": {
          "type": "string",
          "title": "All Taxonomy1 SSIDs",
          "description": "Indicates a list of all taxonomy1 SSIDs, concatenated as a string and separated by semicolons."
        },
        "all_taxonomy2_ssids": {
          "type": "string",
          "title": "All Taxonomy2 SSIDs",
          "description": "Indicates a list of all taxonomy2 SSIDs, concatenated as a string and separated by semicolons."
        },
        "all_taxonomy3_ssids": {
          "type": "string",
          "title": "All Taxonomy3 SSIDs",
          "description": "Indicates a list of all taxonomy3 SSIDs, concatenated as a string and separated by semicolons."
        },
        "all_taxonomy4_ssids": {
          "type": "string",
          "title": "All Taxonomy4 SSIDs",
          "description": "Indicates a list of all taxonomy4 SSIDs, concatenated as a string and separated by semicolons."
        },
        "all_taxonomy5_ssids": {
          "type": "string",
          "title": "All Taxonomy5 SSIDs",
          "description": "Indicates a list of all taxonomy5 SSIDs, concatenated as a string and separated by semicolons."
        },
        "knowledge_type": {
          "type": "array",
          "title": "Knowledge Types",
          "description": "Indicates one or more knowledge types of the document.",
          "items": {
            "type": "object",
            "title": "Each Knowledge Type",
            "description": "Indicates value for knowledge type.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the knowledge type value is enabled."
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Indicates the description of the knowledge type value."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Indicates the display identifier of the knowledge type value."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the knowledge type value."
              }
            }
          }
        },
        "all_knowledge_type_ssids": {
          "type": "string",
          "title": "All Knowledge Type SSIDs",
          "description": "Indicates a list of all knowledge_type SSIDs, concatenated as a string and separated by semicolons."
        },
        "approver": {
          "type": "array",
          "title": "Approvers",
          "description": "Indicates one or more approvers of the document.",
          "items": {
            "type": "object",
            "title": "Each Approver",
            "description": "Indicates value for approver.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the approver is enabled."
              },
              "is_external": {
                "type": "boolean",
                "title": "External",
                "description": "Indicates the approver is an external user."
              },
              "id": {
                "type": "string",
                "title": "User ID",
                "description": "Indicates the user ID of the approver."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the approver."
              }
            }
          }
        },
        "all_approver_ssids": {
          "type": "string",
          "title": "All Approver SSIDs",
          "description": "Indicates a list of all approver SSIDs, concatenated as a string and separated by semicolons."
        },
        "knowledge_owner": {
          "type": "array",
          "title": "Knowledge Owners",
          "description": "Indicates one or more owners responsible for maintaining the document.",
          "items": {
            "type": "object",
            "title": "Each Knowledge Owner",
            "description": "Indicates value for knowledge owner.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "title": "Enabled",
                "description": "Indicates if the knowledge owner is enabled."
              },
              "is_external": {
                "type": "boolean",
                "title": "External",
                "description": "Indicates if the knowledge owner is an external user."
              },
              "id": {
                "type": "string",
                "title": "User ID",
                "description": "Indicates the user ID of the knowledge owner."
              },
              "ssid": {
                "type": "string",
                "title": "SSID",
                "description": "Indicates the unique, system-generated ID for the knowledge owner."
              }
            }
          }
        },
        "all_knowledge_owner_ssids": {
          "type": "string",
          "title": "All Knowledge Owner SSIDs",
          "description": "Indicates a list of all knowledge_owner SSIDs, concatenated as a string and separated by semicolons."
        },
        "submitter": {
          "type": "object",
          "title": "Submitter",
          "description": "Indicates the submitter of the document.",
          "properties": {
            "enabled": {
              "type": "boolean",
              "title": "Enabled",
              "description": "Indicates if the submitter is enabled."
            },
            "is_external": {
              "type": "boolean",
              "title": "External",
              "description": "Indicates if the submitter is an external user."
            },
            "id": {
              "type": "string",
              "title": "User ID",
              "description": "Indicates the user ID of the submitter."
            },
            "ssid": {
              "type": "string",
              "title": "SSID",
              "description": "Indicates the unique, system-generated ID for the submitter."
            }
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "IN_DRAFT",
            "SUBMITTED",
            "REJECTED",
            "PUBLISHED",
            "RETIRED",
            "UNPUBLISHED"
          ],
          "title": "State",
          "description": "Indicates the current state of the document. Possible states are 'IN_DRAFT', 'SUBMITTED', 'REJECTED', 'PUBLISHED', 'RETIRED', 'UNPUBLISHED'."
        },
        "language": {
          "type": "array",
          "title": "Languages",
          "description": "Indicates one or more languages of the document (in ISO 639-2/T format).",
          "items": {
            "title": "Each Language",
            "description": "Indicates each language of the document (in ISO 639-2/T format).",
            "type": "string"
          }
        },
        "all_languages": {
          "type": "string",
          "title": "All Languages",
          "description": "Indicates a list of all languages of the document, concatenated as a string and separated by semicolons."
        },
        "other_noteworthy": {
          "type": "string",
          "title": "Other Noteworthy",
          "description": "Indicates other notes related to the document."
        },
        "submitted_doc_id": {
          "type": "string",
          "title": "Submitted Document ID",
          "pattern": "^[^!]+![0-9]+\\.[0-9]+$",
          "description": "Indicates the source ID of the submitted document."
        }
      }
    },
    "CurationFolders": {
      "type": "object",
      "properties": {
        "curation_submitted": {
          "type": "string",
          "title": "Submitted Documents Folder ID",
          "description": "Indicates the ID of the folder for submitted documents."
        },
        "curation_indraft": {
          "type": "string",
          "title": "In-draft Documents Folder ID",
          "description": "Indicates the ID of the folder for in-draft documents."
        },
        "curation_published": {
          "type": "string",
          "title": "Published Documents Folder ID",
          "description": "Indicates the ID of the folder for published documents."
        },
        "curation_rejected": {
          "type": "string",
          "title": "Rejected Documents Folder ID",
          "description": "Indicates the ID of the folder for rejected documents."
        },
        "curation_retired": {
          "type": "string",
          "title": "Retired Documents Folder ID",
          "description": "Indicates the ID of the folder for retired documents."
        },
        "curation_unpublished": {
          "type": "string",
          "title": "Un-published Documents Folder ID",
          "description": "Indicates the ID of the folder for un-published documents."
        }
      }
    },
    "KnowledgeAdmin": {
      "type": "object",
      "title": "Each Knowledge Admin",
      "description": "Indicates each knowledge administrator.",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "Indicates the ID of the knowledge administrator.",
          "minLength": 1
        },
        "type": {
          "type": "string",
          "title": "Type",
          "description": "Indicates the type of the knowledge administrator. Possible values are 'USER' or 'GROUP'.",
          "enum": [
            "USER",
            "GROUP"
          ],
          "minLength": 1
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "TaxonomyNodeValue": {
      "title": "Each Node",
      "type": "object",
      "properties": {
        "created_by": {
          "type": "object",
          "title": "Created By",
          "description": "Indicates the user who created the node value.",
          "properties": {
            "ssid": {
              "type": "string",
              "title": "SSID",
              "description": "Indicates the unique, system-generated ID for the user who created the node value."
            }
          },
          "required": [
            "ssid"
          ]
        },
        "create_date": {
          "type": "string",
          "title": "Create Date",
          "format": "date-time",
          "description": "Indicates the date and time (in ISO 8601 format) the node value was created."
        },
        "description": {
          "type": "string",
          "title": "Description",
          "description": "Indicates the description of the node value."
        },
        "edited_by": {
          "type": "object",
          "title": "Edited By",
          "description": "Indicates the user who last edited the node value.",
          "properties": {
            "ssid": {
              "type": "string",
              "title": "SSID",
              "description": "Indicates the unique, system-generated ID for the user who last edited the node value."
            }
          },
          "required": [
            "ssid"
          ]
        },
        "edit_date": {
          "type": "string",
          "title": "Edit Date",
          "format": "date-time",
          "description": "Indicates the date and time (in ISO 8601 format) the node value was last edited."
        },
        "enabled": {
          "type": "boolean",
          "title": "Is Enabled",
          "description": "Indicates if the node value is enabled."
        },
        "id": {
          "type": "string",
          "title": "ID",
          "description": "Indicates the display identifier for the node value."
        },
        "parent": {
          "type": "object",
          "title": "Parent",
          "description": "Indicates the immediate parent node of this node value.",
          "properties": {
            "ssid": {
              "type": "string",
              "title": "SSID",
              "description": "Indicates the unique, system-generated ID for the immediate parent's node."
            }
          },
          "required": [
            "ssid"
          ]
        },
        "ssid": {
          "type": "string",
          "title": "SSID",
          "description": "Indicates the unique, system-generated ID for the node value."
        },
        "path": {
          "type": "array",
          "title": "Path",
          "description": "Indicates the full path to the node value. A path is an ordered list beginning with the top-level node in the taxonomy and then all nodes through to the matching node's immediate parent.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "Each ID",
                "description": "Indicates the display identifier for a node value in the path."
              },
              "ssid": {
                "type": "string",
                "title": "Each SSID",
                "description": "Indicates the unique, system-generated ID for a node value in the path."
              }
            },
            "required": [
              "id",
              "ssid"
            ]
          }
        }
      },
      "required": [
        "id",
        "ssid"
      ]
    }
  },
  "parameters": {},
  "responses": {
    "SetCurationPropertiesForDocumentResponseBody": {
      "description": "Set curation properties for document response body.",
      "schema": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/definitions/CurationProperties"
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cloudimanage.com/automate/work/auth/login",
      "tokenUrl": "https://cloudimanage.com/automate/work/auth/token",
      "scopes": {
        "user": "user"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "user"
      ]
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Document related actions."
    },
    {
      "name": "Folders",
      "description": "Folder related actions."
    },
    {
      "name": "Workspaces",
      "description": "Workspace related actions."
    },
    {
      "name": "Library",
      "description": "Library related actions."
    },
    {
      "name": "Groups",
      "description": "Group related actions."
    },
    {
      "name": "Users",
      "description": "User related actions."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://imanage.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://imanage.com/about/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}