{
  "swagger": "2.0",
  "info": {
    "title": "FieldEquip",
    "description": "FieldEquip enables real-time integration of critical operational data between client systems and the FieldEquip platform, ensuring a seamless integration, improved visibility, and efficient field service management by connecting technicians, support teams, customers, to boost productivity, manage mobile worker time reporting, track rental equipment, reduce equipment downtime, cut costs, and enhance customer satisfaction.",
    "version": "1.0",
    "contact": {
      "name": "FieldEquip",
      "url": "https://www.fieldequip.com/contact",
      "email": "contactus@bursys.com"
    }
  },
  "host": "api.fieldequip.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/customerExt": {},
    "/customer": {},
    "/customer/create": {},
    "/api/v2/workorders/create": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "OrderId": {
              "type": "string",
              "description": "OrderId"
            },
            "companyId": {
              "type": "string",
              "description": "companyId"
            },
            "fieldServiceId": {
              "type": "string",
              "description": "fieldServiceId"
            },
            "workTypeId": {
              "type": "string",
              "description": "workTypeId"
            },
            "summary": {
              "type": "string",
              "description": "summary"
            },
            "description": {
              "type": "string",
              "description": "description"
            },
            "apiNumber": {
              "type": "string",
              "description": "apiNumber"
            },
            "serviceTag": {
              "type": "string",
              "description": "serviceTag"
            },
            "assetName": {
              "type": "string",
              "description": "assetName"
            },
            "assetType": {
              "type": "string",
              "description": "assetType"
            },
            "fieldOffice": {
              "type": "string",
              "description": "fieldOffice"
            },
            "route": {
              "type": "string",
              "description": "route"
            },
            "priority": {
              "type": "string",
              "description": "priority"
            },
            "criticality": {
              "type": "string",
              "description": "criticality"
            },
            "alarming": {
              "type": "string",
              "description": "alarming"
            },
            "reportedTime": {
              "type": "string",
              "description": "reportedTime"
            },
            "sourceSys": {
              "type": "string",
              "description": "sourceSys"
            },
            "sourceKey": {
              "type": "string",
              "description": "sourceKey"
            },
            "customerId": {
              "type": "string",
              "description": "customerId"
            },
            "businessUnit": {
              "type": "string",
              "description": "businessUnit"
            }
          }
        },
        "description": "200"
      }
    },
    "/trigger/api/v3/workorders": {},
    "/trigger/api/v3/workorder": {},
    "/api/v1/customer": {},
    "/api/v1/customer/create": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Customer Records",
        "description": "Create Customer Records",
        "operationId": "CreateCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "customerName"
                  },
                  "businessUnitCode": {
                    "type": "string",
                    "description": "businessUnitCode"
                  },
                  "extCustomerRefNum": {
                    "type": "string",
                    "description": "extCustomerRefNum"
                  },
                  "billingAddress1": {
                    "type": "string",
                    "description": "billingAddress1"
                  },
                  "billingAddress2": {
                    "type": "string",
                    "description": "billingAddress2"
                  },
                  "billingCity": {
                    "type": "string",
                    "description": "billingCity"
                  },
                  "billingState": {
                    "type": "string",
                    "description": "billingState"
                  },
                  "billingZipCode": {
                    "type": "string",
                    "description": "billingZipCode"
                  },
                  "billingCountryCode": {
                    "type": "string",
                    "description": "billingCountryCode"
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "customerPhone"
                  },
                  "customerStatus": {
                    "type": "string",
                    "description": "customerStatus"
                  },
                  "contactId": {
                    "type": "string",
                    "description": "contactId"
                  },
                  "contactName": {
                    "type": "string",
                    "description": "contactName"
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "contactEmail"
                  },
                  "contactPhone": {
                    "type": "string",
                    "description": "contactPhone"
                  },
                  "shipToName": {
                    "type": "string",
                    "description": "shipToName"
                  },
                  "shipToAddress1": {
                    "type": "string",
                    "description": "shipToAddress1"
                  },
                  "shipToAddress2": {
                    "type": "string",
                    "description": "shipToAddress2"
                  },
                  "shipToCity": {
                    "type": "string",
                    "description": "shipToCity"
                  },
                  "shipToState": {
                    "type": "string",
                    "description": "shipToState"
                  },
                  "shipToZipCode": {
                    "type": "string",
                    "description": "shipToZipCode"
                  },
                  "shipToCountryCode": {
                    "type": "string",
                    "description": "shipToCountryCode"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v3/workorder": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "statusCode": {
              "type": "integer",
              "format": "int32",
              "description": "statusCode"
            },
            "status": {
              "type": "string",
              "description": "status"
            },
            "message": {
              "type": "string",
              "description": "message"
            },
            "meta": {
              "type": "object",
              "properties": {
                "totalRecords": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalRecords"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "returnedRecords": {
                  "type": "integer",
                  "format": "int32",
                  "description": "returnedRecords"
                }
              },
              "description": "meta"
            },
            "note": {
              "type": "string",
              "description": "note"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "orderId"
                  },
                  "workTypeId": {
                    "type": "string",
                    "description": "workTypeId"
                  },
                  "workTypeName": {
                    "type": "string",
                    "description": "workTypeName"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "customerName"
                  },
                  "locationName": {
                    "type": "string",
                    "description": "locationName"
                  },
                  "costCenterNum ": {
                    "type": "string",
                    "description": "costCenterNum "
                  },
                  "apiNum": {
                    "type": "string",
                    "description": "apiNum"
                  },
                  "dropOffLocName": {
                    "type": "string",
                    "description": "dropOffLocName"
                  },
                  "businessUnit": {
                    "type": "string",
                    "description": "businessUnit"
                  },
                  "department": {
                    "type": "string",
                    "description": "department"
                  },
                  "truckNo ": {
                    "type": "string",
                    "description": "truckNo "
                  },
                  "trailerNo": {
                    "type": "string",
                    "description": "trailerNo"
                  },
                  "summary": {
                    "type": "string",
                    "description": "summary"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "assetName": {
                    "type": "string",
                    "description": "assetName"
                  },
                  "priority": {
                    "type": "string",
                    "description": "priority"
                  },
                  "poNum": {
                    "type": "string",
                    "description": "poNum"
                  },
                  "afeNum": {
                    "type": "string",
                    "description": "afeNum"
                  },
                  "intRefNum": {
                    "type": "string",
                    "description": "intRefNum"
                  },
                  "techScheduling": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "techName": {
                          "type": "string",
                          "description": "techName"
                        },
                        "employeeId": {
                          "type": "string",
                          "description": "employeeId"
                        },
                        "scheduledFromDate": {
                          "type": "string",
                          "description": "scheduledFromDate"
                        },
                        "scheduledFromTime": {
                          "type": "string",
                          "description": "scheduledFromTime"
                        },
                        "scheduledToDate": {
                          "type": "string",
                          "description": "scheduledToDate"
                        },
                        "scheduledToTime": {
                          "type": "string",
                          "description": "scheduledToTime"
                        }
                      }
                    },
                    "description": "techScheduling"
                  },
                  "activities": {
                    "type": "array",
                    "items": {},
                    "description": "activities"
                  },
                  "customFields": {
                    "type": "array",
                    "items": {},
                    "description": "customFields"
                  },
                  "resolution": {
                    "type": "string",
                    "description": "resolution"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "description": "itemId"
                        },
                        "itemName": {
                          "type": "string",
                          "description": "itemName"
                        },
                        "itemDesc": {
                          "type": "string",
                          "description": "itemDesc"
                        },
                        "itemType": {
                          "type": "string",
                          "description": "itemType"
                        },
                        "resource": {
                          "type": "string",
                          "description": "resource"
                        },
                        "resourceId": {
                          "type": "string",
                          "description": "resourceId"
                        },
                        "itemQty": {
                          "type": "integer",
                          "format": "int32",
                          "description": "itemQty"
                        },
                        "itemRate": {
                          "type": "integer",
                          "format": "int32",
                          "description": "itemRate"
                        },
                        "itemAmount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "itemAmount"
                        }
                      }
                    },
                    "description": "items"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "createdBy"
                  },
                  "createdOn": {
                    "type": "string",
                    "description": "createdOn"
                  },
                  "completedBy": {
                    "type": "string",
                    "description": "completedBy"
                  },
                  "completedOn": {
                    "type": "string",
                    "description": "completedOn"
                  },
                  "reportedTime": {
                    "type": "string",
                    "description": "reportedTime"
                  },
                  "reAssignedCount": {
                    "type": "string",
                    "description": "reAssignedCount"
                  },
                  "lastUpdatedOn": {
                    "type": "string",
                    "description": "lastUpdatedOn"
                  },
                  "lastUpdatedBy": {
                    "type": "string",
                    "description": "lastUpdatedBy"
                  }
                }
              },
              "description": "data"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        },
        "description": "default"
      }
    },
    "/api/v1/customer/update": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Customer Records",
        "description": "Update Existing Customer Records",
        "operationId": "UpdateCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "customerId"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "customerName"
                  },
                  "businessUnitCode": {
                    "type": "string",
                    "description": "businessUnitCode"
                  },
                  "extCustomerRefNum": {
                    "type": "string",
                    "description": "extCustomerRefNum"
                  },
                  "billingAddress1": {
                    "type": "string",
                    "description": "billingAddress1"
                  },
                  "billingAddress2": {
                    "type": "string",
                    "description": "billingAddress2"
                  },
                  "billingCity": {
                    "type": "string",
                    "description": "billingCity"
                  },
                  "billingState": {
                    "type": "string",
                    "description": "billingState"
                  },
                  "billingZipCode": {
                    "type": "string",
                    "description": "billingZipCode"
                  },
                  "billingCountryCode": {
                    "type": "string",
                    "description": "billingCountryCode"
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "customerPhone"
                  },
                  "customerStatus": {
                    "type": "string",
                    "description": "customerStatus"
                  },
                  "contactId": {
                    "type": "string",
                    "description": "contactId"
                  },
                  "contactName": {
                    "type": "string",
                    "description": "contactName"
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "contactEmail"
                  },
                  "contactPhone": {
                    "type": "string",
                    "description": "contactPhone"
                  },
                  "shipToName": {
                    "type": "string",
                    "description": "shipToName"
                  },
                  "shipToAddress1": {
                    "type": "string",
                    "description": "shipToAddress1"
                  },
                  "shipToAddress2": {
                    "type": "string",
                    "description": "shipToAddress2"
                  },
                  "shipToCity": {
                    "type": "string",
                    "description": "shipToCity"
                  },
                  "shipToState": {
                    "type": "string",
                    "description": "shipToState"
                  },
                  "shipToZipCode": {
                    "type": "string",
                    "description": "shipToZipCode"
                  },
                  "shipToCountryCode": {
                    "type": "string",
                    "description": "shipToCountryCode"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v3/workorder/create": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Work Orders",
        "description": "Create Work Orders",
        "operationId": "CreateWorkOrders",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "orderId"
                  },
                  "summary": {
                    "type": "string",
                    "description": "summary"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "priority": {
                    "type": "string",
                    "description": "priority"
                  },
                  "criticality": {
                    "type": "string",
                    "description": "criticality"
                  },
                  "alarming": {
                    "type": "boolean",
                    "description": "alarming"
                  },
                  "reportedTime": {
                    "type": "string",
                    "description": "reportedTime"
                  },
                  "sourceSys": {
                    "type": "string",
                    "description": "sourceSys"
                  },
                  "sourceKey": {
                    "type": "string",
                    "description": "sourceKey"
                  },
                  "sparse": {
                    "type": "boolean",
                    "description": "sparse"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v3/workorder/update": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Existing Work Order Records",
        "description": "Update Existing Work Order Records",
        "operationId": "UpdateWorkOrders",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "orderId"
                  },
                  "summary": {
                    "type": "string",
                    "description": "summary"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "priority": {
                    "type": "string",
                    "description": "priority"
                  },
                  "criticality": {
                    "type": "string",
                    "description": "criticality"
                  },
                  "alarming": {
                    "type": "boolean",
                    "description": "alarming"
                  },
                  "reportedTime": {
                    "type": "string",
                    "description": "reportedTime"
                  },
                  "sourceSys": {
                    "type": "string",
                    "description": "sourceSys"
                  },
                  "sourceKey": {
                    "type": "string",
                    "description": "sourceKey"
                  },
                  "sparse": {
                    "type": "boolean",
                    "description": "sparse"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/item/create": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Items",
        "description": "Create New Items",
        "operationId": "CreateItems",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "itemId": {
                    "type": "string",
                    "description": "itemId"
                  },
                  "itemName": {
                    "type": "string",
                    "description": "itemName"
                  },
                  "itemDescription": {
                    "type": "string",
                    "description": "itemDescription"
                  },
                  "itemType": {
                    "type": "string",
                    "description": "itemType"
                  },
                  "category": {
                    "type": "string",
                    "description": "category"
                  },
                  "costPrice": {
                    "type": "string",
                    "description": "costPrice"
                  },
                  "listPrice": {
                    "type": "string",
                    "description": "listPrice"
                  },
                  "uomCode": {
                    "type": "string",
                    "description": "uomCode"
                  },
                  "itemStatus": {
                    "type": "string",
                    "description": "itemStatus"
                  },
                  "inventoryItem": {
                    "type": "boolean",
                    "description": "inventoryItem"
                  },
                  "manufacturer": {
                    "type": "string",
                    "description": "manufacturer"
                  },
                  "modelNumber": {
                    "type": "string",
                    "description": "modelNumber"
                  },
                  "warrantyPeriod": {
                    "type": "string",
                    "description": "warrantyPeriod"
                  },
                  "supplier": {
                    "type": "string",
                    "description": "supplier"
                  },
                  "isSerialized": {
                    "type": "boolean",
                    "description": "isSerialized"
                  },
                  "taxCode": {
                    "type": "string",
                    "description": "taxCode"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/item/update": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Items",
        "description": "Update Items",
        "operationId": "UpdateItems",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Origin",
            "x-ms-summary": "Origin URL"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "itemId": {
                    "type": "string",
                    "description": "itemId"
                  },
                  "itemName": {
                    "type": "string",
                    "description": "itemName"
                  },
                  "itemDescription": {
                    "type": "string",
                    "description": "itemDescription"
                  },
                  "itemType": {
                    "type": "string",
                    "description": "itemType"
                  },
                  "category": {
                    "type": "string",
                    "description": "category"
                  },
                  "costPrice": {
                    "type": "string",
                    "description": "costPrice"
                  },
                  "listPrice": {
                    "type": "string",
                    "description": "listPrice"
                  },
                  "uomCode": {
                    "type": "string",
                    "description": "uomCode"
                  },
                  "itemStatus": {
                    "type": "string",
                    "description": "itemStatus"
                  },
                  "inventoryItem": {
                    "type": "boolean",
                    "description": "inventoryItem"
                  },
                  "manufacturer": {
                    "type": "string",
                    "description": "manufacturer"
                  },
                  "modelNumber": {
                    "type": "string",
                    "description": "modelNumber"
                  },
                  "warrantyPeriod": {
                    "type": "string",
                    "description": "warrantyPeriod"
                  },
                  "supplier": {
                    "type": "string",
                    "description": "supplier"
                  },
                  "isSerialized": {
                    "type": "boolean",
                    "description": "isSerialized"
                  },
                  "taxCode": {
                    "type": "string",
                    "description": "taxCode"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/warehouse/inventory": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add Inventory Records",
        "description": "Add Inventory Records",
        "operationId": "CreateInventory",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "warehouseRefNum",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Warehouse Ref Number",
            "x-ms-summary": "Warehouse Ref Number"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "warehouseRefNum": {
                    "type": "string",
                    "description": "warehouseRefNum"
                  },
                  "warehouseName": {
                    "type": "string",
                    "description": "warehouseName"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "description": "itemId"
                        },
                        "itemName": {
                          "type": "string",
                          "description": "itemName"
                        },
                        "unitCostPrice": {
                          "type": "string",
                          "description": "unitCostPrice"
                        },
                        "unitListPrice": {
                          "type": "string",
                          "description": "unitListPrice"
                        },
                        "qtyOnHand": {
                          "type": "integer",
                          "format": "int32",
                          "description": "qtyOnHand"
                        },
                        "qtyAvailable": {
                          "type": "integer",
                          "format": "int32",
                          "description": "qtyAvailable"
                        },
                        "qtyThreshold": {
                          "type": "integer",
                          "format": "int32",
                          "description": "qtyThreshold"
                        }
                      }
                    },
                    "description": "items"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/warehouse/inventory/adjustment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "warehouseRefNum",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Warehouse Ref Number",
            "x-ms-summary": "Warehouse Ref Number"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "warehouseRefNum": {
                    "type": "string",
                    "description": "warehouseRefNum"
                  },
                  "warehouseName": {
                    "type": "string",
                    "description": "warehouseName"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "description": "itemId"
                        },
                        "itemName": {
                          "type": "string",
                          "description": "itemName"
                        },
                        "unitListPrice": {
                          "type": "string",
                          "description": "unitListPrice"
                        },
                        "unitCostPrice": {
                          "type": "string",
                          "description": "unitCostPrice"
                        },
                        "qty": {
                          "type": "number",
                          "format": "float",
                          "description": "qty"
                        },
                        "purchaseOrder": {
                          "type": "string",
                          "description": "purchaseOrder"
                        },
                        "ReceiptDate": {
                          "type": "string",
                          "description": "ReceiptDate"
                        }
                      }
                    },
                    "description": "items"
                  }
                }
              }
            }
          }
        ],
        "summary": "Create Item Adjustment",
        "description": "Create Item Adjustment",
        "operationId": "CreateItemAdjustment",
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/location/create": {},
    "/api/v1/location/update": {},
    "/api/v1/user/create": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create User Records",
        "description": "Create User Records",
        "operationId": "CreateUsers",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "firstName"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "lastName"
                  },
                  "email": {
                    "type": "string",
                    "description": "email"
                  },
                  "businessUnitCode": {
                    "type": "string",
                    "description": "businessUnitCode"
                  },
                  "departmentCode": {
                    "type": "string",
                    "description": "departmentCode"
                  },
                  "payrollCode": {
                    "type": "string",
                    "description": "payrollCode"
                  },
                  "plantId": {
                    "type": "string",
                    "description": "plantId"
                  },
                  "empId": {
                    "type": "string",
                    "description": "empId"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "mobileNumber"
                  },
                  "reportingManager": {
                    "type": "string",
                    "description": "reportingManager"
                  },
                  "empType": {
                    "type": "string",
                    "description": "empType"
                  },
                  "stateCode": {
                    "type": "string",
                    "description": "stateCode"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/user/update": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Existing Users",
        "description": "Update Existing Users",
        "operationId": "UpdateUsers",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Company ID",
            "x-ms-summary": "Company ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "API Key",
            "x-ms-summary": "API Key for Authentication",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Origin",
            "x-ms-summary": "Origin URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyId": {
                  "type": "string",
                  "description": "companyId"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "businessUnitCode": {
                  "type": "string",
                  "description": "businessUnitCode"
                },
                "departmentCode": {
                  "type": "string",
                  "description": "departmentCode"
                },
                "payrollCode": {
                  "type": "string",
                  "description": "payrollCode"
                },
                "plantId": {
                  "type": "string",
                  "description": "plantId"
                },
                "empId": {
                  "type": "string",
                  "description": "empId"
                },
                "mobileNumber": {
                  "type": "string",
                  "description": "mobileNumber"
                },
                "reportingManager": {
                  "type": "string",
                  "description": "reportingManager"
                },
                "empType": {
                  "type": "string",
                  "description": "empType"
                },
                "stateCode": {
                  "type": "string",
                  "description": "stateCode"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.fieldequip.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.fieldequip.com/about-us/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}