{
  "swagger": "2.0",
  "info": {
    "title": "FieldEquip",
    "description": "FieldEquip enables real-time integration of critical operational data between client systems and the FieldEquip platform, ensuring a seamless integration, improved visibility, and efficient field service management by connecting technicians, support teams, customers, to boost productivity, manage mobile worker time reporting, track rental equipment, reduce equipment downtime, cut costs, and enhance customer satisfaction.",
    "version": "1.0",
    "contact": {
      "name": "FieldEquip",
      "url": "https://www.fieldequip.com/contact",
      "email": "contactus@bursys.com"
    }
  },
  "host": "api.fieldequip.com",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/customerExt": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Records",
        "description": "Action to retrieve data from fieldequip platform",
        "operationId": "GetRecords",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company ID",
            "description": "Enter Company ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "API Key",
            "x-ms-visibility": "important",
            "description": "Enter API key",
            "default": ""
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Origin",
            "description": "Enter the base URL to make a request",
            "default": "https://qa.fieldequip.com"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Records",
        "description": "Action to perform update, and insertion of records",
        "operationId": "CreateRecords",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "x-ms-summary": "Company ID",
            "description": "Enter Company ID",
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "API Key",
            "x-ms-visibility": "important",
            "description": "Enter API Key",
            "default": ""
          },
          {
            "name": "x-origin",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Origin",
            "description": "Enter the base URL to make a request",
            "default": "https://qa.fieldequip.com"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyId": {
                  "type": "string",
                  "description": "companyId"
                },
                "customerId": {
                  "type": "string",
                  "description": "customerId"
                },
                "customerName": {
                  "type": "string",
                  "description": "customerName"
                },
                "billingAddress1": {
                  "type": "string",
                  "description": "billingAddress1",
                  "title": ""
                },
                "billingAddress2": {
                  "type": "string",
                  "description": "billingAddress2"
                },
                "billingCity": {
                  "type": "string",
                  "description": "billingCity"
                },
                "billingState": {
                  "type": "string",
                  "description": "billingState"
                },
                "billingZipCode": {
                  "type": "string",
                  "description": "billingZipCode"
                },
                "billingCountryCode": {
                  "type": "string",
                  "description": "billingCountryCode"
                },
                "customerPhone": {
                  "type": "string",
                  "description": "customerPhone"
                },
                "customerStatus": {
                  "type": "string",
                  "description": "customerStatus"
                },
                "contactId": {
                  "type": "string",
                  "description": "contactId"
                },
                "contactName": {
                  "type": "string",
                  "description": "contactName"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "contactEmail"
                },
                "contactPhone": {
                  "type": "string",
                  "description": "contactPhone"
                },
                "contactMobile": {
                  "type": "string",
                  "description": "contactMobile"
                },
                "shipToName": {
                  "type": "string",
                  "description": "shipToName"
                },
                "shipToAddress1": {
                  "type": "string",
                  "description": "shipToAddress1"
                },
                "shipToAddress2": {
                  "type": "string",
                  "description": "shipToAddress2"
                },
                "shipToCity": {
                  "type": "string",
                  "description": "shipToCity"
                },
                "shipToState": {
                  "type": "string",
                  "description": "shipToState"
                },
                "shipToZipCode": {
                  "type": "string",
                  "description": "shipToZipCode"
                },
                "shipToCountryCode": {
                  "type": "string",
                  "description": "shipToCountryCode"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.fieldequip.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.fieldequip.com/about-us/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}