{
    "swagger": "2.0",
    "info": {
      "version": "3.0",
      "title": "Entersoft",
      "description": "Entersoft Connector makes avaiable to the external ecosystem the rich set of services, objects, and events of the Entersoft Business Suite products: CRM, ERP, WMS, Retail, Mobile Apps, POD, e-Commerce, MRPII. Flows and apps of any type can integrate with the services exposed by Entersoft Connector. Workflows can be triggered by events taking palce at the Entersoft Application's Server leveraging the reachness of Entersoft Business Suite family products.",
      "termsOfService": "For licensed Entersoft Business Suite family products",
      "contact": {
        "name": "Entersoft SA",
        "url": "https://www.entersoft.eu/",
        "email": "support@entersoft.eu"
      }
    },
    "host": "api.entersoft.gr",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/api/ES00Documents/Info/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get ES00Document Information",
          "description": "Get an ES00DocumentInfo object of an entity without the need to load the entire entity to which this ES00Document belongs to.",
          "operationId": "ES00Documents_Info",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00DocumentInfo"
              }
            }
          },
          "x-ms-summary": "X-MS-SUM:Get document details for the specified ES00Document Code or Unique Identifier"
        }
      },
      "/api/ES00Documents/InfoByEntityGid/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get Document's Information",
          "description": "Get the ES00Document(s) of an Entity by the Unique Identifier",
          "operationId": "ES00Documents_InfoByEntityGid",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00DocumentInfo"
                }
              }
            }
          }
        }
      },
      "/api/ES00Documents/BlobDataByGid/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get Blob data of a Blob Record by unique identifier",
          "description": "Get ES00Blob byte array as identified by the Unique Identifier",
          "operationId": "ES00Documents_BlobDataByGid",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ES00Documents/DownloadBlobDataByGID/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Download Blob data of a Blob Record",
          "description": "Download ES00Blob byte array as identified by the Unique Identifier",
          "operationId": "ES00Documents_DownloadBlobDataByGID",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            },
            {
              "name": "PartialMode",
              "in": "query",
              "description": "Partialmode..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Partialmode."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ES00Documents/GetES00Blob/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get Entity's Blob data by Type",
          "description": "Get ES00Blob byte array by the Unique Identifier and the ExtType",
          "operationId": "ES00Documents_GetES00Blob",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "extType",
              "in": "query",
              "description": "Exttype..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Exttype."
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            },
            {
              "name": "PartialMode",
              "in": "query",
              "description": "Partialmode..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Partialmode."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ES00Documents/GetES00BlobFromObject/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get an entity's Blob data",
          "description": "Get an entity's Blob data",
          "operationId": "ES00Documents_GetES00BlobFromObject",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "keyid",
              "in": "query",
              "description": "Keyid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Keyid."
            },
            {
              "name": "typeid",
              "in": "query",
              "description": "Typeid..",
              "required": true,
              "type": "integer",
              "format": "int64",
              "x-ms-summary": "Typeid."
            },
            {
              "name": "extType",
              "in": "query",
              "description": "Exttype..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Exttype."
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            },
            {
              "name": "PartialMode",
              "in": "query",
              "description": "Partialmode..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Partialmode."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ES00Documents/PostBodyToES00Blob/": {
        "post": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Add data to a Blob record",
          "description": "Create or Update an ES00Blob object",
          "operationId": "ES00Documents_PostBodyToES00Blob",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "blobInfo",
              "in": "body",
              "description": "Blobinfo..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00BlobInfo"
              },
              "x-ms-summary": "Blobinfo."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "string"
              }
            }
          }
        }
      },
      "/api/ES00Documents/GetBodyFromES00Blob/{routeid}": {
        "get": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Get information for a Blob record",
          "description": "Get the ES00Blob details for the specified Blob object",
          "operationId": "ES00Documents_GetBodyFromES00Blob",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "keyid",
              "in": "query",
              "description": "Keyid..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Keyid."
            },
            {
              "name": "typeid",
              "in": "query",
              "description": "Typeid..",
              "required": false,
              "type": "integer",
              "format": "int64",
              "x-ms-summary": "Typeid."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00BlobInfo"
              }
            }
          }
        }
      },
      "/api/ES00Documents/DeleteES00Document/": {
        "post": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Delete an entity's Related Document",
          "description": "Delete an entity's Related Document",
          "operationId": "ES00Documents_DeleteES00Document",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "params",
              "in": "body",
              "description": "Params..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00DocumentInfo"
              },
              "x-ms-summary": "Params."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ES00Documents/AddOrUpdateAttachedDocument/": {
        "post": {
          "tags": [
            "ES00Documents"
          ],
          "summary": "Add a New or Update an existing Related Document",
          "description": "Add or Update an entity's Related Document",
          "operationId": "ES00Documents_AddOrUpdateAttachedDocument",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "InDoc",
              "in": "body",
              "description": "Indoc..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00DocumentInfo"
              },
              "x-ms-summary": "Indoc."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ES00DocumentInfo"
              }
            }
          }
        }
      },
      "/api/asset2/fetchWebAsset/{routeId}": {
        "get": {
          "tags": [
            "ESAsset"
          ],
          "summary": "Get a Web Asset",
          "description": "ID of the Web Asset to get its byte array data",
          "operationId": "ESAsset2_fetchWebAsset",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeId",
              "in": "path",
              "description": "the path of the asset to be downloaded.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "base64",
              "in": "query",
              "description": "Base64..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Base64."
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            },
            {
              "name": "PartialMode",
              "in": "query",
              "description": "Partialmode..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Partialmode."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/asset2/downloadAsset/{routeId}": {
        "get": {
          "tags": [
            "ESAsset"
          ],
          "summary": "Download a Web Asset",
          "description": "ID of the Web Asset to be downloaded from EAS",
          "operationId": "ESAsset2_downloadAsset",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeId",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            },
            {
              "name": "webapitoken",
              "in": "query",
              "description": "Webapitoken..",
              "required": false,
              "type": "string",
              "x-ms-summary": "Webapitoken."
            },
            {
              "name": "PartialMode",
              "in": "query",
              "description": "Partialmode..",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Partialmode."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ESBudget/ESBGBudgetSheet/{PK}": {
        "get": {
          "tags": [
            "ESBudget"
          ],
          "summary": "Get the ESBGBudgetSheet object",
          "description": "Get the ESBGBudgetSheetObj",
          "operationId": "ESBudget_ESBGBudgetSheet",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "PK",
              "in": "path",
              "description": "Either the string represenation of the object's GID or the string representation of the ESBGBudgetSheet object's Code",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESBGBudgetSheetObj"
              }
            }
          }
        }
      },
      "/api/collaboration/BroadcastMessage/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Broadcast an Entersoft type of message",
          "description": "Broadcasts a message to connected users",
          "operationId": "ESCollaboration_BroadcastMessage",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "Msg",
              "in": "body",
              "description": "The Broadcast message object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Controllers.ESBroadCastMessage"
              },
              "x-ms-summary": "Msg."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/collaboration/SendEmail/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Send and eMail",
          "description": "Send email through EAS configured email system",
          "operationId": "ESCollaboration_SendEmail",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [],
          "parameters": [
            {
              "name": "Msg",
              "in": "body",
              "description": "MailMessage object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Controllers.ESEmailMessage"
              },
              "x-ms-summary": "Msg."
            }
          ],
          "responses": {
            "204": {
              "description": "No Content"
            }
          }
        }
      },
      "/api/collaboration/SendSMS/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Send an SMS",
          "description": "Send an SMS through EAS configured SMS system",
          "operationId": "ESCollaboration_SendSMS",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "Msg",
              "in": "body",
              "description": "The SMSMessage object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Infrastructure.ESSMSMessage"
              },
              "x-ms-summary": "Msg."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "/api/collaboration/SendViberMessage/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Send a ViberMessage",
          "description": "Send a Viber Message through EAS Viber messaging system",
          "operationId": "ESCollaboration_SendViberMessage",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "Msg",
              "in": "body",
              "description": "The Viber Message object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Controllers.ESViberMessage"
              },
              "x-ms-summary": "Msg."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Controllers.ESViberResponse"
              }
            }
          }
        }
      },
      "/api/collaboration/CreateRFARequest/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Create a Request to be Approved or Declined",
          "description": "Create a Request to be Approved or Declined",
          "operationId": "ESCollaboration_CreateRFARequest",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [],
          "parameters": [
            {
              "name": "RFARequest",
              "in": "body",
              "description": "Rfarequest..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Infrastructure.ESRFARequest"
              },
              "x-ms-summary": "Rfarequest."
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/collaboration/RespondToRFARequest/": {
        "post": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Approve or Decline an RFA Request",
          "description": "The response to an RFA Request",
          "operationId": "ESCollaboration_RespondToRFARequest",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [],
          "parameters": [
            {
              "name": "RFAResponse",
              "in": "body",
              "description": "Rfaresponse..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Infrastructure.ESRFAResponseToRequest"
              },
              "x-ms-summary": "Rfaresponse."
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/collaboration/FetchRequest/": {
        "get": {
          "tags": [
            "ESCollaboration"
          ],
          "summary": "Get a RFA Request by ID",
          "description": "Get a RFA Request by ID",
          "operationId": "ESCollaboration_FetchRequest",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "RequestID",
              "in": "query",
              "description": "Requestid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Requestid."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Infrastructure.ESRFARequest"
              }
            }
          }
        }
      },
      "/api/rpc/PingServer/{routeid}": {
        "post": {
          "tags": [
            "ESDiagnostics"
          ],
          "summary": "Ping the Entersoft Application Server",
          "description": "Ping the Entersoft Application Server",
          "operationId": "ESRPC_PingServer",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "string"
              }
            }
          },
          "x-ms-summary": "Speed and connectivity test to Entersoft Business Suite"
        }
      },
      "/esapi/estest/EBSConnectionTest/{routeid}": {
        "get": {
          "tags": [
            "ESDiagnostics"
          ],
          "summary": "Test Connectivity to Entersoft Business Suite",
          "description": "Test Connectivity to Entersoft Business Suite",
          "operationId": "ESTest_EBSConnectionTest",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "routeid",
              "in": "path",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/esentity/DeleteEntityByID/": {
        "delete": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Delete an entity by ID and PK",
          "description": "Delete an entity by ID and PK",
          "operationId": "ESEntity_DeleteEntityByID",
          "consumes": [],
          "produces": [],
          "parameters": [
            {
              "name": "EntityID",
              "in": "query",
              "description": "The EntityID class of the object to be deleted",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entityid."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The PK of the object to be deleted. This should be either the Code or the internal unique identifier GID",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/esentity/DeleteEntityByType/": {
        "delete": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Delete an entity by Type and PK",
          "description": "Delete and entity specified by the PK (either Code or internal identifier)",
          "operationId": "ESEntity_DeleteEntityByType",
          "consumes": [],
          "produces": [],
          "parameters": [
            {
              "name": "EntityType",
              "in": "query",
              "description": "Entitytype..",
              "required": true,
              "type": "string",
              "enum": [
                "ES00Device",
                "ES00List",
                "ES00MobileParams",
                "ES00PropertySet",
                "ES00PropertySetCompact",
                "ES00RuleSet",
                "ES00RuleSetType",
                "ES00SegmentationModel",
                "ES00SegmentationTemplate",
                "ES00SemanticsCustomization",
                "ES00SSASParameters",
                "ES00WordGroup",
                "ES00ZProperty",
                "ESBGAllocationProfile",
                "ESBGBudgetDimensionAllocationProfile",
                "ESBGBudgetSheet",
                "ESBGBudgetSheetProfile",
                "ESBGZBudgetCashAccountGroup",
                "ESBGZBudgetItemGroup",
                "ESBGZBudgetSalespersonGroup",
                "ESBGZBudgetTradeAccountGroup",
                "ESCOCostElementType",
                "ESCOCostingFolder",
                "ESCOLineCostAnalysis",
                "ESFACommercialProfile",
                "ESFADepreciationProfile",
                "ESFAFixedAsset",
                "ESFAItemControlPolicy",
                "ESFARevaluationProfile",
                "ESFIBankImport",
                "ESFICardRateProfile",
                "ESFICashAccount",
                "ESFICDCommercialProfile",
                "ESFICheckListProfile",
                "ESFICommercialProfileItem",
                "ESFICommissionProfile",
                "ESFICondition",
                "ESFIConditionTemplate",
                "ESFICreditCardType",
                "ESFICreditControlProfile",
                "ESFICreditor",
                "ESFICreditTurnOverProfile",
                "ESFICreditTurnOverProfileEntry",
                "ESFICustomer",
                "ESFIDebtor",
                "ESFIDeclarationEntry",
                "ESFIDeclarationType",
                "ESFIDistributionDispatch",
                "ESFIDocSeriesAttributes",
                "ESFIDocumentAccessRightProfile",
                "ESFIDocumentAdjustment",
                "ESFIDocumentCash",
                "ESFIDocumentSeries",
                "ESFIDocumentStock",
                "ESFIDocumentTrade",
                "ESFIDocumentTransition",
                "ESFIDocumentUpdateProfile",
                "ESFIDocumentUpdateProfileGL",
                "ESFIEInvoiceProfile",
                "ESFIFieldPropertiesProfile",
                "ESFIFillerProfile",
                "ESFIFinancialAgreement",
                "ESFIFinancialDeclaration",
                "ESFIInnerDistributionEntry",
                "ESFIIntrastatEntry",
                "ESFIInvoicePolicy",
                "ESFIInvoicePolicyAction",
                "ESFIItem",
                "ESFIItemAllocationProfile",
                "ESFIItemCategories",
                "ESFIItemControlPolicy",
                "ESFIItemExpense",
                "ESFIItemExpenses",
                "ESFIItemFamily",
                "ESFIItemPriceHistoryTemplate",
                "ESFIItemService",
                "ESFIItemSubCategory",
                "ESFIItemSubfamily",
                "ESFIKEPYOEntry",
                "ESFIMeasure",
                "ESFIMobileDocumentType",
                "ESFIMyDataInvoice",
                "ESFINote",
                "ESFIOIMatchingProfile",
                "ESFIOpenItemsForDateProposalHeader",
                "ESFIPaymentMethod",
                "ESFIPricelist",
                "ESFIPricelistEditor",
                "ESFISalesPerson",
                "ESFISpecialAccount",
                "ESFISpecialAccountGroup",
                "ESFISupplier",
                "ESFISupplierExpert",
                "ESFITCourier",
                "ESFITradeAccount",
                "ESFITradeAccountContract",
                "ESFITradeAccountContractType",
                "ESFITransitionProfile",
                "ESFITransportPlan",
                "ESFIVoucher",
                "ESFIVoucherPromotionProfile",
                "ESFIWHAccessList",
                "ESFIZAccountPostingDef",
                "ESFIZElectronicTransactionsProfile",
                "ESFIZInterestProfile",
                "ESFIZItemCategory",
                "ESFIZItemFamily",
                "ESFIZItemSubCategory",
                "ESFIZItemSubFamily",
                "ESFIZVATExemptionReasoning",
                "ESGLAccount",
                "ESGLAccountingDocumentTemplate",
                "ESGLAccountingDocumentType",
                "ESGLAllocationProfile",
                "ESGLJournal",
                "ESGLLedgerEntry",
                "ESGlobalBlueDocument",
                "ESGOAreaMap",
                "ESGOColumnsSeq",
                "ESGOCompany",
                "ESGOCompanyBusinessActivityCodes",
                "ESGOCurrency",
                "ESGOCurrencyExchangeRate",
                "ESGOLegalPerson",
                "ESGOMetric",
                "ESGOMetricActual",
                "ESGOMetricSet",
                "ESGOOrganizationalUnit",
                "ESGOPerson",
                "ESGOPhysicalPerson",
                "ESGOPrinter",
                "ESGOProject",
                "ESGOReport",
                "ESGOScale",
                "ESGOScheduledJob",
                "ESGOScript",
                "ESGOSeasonCalendar",
                "ESGOSegmentSequence",
                "ESGOServiceProfile",
                "ESGOShift",
                "ESGOUser",
                "ESGOVATCategoryMapping",
                "ESGOWebUser",
                "ESGOWorkingCalendar",
                "ESGOWorkingCalendarException",
                "ESGOWorkstation",
                "ESGOZBusinessActivity",
                "ESGOZBusinessUnit",
                "ESGOZDimension1",
                "ESGOZDimension2",
                "ESGOZInteractionProfile",
                "ESMLModel",
                "ESMLModelGroup",
                "ESMMBOM",
                "ESMMCatalogueItem",
                "ESMMCommercialProfile",
                "ESMMDeposition",
                "ESMMItemControlPolicy",
                "ESMMItemSellingPrice",
                "ESMMLot",
                "ESMMMaterialRequirement",
                "ESMMMaterialRequirementPlan",
                "ESMMMaterialRequirementPlanWithReqs",
                "ESMMPersonItem",
                "ESMMPhaseRouting",
                "ESMMProductionLeadTimes",
                "ESMMProductionPlan",
                "ESMMProductionPlanDemand",
                "ESMMProductionPlanItem",
                "ESMMProductionPlanWithDemands",
                "ESMMSerialNumber",
                "ESMMSIMURelation",
                "ESMMSortiment",
                "ESMMStockDimSet",
                "ESMMStockDimSetMap",
                "ESMMStockItem",
                "ESMMStockOrderModel",
                "ESMMStockOrderPlan",
                "ESMMStockProposalComposition",
                "ESMMStockProposalGroup",
                "ESMMStorageLocation",
                "ESMMStorageLocationPrinter",
                "ESMMStorageLocationProfile",
                "ESMMStorageLocationTree",
                "ESMMValidStockDimensionsProfile",
                "ESMMZBCProcessingType",
                "ESMMZIntrastatCode",
                "ESMMZMeasurementUnit",
                "ESPlanetDocument",
                "ESTMABCClassificationModel",
                "ESTMCampaign",
                "ESTMContractTerm",
                "ESTMInteraction",
                "ESTMMobileTaskType",
                "ESTMNewsletterRecipient",
                "ESTMObjectRating",
                "ESTMOpportunity",
                "ESTMResource",
                "ESTMRFMModel",
                "ESTMRFMResponseModel",
                "ESTMServiceDefinition",
                "ESTMServiceRequest",
                "ESTMSMAccount",
                "ESTMSMActivity",
                "ESTMSMCompanyAccount",
                "ESTMSMRawObject",
                "ESTMStatusCollection",
                "ESTMTask",
                "ESTMTaskCategory",
                "ESTMTaskLite",
                "ESTMTaskType",
                "ESTRPosition",
                "ESTRTerritory",
                "ESTRTerritoryBudget",
                "ESTRTerritoryBudgetTemplate",
                "ESTRTerritoryHierarchy",
                "ESTRTerritoryRulePeriod",
                "ESWMAction",
                "ESWMActionType",
                "ESWMActionTypeReport",
                "ESWMCancellationDispositionReasonMap",
                "ESWMCancellationReservationReasonMap",
                "ESWMContainer",
                "ESWMContainerControlPolicy",
                "ESWMContainerType",
                "ESWMDepositor",
                "ESWMItemControlPolicy",
                "ESWMPhaseZoneMapping",
                "ESWMRequest",
                "ESWMRequestStringFieldMap",
                "ESWMRequestType",
                "ESWMReservationReasonWHMap",
                "ESWMShipment",
                "ESWMStepOperation",
                "ESWMTransportAction",
                "ESWMTransportRequest",
                "ESWMWorkPackage",
                "ESWMWorkPackageType",
                "ESWPActualTask",
                "ESWPActualTaskEntry",
                "ESWPTaskRequest",
                "ESWPWorkPackage"
              ],
              "x-ms-summary": "Entitytype."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/esentity/UpdateEntityByID/": {
        "put": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Update an entity by ID and PK",
          "description": "Update an entity by ID and PK",
          "operationId": "ESEntity_UpdateEntityByID",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [],
          "parameters": [
            {
              "name": "EntityID",
              "in": "query",
              "description": "Entityid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entityid."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            },
            {
              "name": "UpdProperties",
              "in": "body",
              "description": "Updproperties..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Updproperties."
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/esentity/UpdateEntityByType/": {
        "put": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Update an entity by Type and PK",
          "description": "Update an entity by Type and PK",
          "operationId": "ESEntity_UpdateEntityByType",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [],
          "parameters": [
            {
              "name": "EntityType",
              "in": "query",
              "description": "Entitytype..",
              "required": true,
              "type": "string",
              "enum": [
                "ES00Device",
                "ES00List",
                "ES00MobileParams",
                "ES00PropertySet",
                "ES00PropertySetCompact",
                "ES00RuleSet",
                "ES00RuleSetType",
                "ES00SegmentationModel",
                "ES00SegmentationTemplate",
                "ES00SemanticsCustomization",
                "ES00SSASParameters",
                "ES00WordGroup",
                "ES00ZProperty",
                "ESBGAllocationProfile",
                "ESBGBudgetDimensionAllocationProfile",
                "ESBGBudgetSheet",
                "ESBGBudgetSheetProfile",
                "ESBGZBudgetCashAccountGroup",
                "ESBGZBudgetItemGroup",
                "ESBGZBudgetSalespersonGroup",
                "ESBGZBudgetTradeAccountGroup",
                "ESCOCostElementType",
                "ESCOCostingFolder",
                "ESCOLineCostAnalysis",
                "ESFACommercialProfile",
                "ESFADepreciationProfile",
                "ESFAFixedAsset",
                "ESFAItemControlPolicy",
                "ESFARevaluationProfile",
                "ESFIBankImport",
                "ESFICardRateProfile",
                "ESFICashAccount",
                "ESFICDCommercialProfile",
                "ESFICheckListProfile",
                "ESFICommercialProfileItem",
                "ESFICommissionProfile",
                "ESFICondition",
                "ESFIConditionTemplate",
                "ESFICreditCardType",
                "ESFICreditControlProfile",
                "ESFICreditor",
                "ESFICreditTurnOverProfile",
                "ESFICreditTurnOverProfileEntry",
                "ESFICustomer",
                "ESFIDebtor",
                "ESFIDeclarationEntry",
                "ESFIDeclarationType",
                "ESFIDistributionDispatch",
                "ESFIDocSeriesAttributes",
                "ESFIDocumentAccessRightProfile",
                "ESFIDocumentAdjustment",
                "ESFIDocumentCash",
                "ESFIDocumentSeries",
                "ESFIDocumentStock",
                "ESFIDocumentTrade",
                "ESFIDocumentTransition",
                "ESFIDocumentUpdateProfile",
                "ESFIDocumentUpdateProfileGL",
                "ESFIEInvoiceProfile",
                "ESFIFieldPropertiesProfile",
                "ESFIFillerProfile",
                "ESFIFinancialAgreement",
                "ESFIFinancialDeclaration",
                "ESFIInnerDistributionEntry",
                "ESFIIntrastatEntry",
                "ESFIInvoicePolicy",
                "ESFIInvoicePolicyAction",
                "ESFIItem",
                "ESFIItemAllocationProfile",
                "ESFIItemCategories",
                "ESFIItemControlPolicy",
                "ESFIItemExpense",
                "ESFIItemExpenses",
                "ESFIItemFamily",
                "ESFIItemPriceHistoryTemplate",
                "ESFIItemService",
                "ESFIItemSubCategory",
                "ESFIItemSubfamily",
                "ESFIKEPYOEntry",
                "ESFIMeasure",
                "ESFIMobileDocumentType",
                "ESFIMyDataInvoice",
                "ESFINote",
                "ESFIOIMatchingProfile",
                "ESFIOpenItemsForDateProposalHeader",
                "ESFIPaymentMethod",
                "ESFIPricelist",
                "ESFIPricelistEditor",
                "ESFISalesPerson",
                "ESFISpecialAccount",
                "ESFISpecialAccountGroup",
                "ESFISupplier",
                "ESFISupplierExpert",
                "ESFITCourier",
                "ESFITradeAccount",
                "ESFITradeAccountContract",
                "ESFITradeAccountContractType",
                "ESFITransitionProfile",
                "ESFITransportPlan",
                "ESFIVoucher",
                "ESFIVoucherPromotionProfile",
                "ESFIWHAccessList",
                "ESFIZAccountPostingDef",
                "ESFIZElectronicTransactionsProfile",
                "ESFIZInterestProfile",
                "ESFIZItemCategory",
                "ESFIZItemFamily",
                "ESFIZItemSubCategory",
                "ESFIZItemSubFamily",
                "ESFIZVATExemptionReasoning",
                "ESGLAccount",
                "ESGLAccountingDocumentTemplate",
                "ESGLAccountingDocumentType",
                "ESGLAllocationProfile",
                "ESGLJournal",
                "ESGLLedgerEntry",
                "ESGlobalBlueDocument",
                "ESGOAreaMap",
                "ESGOColumnsSeq",
                "ESGOCompany",
                "ESGOCompanyBusinessActivityCodes",
                "ESGOCurrency",
                "ESGOCurrencyExchangeRate",
                "ESGOLegalPerson",
                "ESGOMetric",
                "ESGOMetricActual",
                "ESGOMetricSet",
                "ESGOOrganizationalUnit",
                "ESGOPerson",
                "ESGOPhysicalPerson",
                "ESGOPrinter",
                "ESGOProject",
                "ESGOReport",
                "ESGOScale",
                "ESGOScheduledJob",
                "ESGOScript",
                "ESGOSeasonCalendar",
                "ESGOSegmentSequence",
                "ESGOServiceProfile",
                "ESGOShift",
                "ESGOUser",
                "ESGOVATCategoryMapping",
                "ESGOWebUser",
                "ESGOWorkingCalendar",
                "ESGOWorkingCalendarException",
                "ESGOWorkstation",
                "ESGOZBusinessActivity",
                "ESGOZBusinessUnit",
                "ESGOZDimension1",
                "ESGOZDimension2",
                "ESGOZInteractionProfile",
                "ESMLModel",
                "ESMLModelGroup",
                "ESMMBOM",
                "ESMMCatalogueItem",
                "ESMMCommercialProfile",
                "ESMMDeposition",
                "ESMMItemControlPolicy",
                "ESMMItemSellingPrice",
                "ESMMLot",
                "ESMMMaterialRequirement",
                "ESMMMaterialRequirementPlan",
                "ESMMMaterialRequirementPlanWithReqs",
                "ESMMPersonItem",
                "ESMMPhaseRouting",
                "ESMMProductionLeadTimes",
                "ESMMProductionPlan",
                "ESMMProductionPlanDemand",
                "ESMMProductionPlanItem",
                "ESMMProductionPlanWithDemands",
                "ESMMSerialNumber",
                "ESMMSIMURelation",
                "ESMMSortiment",
                "ESMMStockDimSet",
                "ESMMStockDimSetMap",
                "ESMMStockItem",
                "ESMMStockOrderModel",
                "ESMMStockOrderPlan",
                "ESMMStockProposalComposition",
                "ESMMStockProposalGroup",
                "ESMMStorageLocation",
                "ESMMStorageLocationPrinter",
                "ESMMStorageLocationProfile",
                "ESMMStorageLocationTree",
                "ESMMValidStockDimensionsProfile",
                "ESMMZBCProcessingType",
                "ESMMZIntrastatCode",
                "ESMMZMeasurementUnit",
                "ESPlanetDocument",
                "ESTMABCClassificationModel",
                "ESTMCampaign",
                "ESTMContractTerm",
                "ESTMInteraction",
                "ESTMMobileTaskType",
                "ESTMNewsletterRecipient",
                "ESTMObjectRating",
                "ESTMOpportunity",
                "ESTMResource",
                "ESTMRFMModel",
                "ESTMRFMResponseModel",
                "ESTMServiceDefinition",
                "ESTMServiceRequest",
                "ESTMSMAccount",
                "ESTMSMActivity",
                "ESTMSMCompanyAccount",
                "ESTMSMRawObject",
                "ESTMStatusCollection",
                "ESTMTask",
                "ESTMTaskCategory",
                "ESTMTaskLite",
                "ESTMTaskType",
                "ESTRPosition",
                "ESTRTerritory",
                "ESTRTerritoryBudget",
                "ESTRTerritoryBudgetTemplate",
                "ESTRTerritoryHierarchy",
                "ESTRTerritoryRulePeriod",
                "ESWMAction",
                "ESWMActionType",
                "ESWMActionTypeReport",
                "ESWMCancellationDispositionReasonMap",
                "ESWMCancellationReservationReasonMap",
                "ESWMContainer",
                "ESWMContainerControlPolicy",
                "ESWMContainerType",
                "ESWMDepositor",
                "ESWMItemControlPolicy",
                "ESWMPhaseZoneMapping",
                "ESWMRequest",
                "ESWMRequestStringFieldMap",
                "ESWMRequestType",
                "ESWMReservationReasonWHMap",
                "ESWMShipment",
                "ESWMStepOperation",
                "ESWMTransportAction",
                "ESWMTransportRequest",
                "ESWMWorkPackage",
                "ESWMWorkPackageType",
                "ESWPActualTask",
                "ESWPActualTaskEntry",
                "ESWPTaskRequest",
                "ESWPWorkPackage"
              ],
              "x-ms-summary": "Entitytype."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            },
            {
              "name": "UpdProperties",
              "in": "body",
              "description": "Updproperties..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Updproperties."
            }
          ],
          "responses": {
            "204": {
              "description": ""
            }
          }
        }
      },
      "/api/esentity/CreateEntityByID/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Create a new Entity By ID",
          "description": "Create a new entity by ID",
          "operationId": "ESEntity_CreateEntityByID",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityID",
              "in": "query",
              "description": "Entityid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entityid."
            },
            {
              "name": "UpdProperties",
              "in": "body",
              "description": "Updproperties..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Updproperties."
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.ApiControllers.ESCreatedEntityInfo"
              },
              "headers": {
                "Location": {
                  "description": "The full URI to the created entity",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "/api/esentity/CreateEntityByType/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Create a new entity by Type",
          "description": "Create a new entity by Type",
          "operationId": "ESEntity_CreateEntityByType",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityType",
              "in": "query",
              "description": "Entitytype..",
              "required": true,
              "type": "string",
              "enum": [
                "ES00Device",
                "ES00List",
                "ES00MobileParams",
                "ES00PropertySet",
                "ES00PropertySetCompact",
                "ES00RuleSet",
                "ES00RuleSetType",
                "ES00SegmentationModel",
                "ES00SegmentationTemplate",
                "ES00SemanticsCustomization",
                "ES00SSASParameters",
                "ES00WordGroup",
                "ES00ZProperty",
                "ESBGAllocationProfile",
                "ESBGBudgetDimensionAllocationProfile",
                "ESBGBudgetSheet",
                "ESBGBudgetSheetProfile",
                "ESBGZBudgetCashAccountGroup",
                "ESBGZBudgetItemGroup",
                "ESBGZBudgetSalespersonGroup",
                "ESBGZBudgetTradeAccountGroup",
                "ESCOCostElementType",
                "ESCOCostingFolder",
                "ESCOLineCostAnalysis",
                "ESFACommercialProfile",
                "ESFADepreciationProfile",
                "ESFAFixedAsset",
                "ESFAItemControlPolicy",
                "ESFARevaluationProfile",
                "ESFIBankImport",
                "ESFICardRateProfile",
                "ESFICashAccount",
                "ESFICDCommercialProfile",
                "ESFICheckListProfile",
                "ESFICommercialProfileItem",
                "ESFICommissionProfile",
                "ESFICondition",
                "ESFIConditionTemplate",
                "ESFICreditCardType",
                "ESFICreditControlProfile",
                "ESFICreditor",
                "ESFICreditTurnOverProfile",
                "ESFICreditTurnOverProfileEntry",
                "ESFICustomer",
                "ESFIDebtor",
                "ESFIDeclarationEntry",
                "ESFIDeclarationType",
                "ESFIDistributionDispatch",
                "ESFIDocSeriesAttributes",
                "ESFIDocumentAccessRightProfile",
                "ESFIDocumentAdjustment",
                "ESFIDocumentCash",
                "ESFIDocumentSeries",
                "ESFIDocumentStock",
                "ESFIDocumentTrade",
                "ESFIDocumentTransition",
                "ESFIDocumentUpdateProfile",
                "ESFIDocumentUpdateProfileGL",
                "ESFIEInvoiceProfile",
                "ESFIFieldPropertiesProfile",
                "ESFIFillerProfile",
                "ESFIFinancialAgreement",
                "ESFIFinancialDeclaration",
                "ESFIInnerDistributionEntry",
                "ESFIIntrastatEntry",
                "ESFIInvoicePolicy",
                "ESFIInvoicePolicyAction",
                "ESFIItem",
                "ESFIItemAllocationProfile",
                "ESFIItemCategories",
                "ESFIItemControlPolicy",
                "ESFIItemExpense",
                "ESFIItemExpenses",
                "ESFIItemFamily",
                "ESFIItemPriceHistoryTemplate",
                "ESFIItemService",
                "ESFIItemSubCategory",
                "ESFIItemSubfamily",
                "ESFIKEPYOEntry",
                "ESFIMeasure",
                "ESFIMobileDocumentType",
                "ESFIMyDataInvoice",
                "ESFINote",
                "ESFIOIMatchingProfile",
                "ESFIOpenItemsForDateProposalHeader",
                "ESFIPaymentMethod",
                "ESFIPricelist",
                "ESFIPricelistEditor",
                "ESFISalesPerson",
                "ESFISpecialAccount",
                "ESFISpecialAccountGroup",
                "ESFISupplier",
                "ESFISupplierExpert",
                "ESFITCourier",
                "ESFITradeAccount",
                "ESFITradeAccountContract",
                "ESFITradeAccountContractType",
                "ESFITransitionProfile",
                "ESFITransportPlan",
                "ESFIVoucher",
                "ESFIVoucherPromotionProfile",
                "ESFIWHAccessList",
                "ESFIZAccountPostingDef",
                "ESFIZElectronicTransactionsProfile",
                "ESFIZInterestProfile",
                "ESFIZItemCategory",
                "ESFIZItemFamily",
                "ESFIZItemSubCategory",
                "ESFIZItemSubFamily",
                "ESFIZVATExemptionReasoning",
                "ESGLAccount",
                "ESGLAccountingDocumentTemplate",
                "ESGLAccountingDocumentType",
                "ESGLAllocationProfile",
                "ESGLJournal",
                "ESGLLedgerEntry",
                "ESGlobalBlueDocument",
                "ESGOAreaMap",
                "ESGOColumnsSeq",
                "ESGOCompany",
                "ESGOCompanyBusinessActivityCodes",
                "ESGOCurrency",
                "ESGOCurrencyExchangeRate",
                "ESGOLegalPerson",
                "ESGOMetric",
                "ESGOMetricActual",
                "ESGOMetricSet",
                "ESGOOrganizationalUnit",
                "ESGOPerson",
                "ESGOPhysicalPerson",
                "ESGOPrinter",
                "ESGOProject",
                "ESGOReport",
                "ESGOScale",
                "ESGOScheduledJob",
                "ESGOScript",
                "ESGOSeasonCalendar",
                "ESGOSegmentSequence",
                "ESGOServiceProfile",
                "ESGOShift",
                "ESGOUser",
                "ESGOVATCategoryMapping",
                "ESGOWebUser",
                "ESGOWorkingCalendar",
                "ESGOWorkingCalendarException",
                "ESGOWorkstation",
                "ESGOZBusinessActivity",
                "ESGOZBusinessUnit",
                "ESGOZDimension1",
                "ESGOZDimension2",
                "ESGOZInteractionProfile",
                "ESMLModel",
                "ESMLModelGroup",
                "ESMMBOM",
                "ESMMCatalogueItem",
                "ESMMCommercialProfile",
                "ESMMDeposition",
                "ESMMItemControlPolicy",
                "ESMMItemSellingPrice",
                "ESMMLot",
                "ESMMMaterialRequirement",
                "ESMMMaterialRequirementPlan",
                "ESMMMaterialRequirementPlanWithReqs",
                "ESMMPersonItem",
                "ESMMPhaseRouting",
                "ESMMProductionLeadTimes",
                "ESMMProductionPlan",
                "ESMMProductionPlanDemand",
                "ESMMProductionPlanItem",
                "ESMMProductionPlanWithDemands",
                "ESMMSerialNumber",
                "ESMMSIMURelation",
                "ESMMSortiment",
                "ESMMStockDimSet",
                "ESMMStockDimSetMap",
                "ESMMStockItem",
                "ESMMStockOrderModel",
                "ESMMStockOrderPlan",
                "ESMMStockProposalComposition",
                "ESMMStockProposalGroup",
                "ESMMStorageLocation",
                "ESMMStorageLocationPrinter",
                "ESMMStorageLocationProfile",
                "ESMMStorageLocationTree",
                "ESMMValidStockDimensionsProfile",
                "ESMMZBCProcessingType",
                "ESMMZIntrastatCode",
                "ESMMZMeasurementUnit",
                "ESPlanetDocument",
                "ESTMABCClassificationModel",
                "ESTMCampaign",
                "ESTMContractTerm",
                "ESTMInteraction",
                "ESTMMobileTaskType",
                "ESTMNewsletterRecipient",
                "ESTMObjectRating",
                "ESTMOpportunity",
                "ESTMResource",
                "ESTMRFMModel",
                "ESTMRFMResponseModel",
                "ESTMServiceDefinition",
                "ESTMServiceRequest",
                "ESTMSMAccount",
                "ESTMSMActivity",
                "ESTMSMCompanyAccount",
                "ESTMSMRawObject",
                "ESTMStatusCollection",
                "ESTMTask",
                "ESTMTaskCategory",
                "ESTMTaskLite",
                "ESTMTaskType",
                "ESTRPosition",
                "ESTRTerritory",
                "ESTRTerritoryBudget",
                "ESTRTerritoryBudgetTemplate",
                "ESTRTerritoryHierarchy",
                "ESTRTerritoryRulePeriod",
                "ESWMAction",
                "ESWMActionType",
                "ESWMActionTypeReport",
                "ESWMCancellationDispositionReasonMap",
                "ESWMCancellationReservationReasonMap",
                "ESWMContainer",
                "ESWMContainerControlPolicy",
                "ESWMContainerType",
                "ESWMDepositor",
                "ESWMItemControlPolicy",
                "ESWMPhaseZoneMapping",
                "ESWMRequest",
                "ESWMRequestStringFieldMap",
                "ESWMRequestType",
                "ESWMReservationReasonWHMap",
                "ESWMShipment",
                "ESWMStepOperation",
                "ESWMTransportAction",
                "ESWMTransportRequest",
                "ESWMWorkPackage",
                "ESWMWorkPackageType",
                "ESWPActualTask",
                "ESWPActualTaskEntry",
                "ESWPTaskRequest",
                "ESWPWorkPackage"
              ],
              "x-ms-summary": "Entitytype."
            },
            {
              "name": "UpdProperties",
              "in": "body",
              "description": "Updproperties..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Updproperties."
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.ApiControllers.ESCreatedEntityInfo"
              },
              "headers": {
                "Location": {
                  "description": "The full URI to the created entity",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "/api/esentity/EntityByID/": {
        "get": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Get the object for an entity by ID and PK",
          "description": "Get the object for an entity by ID and PK",
          "operationId": "ESEntity_EntityByID",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityID",
              "in": "query",
              "description": "Entityid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entityid."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESBaseEntity"
              }
            }
          }
        }
      },
      "/api/esentity/EntityByType/": {
        "get": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Get the object for an entity by Type and PK",
          "description": "Get the object for an entity by Type and PK",
          "operationId": "ESEntity_EntityByType",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityType",
              "in": "query",
              "description": "Entitytype..",
              "required": true,
              "type": "string",
              "enum": [
                "ES00Device",
                "ES00List",
                "ES00MobileParams",
                "ES00PropertySet",
                "ES00PropertySetCompact",
                "ES00RuleSet",
                "ES00RuleSetType",
                "ES00SegmentationModel",
                "ES00SegmentationTemplate",
                "ES00SemanticsCustomization",
                "ES00SSASParameters",
                "ES00WordGroup",
                "ES00ZProperty",
                "ESBGAllocationProfile",
                "ESBGBudgetDimensionAllocationProfile",
                "ESBGBudgetSheet",
                "ESBGBudgetSheetProfile",
                "ESBGZBudgetCashAccountGroup",
                "ESBGZBudgetItemGroup",
                "ESBGZBudgetSalespersonGroup",
                "ESBGZBudgetTradeAccountGroup",
                "ESCOCostElementType",
                "ESCOCostingFolder",
                "ESCOLineCostAnalysis",
                "ESFACommercialProfile",
                "ESFADepreciationProfile",
                "ESFAFixedAsset",
                "ESFAItemControlPolicy",
                "ESFARevaluationProfile",
                "ESFIBankImport",
                "ESFICardRateProfile",
                "ESFICashAccount",
                "ESFICDCommercialProfile",
                "ESFICheckListProfile",
                "ESFICommercialProfileItem",
                "ESFICommissionProfile",
                "ESFICondition",
                "ESFIConditionTemplate",
                "ESFICreditCardType",
                "ESFICreditControlProfile",
                "ESFICreditor",
                "ESFICreditTurnOverProfile",
                "ESFICreditTurnOverProfileEntry",
                "ESFICustomer",
                "ESFIDebtor",
                "ESFIDeclarationEntry",
                "ESFIDeclarationType",
                "ESFIDistributionDispatch",
                "ESFIDocSeriesAttributes",
                "ESFIDocumentAccessRightProfile",
                "ESFIDocumentAdjustment",
                "ESFIDocumentCash",
                "ESFIDocumentSeries",
                "ESFIDocumentStock",
                "ESFIDocumentTrade",
                "ESFIDocumentTransition",
                "ESFIDocumentUpdateProfile",
                "ESFIDocumentUpdateProfileGL",
                "ESFIEInvoiceProfile",
                "ESFIFieldPropertiesProfile",
                "ESFIFillerProfile",
                "ESFIFinancialAgreement",
                "ESFIFinancialDeclaration",
                "ESFIInnerDistributionEntry",
                "ESFIIntrastatEntry",
                "ESFIInvoicePolicy",
                "ESFIInvoicePolicyAction",
                "ESFIItem",
                "ESFIItemAllocationProfile",
                "ESFIItemCategories",
                "ESFIItemControlPolicy",
                "ESFIItemExpense",
                "ESFIItemExpenses",
                "ESFIItemFamily",
                "ESFIItemPriceHistoryTemplate",
                "ESFIItemService",
                "ESFIItemSubCategory",
                "ESFIItemSubfamily",
                "ESFIKEPYOEntry",
                "ESFIMeasure",
                "ESFIMobileDocumentType",
                "ESFIMyDataInvoice",
                "ESFINote",
                "ESFIOIMatchingProfile",
                "ESFIOpenItemsForDateProposalHeader",
                "ESFIPaymentMethod",
                "ESFIPricelist",
                "ESFIPricelistEditor",
                "ESFISalesPerson",
                "ESFISpecialAccount",
                "ESFISpecialAccountGroup",
                "ESFISupplier",
                "ESFISupplierExpert",
                "ESFITCourier",
                "ESFITradeAccount",
                "ESFITradeAccountContract",
                "ESFITradeAccountContractType",
                "ESFITransitionProfile",
                "ESFITransportPlan",
                "ESFIVoucher",
                "ESFIVoucherPromotionProfile",
                "ESFIWHAccessList",
                "ESFIZAccountPostingDef",
                "ESFIZElectronicTransactionsProfile",
                "ESFIZInterestProfile",
                "ESFIZItemCategory",
                "ESFIZItemFamily",
                "ESFIZItemSubCategory",
                "ESFIZItemSubFamily",
                "ESFIZVATExemptionReasoning",
                "ESGLAccount",
                "ESGLAccountingDocumentTemplate",
                "ESGLAccountingDocumentType",
                "ESGLAllocationProfile",
                "ESGLJournal",
                "ESGLLedgerEntry",
                "ESGlobalBlueDocument",
                "ESGOAreaMap",
                "ESGOColumnsSeq",
                "ESGOCompany",
                "ESGOCompanyBusinessActivityCodes",
                "ESGOCurrency",
                "ESGOCurrencyExchangeRate",
                "ESGOLegalPerson",
                "ESGOMetric",
                "ESGOMetricActual",
                "ESGOMetricSet",
                "ESGOOrganizationalUnit",
                "ESGOPerson",
                "ESGOPhysicalPerson",
                "ESGOPrinter",
                "ESGOProject",
                "ESGOReport",
                "ESGOScale",
                "ESGOScheduledJob",
                "ESGOScript",
                "ESGOSeasonCalendar",
                "ESGOSegmentSequence",
                "ESGOServiceProfile",
                "ESGOShift",
                "ESGOUser",
                "ESGOVATCategoryMapping",
                "ESGOWebUser",
                "ESGOWorkingCalendar",
                "ESGOWorkingCalendarException",
                "ESGOWorkstation",
                "ESGOZBusinessActivity",
                "ESGOZBusinessUnit",
                "ESGOZDimension1",
                "ESGOZDimension2",
                "ESGOZInteractionProfile",
                "ESMLModel",
                "ESMLModelGroup",
                "ESMMBOM",
                "ESMMCatalogueItem",
                "ESMMCommercialProfile",
                "ESMMDeposition",
                "ESMMItemControlPolicy",
                "ESMMItemSellingPrice",
                "ESMMLot",
                "ESMMMaterialRequirement",
                "ESMMMaterialRequirementPlan",
                "ESMMMaterialRequirementPlanWithReqs",
                "ESMMPersonItem",
                "ESMMPhaseRouting",
                "ESMMProductionLeadTimes",
                "ESMMProductionPlan",
                "ESMMProductionPlanDemand",
                "ESMMProductionPlanItem",
                "ESMMProductionPlanWithDemands",
                "ESMMSerialNumber",
                "ESMMSIMURelation",
                "ESMMSortiment",
                "ESMMStockDimSet",
                "ESMMStockDimSetMap",
                "ESMMStockItem",
                "ESMMStockOrderModel",
                "ESMMStockOrderPlan",
                "ESMMStockProposalComposition",
                "ESMMStockProposalGroup",
                "ESMMStorageLocation",
                "ESMMStorageLocationPrinter",
                "ESMMStorageLocationProfile",
                "ESMMStorageLocationTree",
                "ESMMValidStockDimensionsProfile",
                "ESMMZBCProcessingType",
                "ESMMZIntrastatCode",
                "ESMMZMeasurementUnit",
                "ESPlanetDocument",
                "ESTMABCClassificationModel",
                "ESTMCampaign",
                "ESTMContractTerm",
                "ESTMInteraction",
                "ESTMMobileTaskType",
                "ESTMNewsletterRecipient",
                "ESTMObjectRating",
                "ESTMOpportunity",
                "ESTMResource",
                "ESTMRFMModel",
                "ESTMRFMResponseModel",
                "ESTMServiceDefinition",
                "ESTMServiceRequest",
                "ESTMSMAccount",
                "ESTMSMActivity",
                "ESTMSMCompanyAccount",
                "ESTMSMRawObject",
                "ESTMStatusCollection",
                "ESTMTask",
                "ESTMTaskCategory",
                "ESTMTaskLite",
                "ESTMTaskType",
                "ESTRPosition",
                "ESTRTerritory",
                "ESTRTerritoryBudget",
                "ESTRTerritoryBudgetTemplate",
                "ESTRTerritoryHierarchy",
                "ESTRTerritoryRulePeriod",
                "ESWMAction",
                "ESWMActionType",
                "ESWMActionTypeReport",
                "ESWMCancellationDispositionReasonMap",
                "ESWMCancellationReservationReasonMap",
                "ESWMContainer",
                "ESWMContainerControlPolicy",
                "ESWMContainerType",
                "ESWMDepositor",
                "ESWMItemControlPolicy",
                "ESWMPhaseZoneMapping",
                "ESWMRequest",
                "ESWMRequestStringFieldMap",
                "ESWMRequestType",
                "ESWMReservationReasonWHMap",
                "ESWMShipment",
                "ESWMStepOperation",
                "ESWMTransportAction",
                "ESWMTransportRequest",
                "ESWMWorkPackage",
                "ESWMWorkPackageType",
                "ESWPActualTask",
                "ESWPActualTaskEntry",
                "ESWPTaskRequest",
                "ESWPWorkPackage"
              ],
              "x-ms-summary": "Entitytype."
            },
            {
              "name": "PK",
              "in": "query",
              "description": "The Primary Key as either external Code or the internal unique identifier.",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESBaseEntity"
              }
            }
          }
        }
      },
      "/api/esentity/EntitiesByID/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Get a list of Entities by ID",
          "description": "Get a list of Entities by ID",
          "operationId": "ESEntity_EntitiesByID",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityID",
              "in": "query",
              "description": "Entityid..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entityid."
            },
            {
              "name": "FetchOptions",
              "in": "body",
              "description": "Fetchoptions..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.ERPBridge.ESEntitiesFetchRequest"
              },
              "x-ms-summary": "Fetchoptions."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ESPQResult"
              }
            }
          }
        }
      },
      "/api/esentity/EntitiesByType/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Get a list of Entities by Type",
          "description": "Get a list of Entities by Type",
          "operationId": "ESEntity_EntitiesByType",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "EntityType",
              "in": "query",
              "description": "Entitytype..",
              "required": true,
              "type": "string",
              "enum": [
                "ES00Device",
                "ES00List",
                "ES00MobileParams",
                "ES00PropertySet",
                "ES00PropertySetCompact",
                "ES00RuleSet",
                "ES00RuleSetType",
                "ES00SegmentationModel",
                "ES00SegmentationTemplate",
                "ES00SemanticsCustomization",
                "ES00SSASParameters",
                "ES00WordGroup",
                "ES00ZProperty",
                "ESBGAllocationProfile",
                "ESBGBudgetDimensionAllocationProfile",
                "ESBGBudgetSheet",
                "ESBGBudgetSheetProfile",
                "ESBGZBudgetCashAccountGroup",
                "ESBGZBudgetItemGroup",
                "ESBGZBudgetSalespersonGroup",
                "ESBGZBudgetTradeAccountGroup",
                "ESCOCostElementType",
                "ESCOCostingFolder",
                "ESCOLineCostAnalysis",
                "ESFACommercialProfile",
                "ESFADepreciationProfile",
                "ESFAFixedAsset",
                "ESFAItemControlPolicy",
                "ESFARevaluationProfile",
                "ESFIBankImport",
                "ESFICardRateProfile",
                "ESFICashAccount",
                "ESFICDCommercialProfile",
                "ESFICheckListProfile",
                "ESFICommercialProfileItem",
                "ESFICommissionProfile",
                "ESFICondition",
                "ESFIConditionTemplate",
                "ESFICreditCardType",
                "ESFICreditControlProfile",
                "ESFICreditor",
                "ESFICreditTurnOverProfile",
                "ESFICreditTurnOverProfileEntry",
                "ESFICustomer",
                "ESFIDebtor",
                "ESFIDeclarationEntry",
                "ESFIDeclarationType",
                "ESFIDistributionDispatch",
                "ESFIDocSeriesAttributes",
                "ESFIDocumentAccessRightProfile",
                "ESFIDocumentAdjustment",
                "ESFIDocumentCash",
                "ESFIDocumentSeries",
                "ESFIDocumentStock",
                "ESFIDocumentTrade",
                "ESFIDocumentTransition",
                "ESFIDocumentUpdateProfile",
                "ESFIDocumentUpdateProfileGL",
                "ESFIEInvoiceProfile",
                "ESFIFieldPropertiesProfile",
                "ESFIFillerProfile",
                "ESFIFinancialAgreement",
                "ESFIFinancialDeclaration",
                "ESFIInnerDistributionEntry",
                "ESFIIntrastatEntry",
                "ESFIInvoicePolicy",
                "ESFIInvoicePolicyAction",
                "ESFIItem",
                "ESFIItemAllocationProfile",
                "ESFIItemCategories",
                "ESFIItemControlPolicy",
                "ESFIItemExpense",
                "ESFIItemExpenses",
                "ESFIItemFamily",
                "ESFIItemPriceHistoryTemplate",
                "ESFIItemService",
                "ESFIItemSubCategory",
                "ESFIItemSubfamily",
                "ESFIKEPYOEntry",
                "ESFIMeasure",
                "ESFIMobileDocumentType",
                "ESFIMyDataInvoice",
                "ESFINote",
                "ESFIOIMatchingProfile",
                "ESFIOpenItemsForDateProposalHeader",
                "ESFIPaymentMethod",
                "ESFIPricelist",
                "ESFIPricelistEditor",
                "ESFISalesPerson",
                "ESFISpecialAccount",
                "ESFISpecialAccountGroup",
                "ESFISupplier",
                "ESFISupplierExpert",
                "ESFITCourier",
                "ESFITradeAccount",
                "ESFITradeAccountContract",
                "ESFITradeAccountContractType",
                "ESFITransitionProfile",
                "ESFITransportPlan",
                "ESFIVoucher",
                "ESFIVoucherPromotionProfile",
                "ESFIWHAccessList",
                "ESFIZAccountPostingDef",
                "ESFIZElectronicTransactionsProfile",
                "ESFIZInterestProfile",
                "ESFIZItemCategory",
                "ESFIZItemFamily",
                "ESFIZItemSubCategory",
                "ESFIZItemSubFamily",
                "ESFIZVATExemptionReasoning",
                "ESGLAccount",
                "ESGLAccountingDocumentTemplate",
                "ESGLAccountingDocumentType",
                "ESGLAllocationProfile",
                "ESGLJournal",
                "ESGLLedgerEntry",
                "ESGlobalBlueDocument",
                "ESGOAreaMap",
                "ESGOColumnsSeq",
                "ESGOCompany",
                "ESGOCompanyBusinessActivityCodes",
                "ESGOCurrency",
                "ESGOCurrencyExchangeRate",
                "ESGOLegalPerson",
                "ESGOMetric",
                "ESGOMetricActual",
                "ESGOMetricSet",
                "ESGOOrganizationalUnit",
                "ESGOPerson",
                "ESGOPhysicalPerson",
                "ESGOPrinter",
                "ESGOProject",
                "ESGOReport",
                "ESGOScale",
                "ESGOScheduledJob",
                "ESGOScript",
                "ESGOSeasonCalendar",
                "ESGOSegmentSequence",
                "ESGOServiceProfile",
                "ESGOShift",
                "ESGOUser",
                "ESGOVATCategoryMapping",
                "ESGOWebUser",
                "ESGOWorkingCalendar",
                "ESGOWorkingCalendarException",
                "ESGOWorkstation",
                "ESGOZBusinessActivity",
                "ESGOZBusinessUnit",
                "ESGOZDimension1",
                "ESGOZDimension2",
                "ESGOZInteractionProfile",
                "ESMLModel",
                "ESMLModelGroup",
                "ESMMBOM",
                "ESMMCatalogueItem",
                "ESMMCommercialProfile",
                "ESMMDeposition",
                "ESMMItemControlPolicy",
                "ESMMItemSellingPrice",
                "ESMMLot",
                "ESMMMaterialRequirement",
                "ESMMMaterialRequirementPlan",
                "ESMMMaterialRequirementPlanWithReqs",
                "ESMMPersonItem",
                "ESMMPhaseRouting",
                "ESMMProductionLeadTimes",
                "ESMMProductionPlan",
                "ESMMProductionPlanDemand",
                "ESMMProductionPlanItem",
                "ESMMProductionPlanWithDemands",
                "ESMMSerialNumber",
                "ESMMSIMURelation",
                "ESMMSortiment",
                "ESMMStockDimSet",
                "ESMMStockDimSetMap",
                "ESMMStockItem",
                "ESMMStockOrderModel",
                "ESMMStockOrderPlan",
                "ESMMStockProposalComposition",
                "ESMMStockProposalGroup",
                "ESMMStorageLocation",
                "ESMMStorageLocationPrinter",
                "ESMMStorageLocationProfile",
                "ESMMStorageLocationTree",
                "ESMMValidStockDimensionsProfile",
                "ESMMZBCProcessingType",
                "ESMMZIntrastatCode",
                "ESMMZMeasurementUnit",
                "ESPlanetDocument",
                "ESTMABCClassificationModel",
                "ESTMCampaign",
                "ESTMContractTerm",
                "ESTMInteraction",
                "ESTMMobileTaskType",
                "ESTMNewsletterRecipient",
                "ESTMObjectRating",
                "ESTMOpportunity",
                "ESTMResource",
                "ESTMRFMModel",
                "ESTMRFMResponseModel",
                "ESTMServiceDefinition",
                "ESTMServiceRequest",
                "ESTMSMAccount",
                "ESTMSMActivity",
                "ESTMSMCompanyAccount",
                "ESTMSMRawObject",
                "ESTMStatusCollection",
                "ESTMTask",
                "ESTMTaskCategory",
                "ESTMTaskLite",
                "ESTMTaskType",
                "ESTRPosition",
                "ESTRTerritory",
                "ESTRTerritoryBudget",
                "ESTRTerritoryBudgetTemplate",
                "ESTRTerritoryHierarchy",
                "ESTRTerritoryRulePeriod",
                "ESWMAction",
                "ESWMActionType",
                "ESWMActionTypeReport",
                "ESWMCancellationDispositionReasonMap",
                "ESWMCancellationReservationReasonMap",
                "ESWMContainer",
                "ESWMContainerControlPolicy",
                "ESWMContainerType",
                "ESWMDepositor",
                "ESWMItemControlPolicy",
                "ESWMPhaseZoneMapping",
                "ESWMRequest",
                "ESWMRequestStringFieldMap",
                "ESWMRequestType",
                "ESWMReservationReasonWHMap",
                "ESWMShipment",
                "ESWMStepOperation",
                "ESWMTransportAction",
                "ESWMTransportRequest",
                "ESWMWorkPackage",
                "ESWMWorkPackageType",
                "ESWPActualTask",
                "ESWPActualTaskEntry",
                "ESWPTaskRequest",
                "ESWPWorkPackage"
              ],
              "x-ms-summary": "Entitytype."
            },
            {
              "name": "FetchOptions",
              "in": "body",
              "description": "Fetchoptions..",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Entersoft.ERPBridge.ESEntitiesFetchRequest"
              },
              "x-ms-summary": "Fetchoptions."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api.Models.ESPQResult"
              }
            }
          }
        }
      },
      "/api/esentity/EntityAutomationNew/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Execute a New Entity Automation",
          "description": "Execute a New Entity Automation",
          "operationId": "ESEntity_EntityAutomationNew",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "entity",
              "in": "query",
              "description": "Entity..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entity."
            },
            {
              "name": "operation",
              "in": "query",
              "description": "Operation..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Operation."
            },
            {
              "name": "CommandParams",
              "in": "body",
              "description": "Commandparams..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Commandparams."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/esentity/EntityAutomationUpdate/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Execute an Update Entity Automation",
          "description": "Execute an Update Entity Automation",
          "operationId": "ESEntity_EntityAutomationUpdate",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "entity",
              "in": "query",
              "description": "Entity..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entity."
            },
            {
              "name": "field",
              "in": "query",
              "description": "Field..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Field."
            },
            {
              "name": "id",
              "in": "query",
              "description": "Id..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Id."
            },
            {
              "name": "operation",
              "in": "query",
              "description": "Operation..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Operation."
            },
            {
              "name": "CommandParams",
              "in": "body",
              "description": "Commandparams..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Commandparams."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/esentity/EntityAutomationUpdateByCode/": {
        "post": {
          "tags": [
            "ESEntity"
          ],
          "summary": "Execute an Update Entity Automation by Code",
          "description": "Execute an Update Entity Automation by Code",
          "operationId": "ESEntity_EntityAutomationUpdateByCode",
          "consumes": [
            "application/json",
            "application/x-www-form-urlencoded",
            "text/plain"
          ],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "entity",
              "in": "query",
              "description": "Entity..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Entity."
            },
            {
              "name": "id",
              "in": "query",
              "description": "Id..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Id."
            },
            {
              "name": "operation",
              "in": "query",
              "description": "Operation..",
              "required": true,
              "type": "string",
              "x-ms-summary": "Operation."
            },
            {
              "name": "CommandParams",
              "in": "body",
              "description": "Commandparams..",
              "required": true,
              "schema": {
                "type": "object"
              },
              "x-ms-summary": "Commandparams."
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/api/ESFinancials/ESFIDocumentTrade/{PK}": {
        "get": {
          "tags": [
            "ESFinancials"
          ],
          "summary": "Get the ESFIDocumentTrade object",
          "description": "Get the ESFIDocumentTradeObj",
          "operationId": "ESFinancials_ESFIDocumentTrade",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "PK",
              "in": "path",
              "description": "Either the string represenation of the object's GID or the string representation of the ESFIDocumentTrade object's Code",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESFIDocumentTradeObj"
              }
            }
          }
        }
      },
      "/api/ESFinancials/ESFIItemExpenses/{PK}": {
        "get": {
          "tags": [
            "ESFinancials"
          ],
          "summary": "Get the ESFIItemExpenses object",
          "description": "Get the ESFIItemExpensesObj",
          "operationId": "ESFinancials_ESFIItemExpenses",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "PK",
              "in": "path",
              "description": "Either the string represenation of the object's GID or the string representation of the ESFIItemExpenses object's Code",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESFIItemExpensesObj"
              }
            }
          }
        }
      },
      "/api/ESFinancials/ESFICreditor/{PK}": {
        "get": {
          "tags": [
            "ESFinancials"
          ],
          "summary": "Get the ESFICreditor object",
          "description": "Get the ESFICreditorObj",
          "operationId": "ESFinancials_ESFICreditor",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "PK",
              "in": "path",
              "description": "Either the string represenation of the object's GID or the string representation of the ESFICreditor object's Code",
              "required": true,
              "type": "string",
              "x-ms-summary": "The Primary Key as either external Code or the internal unique identifier",
              "x-ms-url-encoding": "single"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Entersoft.Web.Api2.ODS.Models.ESFICreditorObj"
              }
            }
          }
        }
      },
      "/api/ESFinancials/ESFIDocumentCash/{PK}": {
        "get": {
          "tags": [
            "ESFinancials"
          ],
          "summary": "Get the ESFIDocumentCash object",
          "description": "Get the ESFIDocumentCashObj",
          "operationId": "ESFinancials_ESFIDocumentCash",
          "consumes": [],
          "produces": [
            "application/json",
            "text/plain"
          ],
          "parameters": [
            {
              "name": "PK",
              "in": "path",
[...]
