{
  "swagger": "2.0",
  "info": {
    "title": "NASA Image and Video Library",
    "description": "Use this API to access the NASA Image and Video Library site at images.nasa.gov",
    "version": "1.0",
	"contact": {
      "name": "Paul Culmsee",
      "url": "https://www.sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "images-api.nasa.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "description": "URL of Result Set",
                      "title": "href"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "center": {
                                  "type": "string",
                                  "description": "NASA center which published the media"
                                },
                                "date_created": {
                                  "type": "string",
                                  "description": "Media creation date"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Media description"
                                },
                                "album": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Albums this media belongs to"
                                },
                                "keywords": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Media keywords"
                                },
                                "media_type": {
                                  "type": "string",
                                  "description": "Media Type"
                                },
                                "nasa_id": {
                                  "type": "string",
                                  "description": "The media asset\u2019s NASA ID"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Media Title"
                                }
                              }
                            },
                            "description": "Media metadata"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL of detailed metadatsa for each result"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "URL of media"
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Type of URL (eg preview)"
                                },
                                "render": {
                                  "type": "string",
                                  "description": "Format of media"
                                }
                              }
                            },
                            "description": "links"
                          }
                        }
                      },
                      "description": "items"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "URL of result set"
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Direction of result set"
                          },
                          "rel": {
                            "type": "string",
                            "description": "Link relation"
                          }
                        }
                      },
                      "description": "Links to additional result sets"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "total_hits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total search hits"
                        }
                      },
                      "description": "Metadata about search results"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    }
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Search media",
        "description": "Search media",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Free text search terms to compare to all indexed metadata.",
            "x-ms-summary": "Search term",
            "x-ms-visibility": "important"
          },
          {
            "name": "center",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "NASA center which published the media.",
            "x-ms-summary": "NASA center"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Terms to search for in \u201cDescription\u201d fields.",
            "x-ms-summary": "\u201cDescription\u201d field terms"
          },
          {
            "name": "description_508",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Terms to search for in \u201c508 Description\u201d fields.",
            "x-ms-summary": "\u201c508 Description\u201d field terms."
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Separate multiple values with commas.",
            "x-ms-summary": "Terms to search for in \u201cKeywords\u201d fields. "
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Terms to search for in \u201cLocation\u201d fields.",
            "x-ms-summary": "Terms to search for in \u201cLocation\u201d fields."
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Media types to restrict the search to. Separate multiple values with commas",
            "x-ms-summary": "Media types: [\u201cimage\u201d, \u201caudio\u201d, \u201cvideo\u201d]. Separate multiple values with commas"
          },
          {
            "name": "nasa_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "NASA Asset ID.",
            "x-ms-summary": "The media asset\u2019s NASA ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number",
            "x-ms-summary": "Page number, starting at 1, of results to get.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "photographer",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Primary photographer\u2019s name.",
            "x-ms-summary": "The primary photographer\u2019s name."
          },
          {
            "name": "secondary_creator",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Secondary photographer or videographer\u2019s name.",
            "x-ms-summary": "Secondary photographer or videographer\u2019s name."
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Terms to search for in \u201cTitle\u201d fields.",
            "x-ms-summary": "Terms to search for in \u201cTitle\u201d fields."
          },
          {
            "name": "year_start",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Format: YYYY.",
            "x-ms-summary": "The start year for results. Format: YYYY."
          },
          {
            "name": "year_end",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Format: YYYY.",
            "x-ms-summary": "The end year for results. Format: YYYY."
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/asset/{nasa_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "description": "Media asset manifest URL"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "URL to Media rendition"
                          }
                        }
                      },
                      "description": "items"
                    },
                    "version": {
                      "type": "string",
                      "description": "version"
                    }
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get media asset information",
        "description": "Get media asset information",
        "operationId": "GetMediaAssetManifest",
        "parameters": [
          {
            "name": "nasa_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The media asset\u2019s NASA ID.",
            "x-ms-summary": "The media asset\u2019s NASA ID.",
			"x-ms-url-encoding" : "single"			
          }
        ]
      }
    },
    "/metadata/{nasa_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string",
                  "description": "location",
                  "title": "Location of the asset\u2019s metadata."
                }
              }
            }
          }
        },
        "summary": "Get media asset metadata location",
        "description": "Get media asset metadata location",
        "operationId": "GetMediaAssetMetadataLocation",
        "parameters": [
          {
            "name": "nasa_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The media asset\u2019s NASA ID.",
            "x-ms-summary": "The media asset\u2019s NASA ID.",
			"x-ms-url-encoding" : "single"
          }
        ]
      }
    },
    "/captions/{nasa_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string",
                  "description": "Video asset caption location.",
                  "title": "location"
                }
              }
            }
          }
        },
        "summary": "Get video asset captions location",
        "description": "Get video asset captions location",
        "operationId": "GetVideoAssetCaptionsLocation",
        "parameters": [
          {
            "name": "nasa_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The media asset\u2019s NASA ID.",
            "x-ms-summary": "The media asset\u2019s NASA ID.",
			"x-ms-url-encoding" : "single"			
          }
        ]
      }
    },
    "/album/{album_name}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "href": {
                      "type": "string",
                      "description": "href"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "URL of album"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "album": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Album name"
                                },
                                "center": {
                                  "type": "string",
                                  "description": "NASA center which published the media"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Media title"
                                },
                                "photographer": {
                                  "type": "string",
                                  "description": "The primary photographer\u2019s name"
                                },
                                "keywords": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Media keywords"
                                },
                                "nasa_id": {
                                  "type": "string",
                                  "description": "The media asset\u2019s NASA ID"
                                },
                                "date_created": {
                                  "type": "string",
                                  "description": "Media creation date"
                                },
                                "media_type": {
                                  "type": "string",
                                  "description": "Media type"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Media description"
                                },
                                "location": {
                                  "type": "string",
                                  "description": "Media location"
                                }
                              }
                            },
                            "description": "Album contents"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Media URL"
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Type of URL (eg preview)"
                                },
                                "render": {
                                  "type": "string",
                                  "description": "Format of media"
                                }
                              }
                            },
                            "description": "links"
                          }
                        }
                      },
                      "description": "items"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "total_hits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total search hits"
                        }
                      },
                      "description": "Metadata about album"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "description": "Link relation"
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Direction of result set"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL of result set"
                          }
                        }
                      },
                      "description": "links"
                    }
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Media Album",
        "description": "Get Media Album",
        "operationId": "GetMediaAlbumContents",
        "parameters": [
          {
            "name": "album_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The media album\u2019s name (case\u00adsensitive).",
            "x-ms-summary": "The media album\u2019s name (case\u00adsensitive).",
			"x-ms-url-encoding" : "single"			
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "Page number, starting at 1, of results to get.",
            "x-ms-summary": "Page number, starting at 1, of results to get."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nasa.gov/about"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nasa.gov/about/highlights/HP_Privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Content and Files"
    }
  ]  
}