{
  "swagger" : "2.0",
  "info" : {
    "title" : "Nosco",
    "description" : "Manage ideas with the Nosco platform.",
    "version" : "latest",
    "contact" : {
      "name" : "Nosco Support",
      "url" : "https://help.nos.co/hc/en-us",
      "email" : "support@nos.co"
    }
  },
  "host" : "nos.co",
  "basePath" : "/",
  "schemes" : [
    "https"
  ],
  "paths" : {
    "/integration/v1/ideaboxes" : {
      "get" : {
        "description" : "Query all channels",
        "schemes" : [
          "https"
        ],
        "security" : [
          {
            "APIKeyHeader" : [ ]
          }
        ],
        "summary" : "Query all channels",
        "x-nosco-power-automate-action" : true,
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Channel",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "title"
                    ],
                    "additionalProperties" : false
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "additionalProperties" : false,
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ],
              "additionalProperties" : false
            },
            "description" : ""
          }
        },
        "parameters" : [ ],
        "operationId" : "Ideaboxes"
      }
    },
    "/integration/v1/ideaboxes/{id}/stages" : {
      "get" : {
        "description" : "Query all stages for an ideabox",
        "schemes" : [
          "https"
        ],
        "security" : [
          {
            "APIKeyHeader" : [ ]
          }
        ],
        "x-ms-visibility" : "internal",
        "summary" : "Query all stages for an ideabox",
        "x-nosco-power-automate-action" : true,
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "totalCount" : {
                  "type" : "integer",
                  "format" : "int64"
                },
                "nodes" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "title"
                    ],
                    "additionalProperties" : false
                  }
                }
              },
              "required" : [
                "totalCount",
                "nodes"
              ],
              "additionalProperties" : false
            },
            "description" : ""
          }
        },
        "parameters" : [
          {
            "in" : "path",
            "name" : "id",
            "description" : "",
            "type" : "string",
            "required" : true,
            "x-ms-url-encoding" : "single"
          }
        ],
        "operationId" : "IdeaboxStages"
      }
    },
    "/trigger/integration/v1/power-automate/triggers/idea-reached-stage" : {
      "get" : {
        "operationId" : "IdeaReachedStageTrigger",
        "summary" : "When a post reaches a stage",
        "description" : "When a post reaches a stage",
        "x-ms-trigger" : "batch",
        "x-ms-trigger-metadata" : {
          "mode" : "polling",
          "kind" : "query"
        },
        "parameters" : [
          {
            "name" : "ideaboxId",
            "in" : "query",
            "required" : true,
            "type" : "string",
            "description" : "Channel",
            "x-ms-summary" : "Channel",
            "x-ms-dynamic-values" : {
              "operationId" : "Ideaboxes",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title"
            }
          },
          {
            "name" : "stageId",
            "in" : "query",
            "required" : true,
            "type" : "string",
            "description" : "Stage",
            "x-ms-summary" : "Stage",
            "x-ms-dynamic-values" : {
              "operationId" : "IdeaboxStages",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title",
              "parameters" : {
                "id" : {
                  "parameter" : "ideaboxId"
                }
              }
            }
          },
          {
            "name" : "lastStageChangeAfter",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "x-ms-visibility" : "internal"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "default",
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Post",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "author" : {
                        "title" : "Author",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "publicEmail" : {
                            "title" : "Email",
                            "type" : "string",
                            "x-nullable" : true
                          },
                          "familyName" : {
                            "title" : "Family Name",
                            "type" : "string"
                          },
                          "givenName" : {
                            "title" : "Given Name",
                            "type" : "string"
                          },
                          "fullName" : {
                            "title" : "Full name",
                            "type" : "string"
                          },
                          "url" : {
                            "title" : "Profile URL",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "familyName",
                          "givenName",
                          "fullName",
                          "url"
                        ]
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "publishedAt" : {
                        "title" : "Published At",
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "editedAt" : {
                        "title" : "Edited At",
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true
                      },
                      "lastStageChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "lastStatusChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "descriptionText" : {
                        "title" : "Description",
                        "type" : "string",
                        "x-nullable" : true
                      },
                      "url" : {
                        "title" : "URL",
                        "type" : "string"
                      },
                      "ideabox" : {
                        "title" : "Channel",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "stage" : {
                        "title" : "Stage",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "status" : {
                        "title" : "Status",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "fields" : {
                        "title" : "Fields",
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "title" : "ID",
                              "type" : "string"
                            },
                            "title" : {
                              "title" : "Title",
                              "type" : "string"
                            },
                            "type" : {
                              "title" : "Type",
                              "type" : "string",
                              "enum" : [
                                "TITLE",
                                "TEXTAREA",
                                "TEXTLINE",
                                "DATE",
                                "NUMBER",
                                "DROPDOWN",
                                "SELECT_SINGLE",
                                "SELECT_MULTIPLE",
                                "SELECT_MULTIPLE_EXTENSIBLE",
                                "USERS"
                              ]
                            },
                            "value" : {
                              "type" : "object",
                              "properties" : {
                                "date" : {
                                  "title" : "Date Value",
                                  "type" : "string",
                                  "format" : "date-time"
                                },
                                "number" : {
                                  "title" : "Number Value",
                                  "type" : "number",
                                  "format" : "float",
                                  "x-nullable" : true
                                },
                                "html" : {
                                  "title" : "Text/HTML Value",
                                  "type" : "string"
                                },
                                "markdown" : {
                                  "title" : "Text/Markdown Value",
                                  "type" : "string"
                                },
                                "options" : {
                                  "title" : "Selected Options",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "title" : {
                                        "title" : "Title",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "title"
                                    ]
                                  }
                                },
                                "users" : {
                                  "title" : "Users",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "email" : {
                                        "title" : "Email",
                                        "type" : "string"
                                      },
                                      "fullName" : {
                                        "title" : "Full Name",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "email",
                                      "fullName"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "required" : [
                            "id",
                            "title",
                            "type",
                            "value"
                          ]
                        }
                      },
                      "content" : {
                        "title" : "Content",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "author",
                      "title",
                      "publishedAt",
                      "url",
                      "ideabox",
                      "stage",
                      "status",
                      "fields",
                      "content"
                    ]
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ]
            }
          }
        }
      }
    },
    "/integration/v1/ideas/{id}" : {
      "get" : {
        "description" : "Get a post",
        "schemes" : [
          "https"
        ],
        "security" : [
          {
            "APIKeyHeader" : [ ]
          }
        ],
        "summary" : "Get a post",
        "x-nosco-power-automate-action" : true,
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "title" : "ID",
                  "type" : "string"
                },
                "author" : {
                  "title" : "Author",
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "title" : "ID",
                      "type" : "string"
                    },
                    "publicEmail" : {
                      "title" : "Email",
                      "type" : "string",
                      "x-nullable" : true
                    },
                    "familyName" : {
                      "title" : "Family Name",
                      "type" : "string"
                    },
                    "givenName" : {
                      "title" : "Given Name",
                      "type" : "string"
                    },
                    "fullName" : {
                      "title" : "Full name",
                      "type" : "string"
                    },
                    "url" : {
                      "title" : "Profile URL",
                      "type" : "string"
                    }
                  },
                  "required" : [
                    "id",
                    "familyName",
                    "givenName",
                    "fullName",
                    "url"
                  ],
                  "additionalProperties" : false
                },
                "title" : {
                  "title" : "Title",
                  "type" : "string"
                },
                "publishedAt" : {
                  "title" : "Published At",
                  "type" : "string",
                  "format" : "date-time"
                },
                "editedAt" : {
                  "title" : "Edited At",
                  "type" : "string",
                  "format" : "date-time",
                  "x-nullable" : true
                },
                "lastStageChange" : {
                  "type" : "string",
                  "format" : "date-time",
                  "x-nullable" : true,
                  "x-ms-visibility" : "internal"
                },
                "lastStatusChange" : {
                  "type" : "string",
                  "format" : "date-time",
                  "x-nullable" : true,
                  "x-ms-visibility" : "internal"
                },
                "descriptionText" : {
                  "title" : "Description",
                  "type" : "string",
                  "x-nullable" : true
                },
                "url" : {
                  "title" : "URL",
                  "type" : "string"
                },
                "ideabox" : {
                  "title" : "Channel",
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "title" : "ID",
                      "type" : "string"
                    },
                    "title" : {
                      "title" : "Title",
                      "type" : "string"
                    }
                  },
                  "required" : [
                    "id",
                    "title"
                  ],
                  "additionalProperties" : false
                },
                "stage" : {
                  "title" : "Stage",
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "title" : "ID",
                      "type" : "string"
                    },
                    "title" : {
                      "title" : "Title",
                      "type" : "string"
                    }
                  },
                  "required" : [
                    "id",
                    "title"
                  ],
                  "additionalProperties" : false
                },
                "status" : {
                  "title" : "Status",
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "title" : "ID",
                      "type" : "string"
                    },
                    "title" : {
                      "title" : "Title",
                      "type" : "string"
                    }
                  },
                  "required" : [
                    "id",
                    "title"
                  ],
                  "additionalProperties" : false
                },
                "fields" : {
                  "title" : "Fields",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "type" : {
                        "title" : "Type",
                        "type" : "string",
                        "enum" : [
                          "TITLE",
                          "TEXTAREA",
                          "TEXTLINE",
                          "DATE",
                          "NUMBER",
                          "DROPDOWN",
                          "SELECT_SINGLE",
                          "SELECT_MULTIPLE",
                          "SELECT_MULTIPLE_EXTENSIBLE",
                          "USERS"
                        ]
                      },
                      "value" : {
                        "type" : "object",
                        "properties" : {
                          "date" : {
                            "title" : "Date Value",
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "number" : {
                            "title" : "Number Value",
                            "type" : "number",
                            "format" : "float",
                            "x-nullable" : true
                          },
                          "html" : {
                            "title" : "Text/HTML Value",
                            "type" : "string"
                          },
                          "markdown" : {
                            "title" : "Text/Markdown Value",
                            "type" : "string"
                          },
                          "options" : {
                            "title" : "Selected Options",
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "title" : "ID",
                                  "type" : "string"
                                },
                                "title" : {
                                  "title" : "Title",
                                  "type" : "string"
                                }
                              },
                              "required" : [
                                "id",
                                "title"
                              ],
                              "additionalProperties" : false
                            }
                          },
                          "users" : {
                            "title" : "Users",
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "title" : "ID",
                                  "type" : "string"
                                },
                                "email" : {
                                  "title" : "Email",
                                  "type" : "string"
                                },
                                "fullName" : {
                                  "title" : "Full Name",
                                  "type" : "string"
                                }
                              },
                              "required" : [
                                "id",
                                "email",
                                "fullName"
                              ],
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "required" : [
                      "id",
                      "title",
                      "type",
                      "value"
                    ],
                    "additionalProperties" : false
                  }
                },
                "content" : {
                  "title" : "Content",
                  "type" : "string"
                }
              },
              "required" : [
                "id",
                "author",
                "title",
                "publishedAt",
                "url",
                "ideabox",
                "stage",
                "status",
                "fields",
                "content"
              ],
              "additionalProperties" : false
            },
            "description" : ""
          }
        },
        "parameters" : [
          {
            "in" : "path",
            "name" : "id",
            "description" : "Post ID",
            "type" : "string",
            "required" : true,
            "x-ms-summary" : "Post ID",
            "x-ms-url-encoding" : "single"
          }
        ],
        "operationId" : "GetIdea"
      }
    },
    "/trigger/integration/v1/power-automate/triggers/idea-status-changed" : {
      "get" : {
        "operationId" : "IdeaStatusChangedTrigger",
        "summary" : "When a post changes status",
        "description" : "When a post changes status",
        "x-ms-trigger" : "batch",
        "x-ms-trigger-metadata" : {
          "mode" : "polling",
          "kind" : "query"
        },
        "parameters" : [
          {
            "name" : "ideaboxId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Channel",
            "x-ms-summary" : "Channel",
            "x-ms-dynamic-values" : {
              "operationId" : "Ideaboxes",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title"
            }
          },
          {
            "name" : "stageId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Stage",
            "x-ms-summary" : "Stage",
            "x-ms-dynamic-values" : {
              "operationId" : "IdeaboxStages",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title",
              "parameters" : {
                "id" : {
                  "parameter" : "ideaboxId"
                }
              }
            }
          },
          {
            "name" : "statusId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Status",
            "x-ms-summary" : "Status",
            "x-ms-dynamic-values" : {
              "operationId" : "Statuses",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title"
            }
          },
          {
            "name" : "lastStatusChangeAfter",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "x-ms-visibility" : "internal"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "default",
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Post",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "author" : {
                        "title" : "Author",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "publicEmail" : {
                            "title" : "Email",
                            "type" : "string",
                            "x-nullable" : true
                          },
                          "familyName" : {
                            "title" : "Family Name",
                            "type" : "string"
                          },
                          "givenName" : {
                            "title" : "Given Name",
                            "type" : "string"
                          },
                          "fullName" : {
                            "title" : "Full name",
                            "type" : "string"
                          },
                          "url" : {
                            "title" : "Profile URL",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "familyName",
                          "givenName",
                          "fullName",
                          "url"
                        ]
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "publishedAt" : {
                        "title" : "Published At",
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "editedAt" : {
                        "title" : "Edited At",
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true
                      },
                      "lastStageChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "lastStatusChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "descriptionText" : {
                        "title" : "Description",
                        "type" : "string",
                        "x-nullable" : true
                      },
                      "url" : {
                        "title" : "URL",
                        "type" : "string"
                      },
                      "ideabox" : {
                        "title" : "Channel",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "stage" : {
                        "title" : "Stage",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "status" : {
                        "title" : "Status",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "fields" : {
                        "title" : "Fields",
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "title" : "ID",
                              "type" : "string"
                            },
                            "title" : {
                              "title" : "Title",
                              "type" : "string"
                            },
                            "type" : {
                              "title" : "Type",
                              "type" : "string",
                              "enum" : [
                                "TITLE",
                                "TEXTAREA",
                                "TEXTLINE",
                                "DATE",
                                "NUMBER",
                                "DROPDOWN",
                                "SELECT_SINGLE",
                                "SELECT_MULTIPLE",
                                "SELECT_MULTIPLE_EXTENSIBLE",
                                "USERS"
                              ]
                            },
                            "value" : {
                              "type" : "object",
                              "properties" : {
                                "date" : {
                                  "title" : "Date Value",
                                  "type" : "string",
                                  "format" : "date-time"
                                },
                                "number" : {
                                  "title" : "Number Value",
                                  "type" : "number",
                                  "format" : "float",
                                  "x-nullable" : true
                                },
                                "html" : {
                                  "title" : "Text/HTML Value",
                                  "type" : "string"
                                },
                                "markdown" : {
                                  "title" : "Text/Markdown Value",
                                  "type" : "string"
                                },
                                "options" : {
                                  "title" : "Selected Options",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "title" : {
                                        "title" : "Title",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "title"
                                    ]
                                  }
                                },
                                "users" : {
                                  "title" : "Users",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "email" : {
                                        "title" : "Email",
                                        "type" : "string"
                                      },
                                      "fullName" : {
                                        "title" : "Full Name",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "email",
                                      "fullName"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "required" : [
                            "id",
                            "title",
                            "type",
                            "value"
                          ]
                        }
                      },
                      "content" : {
                        "title" : "Content",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "author",
                      "title",
                      "publishedAt",
                      "url",
                      "ideabox",
                      "stage",
                      "status",
                      "fields",
                      "content"
                    ]
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ]
            }
          }
        }
      }
    },
    "/integration/v1/ideas" : {
      "get" : {
        "description" : "Query all posts",
        "schemes" : [
          "https"
        ],
        "security" : [
          {
            "APIKeyHeader" : [ ]
          }
        ],
        "summary" : "Query all posts",
        "x-nosco-power-automate-action" : true,
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Post",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "author" : {
                        "title" : "Author",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "publicEmail" : {
                            "title" : "Email",
                            "type" : "string",
                            "x-nullable" : true
                          },
                          "familyName" : {
                            "title" : "Family Name",
                            "type" : "string"
                          },
                          "givenName" : {
                            "title" : "Given Name",
                            "type" : "string"
                          },
                          "fullName" : {
                            "title" : "Full name",
                            "type" : "string"
                          },
                          "url" : {
                            "title" : "Profile URL",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "familyName",
                          "givenName",
                          "fullName",
                          "url"
                        ],
                        "additionalProperties" : false
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "publishedAt" : {
                        "title" : "Published At",
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "editedAt" : {
                        "title" : "Edited At",
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true
                      },
                      "lastStageChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "lastStatusChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "descriptionText" : {
                        "title" : "Description",
                        "type" : "string",
                        "x-nullable" : true
                      },
                      "url" : {
                        "title" : "URL",
                        "type" : "string"
                      },
                      "ideabox" : {
                        "title" : "Channel",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ],
                        "additionalProperties" : false
                      },
                      "stage" : {
                        "title" : "Stage",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ],
                        "additionalProperties" : false
                      },
                      "status" : {
                        "title" : "Status",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ],
                        "additionalProperties" : false
                      },
                      "fields" : {
                        "title" : "Fields",
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "title" : "ID",
                              "type" : "string"
                            },
                            "title" : {
                              "title" : "Title",
                              "type" : "string"
                            },
                            "type" : {
                              "title" : "Type",
                              "type" : "string",
                              "enum" : [
                                "TITLE",
                                "TEXTAREA",
                                "TEXTLINE",
                                "DATE",
                                "NUMBER",
                                "DROPDOWN",
                                "SELECT_SINGLE",
                                "SELECT_MULTIPLE",
                                "SELECT_MULTIPLE_EXTENSIBLE",
                                "USERS"
                              ]
                            },
                            "value" : {
                              "type" : "object",
                              "properties" : {
                                "date" : {
                                  "title" : "Date Value",
                                  "type" : "string",
                                  "format" : "date-time"
                                },
                                "number" : {
                                  "title" : "Number Value",
                                  "type" : "number",
                                  "format" : "float",
                                  "x-nullable" : true
                                },
                                "html" : {
                                  "title" : "Text/HTML Value",
                                  "type" : "string"
                                },
                                "markdown" : {
                                  "title" : "Text/Markdown Value",
                                  "type" : "string"
                                },
                                "options" : {
                                  "title" : "Selected Options",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "title" : {
                                        "title" : "Title",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "title"
                                    ],
                                    "additionalProperties" : false
                                  }
                                },
                                "users" : {
                                  "title" : "Users",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "email" : {
                                        "title" : "Email",
                                        "type" : "string"
                                      },
                                      "fullName" : {
                                        "title" : "Full Name",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "email",
                                      "fullName"
                                    ],
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "required" : [
                            "id",
                            "title",
                            "type",
                            "value"
                          ],
                          "additionalProperties" : false
                        }
                      },
                      "content" : {
                        "title" : "Content",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "author",
                      "title",
                      "publishedAt",
                      "url",
                      "ideabox",
                      "stage",
                      "status",
                      "fields",
                      "content"
                    ],
                    "additionalProperties" : false
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "additionalProperties" : false,
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ],
              "additionalProperties" : false
            },
            "description" : ""
          }
        },
        "parameters" : [
          {
            "in" : "query",
            "name" : "publishedAfter",
            "description" : "Filter for ideas published after a date/time",
            "type" : "string",
            "required" : false,
            "format" : "date-time",
            "x-ms-summary" : "Filter for ideas published after a date/time"
          },
          {
            "in" : "query",
            "name" : "lastStageChangeAfter",
            "description" : "Filter for ideas which last changed stage after a date/time",
            "type" : "string",
            "required" : false,
            "format" : "date-time",
            "x-ms-summary" : "Filter for ideas which last changed stage after a date/time"
          },
          {
            "in" : "query",
            "name" : "ideaboxId",
            "description" : "Filter for ideas in an ideabox",
            "type" : "string",
            "required" : false,
            "x-ms-summary" : "Filter for ideas in an ideabox"
          },
          {
            "in" : "query",
            "name" : "stageId",
            "description" : "Filter for ideas in a stage",
            "type" : "string",
            "required" : false,
            "x-ms-summary" : "Filter for ideas in a stage"
          },
          {
            "in" : "query",
            "name" : "sortField",
            "description" : "Sort by a field",
            "type" : "string",
            "required" : false,
            "default" : "PUBLISHED_AT",
            "enum" : [
              "PUBLISHED_AT",
              "LAST_STAGE_CHANGE_AT"
            ],
            "x-ms-summary" : "Sort by a field"
          },
          {
            "in" : "query",
            "name" : "sortOrder",
            "description" : "Sort in a direction",
            "type" : "string",
            "required" : false,
            "default" : "DESC",
            "enum" : [
              "ASC",
              "DESC"
            ],
            "x-ms-summary" : "Sort in a direction"
          },
          {
            "in" : "query",
            "name" : "afterCursor",
            "description" : "Return items after the cursor",
            "type" : "string",
            "required" : false,
            "x-ms-summary" : "Return items after the cursor"
          },
          {
            "description" : "Limit the ideas returned",
            "format" : "int64",
            "default" : 100,
            "name" : "limit",
            "type" : "integer",
            "x-allOf" : [
              {
                "type" : "integer",
                "format" : "int64"
              },
              {
                "type" : "number",
                "exclusiveMinimum" : 0
              },
              {
                "type" : "number",
                "maximum" : 100
              }
            ],
            "x-ms-summary" : "Limit the ideas returned",
            "required" : false,
            "in" : "query"
          }
        ],
        "operationId" : "Ideas"
      }
    },
    "/trigger/integration/v1/power-automate/triggers/idea-published" : {
      "get" : {
        "operationId" : "IdeaPublishedTrigger",
        "summary" : "When a new post is published",
        "description" : "When a new post is published",
        "x-ms-trigger" : "batch",
        "x-ms-trigger-metadata" : {
          "mode" : "polling",
          "kind" : "query"
        },
        "parameters" : [
          {
            "name" : "publishedAfter",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "format" : "date-time",
            "x-ms-visibility" : "internal"
          },
          {
            "name" : "ideaboxId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Channel",
            "x-ms-summary" : "Channel",
            "x-ms-dynamic-values" : {
              "operationId" : "Ideaboxes",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title"
            }
          },
          {
            "name" : "stageId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Stage",
            "x-ms-summary" : "Stage",
            "x-ms-dynamic-values" : {
              "operationId" : "IdeaboxStages",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title",
              "parameters" : {
                "id" : {
                  "parameter" : "ideaboxId"
                }
              }
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "default",
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Post",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "author" : {
                        "title" : "Author",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "publicEmail" : {
                            "title" : "Email",
                            "type" : "string",
                            "x-nullable" : true
                          },
                          "familyName" : {
                            "title" : "Family Name",
                            "type" : "string"
                          },
                          "givenName" : {
                            "title" : "Given Name",
                            "type" : "string"
                          },
                          "fullName" : {
                            "title" : "Full name",
                            "type" : "string"
                          },
                          "url" : {
                            "title" : "Profile URL",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "familyName",
                          "givenName",
                          "fullName",
                          "url"
                        ]
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "publishedAt" : {
                        "title" : "Published At",
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "editedAt" : {
                        "title" : "Edited At",
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true
                      },
                      "lastStageChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "lastStatusChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "descriptionText" : {
                        "title" : "Description",
                        "type" : "string",
                        "x-nullable" : true
                      },
                      "url" : {
                        "title" : "URL",
                        "type" : "string"
                      },
                      "ideabox" : {
                        "title" : "Channel",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "stage" : {
                        "title" : "Stage",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "status" : {
                        "title" : "Status",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "fields" : {
                        "title" : "Fields",
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "title" : "ID",
                              "type" : "string"
                            },
                            "title" : {
                              "title" : "Title",
                              "type" : "string"
                            },
                            "type" : {
                              "title" : "Type",
                              "type" : "string",
                              "enum" : [
                                "TITLE",
                                "TEXTAREA",
                                "TEXTLINE",
                                "DATE",
                                "NUMBER",
                                "DROPDOWN",
                                "SELECT_SINGLE",
                                "SELECT_MULTIPLE",
                                "SELECT_MULTIPLE_EXTENSIBLE",
                                "USERS"
                              ]
                            },
                            "value" : {
                              "type" : "object",
                              "properties" : {
                                "date" : {
                                  "title" : "Date Value",
                                  "type" : "string",
                                  "format" : "date-time"
                                },
                                "number" : {
                                  "title" : "Number Value",
                                  "type" : "number",
                                  "format" : "float",
                                  "x-nullable" : true
                                },
                                "html" : {
                                  "title" : "Text/HTML Value",
                                  "type" : "string"
                                },
                                "markdown" : {
                                  "title" : "Text/Markdown Value",
                                  "type" : "string"
                                },
                                "options" : {
                                  "title" : "Selected Options",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "title" : {
                                        "title" : "Title",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "title"
                                    ]
                                  }
                                },
                                "users" : {
                                  "title" : "Users",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "email" : {
                                        "title" : "Email",
                                        "type" : "string"
                                      },
                                      "fullName" : {
                                        "title" : "Full Name",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "email",
                                      "fullName"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "required" : [
                            "id",
                            "title",
                            "type",
                            "value"
                          ]
                        }
                      },
                      "content" : {
                        "title" : "Content",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "author",
                      "title",
                      "publishedAt",
                      "url",
                      "ideabox",
                      "stage",
                      "status",
                      "fields",
                      "content"
                    ]
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ]
            }
          }
        }
      }
    },
    "/trigger/integration/v1/power-automate/triggers/idea-edited" : {
      "get" : {
        "operationId" : "IdeaEditedTrigger",
        "summary" : "When a post is edited",
        "description" : "When a post is edited",
        "x-ms-trigger" : "batch",
        "x-ms-trigger-metadata" : {
          "mode" : "polling",
          "kind" : "query"
        },
        "parameters" : [
          {
            "name" : "editedAfter",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "format" : "date-time",
            "x-ms-visibility" : "internal"
          },
          {
            "name" : "ideaboxId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Channel",
            "x-ms-summary" : "Channel",
            "x-ms-dynamic-values" : {
              "operationId" : "Ideaboxes",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title"
            }
          },
          {
            "name" : "stageId",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "description" : "Stage",
            "x-ms-summary" : "Stage",
            "x-ms-dynamic-values" : {
              "operationId" : "IdeaboxStages",
              "value-path" : "id",
              "value-collection" : "nodes",
              "value-title" : "title",
              "parameters" : {
                "id" : {
                  "parameter" : "ideaboxId"
                }
              }
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "default",
            "schema" : {
              "type" : "object",
              "properties" : {
                "nodes" : {
                  "title" : "Post",
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "author" : {
                        "title" : "Author",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "publicEmail" : {
                            "title" : "Email",
                            "type" : "string",
                            "x-nullable" : true
                          },
                          "familyName" : {
                            "title" : "Family Name",
                            "type" : "string"
                          },
                          "givenName" : {
                            "title" : "Given Name",
                            "type" : "string"
                          },
                          "fullName" : {
                            "title" : "Full name",
                            "type" : "string"
                          },
                          "url" : {
                            "title" : "Profile URL",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "familyName",
                          "givenName",
                          "fullName",
                          "url"
                        ]
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      },
                      "publishedAt" : {
                        "title" : "Published At",
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "editedAt" : {
                        "title" : "Edited At",
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true
                      },
                      "lastStageChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "lastStatusChange" : {
                        "type" : "string",
                        "format" : "date-time",
                        "x-nullable" : true,
                        "x-ms-visibility" : "internal"
                      },
                      "descriptionText" : {
                        "title" : "Description",
                        "type" : "string",
                        "x-nullable" : true
                      },
                      "url" : {
                        "title" : "URL",
                        "type" : "string"
                      },
                      "ideabox" : {
                        "title" : "Channel",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "stage" : {
                        "title" : "Stage",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "status" : {
                        "title" : "Status",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "title" : "ID",
                            "type" : "string"
                          },
                          "title" : {
                            "title" : "Title",
                            "type" : "string"
                          }
                        },
                        "required" : [
                          "id",
                          "title"
                        ]
                      },
                      "fields" : {
                        "title" : "Fields",
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "title" : "ID",
                              "type" : "string"
                            },
                            "title" : {
                              "title" : "Title",
                              "type" : "string"
                            },
                            "type" : {
                              "title" : "Type",
                              "type" : "string",
                              "enum" : [
                                "TITLE",
                                "TEXTAREA",
                                "TEXTLINE",
                                "DATE",
                                "NUMBER",
                                "DROPDOWN",
                                "SELECT_SINGLE",
                                "SELECT_MULTIPLE",
                                "SELECT_MULTIPLE_EXTENSIBLE",
                                "USERS"
                              ]
                            },
                            "value" : {
                              "type" : "object",
                              "properties" : {
                                "date" : {
                                  "title" : "Date Value",
                                  "type" : "string",
                                  "format" : "date-time"
                                },
                                "number" : {
                                  "title" : "Number Value",
                                  "type" : "number",
                                  "format" : "float",
                                  "x-nullable" : true
                                },
                                "html" : {
                                  "title" : "Text/HTML Value",
                                  "type" : "string"
                                },
                                "markdown" : {
                                  "title" : "Text/Markdown Value",
                                  "type" : "string"
                                },
                                "options" : {
                                  "title" : "Selected Options",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "title" : {
                                        "title" : "Title",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "title"
                                    ]
                                  }
                                },
                                "users" : {
                                  "title" : "Users",
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object",
                                    "properties" : {
                                      "id" : {
                                        "title" : "ID",
                                        "type" : "string"
                                      },
                                      "email" : {
                                        "title" : "Email",
                                        "type" : "string"
                                      },
                                      "fullName" : {
                                        "title" : "Full Name",
                                        "type" : "string"
                                      }
                                    },
                                    "required" : [
                                      "id",
                                      "email",
                                      "fullName"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "required" : [
                            "id",
                            "title",
                            "type",
                            "value"
                          ]
                        }
                      },
                      "content" : {
                        "title" : "Content",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "author",
                      "title",
                      "publishedAt",
                      "url",
                      "ideabox",
                      "stage",
                      "status",
                      "fields",
                      "content"
                    ]
                  }
                },
                "totalCount" : {
                  "default" : 0,
                  "type" : "integer",
                  "format" : "int64",
                  "minimum" : 0,
                  "x-ms-visibility" : "internal"
                },
                "pageInfo" : {
                  "type" : "object",
                  "properties" : {
                    "hasNextPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "hasPreviousPage" : {
                      "default" : false,
                      "type" : "boolean",
                      "x-ms-visibility" : "internal"
                    },
                    "endCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    },
                    "startCursor" : {
                      "type" : "string",
                      "x-nullable" : true,
                      "x-ms-visibility" : "internal"
                    }
                  },
                  "required" : [
                    "hasNextPage",
                    "hasPreviousPage"
                  ],
                  "x-ms-visibility" : "internal"
                }
              },
              "required" : [
                "nodes",
                "totalCount",
                "pageInfo"
              ]
            }
          }
        }
      }
    },
    "/integration/v1/statuses" : {
      "get" : {
        "description" : "Query all statuses",
        "schemes" : [
          "https"
        ],
        "security" : [
          {
            "APIKeyHeader" : [ ]
          }
        ],
        "x-ms-visibility" : "internal",
        "summary" : "Query all statuses",
        "x-nosco-power-automate-action" : true,
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "totalCount" : {
                  "type" : "integer",
                  "format" : "int64"
                },
                "nodes" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "title" : "ID",
                        "type" : "string"
                      },
                      "title" : {
                        "title" : "Title",
                        "type" : "string"
                      }
                    },
                    "required" : [
                      "id",
                      "title"
                    ],
                    "additionalProperties" : false
                  }
                }
              },
              "required" : [
                "totalCount",
                "nodes"
              ],
              "additionalProperties" : false
            },
            "description" : ""
          }
        },
        "parameters" : [ ],
        "operationId" : "Statuses"
      }
    }
  },
  "securityDefinitions" : {
    "APIKeyHeader" : {
      "type" : "apiKey",
      "in" : "header",
      "name" : "X-API-Key"
    }
  },
  "security" : [
    {
      "APIKeyHeader" : [ ]
    }
  ],
  "x-ms-connector-metadata" : [
    {
      "propertyName" : "Website",
      "propertyValue" : "https://nos.co"
    },
    {
      "propertyName" : "Privacy policy",
      "propertyValue" : "https://nos.co/privacy-policy/"
    },
    {
      "propertyName" : "Categories",
      "propertyValue" : "Collaboration;Business Management"
    }
  ]
}