{
  "swagger": "2.0",
  "info": {
    "title": "Givebutter",
    "description": "Givebutter is the world’s first completely free end-to-end fundraising platform. Raise more with modern forms, campaigns, and events. Manage your contacts and funds with details about transactions, payouts, and funds.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.givebutter.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "account_id": {
                        "type": "string",
                        "description": "The unique identifier of the account.",
                        "title": "Account ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "The subtitle.",
                        "title": "Subtitle"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "goal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The goal.",
                        "title": "Goal"
                      },
                      "raised": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount raised.",
                        "title": "Raised"
                      },
                      "donors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of donors.",
                        "title": "Donors"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "logo": {
                        "type": "string",
                        "description": "The logo.",
                        "title": "Logo"
                      },
                      "cover": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          }
                        },
                        "title": "Cover"
                      },
                      "end_at": {
                        "type": "string",
                        "description": "When the end is at.",
                        "title": "End At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The last updated at.",
                        "title": "Updated At"
                      },
                      "event": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "location_name": {
                            "type": "string",
                            "description": "The location name.",
                            "title": "Location Name"
                          },
                          "address_formatted": {
                            "type": "string",
                            "description": "The formatted address.",
                            "title": "Address Formatted"
                          },
                          "google_place_id": {
                            "type": "string",
                            "description": "The Google Place unique identifier.",
                            "title": "Google Place ID"
                          },
                          "start_at": {
                            "type": "string",
                            "description": "When the start is at.",
                            "title": "Start At"
                          },
                          "end_at": {
                            "type": "string",
                            "description": "The end at.",
                            "title": "End At"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone.",
                            "title": "Timezone"
                          },
                          "details": {
                            "type": "string",
                            "description": "The details.",
                            "title": "Details"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether private.",
                            "title": "Private"
                          },
                          "tickets_required": {
                            "type": "boolean",
                            "description": "Whether tickets are required.",
                            "title": "Tickets Required"
                          },
                          "livestream": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "location": {
                                "type": "string",
                                "description": "The location.",
                                "title": "Location"
                              },
                              "platform": {
                                "type": "string",
                                "description": "The platform.",
                                "title": "Platform"
                              },
                              "embed_url": {
                                "type": "string",
                                "description": "The embed URL address.",
                                "title": "Embed URL"
                              },
                              "scheduled": {
                                "type": "boolean",
                                "description": "Whether scheduled.",
                                "title": "Scheduled"
                              }
                            },
                            "title": "Livestream"
                          },
                          "livestream_start_at": {
                            "type": "string",
                            "description": "When the livestream starts at.",
                            "title": "Livestream Start At"
                          },
                          "livestream_end_at": {
                            "type": "string",
                            "description": "When the livestream ends at.",
                            "title": "Livestream End At"
                          }
                        },
                        "title": "Event"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number from.",
                      "title": "From"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last page number.",
                      "title": "Last Page"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether active.",
                            "title": "Active"
                          }
                        }
                      },
                      "title": "Links"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number to.",
                      "title": "To"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number.",
                      "title": "Total"
                    },
                    "unfiltered_total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unfiltered total number.",
                      "title": "Unfiltered Total"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get campaigns",
        "description": "Retrieves a list of your campaigns.",
        "operationId": "CampaignGet",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "x-ms-summary": "Scope",
            "description": "The scope.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "account_id": {
                  "type": "string",
                  "description": "The account unique identifier.",
                  "title": "Account ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "subtitle": {
                  "type": "string",
                  "description": "The subtitle.",
                  "title": "Subtitle"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "raised": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount raised.",
                  "title": "Raised"
                },
                "donors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of donors.",
                  "title": "Donors"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    }
                  },
                  "title": "Cover"
                },
                "end_at": {
                  "type": "string",
                  "description": "When the end is at.",
                  "title": "End At"
                },
                "created_at": {
                  "type": "string",
                  "description": "The created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The last updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create a campaign",
        "description": "Creates a new campaign.",
        "operationId": "CampaignPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "end_at": {
                  "type": "string",
                  "description": "When the end is at.",
                  "title": "End At"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "subtitle": {
                  "type": "string",
                  "description": "The subtitle.",
                  "title": "Subtitle"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "account_id": {
                  "type": "string",
                  "description": "The account unique identifier.",
                  "title": "Account ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "subtitle": {
                  "type": "string",
                  "description": "The subtitle.",
                  "title": "Subtitle"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "raised": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount raised.",
                  "title": "Raised"
                },
                "donors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of donors.",
                  "title": "Donors"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    }
                  },
                  "title": "Cover"
                },
                "end_at": {
                  "type": "string",
                  "description": "When the end is at.",
                  "title": "End At"
                },
                "created_at": {
                  "type": "string",
                  "description": "The created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The last updated at.",
                  "title": "Updated At"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location_name": {
                      "type": "string",
                      "description": "The location name.",
                      "title": "Location Name"
                    },
                    "address_formatted": {
                      "type": "string",
                      "description": "The formatted address.",
                      "title": "Address Formatted"
                    },
                    "google_place_id": {
                      "type": "string",
                      "description": "The Google Place unique identifier.",
                      "title": "Google Place ID"
                    },
                    "start_at": {
                      "type": "string",
                      "description": "When started at.",
                      "title": "Start At"
                    },
                    "end_at": {
                      "type": "string",
                      "description": "The end at.",
                      "title": "End At"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "The timezone.",
                      "title": "Timezone"
                    },
                    "details": {
                      "type": "string",
                      "description": "The details.",
                      "title": "Details"
                    },
                    "private": {
                      "type": "boolean",
                      "description": "Whether private.",
                      "title": "Private"
                    },
                    "tickets_required": {
                      "type": "boolean",
                      "description": "Whether tickets are required.",
                      "title": "Tickets Required"
                    },
                    "livestream": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "location": {
                          "type": "string",
                          "description": "The location.",
                          "title": "Location"
                        },
                        "platform": {
                          "type": "string",
                          "description": "The platform.",
                          "title": "Platform"
                        },
                        "embed_url": {
                          "type": "string",
                          "description": "The embed URL address.",
                          "title": "Embed URL"
                        },
                        "scheduled": {
                          "type": "boolean",
                          "description": "Whether scheduled.",
                          "title": "Scheduled"
                        }
                      },
                      "title": "Livestream"
                    },
                    "livestream_start_at": {
                      "type": "string",
                      "description": "The livestream starts at.",
                      "title": "Livestream Start At"
                    },
                    "livestream_end_at": {
                      "type": "string",
                      "description": "The livestream ends at.",
                      "title": "Livestream End At"
                    }
                  },
                  "title": "Event"
                }
              }
            }
          }
        },
        "summary": "Get a campaign",
        "description": "Retrieves a specific campaign.",
        "operationId": "CampaignGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a campaign",
        "description": "Deletes a specific campaign",
        "operationId": "CampaignDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "account_id": {
                  "type": "string",
                  "description": "The account unique identifier.",
                  "title": "Account ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "subtitle": {
                  "type": "string",
                  "description": "The subtitle.",
                  "title": "Subtitle"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "raised": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount raised.",
                  "title": "Raised"
                },
                "donors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of donors.",
                  "title": "Donors"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    }
                  },
                  "title": "Cover"
                },
                "end_at": {
                  "type": "string",
                  "description": "When the end is at.",
                  "title": "End At"
                },
                "created_at": {
                  "type": "string",
                  "description": "The created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The last updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Update a campaign",
        "description": "Updates an existing campaign.",
        "operationId": "CampaignPatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "end_at": {
                  "type": "string",
                  "description": "When the end is at.",
                  "title": "End At"
                },
                "goal": {
                  "type": "string",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "subtitle": {
                  "type": "string",
                  "description": "The subtitle.",
                  "title": "Subtitle"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/members": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "phone": {
                        "type": "string",
                        "description": "The phone number.",
                        "title": "Phone"
                      },
                      "picture": {
                        "type": "string",
                        "description": "The picture.",
                        "title": "Picture"
                      },
                      "raised": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount raised.",
                        "title": "Raised"
                      },
                      "goal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The goal.",
                        "title": "Goal"
                      },
                      "donors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of donors.",
                        "title": "Donors"
                      },
                      "items": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of items.",
                        "title": "Items"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number from.",
                      "title": "From"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last page number.",
                      "title": "Last Page"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether active.",
                            "title": "Active"
                          }
                        }
                      },
                      "title": "Links"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number to.",
                      "title": "To"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number.",
                      "title": "Total"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get members",
        "description": "Retrieves a list of the members of a specific campaign.",
        "operationId": "MemberGet",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/members/{member_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "picture": {
                  "type": "string",
                  "description": "The picture.",
                  "title": "Picture"
                },
                "raised": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount raised.",
                  "title": "Raised"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "donors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of donors.",
                  "title": "Donors"
                },
                "items": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of items.",
                  "title": "Items"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Get a member",
        "description": "Retrieves a specific member.",
        "operationId": "MemberGetA",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "member_id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The member unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a member",
        "description": "Deletes a member from a campaign.",
        "operationId": "MemberDelete",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "member_id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The member unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/teams": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "logo": {
                        "type": "string",
                        "description": "The logo.",
                        "title": "Logo"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title": "Slug"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "raised": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount raised.",
                        "title": "Raised"
                      },
                      "goal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The goal.",
                        "title": "Goal"
                      },
                      "supporters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of supporters.",
                        "title": "Supporters"
                      },
                      "members": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The members.",
                        "title": "Members"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number from.",
                      "title": "From"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last page number.",
                      "title": "Last Page"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether active.",
                            "title": "Active"
                          }
                        }
                      },
                      "title": "Links"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number to.",
                      "title": "To"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number.",
                      "title": "Total"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get teams",
        "description": "Retrieves a list of the teams under a specific campaign.",
        "operationId": "TeamGet",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/teams/{team_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "raised": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount raised.",
                  "title": "Raised"
                },
                "goal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The goal.",
                  "title": "Goal"
                },
                "supporters": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of supporters.",
                  "title": "Supporters"
                },
                "members": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of members.",
                  "title": "Members"
                }
              }
            }
          }
        },
        "summary": "Get a team",
        "description": "Retrieves a specific team.",
        "operationId": "TeamGetA",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "team_id",
            "in": "path",
            "x-ms-summary": "Team ID",
            "x-ms-url-encoding": "single",
            "description": "The team unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "middle_name": {
                        "type": "string",
                        "description": "The middle name.",
                        "title": "Middle Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "dob": {
                        "type": "string",
                        "description": "The date of birth.",
                        "title": "DOB"
                      },
                      "company": {
                        "type": "string",
                        "description": "The company.",
                        "title": "Company"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "twitter_url": {
                        "type": "string",
                        "description": "The Twitter URL address.",
                        "title": "Twitter URL"
                      },
                      "linkedin_url": {
                        "type": "string",
                        "description": "The LinkedIn URL address.",
                        "title": "LinkedIn URL"
                      },
                      "facebook_url": {
                        "type": "string",
                        "description": "The Facebook URL address.",
                        "title": "Facebook URL"
                      },
                      "emails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Emails"
                      },
                      "phones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Phones"
                      },
                      "primary_email": {
                        "type": "string",
                        "description": "The primary email address.",
                        "title": "Primary Email"
                      },
                      "primary_phone": {
                        "type": "string",
                        "description": "The primary phone number.",
                        "title": "Primary Phone"
                      },
                      "note": {
                        "type": "string",
                        "description": "The note.",
                        "title": "Note"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "address_1": {
                              "type": "string",
                              "description": "The address.",
                              "title": "Address"
                            },
                            "address_2": {
                              "type": "string",
                              "description": "The address line 2.",
                              "title": "Address Line 2"
                            },
                            "city": {
                              "type": "string",
                              "description": "The city.",
                              "title": "City"
                            },
                            "state": {
                              "type": "string",
                              "description": "The state.",
                              "title": "State"
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "The zipcode.",
                              "title": "Zipcode"
                            },
                            "country": {
                              "type": "string",
                              "description": "The country.",
                              "title": "Country"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "is_primary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The is primary.",
                              "title": "Is Primary"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "updated_at": {
                              "type": "string",
                              "description": "When last updated at.",
                              "title": "Updated At"
                            }
                          }
                        },
                        "title": "Addresses"
                      },
                      "primary_address": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "address_2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "The zipcode.",
                            "title": "Zipcode"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "is_primary": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The is primary.",
                            "title": "Is Primary"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          }
                        },
                        "title": "Primary Address"
                      },
                      "stats": {
                        "type": "object",
                        "properties": {
                          "recurring_contributions": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of recurring contributions.",
                            "title": "Recurring Contributions"
                          },
                          "total_contributions": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total number of contributions.",
                            "title": "Total Contributions"
                          }
                        },
                        "title": "Stats"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The tags.",
                        "title": "Tags"
                      },
                      "custom_fields": {
                        "type": "array",
                        "items": {},
                        "description": "The custom fields.",
                        "title": "Custom Fields"
                      },
                      "archived_at": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The last updated at.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "string",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "string",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number from.",
                      "title": "From"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last page number.",
                      "title": "Last Page"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether active.",
                            "title": "Active"
                          }
                        }
                      },
                      "title": "Links"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number to.",
                      "title": "To"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number.",
                      "title": "Total"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get contacts",
        "description": "Retrieves a list of contacts.",
        "operationId": "ContactGet",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "x-ms-summary": "Scope",
            "description": "The scope.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "middle_name": {
                  "type": "string",
                  "description": "The middle name.",
                  "title": "Middle Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "dob": {
                  "type": "string",
                  "description": "The date of birth.",
                  "title": "DOB"
                },
                "company": {
                  "type": "string",
                  "description": "The company.",
                  "title": "Company"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "twitter_url": {
                  "type": "string",
                  "description": "The Twitter URL address.",
                  "title": "Twitter URL"
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "The LinkedIn URL address.",
                  "title": "LinkedIn URL"
                },
                "facebook_url": {
                  "type": "string",
                  "description": "The Facebook URL address.",
                  "title": "Facebook URL"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Emails"
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Phones"
                },
                "primary_email": {
                  "type": "string",
                  "description": "The primary email address.",
                  "title": "Primary Email"
                },
                "primary_phone": {
                  "type": "string",
                  "description": "The primary phone number.",
                  "title": "Primary Phone"
                },
                "note": {
                  "type": "string",
                  "description": "The note.",
                  "title": "Note"
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address_1": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "address_2": {
                        "type": "string",
                        "description": "The address line 2.",
                        "title": "Address Line 2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "The zipcode.",
                        "title": "Zipcode"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "is_primary": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The is primary.",
                        "title": "Is Primary"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The last updated at.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "title": "Addresses"
                },
                "primary_address": {
                  "type": "object",
                  "properties": {
                    "address_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "address_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zipcode": {
                      "type": "string",
                      "description": "The zipcode.",
                      "title": "Zipcode"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "is_primary": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The is primary.",
                      "title": "Is Primary"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When last updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Primary Address"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "recurring_contributions": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of recurring contributions.",
                      "title": "Recurring Contributions"
                    },
                    "total_contributions": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of contributions.",
                      "title": "Total Contributions"
                    }
                  },
                  "title": "Stats"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {},
                  "description": "The custom fields.",
                  "title": "Custom Fields"
                },
                "archived_at": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                },
                "created_at": {
                  "type": "string",
                  "description": "The created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The last updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create a contact",
        "description": "Creates a new contact.",
        "operationId": "ContactPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "middle_name": {
                  "type": "string",
                  "description": "The middle name.",
                  "title": "Middle Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Emails"
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Phones"
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address_1": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "address_2": {
                        "type": "string",
                        "description": "The address line 2.",
                        "title": "Address Line 2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "The zipcode.",
                        "title": "Zipcode"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      }
                    }
                  },
                  "title": "Addresses"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Tags"
                },
                "dob": {
                  "type": "string",
                  "description": "The date of birth.",
                  "title": "DOB"
                },
                "company": {
                  "type": "string",
                  "description": "The company.",
                  "title": "Company"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "twitter_url": {
                  "type": "string",
                  "description": "The Twitter URL address.",
                  "title": "Twitter URL"
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "The LinkedIn URL address.",
                  "title": "LinkedIn URL"
                },
                "facebook_url": {
                  "type": "string",
                  "description": "The Facebook URL address.",
                  "title": "Facebook URL"
                }
              }
            }
          }
        ]
      }
    },
    "/contacts/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "middle_name": {
                  "type": "string",
                  "description": "The middle name.",
                  "title": "Middle Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "dob": {
                  "type": "string",
                  "description": "The date of birth.",
                  "title": "DOB"
                },
                "company": {
                  "type": "string",
                  "description": "The company.",
                  "title": "Company"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "twitter_url": {
                  "type": "string",
                  "description": "The Twitter URL address.",
                  "title": "Twitter URL"
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "The LinkedIn URL address.",
                  "title": "LinkedIn URL"
                },
                "facebook_url": {
                  "type": "string",
                  "description": "The Facebook URL address.",
                  "title": "Facebook URL"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Emails"
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Phones"
                },
                "primary_email": {
                  "type": "string",
                  "description": "The primary email address.",
                  "title": "Primary Email"
                },
                "primary_phone": {
                  "type": "string",
                  "description": "The primary phone number.",
                  "title": "Primary Phone"
                },
                "note": {
                  "type": "string",
                  "description": "The note.",
                  "title": "Note"
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address_1": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "address_2": {
                        "type": "string",
                        "description": "The address line 2.",
                        "title": "Address Line 2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "The zipcode.",
                        "title": "Zipcode"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "is_primary": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The is primary.",
                        "title": "Is Primary"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The last updated at.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "title": "Addresses"
                },
                "primary_address": {
                  "type": "object",
                  "properties": {
                    "address_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "address_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zipcode": {
                      "type": "string",
                      "description": "The zipcode.",
                      "title": "Zipcode"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "is_primary": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The is primary.",
                      "title": "Is Primary"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When last updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Primary Address"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "recurring_contributions": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of recurring contributions.",
                      "title": "Recurring Contributions"
                    },
                    "total_contributions": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of contributions.",
                      "title": "Total Contributions"
                    }
                  },
                  "title": "Stats"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Tags"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {},
                  "title": "Custom Fields"
                },
                "archived_at": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                },
                "created_at": {
                  "type": "string",
                  "description": "The created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The last updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Get a contact",
        "description": "Retrieves a specific contact.",
        "operationId": "ContactGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
[...]
