{
  "swagger": "2.0",
  "info": {
    "title": "Federal Reserve Economic Data",
    "description": "FRED contains frequently updated US macro and regional economic time series at annual, quarterly, monthly, weekly, and daily frequencies. FRED aggregates economic data from a variety of sources- most of which are US government agencies. The economic time series in FRED contain observation or measurement periods associated with data values.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.stlouisfed.org",
  "basePath": "/fred",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/category": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The category identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "parent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent identifier.",
                        "title": "Parent ID"
                      }
                    }
                  },
                  "description": "The categories.",
                  "title": "Categories"
                }
              }
            }
          }
        },
        "summary": "Get a category",
        "description": "Get a category.",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The identifier for a category.",
            "x-ms-summary": "Category ID",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ],
        "operationId": "CategoryGetA"
      }
    },
    "/category/children": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The category identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The category name.",
                        "title": "Name"
                      },
                      "parent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent identifier.",
                        "title": "Parent ID"
                      }
                    }
                  },
                  "description": "The categories.",
                  "title": "Categories"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The identifier for a category.",
            "x-ms-summary": "Category ID",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          }
        ],
        "summary": "Get the child categories",
        "description": "Get the child categories for a specified parent category.",
        "operationId": "CategoryGetChild"
      }
    },
    "/category/related": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The category identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The category name.",
                        "title": "Name"
                      },
                      "parent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent identifier.",
                        "title": "Parent ID"
                      }
                    }
                  },
                  "description": "The categories.",
                  "title": "Categories"
                }
              }
            }
          }
        },
        "summary": "Get the related categories for a category",
        "description": "A related category is a one-way relation between 2 categories that is not part of a parent-child category hierarchy. Most categories do not have related categories.",
        "operationId": "CategoryGetRelated",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The identifier for a category.",
            "x-ms-summary": "Category ID",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/category/series": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "seriess": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The item identifier.",
                        "title": "ID"
                      },
                      "realtime_start": {
                        "type": "string",
                        "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time Start"
                      },
                      "realtime_end": {
                        "type": "string",
                        "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time End"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "observation_start": {
                        "type": "string",
                        "description": "When the observation started.",
                        "title": "Observation Start"
                      },
                      "observation_end": {
                        "type": "string",
                        "description": "When the observation ended.",
                        "title": "Observation End"
                      },
                      "frequency": {
                        "type": "string",
                        "description": "The frequency.",
                        "title": "Frequency"
                      },
                      "frequency_short": {
                        "type": "string",
                        "description": "The short frequency abbreviation.",
                        "title": "Frequency Short"
                      },
                      "units": {
                        "type": "string",
                        "description": "The units.",
                        "title": "Units"
                      },
                      "units_short": {
                        "type": "string",
                        "description": "The short unit abbreviation.",
                        "title": "Units Short"
                      },
                      "seasonal_adjustment": {
                        "type": "string",
                        "description": "The seasonal adjustment.",
                        "title": "Seasonal Adjustment"
                      },
                      "seasonal_adjustment_short": {
                        "type": "string",
                        "description": "The short seasonal adjustment abbreviation.",
                        "title": "Seasonal Adjustment Short"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Updated"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "group_popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group popularity ranking.",
                        "title": "Group Popularity"
                      },
                      "notes": {
                        "type": "string",
                        "description": "The notes for this item.",
                        "title": "Notes"
                      }
                    }
                  },
                  "description": "The series.",
                  "title": "Series"
                }
              }
            }
          }
        },
        "summary": "Get the series in a category",
        "description": "Get the series in a category.",
        "operationId": "CategoryGetSeries",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The identifier for a category.",
            "x-ms-summary": "Category ID",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          },
          {
            "name": "filter_variable",
            "in": "query",
            "description": "The attribute to filter results by.",
            "x-ms-summary": "Filter Variable",
            "required": false,
            "type": "string",
            "enum": [
              "frequency",
              "units",
              "seasonal_adjustment"
            ]
          },
          {
            "name": "filter_value",
            "in": "query",
            "description": "The value of the filter variable attribute to filter results by.",
            "x-ms-summary": "Filter Value",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "exclude_tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match none of.",
            "x-ms-summary": "Excluded Tag Names",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/category/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "group_id": {
                        "type": "string",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "notes": {
                        "type": "string",
                        "description": "The notes for this item.",
                        "title": "Notes"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "series_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The series count.",
                        "title": "Series Count"
                      }
                    }
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get the tags for a category",
        "description": "Get the FRED tags for a category.",
        "operationId": "CategoryGetTags",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag_group_id",
            "in": "query",
            "description": "A tag group identifier to filter tags by type.",
            "x-ms-summary": "Tag Group ID",
            "required": false,
            "type": "string",
            "enum": [
              "freq",
              "gen",
              "geo",
              "geot",
              "rls",
              "seas",
              "src"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "The words to find matching tags with.",
            "x-ms-summary": "Search Text",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          }
        ]
      }
    },
    "/category/related_tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "group_id": {
                        "type": "string",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "notes": {
                        "type": "string",
                        "description": "The notes for this item.",
                        "title": "Notes"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "series_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The series count.",
                        "title": "Series Count"
                      }
                    }
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get the related tags for tags within a category",
        "description": "Get the related FRED tags for one or more FRED tags within a category. FRED tags are attributes assigned to series. For this request, related FRED tags are the tags assigned to series that match all tags in the parameters.",
        "operationId": "CategoryGetRelatedTags",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The identifier for a category.",
            "x-ms-summary": "Category ID",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_group_id",
            "in": "query",
            "description": "A tag group identifier to filter tags by type.",
            "x-ms-summary": "Tag Group ID",
            "required": false,
            "type": "string",
            "enum": [
              "freq",
              "gen",
              "geo",
              "geot",
              "rls",
              "seas",
              "src"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "The words to find matching tags with.",
            "x-ms-summary": "Search Text",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          },
          {
            "name": "exclude_tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match none of.",
            "x-ms-summary": "Excluded Tag Names",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/category/releases": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "releases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The item identifier.",
                        "title": "ID"
                      },
                      "realtime_start": {
                        "type": "string",
                        "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time Start"
                      },
                      "realtime_end": {
                        "type": "string",
                        "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time End"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "press_release": {
                        "type": "boolean",
                        "description": "Whether there is a press release.",
                        "title": "Press Release"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link address.",
                        "title": "Link"
                      }
                    }
                  },
                  "description": "The releases.",
                  "title": "Releases"
                }
              }
            }
          }
        },
        "summary": "Get all releases of economic data",
        "description": "Get all releases of economic data.",
        "operationId": "ReleaseGetAll",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          }
        ]
      }
    },
    "/releases/dates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "release_dates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "release_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The release identifier.",
                        "title": "Release ID"
                      },
                      "release_name": {
                        "type": "string",
                        "description": "The release name.",
                        "title": "Release Name"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      }
                    }
                  },
                  "description": "The release dates.",
                  "title": "Release Dates"
                }
              }
            }
          }
        },
        "summary": "Get release dates for all releases of economic data",
        "description": "Get release dates for all releases of economic data.",
        "operationId": "ReleaseGetDates",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          },
          {
            "name": "include_release_dates_with_no_data",
            "in": "query",
            "description": "Determines whether release dates with no data available are returned. The defalut value 'false' excludes release dates that do not have data. In particular, this excludes future release dates which may be available in the FRED release calendar or the ALFRED release calendar.",
            "x-ms-summary": "Include Release Dates With No Data",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        ]
      }
    },
    "/release": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "releases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The item identifier.",
                        "title": "ID"
                      },
                      "realtime_start": {
                        "type": "string",
                        "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time Start"
                      },
                      "realtime_end": {
                        "type": "string",
                        "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time End"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "press_release": {
                        "type": "boolean",
                        "description": "Whether there is a press release.",
                        "title": "Press Release"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link address.",
                        "title": "Link"
                      }
                    }
                  },
                  "description": "The releases.",
                  "title": "Releases"
                }
              }
            }
          }
        },
        "summary": "Get a release of economic data",
        "description": "Get a release of economic data.",
        "operationId": "ReleaseGetA",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/release/dates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "release_dates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "release_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The release identifier.",
                        "title": "Release ID"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      }
                    }
                  },
                  "description": "The release dates.",
                  "title": "Release Dates"
                }
              }
            }
          }
        },
        "summary": "Get release dates for a release of economic data",
        "description": "Get release dates for a release of economic data. Note that release dates are published by data sources and do not necessarily represent when data will be available on the FRED or ALFRED websites.",
        "operationId": "ReleaseGetReleaseDates",
        "parameters": [
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          },
          {
            "name": "include_release_dates_with_no_data",
            "in": "query",
            "description": "Determines whether release dates with no data available are returned. The defalut value 'false' excludes release dates that do not have data. In particular, this excludes future release dates which may be available in the FRED release calendar or the ALFRED release calendar.",
            "x-ms-summary": "Include Releases With No Data",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        ]
      }
    },
    "/release/series": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "seriess": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The item identifier.",
                        "title": "ID"
                      },
                      "realtime_start": {
                        "type": "string",
                        "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time Start"
                      },
                      "realtime_end": {
                        "type": "string",
                        "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time End"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "observation_start": {
                        "type": "string",
                        "description": "When the observation started.",
                        "title": "Observation Start"
                      },
                      "observation_end": {
                        "type": "string",
                        "description": "When the observation ended.",
                        "title": "Observation End"
                      },
                      "frequency": {
                        "type": "string",
                        "description": "The frequency.",
                        "title": "Frequency"
                      },
                      "frequency_short": {
                        "type": "string",
                        "description": "The short frequency abbreviation.",
                        "title": "Frequency Short"
                      },
                      "units": {
                        "type": "string",
                        "description": "The units.",
                        "title": "Units"
                      },
                      "units_short": {
                        "type": "string",
                        "description": "The short unit abbreviation.",
                        "title": "Units Short"
                      },
                      "seasonal_adjustment": {
                        "type": "string",
                        "description": "The seasonal adjustment.",
                        "title": "Seasonal Adjustment"
                      },
                      "seasonal_adjustment_short": {
                        "type": "string",
                        "description": "The short seasonal adjustment abbreviation.",
                        "title": "Seasonal Adjustment Short"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Updated"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "group_popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group popularity ranking.",
                        "title": "Group Popularity"
                      }
                    }
                  },
                  "description": "The series.",
                  "title": "Series"
                }
              }
            }
          }
        },
        "summary": "Get the series on a release of economic data",
        "description": "Get the series on a release of economic data.",
        "operationId": "ReleaseGetSeries",
        "parameters": [
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          },
          {
            "name": "filter_variable",
            "in": "query",
            "description": "The attribute to filter results by.",
            "x-ms-summary": "Filter Variable",
            "required": false,
            "type": "string",
            "enum": [
              "frequency",
              "units",
              "seasonal_adjustment"
            ]
          },
          {
            "name": "filter_value",
            "in": "query",
            "description": "The value of the filter variable attribute to filter results by.",
            "x-ms-summary": "Filter Value",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "exclude_tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match none of.",
            "x-ms-summary": "Excluded Tag Names",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/release/sources": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The item identifier.",
                        "title": "ID"
                      },
                      "realtime_start": {
                        "type": "string",
                        "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time Start"
                      },
                      "realtime_end": {
                        "type": "string",
                        "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                        "title": "Real-time End"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link address.",
                        "title": "Link"
                      }
                    }
                  },
                  "description": "The sources.",
                  "title": "Sources"
                }
              }
            }
          }
        },
        "summary": "Get the sources for a release of economic data",
        "description": "Get the sources for a release of economic data.",
        "operationId": "ReleaseGetSources",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/release/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "group_id": {
                        "type": "string",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "notes": {
                        "type": "string",
                        "description": "The notes for this item.",
                        "title": "Notes"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "series_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The series count.",
                        "title": "Series Count"
                      }
                    }
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get the tags for a release",
        "description": "Get the FRED tags for a release.",
        "operationId": "ReleaseGetTags",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag_group_id",
            "in": "query",
            "description": "A tag group identifier to filter tags by type.",
            "x-ms-summary": "Tag Group ID",
            "required": false,
            "type": "string",
            "enum": [
              "freq",
              "gen",
              "geo",
              "geot",
              "rls",
              "seas",
              "src"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "The words to find matching tags with.",
            "x-ms-summary": "Search Text",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          }
        ]
      }
    },
    "/release/related_tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "realtime_start": {
                  "type": "string",
                  "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time Start"
                },
                "realtime_end": {
                  "type": "string",
                  "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
                  "title": "Real-time End"
                },
                "order_by": {
                  "type": "string",
                  "description": "Order results by values of the specified attribute.",
                  "title": "Order By",
                  "enum": [
                    "series_id",
                    "title",
                    "units",
                    "frequency",
                    "seasonal_adjustment",
                    "realtime_start",
                    "realtime_end",
                    "last_updated",
                    "observation_start",
                    "observation_end",
                    "popularity",
                    "group_popularity"
                  ],
                  "default": "series_id"
                },
                "sort_order": {
                  "type": "string",
                  "description": "Sort results is ascending or descending order for attribute values specified by order by.",
                  "title": "Sort Order",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "default": "asc"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count of the response",
                  "title": "Count"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The value offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested limit.",
                  "title": "Limit"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "group_id": {
                        "type": "string",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "notes": {
                        "type": "string",
                        "description": "The notes for this item.",
                        "title": "Notes"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "popularity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The popularity ranking.",
                        "title": "Popularity"
                      },
                      "series_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The series count.",
                        "title": "Series Count"
                      }
                    }
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get the related tags for one or more tags within a release",
        "description": "Get the related FRED tags for one or more FRED tags within a release.",
        "operationId": "ReleaseGetRelatedTags",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "A key or file extension that indicates the type of file to send.",
            "x-ms-summary": "File Type",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "realtime_start",
            "in": "query",
            "description": "The start of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time Start",
            "required": false,
            "type": "string"
          },
          {
            "name": "realtime_end",
            "in": "query",
            "description": "The end of the real-time period. YYYY-MM-DD formatted string.",
            "x-ms-summary": "Real-time End",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match all of.",
            "x-ms-summary": "Tag Names",
            "required": true,
            "type": "string"
          },
          {
            "name": "exclude_tag_names",
            "in": "query",
            "description": "A semicolon delimited string of tag names that series match none of.",
            "x-ms-summary": "Excluded Tag Names",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_group_id",
            "in": "query",
            "description": "A tag group identifier to filter tags by type.",
            "x-ms-summary": "Tag Group ID",
            "required": false,
            "type": "string",
            "enum": [
              "freq",
              "gen",
              "geo",
              "geot",
              "rls",
              "seas",
              "src"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "The words to find matching tags with.",
            "x-ms-summary": "Search Text",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "default": "1000"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The requested number offset.",
            "x-ms-summary": "Offet",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results by values of the specified attribute.",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "string",
            "enum": [
              "series_id",
              "title",
              "units",
              "frequency",
              "seasonal_adjustment",
              "realtime_start",
              "realtime_end",
              "last_updated",
              "observation_start",
              "observation_end",
              "popularity",
              "group_popularity"
            ],
            "default": "series_id"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort results is ascending or descending order for attribute values specified by order by.",
            "x-ms-summary": "Sort Order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          }
        ]
      }
    },
    "/release/tables": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "element_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The element identifier.",
                  "title": "Element ID"
                },
                "release_id": {
                  "type": "string",
                  "description": "The release identifier.",
                  "title": "Release ID"
                },
                "elements": {
                  "type": "object",
                  "properties": {
                    "element": {
                      "type": "object",
                      "properties": {
                        "element_id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The element identifier.",
                          "title": "element_id"
                        },
                        "release_id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The release identifier.",
                          "title": "Release ID"
                        },
                        "series_id": {
                          "type": "string",
                          "description": "The series identifier.",
                          "title": "Series ID"
                        },
                        "parent_id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The parent identifier.",
                          "title": "Parent ID"
                        },
                        "line": {
                          "type": "string",
                          "description": "The line.",
                          "title": "Line"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "level": {
                          "type": "string",
                          "description": "The level.",
                          "title": "Level"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "element_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The element identifier.",
                                "title": "Element ID"
                              },
                              "release_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The release identifier.",
                                "title": "Release ID"
                              },
                              "series_id": {
                                "type": "string",
                                "description": "The series identifier.",
                                "title": "Series ID"
                              },
                              "parent_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The parent identifier.",
                                "title": "Parent ID"
                              },
                              "line": {
                                "type": "string",
                                "description": "The line.",
                                "title": "Line"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "level": {
                                "type": "string",
                                "description": "The level.",
                                "title": "Level"
                              },
                              "children": {
                                "type": "array",
                                "items": {},
                                "description": "The children.",
                                "title": "Children"
                              }
                            }
                          },
                          "description": "The children.",
                          "title": "Children"
                        }
                      },
                      "description": "The Element.",
                      "title": "Element"
                    }
                  },
                  "description": "The elements.",
                  "title": "Elements"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "release_id",
            "in": "query",
            "description": "The release identifier.",
            "x-ms-summary": "Release ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "file_type",
            "in": "query",
[...]
