{
  "swagger": "2.0",
  "info": {
    "title": "SigningHub Webhooks",
    "description": "Subscribe and unsubscribe to SigningHub webhook trigger.",
    "version": "2.0.0",
    "contact": {
      "name": "Support",
      "url": "https://www.signinghub.com/contact-us/",
      "email": "support@ascertia.com"
    }
  },
  "host": "int-hub.signinghub.com",
  "basePath": "/unity-sh",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/powerautomate/webhook/unsubscribe/{subscriptionId}": {
      "delete": {
        "summary": "Unsubscribe from Webhook",
        "operationId": "UnsubscribeWebhook",
        "description": "Deletes the webhook subscription.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Subscription ID",
            "description": "The subscription ID to remove",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook unsubscribed successfully"
          }
        }
      }
    },
    "/powerautomate/webhook/subscribe": {
      "x-ms-notification-content": {
        "description": "Callback response",
        "schema": {
          "type": "object",
          "properties": {
            "package_id": {
              "type": "string",
              "description": "package_id"
            },
            "package_name": {
              "type": "string",
              "description": "package_name"
            },
            "package_owner": {
              "type": "string",
              "description": "package_owner"
            },
            "owner_name": {
              "type": "string",
              "description": "owner_name"
            },
            "package_status": {
              "type": "string",
              "description": "package_status"
            },
            "uploaded_on": {
              "type": "string",
              "description": "uploaded_on"
            },
            "modified_on": {
              "type": "string",
              "description": "modified_on"
            },
            "document": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "document_id": {
                    "type": "string",
                    "description": "document_id"
                  },
                  "document_name": {
                    "type": "string",
                    "description": "document_name"
                  },
                  "document_type": {
                    "type": "string",
                    "description": "document_type"
                  },
                  "document_order": {
                    "type": "string",
                    "description": "document_order"
                  },
                  "document_source": {
                    "type": "string",
                    "description": "document_source"
                  }
                }
              },
              "description": "documents"
            }
          }
        }
      },
      "post": {
        "summary": "Webhook Subscribe Trigger",
        "description": "Webhook Subscribe Trigger",
        "operationId": "Webhook_SubscribeTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "eventType": {
                  "type": "string",
                  "description": "Event Type to subscribe.",
                  "enum": [
                    "SHARED",
                    "SIGNED",
                    "REVIEWED",
                    "DECLINED",
                    "EDITED",
                    "CARBON_COPIED",
                    "RECALLED",
                    "REMINDED",
                    "COMPLETED",
                    "EVIDENCE_REPORT_GENERATED",
                    "DOCUMENT_DELETED"
                  ],
                  "x-enumNames": [
                    "SHARED",
                    "SIGNED",
                    "REVIEWED",
                    "DECLINED",
                    "EDITED",
                    "CARBON_COPIED",
                    "RECALLED",
                    "REMINDED",
                    "COMPLETED",
                    "EVIDENCE_REPORT_GENERATED",
                    "DOCUMENT_DELETED"
                  ]
                }
              },
              "required": [
                "callbackUrl",
                "eventType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook Triggered"
          },
          "201": {
            "description": "Webhook subscription created successfully.",
            "headers": {
              "Location": {
                "description": "The URL of the created webhook to use for unsubscribing.",
                "type": "string",
                "x-example": "https://api.example.com/webhook/unsubscribe/{subscriptionId}"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Publisher",
      "propertyValue": "Ascertia"
    },
    {
      "propertyName": "StackOwner",
      "propertyValue": "SigningHub"
    },
    {
      "propertyName": "BrandColor",
      "propertyValue": "#000000"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://signinghub.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.signinghub.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://int-hub.signinghub.com/unity-sh/oauth2/authorize",
      "tokenUrl": "https://int-hub.signinghub.com/unity-sh/oauth2/token",
      "scopes": {}
    }
  }
}