{
  "swagger": "2.0",
  "info": {
    "title": "ProPublica Nonprofit Explorer",
    "description": "ProPublica Nonprofit Explorer provides summaries of 3 million tax returns from tax-exempt organizations and see financial details such as their executive compensation and revenue and expenses. You can browse IRS data released since 2013 and access more than 14 million tax filing documents going back as far as 2001.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "projects.propublica.org",
  "basePath": "/nonprofits/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/search.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results.",
                  "title": "Total Results"
                },
                "organizations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ein": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The employer identification number (EIN) for the organization associated with this tax filing. (Note: This value represents an integer value, so EIN values with leading zeroes will have the leading zeroes trimmed.)",
                        "title": "EIN"
                      },
                      "strein": {
                        "type": "string",
                        "description": "The version of the EIN in the \"XX-XXXXXXX\" format, containing leading zeroes if applicable.",
                        "title": "STREIN"
                      },
                      "name": {
                        "type": "string",
                        "description": "The organization name.",
                        "title": "Name"
                      },
                      "sub_name": {
                        "type": "string",
                        "description": "The secondary name.",
                        "title": "Sub Name"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "ntee_code": {
                        "type": "string",
                        "description": "The National Taxonomy of Exempt Entities (NTEE) category for this organization.",
                        "title": "NTEE Code"
                      },
                      "raw_ntee_code": {
                        "type": "string",
                        "description": "The raw National Taxonomy of Exempt Entities (NTEE) category for this organization.",
                        "title": "Raw NTEE Code"
                      },
                      "subseccd": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subsection code (501(c)(___) or 4947(a)(1)) for this organization.",
                        "title": "Subsection Code"
                      },
                      "has_subseccd": {
                        "type": "boolean",
                        "description": "Whether the organization has a subsection code.",
                        "title": "Has Subsection"
                      },
                      "have_filings": {
                        "type": "boolean",
                        "description": "Whether the organization has fillings.",
                        "title": "Have Filings"
                      },
                      "have_extracts": {
                        "type": "boolean",
                        "description": "Whether the organization has extracts.",
                        "title": "Have Extracts"
                      },
                      "have_pdfs": {
                        "type": "boolean",
                        "description": "Whether the organization has PDFs.",
                        "title": "Have PDFs"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      }
                    }
                  },
                  "title": "Organizations"
                },
                "num_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of pagination pages.",
                  "title": "Number of Pages"
                },
                "cur_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page returned.",
                  "title": "Current Page"
                },
                "page_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page offset number.",
                  "title": "Page Offset"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "search_query": {
                  "type": "string",
                  "description": "The search query.",
                  "title": "Search Query"
                },
                "selected_state": {
                  "type": "string",
                  "description": "The selected state.",
                  "title": "Selected State"
                },
                "selected_ntee": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The selected NTEE.",
                  "title": "Selected NTEE"
                },
                "selected_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The selected code.",
                  "title": "Selected Code"
                },
                "data_source": {
                  "type": "string",
                  "description": "The data source.",
                  "title": "Data Source"
                },
                "api_version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The API version.",
                  "title": "API Version"
                }
              }
            }
          }
        },
        "summary": "Search nonprofits",
        "description": "Returns a list of organizations matching the given search terms.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "A keyword search string. Searches using this parameter will search (in order) organization name, organization alternate name, city.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The (zero-indexed) page number of the request. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "state[id]",
            "in": "query",
            "x-ms-summary": "State ID",
            "description": "If provided, only return results from the given state or US Territory. Must use the two-letter U.S. Postal Service abbreviation. Code \"ZZ\" is used for entities based outside the United States required to file a Form 990 in the U.S",
            "required": false,
            "type": "string"
          },
          {
            "name": "ntee[id]",
            "in": "query",
            "x-ms-summary": "NTEE ID",
            "description": "If provided, only return results from the given National Taxonomy of Exempt Entities (NTEE) Major Group. Must be an integer, 1-10.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "c_code[id]",
            "in": "query",
            "x-ms-summary": "Subsection Code",
            "description": "If provided, return only organizations categorized under the given subsection of section 501(c) of the tax code, with one special case for section 4947(a)(1). Must be an integer.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/organizations/{ein}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "ein": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The EIN number.",
                      "title": "EIN"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "careofname": {
                      "type": "string",
                      "description": "The care of name.",
                      "title": "Care Of Name"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The State.",
                      "title": "State"
                    },
                    "zipcode": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip Code"
                    },
                    "exemption_number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The exemption number.",
                      "title": "Exemption Number"
                    },
                    "subsection_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subsection code number.",
                      "title": "Subsection Code"
                    },
                    "affiliation_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The affiliation code number.",
                      "title": "Affiliation Code"
                    },
                    "classification_codes": {
                      "type": "string",
                      "description": "The classification codes.",
                      "title": "Classification Codes"
                    },
                    "ruling_date": {
                      "type": "string",
                      "description": "The ruling date.",
                      "title": "Ruling Date"
                    },
                    "deductibility_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The deductibility code number.",
                      "title": "Deductibility Code"
                    },
                    "foundation_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The foundation code number.",
                      "title": "Foundation Code"
                    },
                    "activity_codes": {
                      "type": "string",
                      "description": "The activity codes.",
                      "title": "Activity Codes"
                    },
                    "organization_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The organization code number.",
                      "title": "Organization Code"
                    },
                    "exempt_organization_status_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The exempt organization status code number.",
                      "title": "Exempt Organization Status Code"
                    },
                    "tax_period": {
                      "type": "string",
                      "description": "The tax period.",
                      "title": "Tax Period"
                    },
                    "asset_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The asset code number.",
                      "title": "Asset Code"
                    },
                    "income_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The income code number.",
                      "title": "Income Code"
                    },
                    "filing_requirement_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The filing requirement code number.",
                      "title": "Filing Requirement Code"
                    },
                    "pf_filing_requirement_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The PF filing requirement code number.",
                      "title": "PF Filing Requirement Code"
                    },
                    "accounting_period": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The accounting period number.",
                      "title": "Accounting Period"
                    },
                    "asset_amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The asset amount.",
                      "title": "Asset Amount"
                    },
                    "income_amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The income amount.",
                      "title": "Income Amount"
                    },
                    "revenue_amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The revenue amount.",
                      "title": "Revenue Amount"
                    },
                    "ntee_code": {
                      "type": "string",
                      "description": "The NTEE code.",
                      "title": "NTEE Code"
                    },
                    "sort_name": {
                      "type": "string",
                      "description": "The sort name.",
                      "title": "Sort Name"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "data_source": {
                      "type": "string",
                      "description": "The data source.",
                      "title": "Data Source"
                    },
                    "have_extracts": {
                      "type": "boolean",
                      "description": "Whether has extracts.",
                      "title": "Have Extracts"
                    },
                    "have_pdfs": {
                      "type": "boolean",
                      "description": "Whether has PDFs.",
                      "title": "Have PDFs"
                    }
                  },
                  "title": "Organization"
                },
                "filings_with_data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tax_prd": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax period.",
                        "title": "Tax Period"
                      },
                      "tax_prd_yr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax period year.",
                        "title": "Tax Period Year"
                      },
                      "formtype": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The form type.",
                        "title": "Form Type"
                      },
                      "pdf_url": {
                        "type": "string",
                        "description": "The URL address of the PDF.",
                        "title": "PDF URL"
                      },
                      "updated": {
                        "type": "string",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "totrevenue": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total revenue.",
                        "title": "Total Revenue"
                      },
                      "totfuncexpns": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total functional expenses.",
                        "title": "Total Functional Expenses"
                      },
                      "totassetsend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total assets at end of period.",
                        "title": "Total Assets End"
                      },
                      "totliabend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total liability at end of period.",
                        "title": "Total Liability End"
                      },
                      "pct_compnsatncurrofcr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The percent of expenses marked as \"Compensation of current officers, directors, etc\".",
                        "title": "Percentage of Expenses Marked Compensation"
                      },
                      "tax_pd": {
                        "type": "string",
                        "description": "The amount of tax paid.",
                        "title": "Tax Paid"
                      },
                      "subseccd": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The The subsection code (501(c)(___) or 4947(a)(1)) for this organization..",
                        "title": "Subsection Code"
                      },
                      "unrelbusinccd": {
                        "type": "string",
                        "description": "The unrelated business income code.",
                        "title": "Unrelated Business Income Question"
                      },
                      "initiationfees": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The initiation fees.",
                        "title": "Initiation Fees"
                      },
                      "grsrcptspublicuse": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The gross receipts amount.",
                        "title": "Gross Receipts Amount"
                      },
                      "grsincmembers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The gross income from members.",
                        "title": "Gross Income from Members"
                      },
                      "grsincother": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The gross income from other sources.",
                        "title": "Gross Income from Other Sources"
                      },
                      "totcntrbgfts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total contributions.",
                        "title": "Total Contributions"
                      },
                      "totprgmrevnue": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The program service revenue.",
                        "title": "Program Service Revenue"
                      },
                      "invstmntinc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The investment income.",
                        "title": "Investment Income"
                      },
                      "txexmptbndsproceeds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax-exempt bond proceeds.",
                        "title": "Tax-exempt bond proceeds"
                      },
                      "royaltsinc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The royalties.",
                        "title": "Royalties"
                      },
                      "grsrntsreal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real estate gross rents.",
                        "title": "Gross Rents - Real Estate"
                      },
                      "grsrntsprsnl": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The personal property gross rents.",
                        "title": "Gross Rents - Personal Property"
                      },
                      "rntlexpnsreal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real estate rental expenses.",
                        "title": "Rental Expenses - Real Estate"
                      },
                      "rntlexpnsprsnl": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The personal property rental expenses.",
                        "title": "Rental Expenses - Personal Property"
                      },
                      "rntlincreal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real estate net rent.",
                        "title": "Net Rent - Real Estate"
                      },
                      "rntlincprsnl": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The personal property net rent.",
                        "title": "Net Rent - Person Property"
                      },
                      "netrntlinc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The net rental income.",
                        "title": "Net Rental Income"
                      },
                      "grsalesecur": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The securities net gain from sales.",
                        "title": "Net Gain from Sales - Securities"
                      },
                      "grsalesothr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The other assets net gain from sales.",
                        "title": "Net Gain from Sales - Other Assets"
                      },
                      "cstbasisecur": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The securities sales expense.",
                        "title": "Sales Expense - Securities"
                      },
                      "cstbasisothr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The other assets sales expense.",
                        "title": "Sales Expense - Other Assets"
                      },
                      "gnlsecur": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The securities net gain from sales.",
                        "title": "Net Gain from Sales - Securities"
                      },
                      "gnlsothr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The other assets net gain from sales.",
                        "title": "Net Gain from Sales - Other Assets"
                      },
                      "netgnls": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sales of assets.",
                        "title": "Sales of Assets"
                      },
                      "grsincfndrsng": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The fundraising gross.",
                        "title": "Gross Fundraising"
                      },
                      "lessdirfndrsng": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The fundraising expenses.",
                        "title": "Fundraising Expenses"
                      },
                      "netincfndrsng": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The fundraising income.",
                        "title": "Fundraising Income"
                      },
                      "grsincgaming": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The gaming gross income.",
                        "title": "Gross Income from Gaming"
                      },
                      "lessdirgaming": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The .",
                        "title": "Gaming Expenses"
                      },
                      "netincgaming": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The gaming income.",
                        "title": "Gaming Income"
                      },
                      "grsalesinvent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The inventory gross sales.",
                        "title": "Gross Sales of Inventory"
                      },
                      "lesscstofgoods": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cost of goods sold.",
                        "title": "Cost of Goods Sold"
                      },
                      "netincsales": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sales income from inventory.",
                        "title": "Income from Sales of Inventory"
                      },
                      "miscrevtot11e": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The other revenue.",
                        "title": "Other Revenue"
                      },
                      "compnsatncurrofcr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The compensation of current officers, directors, etc..",
                        "title": "Compensation of Officers"
                      },
                      "othrsalwages": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The other salaries and wages.",
                        "title": "Other Salaries and Wages"
                      },
                      "payrolltx": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The payroll taxes.",
                        "title": "Payroll Taxes"
                      },
                      "profndraising": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The fees for professional fundraising.",
                        "title": "Professional Fundraising Fees"
                      },
                      "txexmptbndsend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EOY tax-exempt bond liabilities.",
                        "title": "Tax-exempt Bond Liabilities - EOY"
                      },
                      "secrdmrtgsend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EOY secured mortgages and notes payable.",
                        "title": "Secured Mortgages and Notes Payable - EOY"
                      },
                      "unsecurednotesend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EOY unsecured mortgages and notes payable.",
                        "title": "Unsecured Mortgages and Notes Payable - EOY"
                      },
                      "retainedearnend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EOY paid-in or capital surplus.",
                        "title": "Paid-in or Capital Surplus - EOY"
                      },
                      "totnetassetend": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EOY total net assets.",
                        "title": "Total Net Assets - EOY"
                      },
                      "nonpfrea": {
                        "type": "string",
                        "description": "The reason for non-PF status.",
                        "title": "Reason for non-PF status"
                      },
                      "gftgrntsrcvd170": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The received gift grants membership fees.",
                        "title": "Gift Grants Membership Fees Received"
                      },
                      "txrevnuelevied170": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The levied tax revenues.",
                        "title": "Tax Revenues Levied (170)"
                      },
                      "srvcsval170": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The government-furnished services or facilities.",
                        "title": "Services or Facilities Furnished by Gov"
                      },
                      "grsinc170": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The interest gross income.",
                        "title": "Gross Income from Interest"
                      },
                      "grsrcptsrelated170": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The related activities gross receipts.",
                        "title": "Gross Receipts from Related Activities"
                      },
                      "totgftgrntrcvd509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The received gifts grants membership fees.",
                        "title": "Gifts Grants Membership Fees Received"
                      },
                      "grsrcptsadmissn509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The receipts from admissions and merchandise.",
                        "title": "Receipts from Admissions Merchandise"
                      },
                      "txrevnuelevied509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The levied tax revenues.",
                        "title": "Tax Revenues Levied (509)"
                      },
                      "srvcsval509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The government-furnished services or facilities.",
                        "title": "Services or Facilities Furnished by Gov"
                      },
                      "subtotsuppinc509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total support subtotal.",
                        "title": "Subtotal Total Support"
                      },
                      "totsupp509": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total support.",
                        "title": "Total Support"
                      },
                      "ein": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The employer identification number (EIN) for the organization associated with this tax filing. (Note: This value represents an integer value, so EIN values with leading zeroes will have the leading zeroes trimmed.)",
                        "title": "EIN"
                      }
                    }
                  },
                  "title": "Filings With Data"
                },
                "filings_without_data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tax_prd": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax period number.",
                        "title": "Tax Period"
                      },
                      "tax_prd_yr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax period year.",
                        "title": "Tax Period Year"
                      },
                      "formtype": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The form type number.",
                        "title": "Form Type Number"
                      },
                      "formtype_str": {
                        "type": "string",
                        "description": "The form type.",
                        "title": "Form Type"
                      },
                      "pdf_url": {
                        "type": "string",
                        "description": "The URL address of the PDF.",
                        "title": "PDF URL"
                      }
                    }
                  },
                  "title": "Filings Without Data"
                },
                "data_source": {
                  "type": "string",
                  "description": "The data source.",
                  "title": "Data Source"
                },
                "api_version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The API version.",
                  "title": "API Version"
                }
              }
            }
          }
        },
        "summary": "Get nonprofit info",
        "description": "Returns all available data for a given organization, by the organization's integer EIN.",
        "operationId": "NonprofitGet",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "x-ms-summary": "EIN",
            "x-ms-url-encoding": "single",
            "description": "The employer identification number (EIN) for the organization associated with this tax filing. (Note: This value represents an integer value, so EIN values with leading zeroes will have the leading zeroes trimmed.)",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://projects.propublica.org/nonprofits/api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.propublica.org/legal/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}