{
  "swagger": "2.0",
  "info": {
    "title": "Fun Translations",
    "description": "Have some fun with our language translations.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.funtranslations.com",
  "basePath": "/translate/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{language}.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    }
                  },
                  "title": "Success"
                },
                "contents": {
                  "type": "object",
                  "properties": {
                    "translation": {
                      "type": "string",
                      "description": "The requested translation language.",
                      "title": "Translation"
                    },
                    "text": {
                      "type": "string",
                      "description": "The submitted text.",
                      "title": "Text"
                    },
                    "translated": {
                      "type": "string",
                      "description": "The translated text.",
                      "title": "Translated"
                    }
                  },
                  "title": "Contents"
                }
              }
            }
          }
        },
        "summary": "Translate text",
        "description": "Retrieve the translated text for the given language.",
        "operationId": "TranslatePost",
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "x-ms-summary": "Language",
            "x-ms-url-encoding": "single",
            "description": "The language to translate to.",
            "required": true,
            "type": "string",
            "enum": [
              "aldmeris",
              "ayleidoon",
              "chef",
              "cheunh",
              "doge",
              "dolan",
              "dothraki",
              "dovahzul",
              "draconic",
              "emoji",
              "enderman",
              "english-contraction",
              "ermahgerd",
              "ferb-latin",
              "fudd",
              "groot",
              "gungan",
              "hodor",
              "huttese",
              "inflationary-english",
              "klingon",
              "leetspeak",
              "mandalorian",
              "minion",
              "morse",
              "navi",
              "numbers",
              "oldenglish",
              "orcish",
              "pig-latin",
              "pirate",
              "post-modern",
              "quenya",
              "roman-numerals",
              "romulan",
              "shakespeare",
              "sindarin",
              "sith",
              "thuum",
              "ubbi-dubbi",
              "valspeak",
              "valyrian",
              "vulcan",
              "wheel-of-time-old-tongue",
              "wow",
              "yoda"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Aldmeris",
                "value": "aldmeris"
              },
              {
                "displayName": "Ayleidoon",
                "value": "ayleidoon"
              },
              {
                "displayName": "Chef",
                "value": "chef"
              },
              {
                "displayName": "Cheunh",
                "value": "cheunh"
              },
              {
                "displayName": "Doge",
                "value": "doge"
              },
              {
                "displayName": "Dolan",
                "value": "dolan"
              },
              {
                "displayName": "Dothraki",
                "value": "dothraki"
              },
              {
                "displayName": "Dovahzul",
                "value": "dovahzul"
              },
              {
                "displayName": "Draconic",
                "value": "draconic"
              },
              {
                "displayName": "Emoji",
                "value": "emoji"
              },
              {
                "displayName": "Enderman",
                "value": "enderman"
              },
              {
                "displayName": "English Contraction",
                "value": "english-contraction"
              },
              {
                "displayName": "Ermahgerd",
                "value": "ermahgerd"
              },
              {
                "displayName": "Ferb Latin",
                "value": "ferb-latin"
              },
              {
                "displayName": "Fudd",
                "value": "fudd"
              },
              {
                "displayName": "Groot",
                "value": "groot"
              },
              {
                "displayName": "Gungan",
                "value": "gungan"
              },
              {
                "displayName": "Hodor",
                "value": "hodor"
              },
              {
                "displayName": "Huttese",
                "value": "huttese"
              },
              {
                "displayName": "Inflationary English",
                "value": "inflationary-english"
              },
              {
                "displayName": "Klingon",
                "value": "klingon"
              },
              {
                "displayName": "Leetspeak",
                "value": "leetspeak"
              },
              {
                "displayName": "Mandalorian",
                "value": "mandalorian"
              },
              {
                "displayName": "Minion",
                "value": "minion"
              },
              {
                "displayName": "Morse Code",
                "value": "morse"
              },
              {
                "displayName": "Navi",
                "value": "navi"
              },
              {
                "displayName": "English to Numbers",
                "value": "numbers"
              },
              {
                "displayName": "Old English",
                "value": "oldenglish"
              },
              {
                "displayName": "Orcish",
                "value": "orcish"
              },
              {
                "displayName": "Pig Latin",
                "value": "pig-latin"
              },
              {
                "displayName": "Pirate",
                "value": "pirate"
              },
              {
                "displayName": "Postmodern English",
                "value": "post-modern"
              },
              {
                "displayName": "Quenya",
                "value": "quenya"
              },
              {
                "displayName": "Roman Numerals",
                "value": "roman-numerals"
              },
              {
                "displayName": "Romulan",
                "value": "romulan"
              },
              {
                "displayName": "Shakespearean",
                "value": "shakespeare"
              },
              {
                "displayName": "Sindarin",
                "value": "sindarin"
              },
              {
                "displayName": "Sith",
                "value": "sith"
              },
              {
                "displayName": "Thuum",
                "value": "thuum"
              },
              {
                "displayName": "Ubbi Dubbi",
                "value": "ubbi-dubbi"
              },
              {
                "displayName": "Valleyspeak",
                "value": "valspeak"
              },
              {
                "displayName": "Valyrian",
                "value": "valyrian"
              },
              {
                "displayName": "Vulcan",
                "value": "vulcan"
              },
              {
                "displayName": "A Wheel of Time Old English",
                "value": "wheel-of-time-old-tongue"
              },
              {
                "displayName": "Wow",
                "value": "wow"
              },
              {
                "displayName": "Yoda",
                "value": "yoda"
              }
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text to translate.",
                  "title": "Text"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://funtranslations.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://funtranslations.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}