{
  "swagger": "2.0",
  "info": {
    "title": "allGeo",
    "description": "Automate scheduling or manually setup assignments, work orders, and employee shifts by importing via .csv files, Google Calendar, ERP, or third party scheduling systems.",
    "contact":{
      "name": "Abaqus Inc.",
      "url": "https://www.allgeo.com",
      "email": "support@abaq.us"
    },
    "version": "1.0"
  },
  "host": "www.allgeo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/track/api/v1/login": {
      "post": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "token": {
                  "type": "string",
                  "description": "token"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status information"
                }
              }
            }
          }
        },
        "summary": "Login",
        "description": "Login",
        "operationId": "Login",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Content-Type",
            "description": "Currently required information to connect with allGeo platform, application/x-www-form-urlencoded"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description":"Currently information about login information needs to be put here as a part of the process",
            "x-ms-summary":"body"
          }
        ]
      }
    },
    "/track/api/v1/schedule": {
      "post": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status information"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "SucessMsg"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "workOrderNumber": {
                    "type": "string",
                    "description": "Work Order Number"
                  },
                  "workOrderType": {
                    "type": "string",
                    "description": "Work Order Type"
                  },
                  "deviceDesc": {
                    "type": "string",
                    "description": "Device Description"
                  },
                  "groupID": {
                    "type": "string",
                    "description": "Group identity number"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "Device identity number"
                  },
                  "locatable": {
                    "type": "string",
                    "description": "Location table"
                  },
                  "legNumber": {
                    "type": "string",
                    "description": "Information number"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start Date"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End Date"
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Start Time"
                  },
                  "endTime": {
                    "type": "string",
                    "description": "End Time"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Time Zone"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer Name"
                  },
                  "taskName": {
                    "type": "string",
                    "description": "Task Name"
                  },
                  "message": {
                    "type": "string",
                    "description": "Description message"
                  },
                  "formName": {
                    "type": "string",
                    "description": "Form Name"
                  },
                  "action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "createEmployee": {
                    "type": "string",
                    "description": "Create Employee Information"
                  },
                  "prefillData": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Information name"
                        },
                        "value": {
                          "type": "string",
                          "description": "Information value"
                        }
                      }
                    },
                    "description": "Information in array format"
                  }
                },
                "required": [
                  "workOrderType",
                  "deviceID",
                  "locatable",
                  "startDate",
                  "endDate"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "summary": "Create Work Orders",
        "description": "Create Work Orders",
        "operationId": "CreateWorkOrders"
      }
    },
    "/track/api/v1/createSites": {
      "post": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status information"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "Successful message information"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status Code information"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "siteID": {
                    "type": "string",
                    "description": "Site idendity number"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "address": {
                    "type": "string",
                    "description": "Address"
                  },
                  "radius": {
                    "type": "string",
                    "description": "Radius from site"
                  },
                  "groupID": {
                    "type": "string",
                    "description": "Group identity number"
                  },
                  "latitude": {
                    "type": "string",
                    "description": "Site latitude"
                  },
                  "longitude": {
                    "type": "string",
                    "description": "Site longitude"
                  }
                },
                "required": [
                  "name",
                  "address"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "summary": "Create Job-Site",
        "description": "Create Job-Site",
        "operationId": "CreateJobSite",
        "x-ms-visibility": "important"
      }
    },
    "/track/api/v1/createTimeClock": {
      "post": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status information"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "Successful message inforation"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status information code"
                }
              }
            }
          }
        },
        "summary": "Create Time Clock",
        "description": "Create Time Clock",
        "x-ms-visibility": "important",
        "operationId": "CreateTimeClock",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "deviceID": {
                    "type": "string",
                    "description": "Device identity number"
                  },
                  "timeClockSentTime": {
                    "type": "string",
                    "description": "Informaton about sent time"
                  },
                  "stageName": {
                    "type": "string",
                    "description": "Information about stage name"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer name"
                  },
                  "jobName": {
                    "type": "string",
                    "description": "Job name"
                  },
                  "address": {
                    "type": "string",
                    "description": "Address"
                  }
                },
                "required": [
                  "deviceID",
                  "timeClockSentTime",
                  "stageName"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/track/api/v1/updateTimeClock": {
      "post": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status information"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "Successful message information"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status Code information"
                }
              }
            }
          }
        },
        "summary": "Update Time Clock",
        "description": "Update Time Clock",
        "operationId": "UpdateTimeClock",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "txnID": {
                    "type": "string",
                    "description": "txnID"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "Device identity number"
                  },
                  "timeClockSentTime": {
                    "type": "string",
                    "description": "Information about sent time"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer name"
                  },
                  "jobName": {
                    "type": "string",
                    "description": "Job name"
                  },
                  "managerNotes": {
                    "type": "string",
                    "description": "Manager notes"
                  },
                  "stageName": {
                    "type": "string",
                    "description": "stageName"
                  }
                },
                "required": [
                  "txnID",
                  "deviceID",
                  "timeClockSentTime",
                  "stageName"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/track/api/v1/deleteSite/{name}": {
      "delete": {
        "responses": {
          "200": {
            "description": "All responses are successful but there will be a different message and status on API depending on your action.",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status infromation"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "Message on successful request"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code"
                }
              }
            }
          }
        },
        "summary": "Delete Job-Site",
        "description": "Delete Job-Site",
        "operationId": "DeleteJobSite",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Path to job site",
            "x-ms-summary": "name"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/track/api/v1/jsonreports": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ReportName": {
                  "type": "string",
                  "description": "Report Name"
                },
                "reportData": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DeviceName": {
                        "type": "string",
                        "description": "Device Name"
                      },
                      "Trip #": {
                        "type": "string",
                        "description": "Trip #"
                      },
                      "Battery Level ": {
                        "type": "string",
                        "description": "Battery Level "
                      },
                      "Site Status": {
                        "type": "string",
                        "description": "Site Status"
                      },
                      "Time": {
                        "type": "string",
                        "description": "Time"
                      },
                      "Lat/Long": {
                        "type": "string",
                        "description": "Lat/Long"
                      },
                      "DeviceId": {
                        "type": "string",
                        "description": "DeviceId"
                      },
                      "Address": {
                        "type": "string",
                        "description": "Address"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "Event Type ": {
                        "type": "string",
                        "description": "Event Type "
                      },
                      "Device Method": {
                        "type": "string",
                        "description": "Device Method"
                      },
                      "Accuracy": {
                        "type": "string",
                        "description": "Accuracy"
                      }
                    }
                  },
                  "description": "reportData"
                },
                "reportRange": {
                  "type": "string",
                  "description": "reportRange"
                }
              }
            }
          }
        },
        "operationId": "GetBreadcrumbsReport",
        "summary": "Get-Breadcrumbs-Report",
        "description": "Getting reports from allGeo platform based on inputs.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Token information recieved from login operation",
            "x-ms-summary": "token"
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Please specify account for which do you want to consume report",
            "x-ms-summary": "account"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Please specify group for which do you want to consume report",
            "x-ms-summary": "group"
          },
          {
            "name": "reportName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Please specify report name that you want to consume",
            "x-ms-summary": "reportName"
          },
          {
            "name": "reportRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Please input report range in format mm/dd/yyyy - mm/dd/yyyy so report will be filtered based on that",
            "x-ms-summary": "reportRange"
          },
          {
            "name": "reportFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Plese input what input format do you want to be delivered by",
            "x-ms-summary": "reportFormat"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.allgeo.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.allgeo.com/allgeo-privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}