{
  "swagger": "2.0",
  "info": {
    "description": "Provides the ability to submit content to XSOAR integrations when using instance.execute.external to expose integration instances over HTTPS. Tested to work with the Generic Webhook integration.",
    "version": "1.0.0",
    "title": "XSOAR",
    "contact": {
      "name": "Landon Chelf",
      "email": "landon.chelf@fisglobal.com"
      "url": "https://fisglobal.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "demisto.live",
  "basePath": "/instance/execute",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://start.paloaltonetworks.com/sign-up-for-community-edition.html"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.paloaltonetworks.com/legal-notices/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Send to XSOAR",
        "description": "Send JSON data to XSOAR.",
        "operationId": "SendToXSOAR",
        "parameters": [
          {
            "in": "body",
            "name": "request_body",
            "description": "Valid JSON content",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "API key is missing or invalid",
            "headers": {
              "Authorization": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {
    "UnauthorizedError": {
      "description": "API key is missing or invalid",
      "headers": {
        "Authorization": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": []
}
