{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Content Discovery",
    "description": "Seismic content discovery connector provides set of actions required for searching contents in various repositories like library, workspace, recents, favorites and predictive contents.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "Seismic"
    },
    "version": "v2"
  },
  "host": "api.seismic.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/integration/v2/predictiveContent/{predictiveContentId}/{contextId}": {
      "get": {
        "tags": [
          "Predictive Content"
        ],
        "summary": "Get predictive contents for user",
        "description": "Gets the list of predictive content for a given predictive content setting for the currently authenticated user.",
        "operationId": "GetPredictiveContentResultSet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "predictiveContentId",
            "description": "Predictive content setting name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Predictive content setting name"
          },
          {
            "in": "path",
            "name": "contextId",
            "description": "ContextId of content like SalesForce, Sugar etc.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Context System Type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.PredictiveContent.PredictiveContentResponse"
              }
            }
          }
        }
      }
    },
    "/integration/v2/predictiveContent": {
      "get": {
        "tags": [
          "Predictive Content"
        ],
        "summary": "Get the available predictive content settings",
        "description": "Gets the list of predictive content settings the current user has access to.",
        "operationId": "GetPredictiveSettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "systemType",
            "description": "The system type such as Salesforce, MicrosoftDynamicCRM, Oracle etc. Default is empty.",
            "type": "string",
            "x-ms-summary": "System Type",
            "required": false
          },
          {
            "in": "query",
            "name": "contextType",
            "description": "The context type such as Opportunity, Contact, Account, etc. Default is empty.",
            "type": "string",
            "x-ms-summary": "Context Type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.PredictiveContent.EmbeddedAppTab"
              }
            }
          }
        }
      }
    },
    "/integration/v2/users/favorites": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user's favorite contents",
        "description": "Get the current user's favorite contents.",
        "operationId": "GetUserFavorites",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.DocCenter.ContentItem"
              }
            }
          }
        }
      }
    },
    "/integration/v2/users/recents": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user's recent contents",
        "description": "Get the current user's recent contents.",
        "operationId": "GetUserRecentContents",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.DocCenter.ContentItem"
              }
            }
          }
        }
      }
    },
    "/search/v1/content/query": {
      "post": {
        "description": "Users can query all content that a user has access to using a search term, and further apply a content filter.",
        "summary": "Search contents",
        "tags": [
          "ContentSearch"
        ],
        "operationId": "QueryContent",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "(Optional) Pass the continuation token you have received from previous search action response to get results from next page.",
            "x-ms-summary": "Continuation Token"
          },
          {
            "name": "Search request body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Seismic.Search.SearchQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "default": ""
            },
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.ContentManager.ContentCustomProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Seismic.DocCenter.ContentInfo": {
      "type": "object",
      "properties": {
        "repository": {
          "description": "The content source from(value can be doccenter, newscenter, workspace, library, generatedlivedocs)",
          "type": "string"
        },
        "name": {
          "description": "Content name",
          "type": "string"
        },
        "type": {
          "description": "Content Type(value can be \"file\", \"url\")",
          "type": "string"
        },
        "format": {
          "description": "Content format",
          "type": "string"
        },
        "majorVersion": {
          "description": "Major Version",
          "type": "string"
        },
        "minorVersion": {
          "description": "Minor Version",
          "type": "string"
        },
        "libraryContent": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkContentBasicInfo"
        },
        "contentProfileId": {
          "description": "Content profile Id.",
          "type": "string"
        },
        "contentProfileName": {
          "description": "Content profile name",
          "type": "string"
        },
        "contentProfilePath": {
          "description": "Content profile path",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentProfilePathIds": {
          "description": "Content profile path ids",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Content Id",
          "type": "string"
        },
        "contentTypes": {
          "description": "Content Types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "versionId": {
          "description": "Content Version Id",
          "type": "string"
        },
        "contentType": {
          "description": "Content Type",
          "type": "string"
        },
        "workspaceVersionType": {
          "description": "Workspace version type",
          "type": "string"
        }
      }
    },
    "Seismic.DocCenter.ContentItem": {
      "type": "object",
      "properties": {
        "content": {
          "$ref": "#/definitions/Seismic.DocCenter.ContentInfo"
        },
        "publishedAt": {
          "description": "Content published date",
          "type": "string"
        },
        "modifiedAt": {
          "description": "Content Modified Date",
          "type": "string"
        },
        "addedAt": {
          "description": "Content added date",
          "type": "string"
        },
        "universalLink": {
          "description": "Content universal link",
          "type": "string"
        },
        "urlObjectUrl": {
          "description": "Origin URL",
          "type": "string"
        },
        "thumbnailId": {
          "description": "Content thumbnail id",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "Content thumbnail Url",
          "type": "string"
        },
        "sourceBlobId": {
          "description": "Source blob id",
          "type": "string"
        },
        "sourceBlobDownloadUrl": {
          "description": "Source blob download Url",
          "type": "string"
        },
        "sourceContainerName": {
          "description": "Source Container Name",
          "type": "string"
        },
        "size": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "deliveryOptions": {
          "description": "Content delivery options",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockedDeliveryOptions": {
          "description": "Content blocked delivery options",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowedDeliveryOptions": {
          "description": "Content allowed delivery options",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profileVersionId": {
          "description": "Profile Version Id",
          "type": "string"
        },
        "userId": {
          "description": "For workspace content, user who created or shared content",
          "type": "string"
        }
      }
    },
    "Seismic.LibraryContentManagement.UrlInfo": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "openInNewWindow": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Seismic.LibraryWorkflow.LibraryContent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "versionId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "teamsiteId": {
          "type": "string"
        }
      }
    },
    "Seismic.LiveSend.LiveSendLinkContentBasicInfo": {
      "description": "LiveSend link content Basic Info.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Content Id",
          "type": "string"
        },
        "versionId": {
          "description": "Content Version Id",
          "type": "string"
        },
        "teamsiteId": {
          "description": "TeamSiteId",
          "type": "string"
        }
      }
    },
    "Seismic.PredictiveContent.EmbeddedAppTab": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "systemType": {
          "type": "string"
        },
        "contextType": {
          "type": "string"
        }
      }
    },
    "Seismic.PredictiveContent.PredictiveContentHierarchy": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Seismic.PredictiveContent.PredictiveContentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "repository": {
          "type": "string"
        },
        "score": {
          "$ref": "#/definitions/Seismic.PredictiveContent.PredictiveContentScore"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "format": {
          "type": "string"
        },
        "contentProfileId": {
          "type": "string"
        },
        "url": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.UrlInfo"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.ContentManager.ContentCustomProperties"
          }
        },
        "hierarchy": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.PredictiveContent.PredictiveContentHierarchy"
          }
        },
        "applicationUrls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "libraryContent": {
          "$ref": "#/definitions/Seismic.LibraryWorkflow.LibraryContent"
        },
        "deliveryOptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        }
      }
    },
    "Seismic.PredictiveContent.PredictiveContentScore": {
      "type": "object",
      "properties": {
        "points": {
          "format": "double",
          "type": "number"
        },
        "rank": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ApplicationUrl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsDeliveryOption": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Seismic.Search.ConditionExpressionInfo": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string",
          "title": "Attribute"
        },
        "operator": {
          "type": "string",
          "title": "Operator"
        },
        "value": {
          "type": "string",
          "title": "Value"
        }
      }
    },
    "Seismic.Search.FilterExpressionInfo": {
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Represent a list of inner conditions",
          "type": "array",
          "x-ms-summary": "Condition",
          "items": {
            "$ref": "#/definitions/Seismic.Search.ConditionExpressionInfo"
          }
        },
        "filters": {
          "description": "Represent a list of inner filters",
          "type": "array",
          "x-ms-summary": "Filter",
          "items": {
            "$ref": "#/definitions/Seismic.Search.FilterExpressionInfo"
          }
        },
        "operator": {
          "description": "Represent the operator to apply on the condition list",
          "type": "string",
          "title": "Operator"
        }
      }
    },
    "Seismic.Search.SearchOptions": {
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "(Optional)  Any number between 0 and 100. Default value of 40.",
          "type": "integer",
          "title": "Page Size"
        },
        "searchFields": {
          "description": "search fields",
          "type": "array",
          "items": {
            "type": "string",
            "description": "(Optional) This specifies where in the content Seismic search service conducts the search.",
            "title": "Search Fields",
            "enum": [
              "Name",
              "Description",
              "Body",
              "Properties"
            ]
          }
        },
        "returnFields": {
          "description": "return fields",
          "type": "array",
          "items": {
            "type": "string",
            "description": "(Optional) This specifies the content property fields that Seismic search service returns for matching content found.",
            "title": "Return Fields",
            "enum": [
              "Repository",
              "Name",
              "TeamsiteId",
              "Id",
              "VersionId",
              "Type",
              "ApplicationUrls",
              "Format",
              "Description",
              "Properties",
              "ThumbnailUrl",
              "DownloadUrl",
              "CreatedDate",
              "PublishDate",
              "ModifiedDate",
              "MajorVersion",
              "MinorVersion"
            ]
          }
        }
      }
    },
    "Seismic.Search.SearchQueryRequest": {
      "type": "object",
      "properties": {
        "term": {
          "description": "Search term",
          "type": "string",
          "title": "Search Term"
        },
        "options": {
          "$ref": "#/definitions/Seismic.Search.SearchOptions"
        },
        "sort": {
          "description": "Sort criteria",
          "type": "array",
          "x-ms-summary": "Sort",
          "items": {
            "$ref": "#/definitions/Seismic.Search.SortConstraint"
          }
        },
        "filter": {
          "$ref": "#/definitions/Seismic.Search.FilterExpressionInfo"
        }
      }
    },
    "Seismic.Search.SortConstraint": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "(Optional) This will allow search to sort search results on selected fields.",
          "title": "Field"
        },
        "order": {
          "$ref": "#/definitions/Seismic.Search.SortConstraintDirection",
          "title": "Order",
          "type": "string",
          "x-ms-summary": "Order",
          "enum": [
            "Asc",
            "Desc"
          ]
        }
      }
    },
    "Seismic.Search.SortConstraintDirection": {
      "enum": [
        "Asc",
        "Desc"
      ],
      "type": "string",
      "x-ms-summary": "Order"
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.self.view seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage seismic.search": "seismic.self.view seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage seismic.search"
      }
    }
  },
  "tags": [
    {
      "name": "Predictive Content"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "seismic.self.view seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage seismic.search"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}