{
  "swagger": "2.0",
  "info": {
    "title": "daraja",
    "description": "A connector that exposes daraja mpesa endpoints",
    "version": "1.0",
    "contact": 
    {
      "name": "John Muchiri, Bernard Karaba",
      "url": "https://johnmuchirim.github.io/",
      "email": "jeanfrancaiseharicot@gmail.com",
      "email": "bkaraba14@gmail.com"
    }
  },
  "host": "sandbox.safaricom.co.ke",
  "basePath": "/",
  "schemes": [
    "https"
  ],
   "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/oauth/v1/generate": {},
    "/mpesa/stkpush/v1/processrequest": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "MerchantRequestID": {
                  "type": "string",
                  "description": "MerchantRequestID"
                },
                "CheckoutRequestID": {
                  "type": "string",
                  "description": "CheckoutRequestID"
                },
                "ResponseCode": {
                  "type": "string",
                  "description": "ResponseCode"
                },
                "ResponseDescription": {
                  "type": "string",
                  "description": "ResponseDescription"
                },
                "CustomerMessage": {
                  "type": "string",
                  "description": "CustomerMessage"
                }
              }
            }
          }
        },
        "summary": "lipa na mpesa",
        "description": "lipa na mpesa",
        "operationId": "LipaNaMpesa",
        "parameters": [
          {
            "name": "content-Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "x-ms-summary": "lipa na mpesa stk puish",
	    "description": "lipa na mpesa"

          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "BusinessShortCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "BusinessShortCode"
                },
                "Password": {
                  "type": "string",
                  "description": "Password"
                },
                "Timestamp": {
                  "type": "string",
                  "description": "Timestamp"
                },
                "TransactionType": {
                  "type": "string",
                  "description": "TransactionType"
                },
                "Amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Amount"
                },
                "PartyA": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyA"
                },
                "PartyB": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyB"
                },
                "PhoneNumber": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PhoneNumber",
                  "title": ""
                },
                "CallBackURL": {
                  "type": "string",
                  "description": "CallBackURL"
                },
                "AccountReference": {
                  "type": "string",
                  "description": "AccountReference"
                },
                "TransactionDesc": {
                  "type": "string",
                  "description": "TransactionDesc"
                }
              },
              "required": [
                "PhoneNumber"
              ]
            }
          }
        ]
      }
    },
    "/mpesa/stkpushquery/v1/query": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "query lipa na mpesa status",
        "description": "query lipa na mpesa status",
        "operationId": "GetLipaNaMpesaStatus",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "lipa na mpesa status",
            "x-ms-summary": "lipa na mpesa status"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "BusinessShortCode": {
                  "type": "string",
                  "description": "BusinessShortCode"
                },
                "Password": {
                  "type": "string",
                  "description": "Password"
                },
                "Timestamp": {
                  "type": "string",
                  "description": "Timestamp"
                },
                "CheckoutRequestID": {
                  "type": "string",
                  "description": "CheckoutRequestID"
                }
              }
            }
          }
        ]
      }
    },
    "/mpesa/reversal/v1/request": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "reverse an mpesa transaction",
        "description": "reverse an mpesa transaction",
        "operationId": "ReverseMpesaTransaction",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "reverse an mpesa transaction",
            "x-ms-summary": "reverse an mpesa transaction"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Initiator": {
                  "type": "string",
                  "description": "Initiator"
                },
                "SecurityCredential": {
                  "type": "string",
                  "description": "SecurityCredential"
                },
                "CommandID": {
                  "type": "string",
                  "description": "CommandID"
                },
                "TransactionID": {
                  "type": "string",
                  "description": "TransactionID"
                },
                "Amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Amount"
                },
                "ReceiverParty": {
                  "type": "string",
                  "description": "ReceiverParty"
                },
                "RecieverIdentifierType": {
                  "type": "string",
                  "description": "RecieverIdentifierType"
                },
                "ResultURL": {
                  "type": "string",
                  "description": "ResultURL"
                },
                "QueueTimeOutURL": {
                  "type": "string",
                  "description": "QueueTimeOutURL"
                },
                "Remarks": {
                  "type": "string",
                  "description": "Remarks"
                },
                "Occasion": {
                  "type": "string",
                  "description": "Occasion"
                }
              }
            }
          }
        ]
      }
    },
    "/mpesa/transactionstatus/v1/query": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "query the transaction status",
        "description": "query the transaction status",
        "operationId": "GetTransactionStatus",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "query the transaction status",
            "x-ms-summary": "query the transaction status"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Initiator": {
                  "type": "string",
                  "description": "Initiator"
                },
                "SecurityCredential": {
                  "type": "string",
                  "description": "SecurityCredential"
                },
                "CommandID": {
                  "type": "string",
                  "description": "CommandID"
                },
                "TransactionID": {
                  "type": "string",
                  "description": "TransactionID"
                },
                "PartyA": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyA"
                },
                "IdentifierType": {
                  "type": "string",
                  "description": "IdentifierType"
                },
                "ResultURL": {
                  "type": "string",
                  "description": "ResultURL"
                },
                "QueueTimeOutURL": {
                  "type": "string",
                  "description": "QueueTimeOutURL"
                },
                "Remarks": {
                  "type": "string",
                  "description": "Remarks"
                },
                "Occasion": {
                  "type": "string",
                  "description": "Occasion"
                }
              }
            }
          }
        ]
      }
    },
    "/mpesa/c2b/v1/simulate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "simulate C2B",
        "description": "buy goods",
        "operationId": "SimulateC2B",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "simulate C2B",
            "x-ms-summary": "simulate C2B"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ShortCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ShortCode"
                },
                "CommandID": {
                  "type": "string",
                  "description": "CommandID"
                },
                "Amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Amount"
                },
                "Msisdn": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Msisdn"
                },
                "BillRefNumber": {
                  "type": "string",
                  "description": "BillRefNumber"
                }
              }
            }
          }
        ]
      }
    },
    "/CheckTokenExpiration": {},
    "/mpesa/accountbalance/v1/query": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OriginatorConversationID": {
                  "type": "string",
                  "description": "OriginatorConversationID"
                },
                "ConversationID": {
                  "type": "string",
                  "description": "ConversationID"
                },
                "ResponseCode": {
                  "type": "string",
                  "description": "ResponseCode"
                },
                "ResponseDescription": {
                  "type": "string",
                  "description": "ResponseDescription"
                }
              }
            }
          }
        },
        "summary": "make an account balance query",
        "description": "make an account balance query",
        "operationId": "BalanceQuery",
        "parameters": [
          {
            "name": "Content_Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "balance query",
            "x-ms-summary": "balance query"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Initiator": {
                  "type": "string",
                  "description": "Initiator"
                },
                "SecurityCredential": {
                  "type": "string",
                  "description": "SecurityCredential"
                },
                "CommandID": {
                  "type": "string",
                  "description": "CommandID"
                },
                "PartyA": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyA"
                },
                "IdentifierType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "IdentifierType"
                },
                "Remarks": {
                  "type": "string",
                  "description": "Remarks"
                },
                "QueueTimeOutURL": {
                  "type": "string",
                  "description": "QueueTimeOutURL"
                },
                "ResultURL": {
                  "type": "string",
                  "description": "ResultURL"
                }
              }
            }
          }
        ]
      }
    },
    "/mpesa/b2c/v1/paymentrequest": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ConversationID": {
                  "type": "string",
                  "description": "ConversationID"
                },
                "OriginatorConversationID": {
                  "type": "string",
                  "description": "OriginatorConversationID"
                },
                "ResponseCode": {
                  "type": "string",
                  "description": "ResponseCode"
                },
                "ResponseDescription": {
                  "type": "string",
                  "description": "ResponseDescription"
                }
              }
            }
          }
        },
        "summary": "make a B2C payment",
        "description": "make a B2C payment",
        "operationId": "B2Cpayment",
        "parameters": [
          {
            "name": "Content_Type",
            "in": "header",
            "required": false,
            "type": "string",
	    "description": "make a B2C payment",
            "x-ms-summary": "make a B2C payment"

          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "InitiatorName": {
                  "type": "string",
                  "description": "InitiatorName"
                },
                "SecurityCredential": {
                  "type": "string",
                  "description": "SecurityCredential"
                },
                "CommandID": {
                  "type": "string",
                  "description": "CommandID"
                },
                "Amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Amount"
                },
                "PartyA": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyA"
                },
                "PartyB": {
                  "type": "integer",
                  "format": "int64",
                  "description": "PartyB"
                },
                "Remarks": {
                  "type": "string",
                  "description": "Remarks"
                },
                "QueueTimeOutURL": {
                  "type": "string",
                  "description": "QueueTimeOutURL"
                },
                "ResultURL": {
                  "type": "string",
                  "description": "ResultURL"
                },
                "Occassion": {
                  "type": "string",
                  "description": "Occassion"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://daraja.onrender.com/generate",
      "scopes": {
        "User.Read": "User.Read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "User.Read"
      ]
    }
  ],
  "tags": [],
   "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.developer.safaricom.co.ke/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.developer.safaricom.co.ke"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
 
 
}
