{"swagger":"2.0","info":{"version":"v1","title":"Cloudmersive Document Conversion","description":"Convert API lets you effortlessly convert file formats and types."},"host":"api.cloudmersive.com","schemes":["https"],"paths":{"/convert/compare/docx":{"post":{"tags":["CompareDocument"],"summary":"Compare Two Word DOCX","description":"Compare two Office Word Documents (docx) files and highlight the differences","operationId":"CompareDocument_Docx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile1","in":"formData","description":"First input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"First input file to perform the operation on."},{"name":"inputFile2","in":"formData","description":"Second input file to perform the operation on (more than 2 can be supplied).","required":true,"type":"file","x-ms-summary":"Second input file to perform the operation on (more than 2 can be supplied)."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/csv/to/json":{"post":{"tags":["ConvertData"],"summary":"CSV to JSON conversion","description":"Convert a CSV file to a JSON object array","operationId":"ConvertData_CsvToJson","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Apikey":[]}]}},"/convert/xlsx/to/json":{"post":{"tags":["ConvertData"],"summary":"Excel XLSX to JSON conversion","description":"Convert an Excel XLSX file to a JSON object array","operationId":"ConvertData_XlsxToJson","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Apikey":[]}]}},"/convert/xls/to/json":{"post":{"tags":["ConvertData"],"summary":"Excel (97-2003) XLS to JSON conversion","description":"Convert an Excel (97-2003) XLS file to a JSON object array","operationId":"ConvertData_XlsToJson","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Apikey":[]}]}},"/convert/xml/to/json":{"post":{"tags":["ConvertData"],"summary":"XML to JSON conversion","description":"Convert an XML string or file into JSON","operationId":"ConvertData_XmlToJson","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Apikey":[]}]}},"/convert/docx/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"Word DOCX to PDF","description":"Convert Office Word Documents (docx) to standard PDF","operationId":"ConvertDocument_DocxToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/docx/to/txt":{"post":{"tags":["ConvertDocument"],"summary":"Word DOCX to Text","description":"Convert Office Word Documents (docx) to text","operationId":"ConvertDocument_DocxToTxt","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/doc/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"Word DOC (97-03) to PDF","description":"Convert Office Word (97-2003 Format) Documents (doc) to standard PDF","operationId":"ConvertDocument_DocToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/doc/to/docx":{"post":{"tags":["ConvertDocument"],"summary":"Word DOC (97-03) to DOCX","description":"Convert/upgrade Office Word (97-2003 Format) Documents (doc) to the modern DOCX format","operationId":"ConvertDocument_DocToDocx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pptx/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"PowerPoint PPTX to PDF","description":"Convert Office PowerPoint Documents (pptx) to standard PDF","operationId":"ConvertDocument_PptxToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pptx/to/txt":{"post":{"tags":["ConvertDocument"],"summary":"PowerPoint PPTX to Text","description":"Convert Office PowerPoint Documents (pptx) to standard Text","operationId":"ConvertDocument_PptxToTxt","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/ppt/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"PowerPoint PPT (97-03) to PDF","description":"Convert Office PowerPoint (97-2003) Documents (ppt) to standard PDF","operationId":"ConvertDocument_PptToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/ppt/to/pptx":{"post":{"tags":["ConvertDocument"],"summary":"PowerPoint PPT (97-03) to PPTX","description":"Convert/upgrade Office PowerPoint (97-2003) Documents (ppt) to modern PPTX","operationId":"ConvertDocument_PptToPptx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xlsx/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLSX to PDF","description":"Convert Office Excel Workbooks (XLSX) to standard PDF.  Converts all worksheets in the workbook to PDF.  Supports both XLSX and XLSB Excel file formats.","operationId":"ConvertDocument_XlsxToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xlsx/to/txt":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLSX to Text","description":"Convert Office Excel Workbooks (XLSX) to standard Text.  Converts all worksheets in the workbook to Text.  Supports both XLSX and XLSB file formats.","operationId":"ConvertDocument_XlsxToTxt","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xls/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLS (97-03) to PDF","description":"Convert Office Excel (97-2003) Workbooks (xls) to standard PDF.  Converts all worksheets in the workbook to PDF.","operationId":"ConvertDocument_XlsToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xls/to/xlsx":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLS (97-03) to XLSX","description":"Convert/upgrade Office Excel (97-2003) Workbooks (xls) to modern XLSX format.","operationId":"ConvertDocument_XlsToXlsx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xls/to/csv":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLS (97-03) to CSV","description":"Convert/upgrade Office Excel (97-2003) Workbooks (xls) to standard CSV format.","operationId":"ConvertDocument_XlsToCsv","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/csv/to/xlsx":{"post":{"tags":["ConvertDocument"],"summary":"CSV to Excel XLSX","description":"Convert CSV file to Office Excel XLSX Workbooks file format.","operationId":"ConvertDocument_CsvToXlsx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/xlsx/to/csv":{"post":{"tags":["ConvertDocument"],"summary":"Excel XLSX to CSV","description":"Convert Office Excel Workbooks (XLSX) to standard Comma-Separated Values (CSV) format.  Supports both XLSX and XLSB file Excel formats.","operationId":"ConvertDocument_XlsxToCsv","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/html/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"HTML to PDF","description":"Convert standard HTML, with full support for CSS, JavaScript, Images, and other complex behavior to PDF.  To use external files such as images, use an absolute URL to the file.","operationId":"ConvertDocument_HtmlToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/html/to/png":{"post":{"tags":["ConvertDocument"],"summary":"HTML to PNG array","description":"Convert standard HTML, with full support for CSS, JavaScript, Images, and other complex behavior to an array of PNG images, one for each page.  To use external files in your HTML such as images, use an absolute URL to the file.","operationId":"ConvertDocument_HtmlToPng","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/autodetect/get-info":{"post":{"tags":["ConvertDocument"],"summary":"Get document type information","description":"Auto-detects a document's type information; does not require file extension.  Analyzes file contents to confirm file type.  Even if no file extension is present, the auto-detect system will reliably analyze the contents of the file and identify its file type.  Supports over 100 image file formats, Office document file formats, PDF, and more.","operationId":"ConvertDocument_AutodetectGetInfo","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutodetectGetInfoResult"}}},"security":[{"Apikey":[]}]}},"/convert/autodetect/to/pdf":{"post":{"tags":["ConvertDocument"],"summary":"Convert Document to PDF","description":"Automatically detect file type and convert it to PDF.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files.","operationId":"ConvertDocument_AutodetectToPdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/autodetect/to/txt":{"post":{"tags":["ConvertDocument"],"summary":"Convert Document to Text","description":"Automatically detect file type and convert it to Text.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT) and PDF files.","operationId":"ConvertDocument_AutodetectToTxt","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/autodetect/to/png":{"post":{"tags":["ConvertDocument"],"summary":"Convert Document to PNG array","description":"Automatically detect file type and convert it to an array of PNG images.  Supports all of the major Office document file formats, over 100 image formats, and even multi-page TIFF files.","operationId":"ConvertDocument_AutodetectToPngArray","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pdf/to/png":{"post":{"tags":["ConvertDocument"],"summary":"PDF to PNG Array","description":"Convert PDF document to PNG array, one image per page.","operationId":"ConvertDocument_PdfToPngArray","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pdf/to/txt":{"post":{"tags":["ConvertDocument"],"summary":"PDF to Text","description":"PDF document to text","operationId":"ConvertDocument_PdfToTxt","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pdf/to/docx":{"post":{"tags":["ConvertDocument"],"summary":"PDF to Word DOCX","description":"Convert standard PDF to Office Word Documents (docx).    Converts a PDF at high fidelity into Word format, where it can be easily edited and processed.","operationId":"ConvertDocument_PdfToDocx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/pdf/to/pptx":{"post":{"tags":["ConvertDocument"],"summary":"PDF to PowerPoint PPTX","description":"Convert standard PDF to Office PowerPoint Presentation (pptx).  Converts a PDF file at high fidelity into PowerPoint format, where it can be easily edited and processed.","operationId":"ConvertDocument_PdfToPptx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/image/{format1}/to/{format2}":{"post":{"tags":["ConvertImage"],"summary":"Image format conversion","description":"Convert between over 100 file formats, including key formats such as Photoshop (PSD), PNG, JPG, GIF, NEF, and BMP.","operationId":"ConvertImage_ImageFormatConvert","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"format1","in":"path","description":"Input file format as a 3+ letter file extension.  You can also provide...","required":true,"type":"string","x-ms-summary":"Input file format as a 3+ letter file extension.  You can also provide..."},{"name":"format2","in":"path","description":"Output (convert to this format) file format as a 3+ letter file extens...","required":true,"type":"string","x-ms-summary":"Output (convert to this format) file format as a 3+ letter file extens..."},{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/image-multipage/{format1}/to/{format2}":{"post":{"tags":["ConvertImage"],"summary":"Multi-page format conversion","description":"Convert between over 100 file formats, including support for Multiple-Page formats (e.g. PDFs, TIFFs, etc. with multiple pages).","operationId":"ConvertImage_MultipageImageFormatConvert","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"format1","in":"path","description":"Input file format as a 3+ letter file extension.  You can also provide...","required":true,"type":"string","x-ms-summary":"Input file format as a 3+ letter file extension.  You can also provide..."},{"name":"format2","in":"path","description":"Output (convert to this format) file format as a 3+ letter file extens...","required":true,"type":"string","x-ms-summary":"Output (convert to this format) file format as a 3+ letter file extens..."},{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MultipageImageFormatConversionResult"}}},"security":[{"Apikey":[]}]}},"/convert/image/set-dpi/{dpi}":{"post":{"tags":["ConvertImage"],"summary":"Change image DPI","description":"Resize an image to have a different DPI","operationId":"ConvertImage_ImageSetDPI","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"dpi","in":"path","description":"New DPI in pixels-per-inch, for example 300 DPI or 600 DPI","required":true,"type":"integer","format":"int32","x-ms-summary":"New DPI in pixels-per-inch, for example 300 DPI or 600 DPI"},{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/image/get-info":{"post":{"tags":["ConvertImage"],"summary":"Get information about an image","description":"Get details from an image such as size, format and MIME type, compression, EXIF data such as location, DPI, unique colors, transparency information, and more","operationId":"ConvertImage_GetImageInfo","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetImageInfoResult"}}},"security":[{"Apikey":[]}]}},"/convert/template/html/apply":{"post":{"tags":["ConvertTemplate"],"summary":"Apply HTML template","description":"Apply operations to fill in an HTML template, generating a final HTML result","operationId":"ConvertTemplate_ApplyHtmlTemplate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"value","in":"body","description":"Operations to apply to template","required":true,"schema":{"$ref":"#/definitions/HtmlTemplateApplicationRequest"},"x-ms-summary":"Operations to apply to template"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/HtmlTemplateApplicationResponse"}}},"security":[{"Apikey":[]}]}},"/convert/web/url/to/screenshot":{"post":{"tags":["ConvertWeb"],"summary":"Take screenshot of URL","description":"Fully renders a website and returns a PNG screenshot of the full page image.  Javascript, HTML5, CSS and other advanced features are all supported.","operationId":"ConvertWeb_UrlToScreenshot","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","description":"Screenshot request parameters","required":true,"schema":{"$ref":"#/definitions/ScreenshotRequest"},"x-ms-summary":"Screenshot request parameters"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}}},"security":[{"Apikey":[]}]}},"/convert/web/url/to/pdf":{"post":{"tags":["ConvertWeb"],"summary":"Convert a URL to PDF","description":"Fully renders a website and returns a PDF of the full page.  Javascript, HTML5, CSS and other advanced features are all supported.","operationId":"ConvertWeb_UrlToPdf","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","description":"URL to PDF request parameters","required":true,"schema":{"$ref":"#/definitions/ScreenshotRequest"},"x-ms-summary":"URL to PDF request parameters"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}}},"security":[{"Apikey":[]}]}},"/convert/web/html/to/pdf":{"post":{"tags":["ConvertWeb"],"summary":"Convert HTML string to PDF","description":"Fully renders a website and returns a PDF of the HTML.  Javascript, HTML5, CSS and other advanced features are all supported.","operationId":"ConvertWeb_HtmlToPdf","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","description":"HTML to PDF request parameters","required":true,"schema":{"$ref":"#/definitions/HtmlToPdfRequest"},"x-ms-summary":"HTML to PDF request parameters"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}}},"security":[{"Apikey":[]}]}},"/convert/html/to/docx":{"post":{"tags":["ConvertWeb"],"summary":"HTML to DOCX","description":"Convert HTML to Office Word Document (DOCX) format","operationId":"ConvertWeb_HtmlToDocx","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/octet-stream"],"parameters":[{"name":"inputRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/HtmlToOfficeRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/web/md/to/html":{"post":{"tags":["ConvertWeb"],"summary":"Convert Markdown to HTML","description":"Convert a markdown file (.md) to HTML","operationId":"ConvertWeb_MdToHtml","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/edit/begin-editing":{"post":{"tags":["EditDocument"],"summary":"Begin editing a document","description":"Uploads a document to Cloudmersive to begin a series of one or more editing operations","operationId":"EditDocument_BeginEditing","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"Apikey":[]}]}},"/convert/edit/finish-editing":{"post":{"tags":["EditDocument"],"summary":"Download result from document editing","description":"Once done editing a document, download the result.  Begin editing a document by calling begin-editing, then perform operations, then call finish-editing to get the result.","operationId":"EditDocument_FinishEditing","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/octet-stream"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/FinishEditingRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/replace-all":{"post":{"tags":["EditDocument"],"summary":"Replace string in DOCX","description":"Replace all instances of a string in an Office Word Document (docx)","operationId":"EditDocument_DocxReplace","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/octet-stream"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/ReplaceStringRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/edit/pptx/replace-all":{"post":{"tags":["EditDocument"],"summary":"Replace string in PPTX","description":"Replace all instances of a string in an Office PowerPoint Document (pptx)","operationId":"EditDocument_PptxReplace","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/octet-stream"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/ReplaceStringRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-tables":{"post":{"tags":["EditDocument"],"summary":"Get tables in DOCX","description":"Returns all the table objects in an Office Word Document (docx)","operationId":"EditDocument_DocxGetTables","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/octet-stream"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxTablesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-images":{"post":{"tags":["EditDocument"],"summary":"Get images from a DOCX","description":"Returns the images defined in the Word Document (DOCX) format file","operationId":"EditDocument_DocxGetImages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxImagesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDocxImagesResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-styles":{"post":{"tags":["EditDocument"],"summary":"Get styles from a DOCX","description":"Returns the styles defined in the Word Document (DOCX) format file","operationId":"EditDocument_DocxGetStyles","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxStylesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDocxStylesResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-sections":{"post":{"tags":["EditDocument"],"summary":"Get sections from a DOCX","description":"Returns the sections defined in the Word Document (DOCX) format file","operationId":"EditDocument_DocxGetSections","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxSectionsRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDocxSectionsResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-body":{"post":{"tags":["EditDocument"],"summary":"Get body from a DOCX","description":"Returns the body defined in the Word Document (DOCX) format file; this is the main content part of a DOCX document","operationId":"EditDocument_DocxBody","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxBodyRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDocxBodyResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/get-headers-and-footers":{"post":{"tags":["EditDocument"],"summary":"Get content of a footer from a DOCX","description":"Returns the footer content from a Word Document (DOCX) format file","operationId":"EditDocument_DocxGetHeadersAndFooters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/GetDocxHeadersAndFootersRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDocxHeadersAndFootersResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/set-header":{"post":{"tags":["EditDocument"],"summary":"Set the header in a DOCX","description":"Set the header in a Word Document (DOCX)","operationId":"EditDocument_DocxSetHeader","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/DocxSetHeaderRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocxSetHeaderResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/set-footer":{"post":{"tags":["EditDocument"],"summary":"Set the footer in a DOCX","description":"Set the footer in a Word Document (DOCX)","operationId":"EditDocument_DocxSetFooter","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/DocxSetFooterRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocxSetFooterResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/insert-image":{"post":{"tags":["EditDocument"],"summary":"Insert image into a DOCX","description":"Set the footer in a Word Document (DOCX)","operationId":"EditDocument_DocxInsertImage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/DocxInsertImageRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocxInsertImageResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/insert-paragraph":{"post":{"tags":["EditDocument"],"summary":"Insert a new paragraph into a DOCX","description":"Adds a new paragraph into a DOCX and returns the result.  You can insert at the beginning/end of a document, or before/after an existing object using its Path (location within the document).","operationId":"EditDocument_DocxInsertParagraph","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/InsertDocxInsertParagraphRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsertDocxInsertParagraphResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/insert-table":{"post":{"tags":["EditDocument"],"summary":"Insert a new table into a DOCX","description":"Adds a new table into a DOCX and returns the result","operationId":"EditDocument_DocxInsertTable","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/InsertDocxTablesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsertDocxTablesResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/remove-headers-and-footers":{"post":{"tags":["EditDocument"],"summary":"Remove headers and footers from DOCX","description":"Remove all headers, or footers, or both from a Word Document (DOCX)","operationId":"EditDocument_DocxRemoveHeadersAndFooters","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/RemoveDocxHeadersAndFootersRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RemoveDocxHeadersAndFootersResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/docx/remove-object":{"post":{"tags":["EditDocument"],"summary":"Delete any object in a DOCX","description":"Delete any object, such as a paragraph, table, image, etc. from a Word Document (DOCX).  Pass in the Path of the object you would like to delete.  You can call other functions such as Get-Tables, Get-Images, Get-Body, etc. to get the paths of the objects in the document.","operationId":"EditDocument_DocxRemoveObject","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reqConfig","in":"body","required":true,"schema":{"$ref":"#/definitions/DocxRemoveObjectRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocxRemoveObjectResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/get-worksheets":{"post":{"tags":["EditDocument"],"summary":"Get worksheets from a XLSX","description":"Returns the worksheets (tabs) defined in the Excel Spreadsheet (XLSX) format file","operationId":"EditDocument_XlsxGetWorksheets","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/GetXlsxWorksheetsRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetXlsxWorksheetsResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/get-rows-and-cells":{"post":{"tags":["EditDocument"],"summary":"Get rows and cells from a XLSX worksheet","description":"Returns the rows and cells defined in the Excel Spreadsheet worksheet","operationId":"EditDocument_XlsxGetRowsAndCells","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/GetXlsxRowsAndCellsRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetXlsxRowsAndCellsResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/get-columns":{"post":{"tags":["EditDocument"],"summary":"Get rows and cells from a XLSX worksheet","description":"Returns the rows and cells defined in the Excel Spreadsheet worksheet","operationId":"EditDocument_XlsxGetColumns","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/GetXlsxColumnsRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetXlsxColumnsResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/get-images":{"post":{"tags":["EditDocument"],"summary":"Get images from a XLSX worksheet","description":"Returns the images defined in the Excel Spreadsheet worksheet","operationId":"EditDocument_XlsxGetImages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/GetXlsxImagesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetXlsxImagesResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/get-styles":{"post":{"tags":["EditDocument"],"summary":"Get styles from a XLSX worksheet","description":"Returns the style defined in the Excel Spreadsheet","operationId":"EditDocument_XlsxGetStyles","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/GetXlsxStylesRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetXlsxStylesResponse"}}},"security":[{"Apikey":[]}]}},"/convert/edit/xlsx/insert-worksheet":{"post":{"tags":["EditDocument"],"summary":"Insert a new worksheet into an XLSX spreadsheet","description":"Inserts a new worksheet into an Excel Spreadsheet","operationId":"EditDocument_XlsxInsertWorksheet","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/InsertXlsxWorksheetRequest"},"x-ms-summary":null}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsertXlsxWorksheetResponse"}}},"security":[{"Apikey":[]}]}},"/convert/merge/docx":{"post":{"tags":["MergeDocument"],"summary":"Merge Multple Word DOCX Together","description":"Combine multiple Office Word Documents (docx) into one single Office Word document","operationId":"MergeDocument_Docx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile1","in":"formData","description":"First input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"First input file to perform the operation on."},{"name":"inputFile2","in":"formData","description":"Second input file to perform the operation on (more than 2 can be supplied).","required":true,"type":"file","x-ms-summary":"Second input file to perform the operation on (more than 2 can be supplied)."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/merge/pptx":{"post":{"tags":["MergeDocument"],"summary":"Merge Multple PowerPoint PPTX Together","description":"Combine multiple Office PowerPoint presentations (pptx) into one single Office PowerPoint presentation","operationId":"MergeDocument_Pptx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile1","in":"formData","description":"First input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"First input file to perform the operation on."},{"name":"inputFile2","in":"formData","description":"Second input file to perform the operation on (more than 2 can be supplied).","required":true,"type":"file","x-ms-summary":"Second input file to perform the operation on (more than 2 can be supplied)."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/merge/xlsx":{"post":{"tags":["MergeDocument"],"summary":"Merge Multple Excel XLSX Together","description":"Combine multiple Office Excel spreadsheets (xlsx) into a single Office Excel spreadsheet","operationId":"MergeDocument_Xlsx","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile1","in":"formData","description":"First input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"First input file to perform the operation on."},{"name":"inputFile2","in":"formData","description":"Second input file to perform the operation on (more than 2 can be supplied).","required":true,"type":"file","x-ms-summary":"Second input file to perform the operation on (more than 2 can be supplied)."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/merge/pdf":{"post":{"tags":["MergeDocument"],"summary":"Merge Multple PDF Files Together","description":"Combine multiple PDF files (pdf) into a single PDF document, preserving the order of the input documents in the combined document","operationId":"MergeDocument_Pdf","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile1","in":"formData","description":"First input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"First input file to perform the operation on."},{"name":"inputFile2","in":"formData","description":"Second input file to perform the operation on (more than 2 can be supplied).","required":true,"type":"file","x-ms-summary":"Second input file to perform the operation on (more than 2 can be supplied)."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/validate/docx":{"post":{"tags":["ValidateDocument"],"summary":"Validate a Word document (DOCX)","description":"Validate a Word document (DOCX); if the document is not valid, identifies the errors in the document","operationId":"ValidateDocument_DocxValidation","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/validate/xlsx":{"post":{"tags":["ValidateDocument"],"summary":"Validate a Excel document (XLSX)","description":"Validate a Excel document (XLSX); if the document is not valid, identifies the errors in the document","operationId":"ValidateDocument_XlsxValidation","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/validate/pptx":{"post":{"tags":["ValidateDocument"],"summary":"Validate a PowerPoint presentation (PPTX)","description":"Validate a PowerPoint presentation (PPTX); if the document is not valid, identifies the errors in the document","operationId":"ValidateDocument_PptxValidation","consumes":["multipart/form-data"],"produces":["application/octet-stream"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK"}},"security":[{"Apikey":[]}]}},"/convert/viewer/create/web/simple":{"post":{"tags":["ViewerTools"],"summary":"Create a web-based viewer","description":"Creates an HTML embed code for a simple web-based viewer of a document; supports Office document types and PDF.","operationId":"ViewerTools_CreateSimple","consumes":["multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inputFile","in":"formData","description":"Input file to perform the operation on.","required":true,"type":"file","x-ms-summary":"Input file to perform the operation on."}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ViewerResponse"}}},"security":[{"Apikey":[]}]}}},"definitions":{"TextConversionResult":{"description":"Text conversion result from converting a document to Plain Text (TXT) format","type":"object","properties":{"Successful":{"description":"True if the operation was successful, false otherwise","type":"boolean"},"TextResult":{"description":"Plain Text (TXT) format conversion result of the input document.  The text result is returned as a string.","type":"string"}}},"PdfToPngResult":{"description":"Result of converting a PDF to a PNG array","type":"object","properties":{"Successful":{"description":"True if the operation was successful, false otherwise","type":"boolean"},"PngResultPages":{"description":"Array of converted pages","type":"array","items":{"$ref":"#/definitions/ConvertedPngPage"}}}},"ConvertedPngPage":{"description":"A single converted page","type":"object","properties":{"PageNumber":{"format":"int32","description":"Page number of the converted page, starting with 1","type":"integer"},"URL":{"description":"URL to the PNG file of this page; file is stored in an in-memory cache and will be deleted","type":"string"}}},"AutodetectGetInfoResult":{"description":"Result of an autodetect/get-info operation","type":"object","properties":{"Successful":{"description":"True if the operation was successful, false otherwise","type":"boolean"},"DetectedFileExtension":{"description":"Detected file extension of the file format, with a leading period","type":"string"},"DetectedMimeType":{"description":"MIME type of this file extension","type":"string"},"AlternateFileTypeCandidates":{"description":"Alternate file type options and their probability","type":"array","items":{"$ref":"#/definitions/AlternateFileFormatCandidate"}}}},"AlternateFileFormatCandidate":{"description":"Alternate file format possibility","type":"object","properties":{"Probability":{"format":"double","description":"Probability that this extension is the right one; possible values are between 0.0 (lowest confidence) and 1.0 (highest confidence)","type":"number"},"DetectedFileExtension":{"description":"Detected file extension of the file format, with a leading period","type":"string"},"DetectedMimeType":{"description":"MIME type of this file extension","type":"string"}}},"AutodetectToPngResult":{"description":"Result of converting an autodetected input to a PNG array","type":"object","properties":{"Successful":{"description":"True if the operation was successful, false otherwise","type":"boolean"},"PngResultPages":{"description":"Array of converted pages","type":"array","items":{"$ref":"#/definitions/ConvertedPngPage"}}}},"MultipageImageFormatConversionResult":{"description":"Result of converting a multi-page image into individual pages with a different format","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"PageCount":{"format":"int32","description":"The number of pages in the converted output","type":"integer"},"Pages":{"description":"Converted page results","type":"array","items":{"$ref":"#/definitions/PageConversionResult"}}}},"PageConversionResult":{"description":"Converted page as an image","type":"object","properties":{"Filename":{"description":"File name of the image in the converted file format","type":"string"},"FileBytes":{"format":"byte","description":"File bytes (contents) of the image in converted file format","type":"string"}}},"GetImageInfoResult":{"description":"Result of running a get-info operation on an image","type":"object","properties":{"Successful":{"type":"boolean"},"ColorSpace":{"description":"Color space of the image","type":"string"},"ColorType":{"description":"Color type of the image","type":"string"},"Width":{"format":"int32","description":"Width in pixels of the image","type":"integer"},"Height":{"format":"int32","description":"Height in pixels of the image","type":"integer"},"CompressionLevel":{"format":"int32","description":"Compression level value from 0 (lowest quality) to 100 (highest quality)","type":"integer"},"ImageHashSignature":{"description":"SHA256 hash signature of the image","type":"string"},"HasTransparency":{"description":"True if the image contains transparency, otherwise false","type":"boolean"},"MimeType":{"description":"MIME type of the image format","type":"string"},"ImageFormat":{"description":"Image format","type":"string"},"DPIUnit":{"description":"Units of the DPI measurement; can be either in Inches or Centimeters","type":"string"},"DPI":{"format":"double","description":"DPI (pixels per unit, e.g. pixels per inch) of the image","type":"number"},"ColorCount":{"format":"int32","description":"Unique colors in the image","type":"integer"},"BitDepth":{"format":"int32","description":"Bit depth of the image","type":"integer"},"Comment":{"description":"Comment string in the image","type":"string"},"ExifProfileName":{"description":"Name of the EXIF profile used","type":"string"},"ExifValues":{"description":"EXIF tags and values embedded in the image","type":"array","items":{"$ref":"#/definitions/ExifValue"}}}},"ExifValue":{"description":"EXIF tag and value","type":"object","properties":{"Tag":{"description":"Tag name for the EXIF value","type":"string"},"DataType":{"description":"Date type of the EXIF value","type":"string"},"DataValue":{"description":"Value, formatted as a string of the EXIF value","type":"string"}}},"HtmlTemplateApplicationRequest":{"description":"HTML template application request","type":"object","properties":{"HtmlTemplate":{"description":"HTML template input as a string","type":"string"},"HtmlTemplateUrl":{"description":"URL to HTML template input","type":"string"},"Operations":{"description":"Operations to apply to this template","type":"array","items":{"$ref":"#/definitions/HtmlTemplateOperation"}}}},"HtmlTemplateOperation":{"type":"object","properties":{"Action":{"format":"int32","description":"Operation action to take; possible values are \"Replace\"","enum":[1],"type":"integer"},"MatchAgsint":{"description":"For Replace operations, the string to match against (to be replaced with ReplaceWith string)","type":"string"},"ReplaceWith":{"description":"For Replace operations, the string to Replace the original string with","type":"string"}}},"HtmlTemplateApplicationResponse":{"description":"Response from an HTML template application","type":"object","properties":{"Successful":{"description":"True if the operation was successful, false otherwise","type":"boolean"},"FinalHtml":{"description":"Final HTML result of all operations on input","type":"string"}}},"DocxTemplateApplicationRequest":{"description":"Word DOCX template application request","type":"object","properties":{"Operations":{"description":"Operations to apply to this template","type":"array","items":{"$ref":"#/definitions/DocxTemplateOperation"}}}},"DocxTemplateOperation":{"type":"object","properties":{"Action":{"format":"int32","description":"Operation action to take; possible values are \"Replace\"","enum":[1],"type":"integer"},"MatchAgainst":{"description":"For Replace operations, the string to match against (to be replaced with ReplaceWith string)","type":"string"},"ReplaceWith":{"description":"For Replace operations, the string to Replace the original string with","type":"string"}}},"ScreenshotRequest":{"description":"Details of the screenshot request","type":"object","properties":{"Url":{"description":"URL address of the website to screenshot.  HTTP and HTTPS are both supported, as are custom ports.","type":"string"},"ExtraLoadingWait":{"format":"int32","description":"Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.  Provide a value of 0 for the default of 5000 milliseconds (5 seconds)","type":"integer"},"ScreenshotWidth":{"format":"int32","description":"Optional: Width of the screenshot in pixels; supply 0 to default to 1280 x 1024, supply -1 to measure the full screen height of the page and attempt to take a screen-height screenshot","type":"integer"},"ScreenshotHeight":{"format":"int32","description":"Optional: Height of the screenshot in pixels; supply 0 to default to 1280 x 1024, supply -1 to measure the full screen height of the page and attempt to take a screen-height screenshot","type":"integer"}}},"HtmlToPdfRequest":{"description":"Details of the HTML to PDF request","type":"object","properties":{"Html":{"description":"HTML to render to PDF","type":"string"},"ExtraLoadingWait":{"format":"int32","description":"Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.","type":"integer"}}},"HtmlToOfficeRequest":{"description":"Details of the HTML to Office request","type":"object","properties":{"Html":{"description":"HTML to render to Office format","type":"string"}}},"HtmlMdResult":{"description":"Result from converting a Markdown file to HTML","type":"object","properties":{"Successful":{"description":"True if operation was successful, false otherwise","type":"boolean"},"Html":{"description":"Resulting HTML from the conversion","type":"string"}}},"FinishEditingRequest":{"description":"Input to a Finish Editing request","type":"object","properties":{"InputFileUrl":{"description":"URL of a document being edited to get the contents of.","type":"string"}}},"ReplaceStringRequest":{"description":"Input to a string replacement request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"MatchString":{"description":"String to search for and match against, to be replaced","type":"string"},"ReplaceString":{"description":"String to replace the matched values with","type":"string"},"MatchCase":{"description":"True if the case should be matched, false for case insensitive match","type":"boolean"}}},"GetDocxTablesRequest":{"description":"Input to a Get Tables request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxTablesResponse":{"description":"Result of running a Get-Tables command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Tables":{"description":"Tables in the DOCX file","type":"array","items":{"$ref":"#/definitions/DocxTable"}}}},"DocxTable":{"description":"A table in a Word Document (DOCX) file","type":"object","properties":{"TableID":{"description":"The ID of the table; leave blank for new tables","type":"string"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"Width":{"description":"The Width of the table, or 0 if not specified","type":"string"},"WidthType":{"description":"The Width configuration type of the table","type":"string"},"TableRows":{"description":"Rows in the table; this is where the contents is located","type":"array","items":{"$ref":"#/definitions/DocxTableRow"}},"TopBorderType":{"description":"Type for the top border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"TopBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"TopBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"TopBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"BottomBorderType":{"description":"Type for the bottom border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"BottomBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"BottomBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"BottomBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"LeftBorderType":{"description":"Type for the left border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"LeftBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"LeftBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"LeftBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"RightBorderType":{"description":"Type for the right border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"RightBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"RightBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"RightBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"CellHorizontalBorderType":{"description":"Type for the cell horizontal border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"CellHorizontalBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"CellHorizontalBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"CellHorizontalBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"CellVerticalBorderType":{"description":"Type for the cell vertical border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"CellVerticalBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"CellVerticalBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"CellVerticalBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"StartBorderType":{"description":"Type for the start border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"StartBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"StartBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"StartBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"EndBorderType":{"description":"Type for the end border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave","type":"string"},"EndBorderSize":{"format":"int32","description":"Width of the border in points (1/72nd of an inch)","type":"integer"},"EndBorderSpace":{"format":"int32","description":"Spacing around the border in points (1/72nd of an inch)","type":"integer"},"EndBorderColor":{"description":"HTML-style color hex value (do not include a #)","type":"string"},"TableIndentationMode":{"description":"Table indentation type","type":"string"},"TableIndentationWidth":{"format":"int32","description":"Table indentation width","type":"integer"}}},"DocxTableRow":{"description":"A row in a Word Document (DOCX) file","type":"object","properties":{"RowIndex":{"format":"int32","description":"Index of the row, 0-based","type":"integer"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"RowCells":{"description":"Cells in the row; this is where the contents of the row is stored","type":"array","items":{"$ref":"#/definitions/DocxTableCell"}}}},"DocxTableCell":{"description":"A cell in a Word Document (DOCX) file","type":"object","properties":{"CellIndex":{"format":"int32","description":"The index of the cell, 0-based","type":"integer"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"Paragraphs":{"description":"Paragraphs inside the cell; this is where the contents of the cell are stored","type":"array","items":{"$ref":"#/definitions/DocxParagraph"}},"CellShadingColor":{"description":"Color of the cell shading","type":"string"},"CellShadingFill":{"description":"Fill of the cell shading","type":"string"},"CellShadingPattern":{"description":"Pattern of the cell shading","type":"string"},"CellWidthMode":{"description":"Width mode of the cell; can be auto (for automatic) or manual","type":"string"},"CellWidth":{"description":"Width of the cell","type":"string"}}},"DocxParagraph":{"description":"A paragraph in a Word Document (DOCX) file; there is where text, content and formatting are stored - similar to the paragraph tag in HTML","type":"object","properties":{"ParagraphIndex":{"format":"int32","description":"The index of the paragraph; 0-based","type":"integer"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"ContentRuns":{"description":"The content runs in the paragraph - this is where text is stored; similar to a span in HTML","type":"array","items":{"$ref":"#/definitions/DocxRun"}},"StyleID":{"description":"Style ID of the style applied to the paragraph; null if no style is applied","type":"string"}}},"DocxRun":{"description":"A content run in a Word Document (DOCX) file","type":"object","properties":{"RunIndex":{"format":"int32","description":"Index of the run, 0-based","type":"integer"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"TextItems":{"description":"Text items inside the run; this is where the actual text content is stored","type":"array","items":{"$ref":"#/definitions/DocxText"}},"Bold":{"description":"True to make the text bold, false otherwise","type":"boolean"},"Italic":{"description":"True to make the text italic, false otherwise","type":"boolean"},"Underline":{"description":"Underline mode for the text; possible values are: Words, Double, Thick, Dotted, DottedHeavy, Dash, DashedHeavy, DashLong, DashLongHeavy, DotDash, DashDotHeavy, DotDotDash, DashDotDotHeavy, Wave, WavyHeavy, WavyDouble, None","type":"string"},"FontFamily":{"description":"Font Family name for the text, e.g. \"Arial\" or \"Times New Roman\"","type":"string"},"FontSize":{"description":"Font size in font points (e.g. \"24\")","type":"string"}}},"DocxText":{"description":"Unit of text content in a Word Document (DOCX) file","type":"object","properties":{"TextIndex":{"format":"int32","description":"Index of the text content in the run; 0-based","type":"integer"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"TextContent":{"description":"Text string containing the text content of this text content item","type":"string"}}},"GetDocxImagesRequest":{"description":"Input to a Get Images request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxImagesResponse":{"description":"Result of running a Get-Images command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Images":{"description":"Images in the DOCX document","type":"array","items":{"$ref":"#/definitions/DocxImage"}}}},"DocxImage":{"type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"ImageName":{"description":"The Name of the image","type":"string"},"ImageId":{"format":"int64","description":"The Id of the image","type":"integer"},"ImageDescription":{"description":"The Description of the image","type":"string"},"ImageWidth":{"format":"int64","description":"Width of the image in EMUs (English Metric Units); set to 0 to default to page width and aspect-ratio based height","type":"integer"},"ImageHeight":{"format":"int64","description":"Height of the image in EMUs (English Metric Units); set to 0 to default to page width and aspect-ratio based height","type":"integer"},"XOffset":{"format":"int64","description":"X (horizontal) offset of the image","type":"integer"},"YOffset":{"format":"int64","description":"Y (vertical) offset of the image","type":"integer"},"ImageDataEmbedId":{"description":"Read-only; internal ID for the image contents","type":"string"},"ImageDataContentType":{"description":"Read-only; image data MIME content-type","type":"string"},"ImageInternalFileName":{"description":"Read-only; internal file name/path for the image","type":"string"},"ImageContentsURL":{"description":"URL to the image contents; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the contents.","type":"string"},"InlineWithText":{"description":"True if the image is inline with the text; false if it is floating","type":"boolean"}}},"GetDocxStylesRequest":{"description":"Input to a Get Tables request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxStylesResponse":{"description":"Result of running a Get-Tables command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Styles":{"description":"Styles in the DOCX document","type":"array","items":{"$ref":"#/definitions/DocxStyle"}}}},"DocxStyle":{"description":"Style in a DOCX Word Document","type":"object","properties":{"StyleID":{"description":"ID of the style","type":"string"},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"Bold":{"description":"Style applies bold formatting","type":"boolean"},"Italic":{"description":"Style applies italic formatting","type":"boolean"},"Underline":{"description":"Style applies underline formatting","type":"boolean"},"FontSize":{"description":"Font size","type":"string"},"FontFamily":{"description":"Font family","type":"string"}}},"GetDocxSectionsRequest":{"description":"Input to a Get Sections request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxSectionsResponse":{"description":"Result of running a Get-Sections command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Sections":{"description":"Sections in the DOCX document","type":"array","items":{"$ref":"#/definitions/DocxSection"}}}},"DocxSection":{"description":"Section of a Word Document (DOCX)","type":"object","properties":{"StartingPageNumbers":{"description":"Page numbers that the section starts at, typically just one","type":"array","items":{"format":"int32","type":"integer"}},"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"}}},"GetDocxBodyRequest":{"description":"Input to a Get Body request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxBodyResponse":{"description":"Result of running a Get-Body command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Body":{"$ref":"#/definitions/DocxBody","description":"Body in the DOCX document"}}},"DocxBody":{"type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"AllParagraphs":{"description":"All paragraphs anywhere in the document; these objects are not sequentially placed but are scatted across document","type":"array","items":{"$ref":"#/definitions/DocxParagraph"}},"AllTables":{"description":"All tables anywhere in the document; these objects are not sequentially placed but are scatted across the document","type":"array","items":{"$ref":"#/definitions/DocxTable"}}}},"GetDocxHeadersAndFootersRequest":{"description":"Input to a Get Tables request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetDocxHeadersAndFootersResponse":{"description":"Result of running a Get-Tables command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Headers":{"type":"array","items":{"$ref":"#/definitions/DocxHeader"}},"Footers":{"type":"array","items":{"$ref":"#/definitions/DocxFooter"}}}},"DocxHeader":{"description":"Header of a Word Document (DOCX)","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"Paragraphs":{"description":"Paragraphs in this header","type":"array","items":{"$ref":"#/definitions/DocxParagraph"}},"SectionsWithHeader":{"description":"Sections that the header is applied to","type":"array","items":{"$ref":"#/definitions/DocxSection"}}}},"DocxFooter":{"description":"Footer in a Word Document (DOCX)","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new tables","type":"string"},"Paragraphs":{"description":"Paragraphs in this footer","type":"array","items":{"$ref":"#/definitions/DocxParagraph"}},"SectionsWithFooter":{"description":"Sections that the footer is applied to","type":"array","items":{"$ref":"#/definitions/DocxSection"}}}},"DocxSetHeaderRequest":{"description":"Input to a set-header command","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"HeaderToApply":{"$ref":"#/definitions/DocxHeader","description":"Header to apply"}}},"DocxSetHeaderResponse":{"description":"Result of running a set-header command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"DocxSetFooterRequest":{"description":"Input to set-footer command","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"FooterToApply":{"$ref":"#/definitions/DocxFooter","description":"Footer to apply"}}},"DocxSetFooterResponse":{"description":"Result of running a set-footer command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"DocxInsertImageRequest":{"description":"Input to set-footer command","type":"object","properties":{"InputDocumentFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputDocumentFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"InputImageFileBytes":{"format":"byte","description":"Optional: Bytes of the input image file to operate on; if you supply this value do not supply InputImageFileUrl or ImageToAdd.","type":"string"},"InputImageFileUrl":{"description":"Optional: URL of an image file to operate on as input; if you supply this value do not supply InputImageFileBytes or ImageToAdd.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"ImageToAdd":{"$ref":"#/definitions/DocxImage","description":"Optional: Image to add; if you supply in this object, do not supply InputImageFileBytes or InputImageFileUrl."},"InsertPlacement":{"description":"Optional; default is DocumentEnd.  Placement Type of the insert; possible values are: DocumentStart (very beginning of the document), DocumentEnd (very end of the document), BeforeExistingObject (right before an existing object - fill in the InsertPath field using the Path value from an existing object), AfterExistingObject (right after an existing object - fill in the InsertPath field using the Path value from an existing object)","type":"string"},"InsertPath":{"description":"Optional; location within the document to insert the object; fill in the InsertPath field using the Path value from an existing object.  Used with InsertPlacement of BeforeExistingObject or AfterExistingObject","type":"string"}}},"DocxInsertImageResponse":{"description":"Result of running a set-footer command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"InsertDocxInsertParagraphRequest":{"description":"Input to a Insert Paragraph request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"ParagraphToInsert":{"$ref":"#/definitions/DocxParagraph","description":"Table you would like to insert"},"InsertPlacement":{"description":"Optional; default is DocumentEnd.  Placement Type of the insert; possible values are: DocumentStart (very beginning of the document), DocumentEnd (very end of the document), BeforeExistingObject (right before an existing object - fill in the InsertPath field using the Path value from an existing object), AfterExistingObject (right after an existing object - fill in the InsertPath field using the Path value from an existing object)","type":"string"},"InsertPath":{"description":"Optional; location within the document to insert the object; fill in the InsertPath field using the Path value from an existing object.  Used with InsertPlacement of BeforeExistingObject or AfterExistingObject","type":"string"}}},"InsertDocxInsertParagraphResponse":{"description":"Result of running an Insert-Paragraph command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"InsertDocxTablesRequest":{"description":"Input to a Insert Tables request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"TableToInsert":{"$ref":"#/definitions/DocxTable","description":"Table you would like to insert"},"InsertPlacement":{"description":"Optional; default is DocumentEnd.  Placement Type of the insert; possible values are: DocumentStart (very beginning of the document), DocumentEnd (very end of the document), BeforeExistingObject (right before an existing object - fill in the InsertPath field using the Path value from an existing object), AfterExistingObject (right after an existing object - fill in the InsertPath field using the Path value from an existing object)","type":"string"},"InsertPath":{"description":"Optional; location within the document to insert the object; fill in the InsertPath field using the Path value from an existing object.  Used with InsertPlacement of BeforeExistingObject or AfterExistingObject","type":"string"}}},"InsertDocxTablesResponse":{"description":"Result of running an Insert-Tables command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"RemoveDocxHeadersAndFootersRequest":{"description":"Input to a Remove Headers and Footers request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"RemoveHeaders":{"description":"True if you would like to remove all headers from the input document, false otherwise","type":"boolean"},"RemoveFooters":{"description":"True if you would like to remove all footers from the input document, false otherwise","type":"boolean"}}},"RemoveDocxHeadersAndFootersResponse":{"description":"Result of running a Remove Headers and Footers command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL of the resulting edited document; this is a secure URL and cannot be downloaded without adding the Apikey header; it is also temporary, stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"DocxRemoveObjectRequest":{"description":"Input to a Insert Paragraph request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"PathToObjectToRemove":{"description":"Path within the document of the object to delete; fill in the PathToObjectToRemove field using the Path value from an existing object.","type":"string"}}},"DocxRemoveObjectResponse":{"description":"Result of running an Remove-Object command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited DOCX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"GetXlsxWorksheetsRequest":{"description":"Input to a Get Worksheets request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetXlsxWorksheetsResponse":{"description":"Result of running a Get-Worksheets command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Worksheets":{"description":"Styles in the DOCX document","type":"array","items":{"$ref":"#/definitions/XlsxWorksheet"}}}},"XlsxWorksheet":{"description":"A worksheet (tab) in an Excel (XLSX) spreadsheet","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new worksheets","type":"string"},"WorksheetName":{"description":"User-facing name of the worksheet tab","type":"string"}}},"GetXlsxRowsAndCellsRequest":{"description":"Input to a Get Worksheets request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"WorksheetToQuery":{"$ref":"#/definitions/XlsxWorksheet","description":"Optional; Worksheet (tab) within the spreadsheet to get the rows and cells of; leave blank to default to the first worksheet"}}},"GetXlsxRowsAndCellsResponse":{"description":"Result of running a Get-Worksheets command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Rows":{"description":"Spreadsheet Rows in the DOCX document","type":"array","items":{"$ref":"#/definitions/XlsxSpreadsheetRow"}}}},"XlsxSpreadsheetRow":{"description":"Row in an Excel spreadsheet worksheet","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new rows","type":"string"},"Cells":{"description":"Spreadsheet Cells in the spreadsheet row","type":"array","items":{"$ref":"#/definitions/XlsxSpreadsheetCell"}}}},"XlsxSpreadsheetCell":{"description":"Cell in an Excel Spreadsheet worksheet","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new rows","type":"string"},"TextValue":{"description":"Text value of the cell","type":"string"},"CellIdentifier":{"description":"Cell reference of the cell, e.g. A1, Z22, etc.","type":"string"},"StyleIndex":{"format":"int32","description":"Identifier for the style to apply to this style","type":"integer"},"Formula":{"type":"string"}}},"GetXlsxColumnsRequest":{"description":"Input to a Get Columns request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"WorksheetToQuery":{"$ref":"#/definitions/XlsxWorksheet","description":"Optional; Worksheet (tab) within the spreadsheet to get the columns of; leave blank to default to the first worksheet"}}},"GetXlsxColumnsResponse":{"description":"Result of running a Get-Columns command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Columns":{"description":"Spreadsheet Columns in the DOCX document","type":"array","items":{"$ref":"#/definitions/XlsxSpreadsheetColumn"}}}},"XlsxSpreadsheetColumn":{"description":"Column in an Excel spreadsheet worksheet","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new rows","type":"string"},"HeadingCell":{"$ref":"#/definitions/XlsxSpreadsheetCell","description":"Heading cell for this column"}}},"GetXlsxImagesRequest":{"description":"Input to a Get Images request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"WorksheetToQuery":{"$ref":"#/definitions/XlsxWorksheet","description":"Optional; Worksheet (tab) within the spreadsheet to get the images of; leave blank to default to the first worksheet"}}},"GetXlsxImagesResponse":{"description":"Result of running a Get-Images command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"Images":{"description":"Spreadsheet Columns in the DOCX document","type":"array","items":{"$ref":"#/definitions/XlsxImage"}}}},"XlsxImage":{"type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new rows","type":"string"},"ImageDataEmbedId":{"description":"Read-only; internal ID for the image contents","type":"string"},"ImageDataContentType":{"description":"Read-only; image data MIME content-type","type":"string"},"ImageInternalFileName":{"description":"Read-only; internal file name/path for the image","type":"string"},"ImageContentsURL":{"description":"URL to the image contents; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the contents.","type":"string"}}},"GetXlsxStylesRequest":{"description":"Input to a Get Worksheets request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"}}},"GetXlsxStylesResponse":{"description":"Result of running a Get-Worksheets command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"CellStyles":{"description":"Cell styles","type":"array","items":{"$ref":"#/definitions/DocxCellStyle"}}}},"DocxCellStyle":{"description":"Style in an Excel spreadsheet","type":"object","properties":{"Path":{"description":"The Path of the location of this object; leave blank for new rows","type":"string"},"Name":{"description":"Name of the style","type":"string"},"FormatID":{"format":"int32","description":"Format ID of the cell style","type":"integer"},"BuiltInID":{"format":"int32","description":"Built=in ID of the cell style","type":"integer"}}},"InsertXlsxWorksheetRequest":{"description":"Input to a Get Worksheets request","type":"object","properties":{"InputFileBytes":{"format":"byte","description":"Optional: Bytes of the input file to operate on","type":"string"},"InputFileUrl":{"description":"Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).","type":"string"},"WorksheetToInsert":{"$ref":"#/definitions/XlsxWorksheet","description":"Workersheet to insert"}}},"InsertXlsxWorksheetResponse":{"description":"Result of running a Get-Worksheets command","type":"object","properties":{"Successful":{"description":"True if successful, false otherwise","type":"boolean"},"EditedDocumentURL":{"description":"URL to the edited XLSX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.","type":"string"}}},"DocumentValidationResult":{"description":"Document validation result","type":"object","properties":{"DocumentIsValid":{"description":"True if the document is valid and has no errors, false otherwise","type":"boolean"},"ErrorCount":{"format":"int32","description":"Number of validation errors found in the document","type":"integer"},"WarningCount":{"format":"int32","description":"Number of validation warnings found in the document","type":"integer"},"ErrorsAndWarnings":{"description":"Details of errors and warnings found","type":"array","items":{"$ref":"#/definitions/DocumentValidationError"}}}},"DocumentValidationError":{"description":"Validation error found in document","type":"object","properties":{"Description":{"description":"Description of the error","type":"string"},"Path":{"description":"XPath to the error","type":"string"},"Uri":{"description":"URI of the part in question","type":"string"},"IsError":{"description":"True if this is an error, false otherwise","type":"boolean"}}},"ViewerResponse":{"description":"Result of creating a viewer","type":"object","properties":{"HtmlEmbed":{"type":"string"},"Successful":{"type":"boolean"}}}},"securityDefinitions":{"Apikey":{"type":"apiKey","description":"API Key Authentication","name":"Apikey","in":"header"}}}
