{
  "swagger": "2.0",
  "info": {
    "title": "The SMS Works",
    "description": "The SMS Works is a low cost SMS service for developers based in the UK. You are only billed for delivered text messages.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.thesmsworks.co.uk",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/message/send": {
      "post": {
        "tags": [
          "messages"
        ],
        "description": "Sends an SMS message based on your parameters.",
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "Message properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendMessageResponse"
            }
          },
          "402": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "summary": "Send an SMS message",
        "operationId": "SendMessage"
      }
    },
    "/message/flash": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send flash message",
        "description": "Sends an SMS flash message, which appears on the recipients lock screen.",
        "operationId": "SendFlashMessage",
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "Message properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendMessageResponse"
            }
          },
          "402": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/message/schedule": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Schedule message",
        "description": "Schedules an SMS message to be sent at the date-time you specify.",
        "operationId": "ScheduleMessage",
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "Message properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScheduledMessageResponse"
              }
            }
          }
        }
      }
    },
    "/messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Search messages",
        "description": "Retrieve up to 1000 messages matching your search criteria.",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageResponse"
              }
            }
          }
        }
      }
    },
    "/messages/inbox": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Get unread messages",
        "description": "Get unread incoming messages matching your search criteria.",
        "operationId": "GetInboxMessages",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageResponse"
              }
            }
          }
        }
      }
    },
    "/messages/failed": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Get failed messages",
        "description": "Retrieve failed messages matching your search criteria.",
        "operationId": "GetFailedMessages",
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageResponse"
              }
            }
          }
        }
      }
    },
    "/messages/schedule": {
      "x-swagger-router-controller": "message-client",
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "Get scheduled messages",
        "description": "Returns a list of messages scheduled from your account, comprising any messages scheduled in the last 3 months and any scheduled to send in the future.",
        "operationId": "GetScheduledMessages",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduledMessagesResponse"
            }
          }
        }
      }
    },
    "/messages/{messageid}": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "Get message",
        "description": "Retrieve a logged message by the message ID.",
        "operationId": "GetMessageById",
        "parameters": [
          {
            "name": "messageid",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the message you would like returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "404": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "messages"
        ],
        "summary": "Delete message",
        "description": "Delete the message with the matching messageid.",
        "operationId": "DeleteMessage",
        "parameters": [
          {
            "name": "messageid",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the message you would like returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletedMessageResponse"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/messages/schedule/{messageid}": {
      "delete": {
        "tags": [
          "messages"
        ],
        "summary": "Cancel scheduled message",
        "description": "Cancels a scheduled SMS message.",
        "operationId": "CancelScheduledJob",
        "parameters": [
          {
            "name": "messageid",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the message you would like returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelledMessageResponse"
            }
          }
        }
      }
    },
    "/batch/send": {
      "post": {
        "tags": [
          "batch messages"
        ],
        "summary": "Send batch",
        "description": "Send a single SMS message to multiple recipients.",
        "operationId": "SendBatch",
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "Message properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchMessage"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchMessageResponse"
            }
          }
        }
      }
    },
    "/batch/any": {
      "post": {
        "tags": [
          "batch messages"
        ],
        "summary": "Send collection of messages",
        "description": "Sends a collection of unique SMS messages. Batches may contain up to 5000 messages at a time.",
        "operationId": "SendAny",
        "parameters": [
          {
            "name": "messages",
            "in": "body",
            "required": true,
            "description": "An array of messages",
            "schema": {
              "$ref": "#/definitions/MessageArray"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchMessageResponse"
            }
          }
        }
      }
    },
    "/batch/{batchid}": {
      "get": {
        "tags": [
          "batch messages"
        ],
        "summary": "Retrieve batch messages",
        "description": "Retrieve all messages in a batch with the given batch ID.",
        "operationId": "GetBatchById",
        "parameters": [
          {
            "name": "batchid",
            "in": "path",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the batch you would like returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageResponse"
              }
            }
          },
          "404": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/batch/schedule": {
      "post": {
        "tags": [
          "batch messages"
        ],
        "summary": "Schedule batch",
        "description": "Schedules a batch of SMS messages to be sent at the date time you specify.",
        "operationId": "ScheduleBatch",
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "Message properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchMessage"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduledBatchResponse"
            }
          }
        }
      }
    },
    "/batches/schedule/{batchid}": {
      "delete": {
        "tags": [
          "batch messages"
        ],
        "summary": "Cancel scheduled batch",
        "description": "Cancels a scheduled SMS message.",
        "operationId": "CancelScheduledBatchJob",
        "parameters": [
          {
            "name": "batchid",
            "in": "path",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the batch you would like returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelledMessageResponse"
            }
          }
        }
      }
    },
    "/credits/balance": {
      "get": {
        "tags": [
          "credits"
        ],
        "summary": "Get credits",
        "description": "Returns the number of credits currently available on the account.",
        "operationId": "Credits",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreditsResponse"
            }
          }
        }
      }
    },
    "/utils/test": {
      "get": {
        "tags": [
          "utils"
        ],
        "summary": "Get customer ID",
        "description": "Returns the customer ID to the caller.",
        "operationId": "Test",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TestResponse": {
      "required": [
        "message"
      ],
      "properties": {
        "message": {
          "title": "Message",
          "description": "The message.",
          "type": "string"
        }
      }
    },
    "CreditsResponse": {
      "required": [
        "credits"
      ],
      "properties": {
        "credits": {
          "type": "number",
          "title": "Credits",
          "description": "The number of remaining credits on your SMS Works account. Floating point number."
        }
      }
    },
    "Message": {
      "description": "SMS message object",
      "type": "object",
      "properties": {
        "sender": {
          "type": "string",
          "title": "Sender",
          "description": "The sender of the message. Should be no longer than 11 characters for alphanumeric or 15 characters for numeric sender ID's. No spaces or special characters."
        },
        "destination": {
          "type": "string",
          "title": "Destination",
          "description": "Telephone number of the recipient"
        },
        "content": {
          "type": "string",
          "title": "Content",
          "description": "Message to send to the recipient. Content can be up to 1280 characters in length. Messages of 160 characters or fewer are charged 1 credit. If your message is longer than 160 characters then it will be broken down in to chunks of 153 characters before being sent to the recipient's handset, and you will be charged 1 credit for each 153 characters. Messages sent to numbers registered outside the UK will be typically charged double credits, but for certain countries may be charged fractions of credits (e.g. 2.5). Please contact us for rates for each country."
        },
        "deliveryreporturl": {
          "type": "string",
          "title": "Delivery Report URL",
          "description": "The url to which we should POST delivery reports to for this message. If none is specified, we'll use the global delivery report URL that you've configured on your account page."
        },
        "schedule": {
          "type": "string",
          "title": "Schedule",
          "description": "Date at which to send the message. This is only used by the message/schedule service and can be left empty for other services."
        },
        "tag": {
          "type": "string",
          "title": "Tag",
          "description": "An identifying label for the message, which you can use to filter and report on messages you've sent later. Ideal for campaigns. A maximum of 280 characters."
        },
        "ttl": {
          "type": "number",
          "title": "TTL",
          "description": "The optional number of minutes before the delivery report is deleted. Optional. Omit to prevent delivery report deletion."
        },
        "responseemail": {
          "type": "array",
          "title": "Response Email",
          "description": "An optional list of email addresses to forward responses to this specific message to. An SMS Works Reply Number is required to use this feature.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "title": "Metadata",
          "description": "The metadata.",
          "type": "array",
          "items": {
            "type": "object"
          },
          "properties": {
            "schema": {
              "$ref": "#/definitions/MetaData"
            }
          }
        },
        "validity": {
          "type": "number",
          "title": "Validity",
          "description": "The optional number of minutes to attempt delivery before the message is marked as EXPIRED. Optional. The default is 2880 minutes.",
          "minimum": 1,
          "maximum": 2880
        }
      },
      "required": [
        "sender",
        "destination",
        "content"
      ]
    },
    "MetaData": {
      "description": "Key/value pair that will be returned to you in the API call response.",
      "properties": {
        "key": {
          "type": "string",
          "title": "Key",
          "description": "key of the key/value pair"
        },
        "value": {
          "type": "string",
          "title": "Value",
          "description": "value of the key/value pair"
        }
      }
    },
    "MessageArray": {
      "description": "An array of Messages",
      "items": {
        "$ref": "#/definitions/Message"
      }
    },
    "BatchMessage": {
      "description": "SMS Message Batch",
      "properties": {
        "sender": {
          "type": "string",
          "title": "Sender",
          "description": "The sender of the message. Should be no longer than 11 characters for alphanumeric or 15 characters for numeric sender ID's. No spaces or special characters."
        },
        "destinations": {
          "title": "Destinations",
          "description": "Telephone numbers of each of the recipients",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "type": "string",
          "title": "Content",
          "description": "Message to send to the recipient"
        },
        "deliveryreporturl": {
          "type": "string",
          "title": "Delivery Report URL",
          "description": "The url to which we should POST delivery reports to for this message. If none is specified, we'll use the global delivery report URL that you've configured on your account page."
        },
        "schedule": {
          "type": "string",
          "title": "Schedule",
          "description": "Date-time at which to send the batch. This is only used by the batch/schedule service."
        },
        "tag": {
          "type": "string",
          "title": "Tag",
          "description": "An identifying label for the message, which you can use to filter and report on messages you've sent later. Ideal for campaigns. A maximum of 280 characters."
        },
        "ttl": {
          "type": "number",
          "title": "TTL",
          "description": "The number of minutes before the delivery report is deleted. Optional. Omit to prevent delivery report deletion."
        },
        "validity": {
          "type": "number",
          "title": "Validity",
          "description": "The optional number of minutes to attempt delivery before the message is marked as EXPIRED. Optional. The default is 2880 minutes.",
          "minimum": 1,
          "maximum": 2880
        }
      },
      "required": [
        "sender",
        "destinations",
        "content"
      ]
    },
    "ScheduledMessage": {
      "description": "the scheduled message content",
      "properties": {
        "sender": {
          "type": "string",
          "title": "Sender",
          "description": "The sender of the message. Should be no longer than 11 characters for alphanumeric or 15 characters for numeric sender ID's. No spaces or special characters."
        },
        "content": {
          "type": "string",
          "title": "Content",
          "description": "Message to be sent to the recipient"
        },
        "destination": {
          "type": "string",
          "title": "Destination",
          "description": "For single scheduled messages, the mobile number of the recipient"
        },
        "destinations": {
          "title": "Destinations",
          "description": "For batch messages, the mobile numbers of each of the recipients",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "type": "string",
          "title": "Schedule",
          "description": "Date-time at which to send the batch. This is only used by the batch/schedule service."
        }
      }
    },
    "ScheduledMessagesResponse": {
      "description": "details of a message scheduled to be sent at a specified date and time",
      "properties": {
        "status": {
          "title": "Status",
          "description": "The status of the scheduled message (either 'SCHEDULED', 'PROCESSED' or 'CANCELLED')",
          "type": "string"
        },
        "id": {
          "title": "ID",
          "description": "The scheduled message ID",
          "type": "string"
        },
        "batch": {
          "title": "Batch",
          "description": "Describes whether the a batch of messages has been scheduled, or just a single message",
          "type": "boolean"
        },
        "message": {
          "title": "Message",
          "description": "The Message.",
          "type": "object",
          "properties": {
            "schema": {
              "$ref": "#/definitions/ScheduledMessage"
            }
          }
        }
      }
    },
    "Query": {
      "description": "search parameters for querying the message database",
      "properties": {
        "status": {
          "title": "Status",
          "description": "The status of the messages you would like returned (either 'SENT', 'DELIVERED', 'EXPIRED', 'UNDELIVERABLE', 'REJECTED' or 'INCOMING')",
          "type": "string"
        },
        "credits": {
          "title": "Credits",
          "description": "The number of credits used on the message. Floating point number.",
          "type": "number"
        },
        "destination": {
          "title": "Destination",
          "description": "The phone number of the recipient. Start UK numbers with 44 and drop the leading 0.",
          "type": "string"
        },
        "sender": {
          "title": "Sender",
          "description": "The sender of the message (this can be the configured sender name for an outbound message or the senders phone number for an inbound message).",
          "type": "string"
        },
        "keyword": {
          "title": "Keyword",
          "description": "The keyword used in the inbound message",
          "type": "string"
        },
        "from": {
          "title": "From",
          "description": "The date-time from which you would like matching messages",
          "type": "string"
        },
        "to": {
          "title": "To",
          "description": "The date-time to which you would like matching messages",
          "type": "string"
        },
        "unread": {
          "title": "Unread",
          "description": "In queries for incoming messages ('status' is 'INCOMING'), specify whether you explicitly want unread messages (true) or read messages (false). Omit this parameter in other circumstances.",
          "type": "boolean"
        },
        "metadata": {
          "title": "Metadata",
          "description": "An array of objects containing metadata key/value pairs that have been saved on messages.",
          "type": "array",
          "items": {
            "type": "object"
          },
          "properties": {
            "schema": {
              "$ref": "#/definitions/MetaData"
            }
          }
        }
      }
    },
    "SendMessageResponse": {
      "required": [
        "messageid",
        "status",
        "credits",
        "creditsUsed"
      ],
      "properties": {
        "messageid": {
          "title": "Message ID",
          "description": "The message identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        },
        "credits": {
          "type": "number",
          "title": "Credits",
          "description": "The number of remaining credits on your SMS Works account. Floating point number."
        },
        "creditsUsed": {
          "type": "number",
          "title": "Credits Used",
          "description": "The number of credits used to send the message. Floating point number."
        }
      }
    },
    "ScheduledMessageResponse": {
      "required": [
        "messageid",
        "status"
      ],
      "properties": {
        "messageid": {
          "title": "Message ID",
          "description": "The message identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "ScheduledBatchResponse": {
      "required": [
        "batchid",
        "status"
      ],
      "properties": {
        "batchid": {
          "title": "Batch ID",
          "description": "The batch identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "CancelledMessageResponse": {
      "required": [
        "messageid",
        "status"
      ],
      "properties": {
        "messageid": {
          "title": "Message ID",
          "description": "The message identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "DeletedMessageResponse": {
      "required": [
        "messageid",
        "status"
      ],
      "properties": {
        "messageid": {
          "title": "Message ID",
          "description": "The message identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "BatchMessageResponse": {
      "required": [
        "batchid",
        "status"
      ],
      "properties": {
        "batchid": {
          "title": "Batch ID",
          "description": "The batch identifier.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "MessageResponse": {
      "required": [
        "content",
        "created",
        "customerid",
        "destination",
        "messageid",
        "modified",
        "schedule",
        "status",
        "sender",
        "tag"
      ],
      "properties": {
        "batchid": {
          "title": "Batch ID",
          "description": "The batch identifier.",
          "type": "string"
        },
        "content": {
          "title": "Content",
          "description": "The content.",
          "type": "string"
        },
        "created": {
          "title": "Created",
          "description": "When created.",
          "type": "string"
        },
        "customerid": {
          "title": "Customer ID",
          "description": "The customer identifier.",
          "type": "string"
        },
        "deliveryreporturl": {
          "title": "Delivery Report URL",
          "description": "The delivery report url address.",
          "type": "string"
        },
        "destination": {
          "title": "Destination",
          "description": "The destination.",
          "type": "number"
        },
        "failurereason": {
          "title": "Failure Reason",
          "description": "The failure reason.",
          "type": "object",
          "properties": {
            "code": {
              "title": "Code",
              "description": "Numeric code that defines the error.",
              "type": "number"
            },
            "details": {
              "title": "Details",
              "description": "The details.",
              "type": "string"
            },
            "permanent": {
              "title": "Permanent",
              "description": "Whether permanent.",
              "type": "boolean"
            }
          }
        },
        "id": {
          "title": "ID",
          "description": "The ID.",
          "type": "string"
        },
        "identifier": {
          "title": "Identifier",
          "description": "The identifier.",
          "type": "string"
        },
        "keyword": {
          "title": "Keyword",
          "description": "The keyword.",
          "type": "string"
        },
        "messageid": {
          "title": "Message ID",
          "description": "The message identifier.",
          "type": "string"
        },
        "modified": {
          "title": "Modified",
          "description": "When modified.",
          "type": "string"
        },
        "schedule": {
          "title": "Schedule",
          "description": "The schedule.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status.",
          "type": "string"
        },
        "sender": {
          "title": "Sender",
          "description": "The sender.",
          "type": "string"
        },
        "tag": {
          "title": "Tag",
          "description": "The tag.",
          "type": "string"
        }
      }
    },
    "ErrorModel": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "message": {
          "title": "Message",
          "description": "The message.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://thesmsworks.co.uk/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://thesmsworks.co.uk/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}