{
  "swagger": "2.0",
  "info": {
    "title": "Fliplet",
    "description": "This definition contains a list of actions on Fliplet data sources and apps",
    "contact": {
      "name": "Fliplet",
      "url": "https://help.fliplet.com/",
      "email": "support@fliplet.com"
    },
    "version": "1.0"
  },
  "host": "api.fliplet.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/apps": {
      "get": {
        "summary": "Gets a list of apps for this API token",
        "description": "Get all apps",
        "operationId": "GetAllApps",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "schema": {
              "$ref": "#/definitions/apps"
            }
          }
        }
      }
    },
    "/v1/data-sources": {
      "get": {
        "summary": "Gets all data sources",
        "description": "Get all data sources",
        "operationId": "GetAllDataSources",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of all the data sources linked to this API token",
            "schema": {
              "$ref": "#/definitions/datasources"
            }
          }
        }
      }
    },
    "/v1/data-sources/{dataSourceId}": {
      "get": {
        "summary": "Gets a data source properties by ID",
        "description": "Get a specific data source by ID",
        "operationId": "GetDataSourceById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Display of the properties of the specific requested data source Id",
            "schema": {
              "$ref": "#/definitions/datasource"
            }
          }
        }
      }
    },
    "/v1/data-sources/{dataSourceId}/data/{dataSourceEntryId}": {
      "get": {
        "summary": "Get a specific data source entry in a specific data source",
        "description": "Get a specific data source entry",
        "operationId": "GetDataSourceEntry",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "dataSourceEntryId",
            "description": "ID of the data source entry",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Entry Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Display of all the data of a specific data source entry",
            "schema": {
              "$ref": "#/definitions/datasourceEntry"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a specific data source entry in a specific data source",
        "description": "Delete a specific data source entry",
        "operationId": "DeleteDataSourceEntry",
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "dataSourceEntryId",
            "description": "ID of the data source entry",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source entry Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      },
      "put": {
        "summary": "Update a specific entry in a data source",
        "description": "Update a specific data source entry",
        "operationId": "UpdateDataSourceEntry",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "dataSourceEntryId",
            "description": "ID of the data source entry",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source entry Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Display of all the data of a specific data source"
          }
        }
      }
    },
    "/v1/data-sources/{dataSourceId}/data": {
      "get": {
        "summary": "Gets data from data source",
        "description": "List all rows in a data source",
        "operationId": "GetDataSourceEntries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Response JSON with the data source rows",
            "schema": {
              "$ref": "#/definitions/fetchedData"
            }
          }
        }
      },
      "post": {
        "summary": "Sends data to data source",
        "description": "Appends new rows to data source",
        "operationId": "CreateDataSourceRows",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dataSourceId",
            "description": "ID of the data source",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Data source Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response JSON with the posted data"
          }
        }
      }
    }
  },
  "definitions": {
    "data": {
      "required": [
        "append",
        "entries"
      ],
      "type": "object",
      "properties": {
        "append": {
          "type": "boolean"
        },
        "entries": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "additionalProperties": false
    },
    "fetchedData": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "apps": {
      "type": "object",
      "properties": {
        "apps": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "datasources": {
      "type": "object",
      "properties": {
        "datasources": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "datasource": {
      "type": "object",
      "properties": {
        "datasource": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "datasourceEntry": {
      "type": "object"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Auth-token",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Fliplet",
      "propertyValue": "https://developers.fliplet.com/REST-API/fliplet-datasources.html"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://fliplet.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://fliplet.com/"
    }
  ]
}