{
  "swagger": "2.0",
  "info": {
    "title": "EBMS",
    "description": "Connect your EBMS data with hundreds of other services! Contact your Eagle Business Software Account Manager to activate your connector.",
    "version": "1.0",
    "contact": {
      "name": "Eagle Business Software",
      "url": "https://info.eaglebusinesssoftware.com",
      "email": "info@eaglebusinesssoftware.com"
    }
  },
  "host": "ecc.servicebus.windows.net",
  "basePath": "/MyEbms/CompanyId/Odata",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "definitions": {
    "ProductResponse": {
      "properties": {
        "AUTOID": {
          "type": "string",
          "description": "Automatic ID",
          "x-ms-summary": "Auto ID",
          "x-ms-visibility": "advanced"
        },
        "TREE_ID": {
          "type": "string",
          "description": "Tree folder ID",
          "x-ms-summary": "Folder ID",
          "x-ms-visibility": "advanced"
        },
        "FOLDERNAME": {
          "type": "string",
          "description": "Tree folder name",
          "x-ms-summary": "Folder"
        },
        "ID": {
          "type": "string",
          "description": "Product ID",
          "x-ms-summary": "ID"
        },
        "DESCR_1": {
          "type": "string",
          "description": "Description 1",
          "x-ms-summary": "Description 1"
        },
        "DESCR_2": {
          "type": "string",
          "description": "Description 2",
          "x-ms-summary": "Description 2"
        },
        "DESCR_3": {
          "type": "string",
          "description": "Description 3",
          "x-ms-summary": "Description 3"
        },
        "MEMO": {
          "type": "string",
          "description": "Multi-line memo",
          "x-ms-summary": "Memo"
        },
        "BASE": {
          "type": "number",
          "format": "float",
          "description": "Base price",
          "x-ms-summary": "Base price"
        },
        "COST": {
          "type": "number",
          "format": "float",
          "description": "Cost",
          "x-ms-summary": "Cost"
        },
        "WEIGHT": {
          "type": "number",
          "format": "float",
          "description": "Gross weight",
          "x-ms-summary": "Weight"
        },
        "C_TYPE": {
          "type": "integer",
          "description": "Type of inventory item",
          "x-ms-summary": "Product type"
        },
        "DEF_UNIT": {
          "type": "string",
          "description": "Default unit of measure",
          "x-ms-summary": "Default unit"
        },
        "EACH_UNIT": {
          "type": "string",
          "description": "Main unit of measure",
          "x-ms-summary": "Main unit"
        },
        "PRI_VENDOR": {
          "type": "string",
          "description": "Primary vendor",
          "x-ms-summary": "Primary vendor"
        },
        "TYPE": {
          "type": "string",
          "description": "Type",
          "x-ms-summary": "Type"
        },
        "UPC": {
          "type": "string",
          "description": "UPC code 1",
          "x-ms-summary": "UPC 1"
        },
        "UPC2": {
          "type": "string",
          "description": "UPC code 2",
          "x-ms-summary": "UPC 2"
        },
        "UPC3": {
          "type": "string",
          "description": "UPC code 3",
          "x-ms-summary": "UPC 3"
        }
      }
    },
    "ListProductCategoriesResponse": {
      "properties": {
        "@odata.context": {
          "description": "The OData context.",
          "type": "string",
          "x-ms-summary": "OData context",
          "x-ms-visibility": "internal"
        },
        "value": {
          "description": "Folder",
          "items": {
            "$ref": "#/definitions/ProductCategoryResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ProductCategoryResponse": {
      "properties": {
        "AUTOID": {
          "type": "string",
          "description": "Automatic ID",
          "x-ms-summary": "Auto ID",
          "x-ms-visibility": "advanced"
        },
        "PARENT_ID": {
          "type": "string",
          "description": "Parent tree folder ID",
          "x-ms-summary": "Parent folder ID",
          "x-ms-visibility": "advanced"
        },
        "TREE_ID": {
          "type": "string",
          "description": "Tree folder ID",
          "x-ms-summary": "Folder ID",
          "x-ms-visibility": "advanced"
        },
        "TREE_DESCR": {
          "type": "string",
          "description": "Tree folder name",
          "x-ms-summary": "Folder"
        },
        "CRID_TYPE": {
          "type": "string",
          "description": "Create ID type",
          "x-ms-summary": "Create ID type",
          "x-ms-visibility": "advanced"
        },
        "CRID_VALUE": {
          "type": "string",
          "description": "Create ID value",
          "x-ms-summary": "Create ID value"
        },
        "DEF_INVEN": {
          "type": "string",
          "description": "Default inventory",
          "x-ms-summary": "Default inventory"
        },
        "SUB_ONLY": {
          "type": "boolean",
          "description": "Folder only has subfolders (no items)",
          "x-ms-summary": "Subfolders only"
        }
      }
    }
  },
  "paths": {
    "/INVENTRY": {
      "post": {
        "responses": {
          "200": {
            "description": "An inventory item.",
            "schema": {
              "$ref": "#/definitions/ProductResponse"
            }
          }
        },
        "summary": "Create a new product",
        "description": "Create a new product in EBMS.",
        "operationId": "CreateProduct",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string",
                  "description": "ID"
                },
                "TREE_ID": {
                  "type": "string",
                  "description": "Select the product category where the product is to be created.",
                  "title": "Product Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProductCategoryID",
                    "value-path": "TREE_ID",
                    "value-collection": "value",
                    "value-title": "TREE_DESCR",
                    "parameters": {}
                  },
                  "x-ms-visibility": "important"
                },
                "C_TYPE": {
                  "type": "number",
                  "format": "integer",
                  "description": "Item type",
                  "title": "Item type"
                },
                "DESCR_1": {
                  "type": "string",
                  "description": "Description 1",
                  "title": "Description 1"
                },
                "DESCR_2": {
                  "type": "string",
                  "description": "Description 2",
                  "title": "Description 2"
                },
                "DESCR_3": {
                  "type": "string",
                  "description": "This is a multi-line descripton",
                  "title": "Description 3"
                },
                "TYPE": {
                  "type": "string",
                  "description": "Type",
                  "title": "Type"
                },
                "MEMO": {
                  "type": "string",
                  "description": "A multi-line memo",
                  "title": "Memo"
                },
                "UPC": {
                  "type": "string",
                  "description": "UPC",
                  "title": "UPC"
                },
                "MFG": {
                  "type": "string",
                  "description": "Must match EBMS Manufacturer's ID exactly",
                  "title": "MFG ID",
                  "x-ms-visibility": "advanced"
                },
                "MFG_PART": {
                  "type": "string",
                  "description": "Manufacturer's Part number",
                  "title": "MFG Part",
                  "x-ms-visibility": "advanced"
                },
                "PRI_VENDOR": {
                  "type": "string",
                  "description": "The Primary Vendor ID must match EBMS's ID exactly",
                  "title": "Primary Vendor ID",
                  "x-ms-visibility": "advanced"
                },
                "EACH_UNIT": {
                  "type": "string",
                  "description": "Main unit of measure",
                  "title": "Main Unit"
                },
                "WEIGHT": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight",
                  "title": "Weight",
                  "x-ms-visibility": "advanced"
                },
                "COST": {
                  "type": "number",
                  "format": "float",
                  "description": "Cost",
                  "title": "Cost"
                },
                "BASE": {
                  "type": "number",
                  "format": "float",
                  "description": "Base Price",
                  "title": "Base Price"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "TREE_ID"
              ]
            }
          }
        ]
      }
    },
    "/INVENTRY(ID='{ProductId}')": {
      "patch": {
        "responses": {
          "200": {
            "description": "An inventory item.",
            "schema": {
              "$ref": "#/definitions/ProductResponse"
            }
          }
        },
        "summary": "Update an existing product",
        "operationId": "UpdateProduct",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "ProductId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "EBMS Product ID, e.g. DIRSHO",
            "x-ms-summary": "Product ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DESCR_1": {
                  "type": "string",
                  "description": "Description 1",
                  "title": "Description 1"
                },
                "DESCR_2": {
                  "type": "string",
                  "description": "Description 2",
                  "title": "Description 2"
                },
                "DESCR_3": {
                  "type": "string",
                  "description": "This is a multi-line descripton",
                  "title": "Description 3"
                },
                "TYPE": {
                  "type": "string",
                  "description": "Type",
                  "title": "Type"
                },
                "MEMO": {
                  "type": "string",
                  "description": "A multi-line memo",
                  "title": "Memo"
                },
                "UPC": {
                  "type": "string",
                  "description": "UPC",
                  "title": "UPC"
                },
                "MFG": {
                  "type": "string",
                  "description": "Must match EBMS Manufacturer's ID exactly",
                  "title": "Mfg ID",
                  "x-ms-visibility": "advanced"
                },
                "MFG_PART": {
                  "type": "string",
                  "description": "Manufacturer's Part Number",
                  "title": "MFG Part",
                  "x-ms-visibility": "advanced"
                },
                "PRI_VENDOR": {
                  "type": "string",
                  "description": "The Primary Vendor ID must match EBMS's ID exactly",
                  "title": "Primary Vendor ID",
                  "x-ms-visibility": "advanced"
                },
                "EACH_UNIT": {
                  "type": "string",
                  "description": "Main unit of measure",
                  "title": "Main Unit"
                },
                "WEIGHT": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight",
                  "title": "Weight",
                  "x-ms-visibility": "advanced"
                },
                "COST": {
                  "type": "number",
                  "format": "float",
                  "description": "Cost",
                  "title": "Cost"
                },
                "BASE": {
                  "type": "number",
                  "format": "float",
                  "description": "Base Price",
                  "title": "Base Price"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "description": "This action will update an exising EBMS product."
      }
    },
    "/INVENTRE": {
      "get": {
        "responses": {
          "200": {
            "description": "List of inventory folders.",
            "schema": {
              "$ref": "#/definitions/ListProductCategoriesResponse"
            }
          }
        },
        "summary": "Get Product Category ID",
        "description": "This will get all the Product Categories.",
        "operationId": "GetProductCategoryID",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.eaglebusinesssoftware.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.eaglebusinesssoftware.com/company-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Commerce"
    }
  ],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}