{
  "swagger": "2.0",
  "info": {
    "title": "EBMS",
    "description": "Connect you EBMS data with hundreds of other services in the world!  A subscription to the EBMS API Gateway is required.",
    "version": "1.0",
    "contact": {
      "name": "Eagle Business Software",
      "url": "https://info.eaglebusinesssoftware.com",
      "email": "info@eaglebusinesssoftware.com"
    }
  },
  "host": "ecc.101010101010101.servicebus.windows.net",
  "basePath": "/MyEbms/CompanyId/Odata",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/INVENTRY": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new product",
        "description": "Create a new product in EBMS.",
        "operationId": "CreateProduct",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string",
                  "description": "ID"
                },
                "TREE_ID": {
                  "type": "string",
                  "description": "Select the product category where the product is to be created.",
                  "title": "Product Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProductCategoryID",
                    "value-path": "TREE_ID",
                    "value-collection": "value",
                    "value-title": "TREE_DESCR",
                    "parameters": {}
                  },
                  "x-ms-visibility": "important"
                },
                "DESCR_1": {
                  "type": "string",
                  "description": "Description 1",
                  "title": "Description 1"
                },
                "DESCR_2": {
                  "type": "string",
                  "description": "Description 2",
                  "title": "Description 2"
                },
                "DESCR_3": {
                  "type": "string",
                  "description": "Description 3, this is a multi-line descripton",
                  "title": "Description 3"
                },
                "TYPE": {
                  "type": "string",
                  "description": "Type",
                  "title": "Type"
                },
                "MEMO": {
                  "type": "string",
                  "description": "A multi-line memo",
                  "title": "Memo"
                },
                "UPC": {
                  "type": "string",
                  "description": "UPC",
                  "title": "UPC"
                },
                "MFG": {
                  "type": "string",
                  "description": "MFG ID, must match EBMS manufacturers ID exactly",
                  "title": "Mfg ID",
                  "x-ms-visibility": "advanced"
                },
                "MFG_PART": {
                  "type": "string",
                  "description": "Manufacturers Part number",
                  "title": "Mfg Part",
                  "x-ms-visibility": "advanced"
                },
                "PRI_VENDOR": {
                  "type": "string",
                  "description": "Primary Vendor ID, must match EBMS exactly",
                  "title": "Primary Vendor ID",
                  "x-ms-visibility": "advanced"
                },
                "EACH_UNIT": {
                  "type": "string",
                  "description": "Main unit of measure",
                  "title": "Main Unit"
                },
                "WEIGHT": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight",
                  "title": "weight",
                  "x-ms-visibility": "advanced"
                },
                "COST": {
                  "type": "number",
                  "format": "float",
                  "description": "Cost",
                  "title": "Cost"
                },
                "BASE": {
                  "type": "number",
                  "format": "float",
                  "description": "Base Price",
                  "title": "Base Price"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "TREE_ID"
              ]
            }
          }
        ]
      }
    },
    "/INVENTRY(ID='{ProductId}')": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update an existing product",
        "operationId": "UpdateProduct",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "ProductId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "EBMS Product ID, e.g. DIRSHO",
            "x-ms-summary": "Product ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DESCR_1": {
                  "type": "string",
                  "description": "Description 1",
                  "title": "Description 1"
                },
                "DESCR_2": {
                  "type": "string",
                  "description": "Description 2",
                  "title": "Description 2"
                },
                "DESCR_3": {
                  "type": "string",
                  "description": "Description 3, this is a multi-line descripton",
                  "title": "Description 3"
                },
                "TYPE": {
                  "type": "string",
                  "description": "Type",
                  "title": "Type"
                },
                "MEMO": {
                  "type": "string",
                  "description": "A multi-line memo",
                  "title": "Memo"
                },
                "UPC": {
                  "type": "string",
                  "description": "UPC",
                  "title": "UPC"
                },
                "MFG": {
                  "type": "string",
                  "description": "MFG ID, must match EBMS manufacturers ID exactly",
                  "title": "Mfg ID",
                  "x-ms-visibility": "advanced"
                },
                "MFG_PART": {
                  "type": "string",
                  "description": "Manufacturers Part number",
                  "title": "Mfg Part",
                  "x-ms-visibility": "advanced"
                },
                "PRI_VENDOR": {
                  "type": "string",
                  "description": "Primary Vendor ID, must match EBMS exactly",
                  "title": "Primary Vendor ID",
                  "x-ms-visibility": "advanced"
                },
                "EACH_UNIT": {
                  "type": "string",
                  "description": "Main unit of measure",
                  "title": "Main Unit"
                },
                "WEIGHT": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight",
                  "title": "weight",
                  "x-ms-visibility": "advanced"
                },
                "COST": {
                  "type": "number",
                  "format": "float",
                  "description": "Cost",
                  "title": "Cost"
                },
                "BASE": {
                  "type": "number",
                  "format": "float",
                  "description": "Base Price",
                  "title": "Base Price"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "description": "This action will update an exising EBMS product."
      }
    },
    "/INVENTRE": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Product Category ID",
        "description": "This will get all the Product Categories.",
        "operationId": "GetProductCategoryID",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/TASK": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new task (task module required)",
        "operationId": "CreateTask",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TYPE": {
                  "type": "string",
                  "description": "Type",
                  "title": "Task Type",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTaskType",
                    "value-path": "TYPE",
                    "value-collection": "value",
                    "value-title": "TYPE",
                    "parameters": {}
                  },
                  "x-ms-visibility": "important"
                },
                "CUST_ID": {
                  "type": "string",
                  "description": "Customer Id",
                  "title": "Customer Id"
                },
                "DESCR": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "EMP_ID": {
                  "type": "string",
                  "description": "Worker ID",
                  "title": "Worker ID"
                },
                "START_DATE": {
                  "type": "string",
                  "description": "Start date in the format yyyyMMdd",
                  "title": "Start date"
                },
                "START_TIME": {
                  "type": "string",
                  "description": "Start time in 12 or 24hr format",
                  "title": "Start time"
                },
                "END_DATE": {
                  "type": "string",
                  "description": "End date in the format yyyyMMdd",
                  "title": "End date"
                },
                "END_TIME": {
                  "type": "string",
                  "description": "End time in 12 or 24hr format",
                  "title": "End time"
                },
                "DUE_BY": {
                  "type": "string",
                  "description": "Due date in the format yyyyMMdd",
                  "title": "Due date"
                },
                "APP_CONF": {
                  "type": "boolean",
                  "enum": [
                    true,
                    false
                  ],
                  "description": "Yes or No",
                  "title": "Appointment confirmed"
                },
                "HOURS": {
                  "type": "number",
                  "description": "Hours - e.g 2.5",
                  "title": "Hours"
                },
                "PRIORITY": {
                  "type": "string",
                  "description": "Low, Normal, High, or Emergency",
                  "title": "Priority"
                },
                "PIPE_PHASE": {
                  "type": "string",
                  "description": "Is case-sensitive and must match the options for this Task Type",
                  "title": "Phase"
                },
                "WORKCODE": {
                  "type": "string",
                  "description": "Must match EBMS work code exactly",
                  "title": "Work code"
                },
                "MANAGER": {
                  "type": "string",
                  "description": "Manager",
                  "title": "Manager",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTaskManager",
                    "value-path": "MANAGER",
                    "value-collection": "value",
                    "value-title": "MANAGER",
                    "parameters": {}
                  }
                },
                "NOTE": {
                  "type": "string",
                  "description": "Note",
                  "title": "Note"
                },
                "COMPLETED": {
                  "type": "boolean",
                  "enum": [
                    true,
                    false
                  ],
                  "description": "Yes or No",
                  "title": "Completed"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "TYPE"
              ]
            }
          }
        ],
        "description": "This action will create an EBMS task."
      }
    },
    "/TASK(ID='{Task ID}')": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update an existing EBMS task",
        "operationId": "UpdateTask",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Task ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Task ID",
            "x-ms-url-encoding": "single",
            "description": "Must be the unique alpha-numeric Task ID, not the ticket number"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CUST_ID": {
                  "type": "string",
                  "description": "Customer ID",
                  "title": "Customer ID"
                },
                "DESCR": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "EMP_ID": {
                  "type": "string",
                  "description": "Worker ID",
                  "title": "Worker ID"
                },
                "START_DATE": {
                  "type": "string",
                  "description": "Start date in the format yyyyMMdd",
                  "title": "Start date"
                },
                "START_TIME": {
                  "type": "string",
                  "description": "Start time in 12 or 24hr format",
                  "title": "Start time"
                },
                "END_DATE": {
                  "type": "string",
                  "description": "End date in the format yyyyMMdd",
                  "title": "End date"
                },
                "END_TIME": {
                  "type": "string",
                  "description": "End time in 12 or 24hr format",
                  "title": "End time"
                },
                "DUE_BY": {
                  "type": "string",
                  "description": "Due date in the format yyyyMMdd",
                  "title": "Due date"
                },
                "APP_CONF": {
                  "type": "boolean",
                  "enum": [
                    true,
                    false
                  ],
                  "description": "Yes or No",
                  "title": "Appointment confirmed"
                },
                "HOURS": {
                  "type": "number",
                  "description": "Hours - e.g 2.5",
                  "title": "Hours"
                },
                "PRIORITY": {
                  "type": "string",
                  "description": "Low, Normal, High, or Emergency",
                  "title": "Priority"
                },
                "PIPE_PHASE": {
                  "type": "string",
                  "description": "Is case-sensitive and must match the options for this Task Type",
                  "title": "Phase"
                },
                "WORKCODE": {
                  "type": "string",
                  "description": "Must match EBMS work code exactly",
                  "title": "Work code"
                },
                "MANAGER": {
                  "type": "string",
                  "description": "Manager",
                  "title": "Manager",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTaskManager",
                    "value-path": "MANAGER",
                    "value-collection": "value",
                    "value-title": "MANAGER",
                    "parameters": {}
                  }
                },
                "NOTE": {
                  "type": "string",
                  "description": "Note",
                  "title": "Note"
                },
                "COMPLETED": {
                  "type": "boolean",
                  "enum": [
                    true,
                    false
                  ],
                  "description": "Yes or No",
                  "title": "Completed"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "description": "This action will update an exising EBMS task (task module required)."
      }
    },
    "/ARCUST": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new customer",
        "operationId": "CreateCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TREE_ID": {
                  "type": "string",
                  "description": "Select the category where the customer is to be created",
                  "title": "Customer Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCustomerCategoryId",
                    "value-path": "TREE_ID",
                    "value-collection": "value",
                    "value-title": "TREE_DESCR",
                    "parameters": {}
                  }
                },
                "ID": {
                  "type": "string",
                  "description": "Required unless the category is configured to created automatically. Must be unique.",
                  "title": "Customer ID"
                },
                "F_NAME": {
                  "type": "string",
                  "description": "First name",
                  "title": "First name"
                },
                "L_NAME": {
                  "type": "string",
                  "description": "Last name",
                  "title": "Last name"
                },
                "ADDRESS1": {
                  "type": "string",
                  "description": "Address 1",
                  "title": "Address 1"
                },
                "ADDRESS2": {
                  "type": "string",
                  "description": "Address 2",
                  "title": "Address 2"
                },
                "CITY": {
                  "type": "string",
                  "description": "City",
                  "title": "City"
                },
                "STATE": {
                  "type": "string",
                  "description": "Abbreviated form of the state or province",
                  "title": "State"
                },
                "ZIP": {
                  "type": "string",
                  "description": "Zip or Postal Code",
                  "title": "Zip"
                },
                "COUNTRY": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country"
                },
                "PHONE": {
                  "type": "string",
                  "description": "Phone number",
                  "title": "Phone"
                },
                "EMAIL": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                },
                "MEMO": {
                  "type": "string",
                  "description": "Memo",
                  "title": "Memo"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "TREE_ID"
              ]
            }
          }
        ],
        "description": "This action will create a new EBMS customer."
      },
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Customer AutoId",
        "description": "This action will get all customer AutoIDs.",
        "operationId": "GetCustomerId",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/ARCUST(ID='{CustomerId}')": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update an existing EBMS customer",
        "operationId": "UpdateCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "EBMS customer ID, e.g. DOEJOH",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Customer ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "F_NAME": {
                  "type": "string",
                  "description": "First name",
                  "title": "First name"
                },
                "L_NAME": {
                  "type": "string",
                  "description": "Last name",
                  "title": "Last name"
                },
                "ADDRESS1": {
                  "type": "string",
                  "description": "Address 1",
                  "title": "Address 1"
                },
                "ADDRESS2": {
                  "type": "string",
                  "description": "Address 2",
                  "title": "Address 2"
                },
                "CITY": {
                  "type": "string",
                  "description": "City",
                  "title": "City"
                },
                "STATE": {
                  "type": "string",
                  "description": "Abbreviated form of the state or province",
                  "title": "State"
                },
                "ZIP": {
                  "type": "string",
                  "description": "Zip or Postal Code",
                  "title": "Zip"
                },
                "COUNTRY": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country"
                },
                "PHONE": {
                  "type": "string",
                  "description": "Phone number",
                  "title": "Phone"
                },
                "EMAIL": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                },
                "MEMO": {
                  "type": "string",
                  "description": "Memo",
                  "title": "Memo"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "description": "This action will update an exising EBMS customer."
      }
    },
    "/ARCONTACTS": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new customer contact (CRM module required)",
        "operationId": "CreateContact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ARCUST_AID": {
                  "type": "string",
                  "description": "Select the customer for this contact (or directly enter ARCUST.AUTOID value)",
                  "title": "Customer",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCustomerId",
                    "value-path": "AUTOID",
                    "value-collection": "value",
                    "value-title": "FULL_NAME",
                    "parameters": {}
                  }
                },
                "TITLE": {
                  "type": "string",
                  "description": "Role or Title",
                  "title": "Job Title must match existing options in EBMS"
                },
                "NAME": {
                  "type": "string",
                  "description": "Full name",
                  "title": "Full name"
                },
                "NICKNAME": {
                  "type": "string",
                  "description": "Nickname",
                  "title": "Nickname"
                },
                "EMAIL": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                },
                "B_PHONE": {
                  "type": "string",
                  "description": "Phone number",
                  "title": "Phone"
                },
                "MOBILE": {
                  "type": "string",
                  "description": "Mobile number",
                  "title": "Mobile"
                },
                "NOTE": {
                  "type": "string",
                  "description": "Note",
                  "title": "Note"
                },
                "CATEGORIES": {
                  "type": "string",
                  "description": "Use to create category filters etc",
                  "title": "Categories",
                  "x-ms-visibility": "advanced"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "ARCUST_AID"
              ]
            }
          }
        ],
        "description": "This action will create a new EBMS contact."
      }
    },
    "/ARCUSTRE": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Customer Category Id",
        "description": "This action will get all customer categories.",
        "operationId": "GetCustomerCategoryId",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/ARINV": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new sales order",
        "operationId": "CreateSalesOrder",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string",
                  "description": "e.g. DOEJOH",
                  "title": "Customer ID"
                },
                "NAME": {
                  "type": "string",
                  "description": "Company or full name",
                  "title": "Name"
                },
                "ADDRESS1": {
                  "type": "string",
                  "description": "Address 1",
                  "title": "Address 1",
                  "x-ms-visibility": "advanced"
                },
                "ADDRESS2": {
                  "type": "string",
                  "description": "Address 2",
                  "title": "Address 2",
                  "x-ms-visibility": "advanced"
                },
                "CITY": {
                  "type": "string",
                  "description": "City",
                  "title": "City",
                  "x-ms-visibility": "advanced"
                },
                "STATE": {
                  "type": "string",
                  "description": "Abbreviated form of the state or province",
                  "title": "State",
                  "x-ms-visibility": "advanced"
                },
                "ZIP": {
                  "type": "string",
                  "description": "Zip or Postal Code",
                  "title": "Zip",
                  "x-ms-visibility": "advanced"
                },
                "COUNTRY": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country",
                  "x-ms-visibility": "advanced"
                },
                "PHONE": {
                  "type": "string",
                  "description": "Phone number",
                  "title": "Phone",
                  "x-ms-visibility": "advanced"
                },
                "INVOICE": {
                  "type": "string",
                  "description": "Invoice number",
                  "title": "Invoice"
                },
                "INV_DATE": {
                  "type": "string",
                  "description": "Invoice date in the format yyyyMMdd",
                  "title": "Invoice Date"
                },
                "SHIP_DATE": {
                  "type": "string",
                  "description": "Shipping date in the format yyyyMMdd",
                  "title": "Shipping date",
                  "x-ms-visibility": "advanced"
                },
                "FREIGHT": {
                  "type": "number",
                  "description": "Freight amount - e.g. 12.34",
                  "title": "Freight amount",
                  "x-ms-visibility": "advanced"
                },
                "DESCR": {
                  "type": "string",
                  "description": "Invoice description",
                  "title": "Description"
                },
                "MEMO": {
                  "type": "string",
                  "description": "Memo",
                  "title": "Memo",
                  "x-ms-visibility": "advanced"
                },
                "INTERNALNT": {
                  "type": "string",
                  "description": "Internal note",
                  "title": "Internal note",
                  "x-ms-visibility": "advanced"
                },
                "PO_NO": {
                  "type": "string",
                  "description": "PO number",
                  "title": "PO number",
                  "x-ms-visibility": "advanced"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                },
                "Details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "INVEN": {
                        "type": "string",
                        "description": "Product code",
                        "title": "Product code"
                      },
                      "DESCR": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      },
                      "M_QUAN_VIS": {
                        "type": "string",
                        "description": "Ordered quantity - e.g. 3.5",
                        "title": "Ordered quantity"
                      },
                      "M_SHIP_VIS": {
                        "type": "string",
                        "description": "Shipped quantity - e.g. 3.5",
                        "title": "Shipped quantity"
                      },
                      "UNIT": {
                        "type": "string",
                        "description": "Price per unit - e.g. 4.99",
                        "title": "Unit price"
                      },
                      "UNIT_MEAS": {
                        "type": "string",
                        "description": "Unit of measure - e.g EA",
                        "title": "Unit Of Measure"
                      }
                    }
                  },
                  "description": "Sales order details"
                },
                "Payments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AMOUNT": {
                        "type": "string",
                        "description": "Amount",
                        "title": "Amount"
                      },
                      "DATE": {
                        "type": "string",
                        "description": "Date in the format yyyyMMdd",
                        "title": "Payment date"
                      },
                      "TYPE": {
                        "type": "string",
                        "description": "Type - unless coming from a VeriFone payment gateway set to Cash",
                        "title": "Type",
                        "default": "Cash"
                      },
                      "CHECK_NO": {
                        "type": "string",
                        "description": "Control number - e.g. 12345 VISA or Cash etc.",
                        "title": "Control Number"
                      },
                      "CASH_ACNT": {
                        "type": "string",
                        "description": "Cash or Undeposited funds account - e.g. 01000-000",
                        "title": "Cash Account"
                      }
                    }
                  },
                  "description": "Payment information",
                  "x-ms-visibility": "advanced"
                },
                "PROCESS": {
                  "type": "string",
                  "description": "Enter the word Process to create as an invoice",
                  "title": "Process as invoice",
                  "enum": [
                    "Process"
                  ]
                }
              },
              "required": [
                "ID",
                "Payments"
              ]
            }
          }
        ],
        "description": "This action will create a new EBMS Sales Order.",
        "x-ms-visibility": "important"
      }
    },
    "/APINV": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a new expense invoice",
        "operationId": "CreateExpenseInvoice",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "string",
                  "description": "e.g. ACMCOM",
                  "title": "Vendor ID"
                },
                "INVOICE": {
                  "type": "string",
                  "description": "Invoice number",
                  "title": "Invoice"
                },
                "TOP_TOTAL": {
                  "type": "string",
                  "description": "Invoice total entered on the header - e.g. 199.99",
                  "title": "Invoice Total"
                },
                "NAME": {
                  "type": "string",
                  "description": "Company or full name",
                  "title": "Name"
                },
                "ADDRESS1": {
                  "type": "string",
                  "description": "Address 1",
                  "title": "Address 1",
                  "x-ms-visibility": "advanced"
                },
                "ADDRESS2": {
                  "type": "string",
                  "description": "Address 2",
                  "title": "Address 2",
                  "x-ms-visibility": "advanced"
                },
                "CITY": {
                  "type": "string",
                  "description": "City",
                  "title": "City",
                  "x-ms-visibility": "advanced"
                },
                "STATE": {
                  "type": "string",
                  "description": "Abbreviated form of the state or province",
                  "title": "State",
                  "x-ms-visibility": "advanced"
                },
                "ZIP": {
                  "type": "string",
                  "description": "Zip or Postal Code",
                  "title": "Zip",
                  "x-ms-visibility": "advanced"
                },
                "COUNTRY": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country",
                  "x-ms-visibility": "advanced"
                },
                "INV_DATE": {
                  "type": "string",
                  "description": "Invoice date in the format yyyyMMdd",
                  "title": "Invoice Date"
                },
                "ORDER_DATE": {
                  "type": "string",
                  "description": "Ordered date in the format yyyyMMdd",
                  "title": "Ordered date",
                  "x-ms-visibility": "advanced"
                },
                "SHIP_DATE": {
                  "type": "string",
                  "description": "Shipping date in the format yyyyMMdd",
                  "title": "Shipping date",
                  "x-ms-visibility": "advanced"
                },
                "FREIGHT": {
                  "type": "number",
                  "description": "Freight amount - e.g. 12.34",
                  "title": "Freight amount",
                  "x-ms-visibility": "advanced"
                },
                "DESCR_H": {
                  "type": "string",
                  "description": "Invoice description",
                  "title": "Description"
                },
                "MEMO": {
                  "type": "string",
                  "description": "Memo",
                  "title": "Memo",
                  "x-ms-visibility": "advanced"
                },
                "INTERNALNT": {
                  "type": "string",
                  "description": "Internal note",
                  "title": "Internal note",
                  "x-ms-visibility": "advanced"
                },
                "PO_NO": {
                  "type": "string",
                  "description": "PO number",
                  "title": "PO number",
                  "x-ms-visibility": "advanced"
                },
                "WAREHOUSE": {
                  "type": "string",
                  "description": "Warehouse ID",
                  "title": "Warehouse",
                  "x-ms-visibility": "advanced"
                },
                "EXTERNALID": {
                  "type": "string",
                  "description": "Unique ID of the program integrated with EBMS",
                  "title": "External ID",
                  "x-ms-visibility": "advanced"
                },
                "Details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "INVEN": {
                        "type": "string",
                        "description": "Product code",
                        "title": "Product code"
                      },
                      "DESCR": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      },
                      "O_QUAN_VIS": {
                        "type": "string",
                        "description": "Ordered quantity - e.g. 3.5",
                        "title": "Ordered quantity"
                      },
                      "SHIP_VIS": {
                        "type": "string",
                        "description": "Received quantity - e.g. 3.5",
                        "title": "Received quantity"
                      },
                      "UNIT_VIS": {
                        "type": "string",
                        "description": "Price per unit - e.g. 4.99",
                        "title": "Unit price"
                      },
                      "UNIT_MEAS": {
                        "type": "string",
                        "description": "Unit of measure - e.g EA",
                        "title": "Unit Of Measure"
                      },
                      "ACCOUNT": {
                        "type": "string",
                        "description": "e.g. 71000-000",
                        "title": "Account"
                      }
                    }
                  },
                  "description": "Expense invoice details"
                },
                "Payments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount",
                        "title": "Amount"
                      },
                      "ControlNumber": {
                        "type": "string",
                        "description": "Control Number e.g. 1234 or Bank Draft",
                        "title": "Control Number",
                        "x-ms-visibility": "advanced"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date in the format yyyyMMdd",
                        "title": "Date"
                      },
                      "CheckingAccount": {
                        "type": "string",
                        "description": "e.g. 01100-000",
                        "title": "Account"
                      }
                    },
                    "description": "Payment information"
                  },
                  "x-ms-visibility": "advanced"
                },
                "PROCESS": {
                  "type": "string",
                  "description": "Enter the word Process to create as an invoice",
                  "title": "Process as invoice",
                  "enum": [
                    "Process"
                  ]
                }
              },
              "required": [
                "ID",
                "INVOICE"
              ]
            }
          }
        ],
        "description": "This action will create a new EBMS Expense Invoice.",
        "x-ms-visibility": "important"
      }
    },
    "/TATYPES": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get task types",
        "description": "This action will get all task types.",
        "operationId": "GetTaskType",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/TAMANAGE": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get task managers",
        "description": "This action will get all task managers.",
        "operationId": "GetTaskManager",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/DBDOCWEBHOOK/TASK": {
      "x-ms-notification-content": {
        "description": "TaskResponse",
        "schema": {
          "type": "object",
          "properties": {
            "TICKET": {
              "type": "string",
              "description": "TICKET"
            },
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "DESCR": {
              "type": "string",
              "description": "DESCR"
            },
            "NOTE": {
              "type": "string",
              "description": "NOTE"
            },
            "CUST_ID": {
              "type": "string",
              "description": "CUST_ID"
            },
            "STATUS": {
              "type": "string",
              "description": "STATUS"
            },
            "COMPLETED": {
              "type": "string",
              "description": "COMPLETED"
            },
            "PRIORITY": {
              "type": "string",
              "description": "PRIORITY"
            },
            "PIPE_PHASE": {
              "type": "string",
              "description": "PIPE_PHASE"
            },
            "APP_CONF": {
              "type": "string",
              "description": "APP_CONF"
            },
            "DUE_BY": {
              "type": "string",
              "description": "DUE_BY"
            },
            "DUE_TIME": {
              "type": "string",
              "description": "DUE_TIME"
            },
            "START_DATE": {
              "type": "string",
              "description": "START_DATE"
            },
            "START_TIME": {
              "type": "string",
              "description": "START_TIME"
            },
            "END_DATE": {
              "type": "string",
              "description": "END_DATE"
            },
            "END_TIME": {
              "type": "string",
              "description": "END_TIME"
            },
            "ACT_TIME": {
              "type": "string",
              "description": "ACT_TIME"
            },
            "BILL_TIME": {
              "type": "string",
              "description": "BILL_TIME"
            },
            "AUTHOR": {
              "type": "string",
              "description": "AUTHOR"
            },
            "HOURS": {
              "type": "string",
              "description": "HOURS"
            },
            "WORKCODE": {
              "type": "string",
              "description": "WORKCODE"
            },
            "MANAGER": {
              "type": "string",
              "description": "MANAGER"
            },
            "LOCATION": {
              "type": "string",
              "description": "LOCATION"
            },
            "ISNEW": {
              "type": "string",
              "description": "ISNEW"
            },
            "ISDELETED": {
              "type": "string",
              "description": "ISDELETED"
            }
          }
        },
        "headers": {
          "Location": {
            "description": "Location",
            "type": "string"
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "Location": {
                "description": "Location",
                "type": "string"
              }
            }
          }
        },
        "summary": "When a task is created or changed",
        "operationId": "TaskCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "URL_TYPE": {
                  "type": "string",
                  "description": "URL_TYPE",
                  "title": "URL Type",
                  "default": "I",
                  "x-ms-visibility": "internal"
                },
                "HEADERS": {
                  "type": "string",
                  "description": "HEADERS",
                  "title": "Header",
                  "default": "Content-Type:application/json",
                  "x-ms-visibility": "internal"
                },
                "INACTIVE": {
                  "type": "boolean",
                  "description": "INACTIVE",
                  "title": "Inactive",
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "DESCR": {
                  "type": "string",
                  "description": "The webhook description that will be displayed in EBMS",
                  "title": "Description",
                  "default": "Power Automate"
                },
                "VERB": {
                  "type": "string",
                  "description": "VERB",
                  "title": "Verb",
                  "default": "POST",
                  "x-ms-visibility": "internal"
                },
                "URL_EXPR": {
                  "type": "string",
                  "description": "URL_EXPR",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "CRUD": {
                  "type": "string",
                  "title": "Trigger when",
                  "default": "A",
                  "enum": [
                    "A",
                    "X",
                    "Y",
                    "Z",
                    "C",
                    "U",
                    "D"
                  ],
                  "description": "A = Created updated or deleted, X = Created or updated,  Y = Created or deleted, Z = Updated or deleted, C = Created, U = Updated, D = Deleted",
                  "x-ms-visibility": "important"
                },
                "FILE": {
                  "type": "string",
                  "description": "FILE",
                  "title": "File",
                  "default": "TASK",
                  "x-ms-visibility": "internal"
                },
                "PA_TRIG_ID": {
                  "type": "string",
                  "description": "PA_TRIG_ID",
                  "title": "PA Trigger ID",
                  "default": "TASK",
                  "x-ms-visibility": "internal"
                },
                "PA03": {
                  "type": "string",
                  "description": "Enter the task type - case sensitive",
                  "title": "Task type"
                },
                "PA05": {
                  "type": "string",
                  "description": "Any word or phrase that is in the task description",
                  "title": "Description Filter"
                },
                "PA01": {
                  "type": "string",
                  "description": "The task status, e.g. Open, Closed,  Completed",
                  "title": "Status"
                },
                "PA02": {
                  "type": "string",
                  "description": "Enter the primary worker ID, e.g. DOEJOH",
                  "title": "Worker ID"
                },
                "PA04": {
                  "type": "string",
                  "description": "The task priority, e.g. Low, Normal, High, Emergency",
                  "title": "Priority"
                },
                "PA06": {
                  "type": "string",
                  "description": "Any word or phrase that is in the task phase",
                  "title": "Phase"
                },
                "PA00": {
                  "type": "string",
                  "description": "Compile a codebase expression here that will define the condition upon which this will trigger in EBMS and send the notification to this flow",
                  "title": "Expression",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "CRUD",
                "URL_TYPE",
                "INACTIVE",
                "VERB",
                "FILE",
                "PA_TRIG_ID",
                "HEADERS",
                "URL_EXPR"
              ]
            }
          }
        ],
        "description": "When a task in EBMS is created, changed or deleted this trigger will receive a notification and basic data."
      }
    },
    "/DBDOCWEBHOOK/ARCUST": {
      "x-ms-notification-content": {
        "description": "CustomerResponse",
        "schema": {
          "type": "object",
          "properties": {
            "AUTOID": {
              "type": "string",
              "description": "AUTOID"
            },
            "CATEGORY_ID": {
              "type": "string",
              "description": "CATEGORY_ID"
            },
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "F_NAME": {
              "type": "string",
              "description": "F_NAME"
            },
            "L_NAME": {
              "type": "string",
              "description": "L_NAME"
            },
            "ADDRESS1": {
              "type": "string",
              "description": "ADDRESS1"
            },
            "ADDRESS2": {
              "type": "string",
              "description": "ADDRESS2"
            },
            "CITY": {
              "type": "string",
              "description": "CITY"
            },
            "STATE": {
              "type": "string",
              "description": "STATE"
            },
            "ZIP": {
              "type": "string",
              "description": "ZIP"
            },
            "COUNTRY": {
              "type": "string",
              "description": "COUNTRY"
            },
            "TYPE": {
              "type": "string",
              "description": "TYPE"
            },
            "IN_LEVEL": {
              "type": "string",
              "description": "IN_LEVEL"
            },
            "CONTACT_1": {
              "type": "string",
              "description": "CONTACT_1"
            },
            "CONTACT_2": {
              "type": "string",
              "description": "CONTACT_2"
            },
            "CONTACT_3": {
              "type": "string",
              "description": "CONTACT_3"
            },
            "CONTACT_4": {
              "type": "string",
              "description": "CONTACT_4"
            },
            "CONTACT_5": {
              "type": "string",
              "description": "CONTACT_5"
            },
            "PHONE": {
              "type": "string",
              "description": "PHONE"
            },
            "EMAIL": {
              "type": "string",
              "description": "EMAIL"
            },
            "EMAIL_LIST": {
              "type": "string",
              "description": "EMAIL_LIST"
            },
            "MAIL_LIST": {
              "type": "string",
              "description": "MAIL_LIST"
            },
            "MEMO": {
              "type": "string",
              "description": "MEMO"
            },
            "INACTIVE": {
              "type": "string",
              "description": "INACTIVE"
            },
            "EXTERNALID": {
              "type": "string",
              "description": "EXTERNALID"
            },
            "ISNEW": {
              "type": "string",
              "description": "ISNEW"
            },
            "ISDELETED": {
              "type": "string",
              "description": "ISDELETED"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When a customer is created or changed",
        "operationId": "CustomerCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "URL_TYPE": {
                  "type": "string",
                  "description": "URL_TYPE",
                  "title": "URL Type",
                  "default": "I",
                  "x-ms-visibility": "internal"
                },
                "HEADERS": {
                  "type": "string",
                  "description": "HEADERS",
                  "title": "Header",
                  "default": "Content-Type:application/json",
                  "x-ms-visibility": "internal"
                },
                "INACTIVE": {
                  "type": "boolean",
                  "description": "INACTIVE",
                  "title": "Inactive",
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "DESCR": {
                  "type": "string",
                  "description": "The webhook description that will be displayed in EBMS.",
                  "title": "Description",
                  "default": "Power Automate"
                },
                "VERB": {
                  "type": "string",
                  "description": "VERB",
                  "title": "Verb",
                  "default": "POST",
                  "x-ms-visibility": "internal"
                },
                "URL_EXPR": {
                  "type": "string",
                  "description": "URL_EXPR",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "CRUD": {
                  "type": "string",
                  "title": "Trigger when",
                  "default": "A",
                  "enum": [
                    "A",
                    "X",
                    "Y",
                    "Z",
                    "C",
                    "U",
                    "D"
                  ],
                  "description": "A = Created updated or deleted, X = Created or updated,  Y = Created or deleted, Z = Updated or deleted, C = Created, U = Updated, D = Deleted",
                  "x-ms-visibility": "important"
                },
                "FILE": {
                  "type": "string",
                  "description": "FILE",
                  "title": "File",
                  "default": "ARCUST",
                  "x-ms-visibility": "internal"
                },
                "PA_TRIG_ID": {
                  "type": "string",
                  "description": "PA_TRIG_ID",
                  "title": "PA Trigger ID",
                  "default": "ARCUST",
                  "x-ms-visibility": "internal"
                },
                "PA01": {
                  "type": "string",
                  "description": "Enter the customer category ID number - e.g. 22",
                  "title": "Category ID"
                },
                "PA02": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Customer ID field",
                  "title": "Customer ID filter"
                },
                "PA03": {
                  "type": "string",
                  "description": "The salesperson assigned to the customer (salesperson module required",
                  "title": "Salesperson"
                },
                "PA04": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Customer Type field",
                  "title": "Type filter"
                },
                "PA00": {
                  "type": "string",
                  "description": "Compile a codebase expression here that will define the condition upon which this will trigger in EBMS and send the notification to this flow",
                  "title": "Expression",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "CRUD",
                "URL_TYPE",
                "INACTIVE",
                "VERB",
                "FILE",
                "PA_TRIG_ID",
                "HEADERS",
                "URL_EXPR"
              ]
            }
          }
        ],
        "description": "When a customer in EBMS is created, changed or deleted this trigger will receive a notification and basic data."
      }
    },
    "/DBDOCWEBHOOK/INVENTRY": {
      "x-ms-notification-content": {
        "description": "InventoryResponse",
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "CATEGORY_ID": {
              "type": "string",
              "description": "CATEGORY_ID"
            },
            "TYPE": {
              "type": "string",
              "description": "TYPE"
            },
            "DESCR_1": {
              "type": "string",
              "description": "DESCR_1"
            },
            "DESCR_2": {
              "type": "string",
              "description": "DESCR_2"
            },
            "DESCR_3": {
              "type": "string",
              "description": "DESCR_3"
            },
            "BASE": {
              "type": "number",
              "description": "BASE"
            },
            "COST": {
              "type": "number",
              "description": "COST"
            },
            "WEIGHT": {
              "type": "number",
              "description": "WEIGHT"
            },
            "PRI_VENDOR": {
              "type": "string",
              "description": "PRI_VENDOR"
            },
            "MAIN_UNIT": {
              "type": "string",
              "description": "EACH_UNIT"
            },
            "SELL_UNIT": {
              "type": "string",
              "description": "DEF_UNIT"
            },
            "MFG": {
              "type": "string",
              "description": "MFG"
            },
            "MFG_PART": {
              "type": "string",
              "description": "MFG_PART"
            },
            "TAX_GROUP": {
              "type": "string",
              "description": "TAX_GROUP"
            },
            "LOCATION": {
              "type": "string",
              "description": "LOCATION"
            },
            "INACTIVE": {
              "type": "string",
              "description": "INACTIVE"
            },
            "UPC": {
              "type": "string",
              "description": "UPC"
            },
            "UPC2": {
              "type": "string",
              "description": "UPC2"
            },
            "UPC3": {
              "type": "string",
              "description": "UPC3"
            },
            "INTERNAL_NOTE": {
              "type": "string",
              "description": "INT_NOTE"
            },
            "MEMO": {
              "type": "string",
              "description": "MEMO"
            },
            "EXTERNALID": {
              "type": "string",
              "description": "EXTERNALID"
            },
            "AUTOID": {
              "type": "string",
              "description": "AUTOID"
            },
            "ISNEW": {
              "type": "string",
              "description": "ISNEW()"
            },
            "ISDELETED": {
              "type": "string",
              "description": "DELETED()"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When a product is created or changed",
        "operationId": "ProductCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "URL_TYPE": {
                  "type": "string",
                  "description": "URL_TYPE",
                  "title": "URL Type",
                  "default": "I",
                  "x-ms-visibility": "internal"
                },
                "HEADERS": {
                  "type": "string",
                  "description": "HEADERS",
                  "title": "Header",
                  "default": "Content-Type:application/json",
                  "x-ms-visibility": "internal"
                },
                "INACTIVE": {
                  "type": "boolean",
                  "description": "INACTIVE",
                  "title": "Inactive",
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "DESCR": {
                  "type": "string",
                  "description": "The webhook description that will be displayed in EBMS",
                  "title": "Description",
                  "default": "Power Automate"
                },
                "VERB": {
                  "type": "string",
                  "description": "VERB",
                  "title": "Verb",
                  "default": "POST",
                  "x-ms-visibility": "internal"
                },
                "URL_EXPR": {
                  "type": "string",
                  "description": "URL_EXPR",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "CRUD": {
                  "type": "string",
                  "title": "Trigger when",
                  "default": "A",
                  "enum": [
                    "A",
                    "X",
                    "Y",
                    "Z",
                    "C",
                    "U",
                    "D"
                  ],
                  "description": "A = Created updated or deleted, X = Created or updated,  Y = Created or deleted, Z = Updated or deleted, C = Created, U = Updated, D = Deleted",
                  "x-ms-visibility": "important"
                },
                "FILE": {
                  "type": "string",
                  "description": "FILE",
                  "title": "File",
                  "default": "INVENTRY",
                  "x-ms-visibility": "internal"
                },
                "PA_TRIG_ID": {
                  "type": "string",
                  "description": "PA_TRIG_ID",
                  "title": "PA Trigger ID",
                  "default": "INVENTRY",
                  "x-ms-visibility": "internal"
                },
                "PA01": {
                  "type": "string",
                  "description": "Enter the product category ID number - e.g. 22",
                  "title": "Category ID"
                },
                "PA02": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Product ID field",
                  "title": "Product ID filter"
                },
                "PA03": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Customer Type field",
                  "title": "Type filter"
                },
                "PA04": {
                  "type": "string",
                  "description": "Enter the manufacturer's ID e.g. ACMECO",
                  "title": "Mfg ID"
                },
                "PA00": {
                  "type": "string",
                  "description": "Compile a codebase expression here that will define the condition upon which this will trigger in EBMS and send the notification to this flow",
                  "title": "Expression",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "CRUD",
                "URL_TYPE",
                "INACTIVE",
                "VERB",
                "FILE",
                "PA_TRIG_ID",
                "HEADERS",
                "URL_EXPR"
              ]
            }
          }
        ],
        "description": "When a product in EBMS is created, changed or deleted this trigger will receive a notification and basic data."
      }
    },
    "/DBDOCWEBHOOK/ARINV": {
      "x-ms-notification-content": {
        "description": "SalesOrderResponse",
        "schema": {
          "type": "object",
          "properties": {
            "INVOICE": {
              "type": "string",
              "description": "INVOICE"
            },
            "DESCR": {
              "type": "string",
              "description": "DESCR"
            },
            "INV_DATE": {
              "type": "string",
              "description": "INV_DATE"
            },
            "DUE_DATE": {
              "type": "string",
              "description": "DUE_DATE"
            },
            "SHIP_DATE": {
              "type": "string",
              "description": "SHIP_DATE"
            },
            "SHIP_VIA": {
              "type": "string",
              "description": "SHIP_VIA"
            },
            "PO_NO": {
              "type": "string",
              "description": "PO_NO"
            },
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "NAME": {
              "type": "string",
              "description": "NAME"
            },
            "ADDRESS1": {
              "type": "string",
              "description": "ADDRESS1"
            },
            "ADDRESS2": {
              "type": "string",
              "description": "ADDRESS2"
            },
            "CITY": {
              "type": "string",
              "description": "CITY"
            },
            "STATE": {
              "type": "string",
              "description": "STATE"
            },
            "ZIP": {
              "type": "string",
              "description": "ZIP"
            },
            "COUNTRY": {
              "type": "string",
              "description": "COUNTRY"
            },
            "EMAIL": {
              "type": "string",
              "description": "EMAIL"
            },
            "SHIP_ID": {
              "type": "string",
              "description": "C_ID"
            },
            "SHIP_NAME": {
              "type": "string",
              "description": "C_NAME"
            },
            "SHIP_ADDRESS1": {
              "type": "string",
              "description": "C_ADDRESS1"
            },
            "SHIP_ADDRESS2": {
              "type": "string",
              "description": "C_ADDRESS2"
            },
            "SHIP_CITY": {
              "type": "string",
              "description": "C_CITY"
            },
            "SHIP_STATE": {
              "type": "string",
              "description": "C_STATE"
            },
            "SHIP_ZIP": {
              "type": "string",
              "description": "C_ZIP"
            },
            "SHIP_EMAIL": {
              "type": "string",
              "description": "C_EMAIL"
            },
            "SHIP_PHONE": {
              "type": "string",
              "description": "C_PHONE"
            },
            "SHIP_COUNTRY": {
              "type": "string",
              "description": "C_COUNTRY"
            },
            "BALANCE": {
              "type": "number",
              "description": "BALANCE"
            },
            "CHARGE": {
              "type": "string",
              "description": "CHARGE"
            },
            "OVERDUE": {
              "type": "number",
              "description": "OVERDUE"
            },
            "SUBTOTAL": {
              "type": "number",
              "description": "SUBTOTAL"
            },
            "TOTAL_SO": {
              "type": "number",
              "description": "TOTAL_SO"
            },
            "TOTAL": {
              "type": "number",
              "description": "TOTAL"
            },
            "IN_LEVEL": {
              "type": "string",
              "description": "IN_LEVEL"
            },
            "SALESPERSON": {
              "type": "string",
              "description": "SALESMAN"
            },
            "STATUS": {
              "type": "string",
              "description": "STATUS"
            },
            "WAREHOUSE": {
              "type": "string",
              "description": "WAREHOUSE"
            },
            "INTERNAL_NOTE": {
              "type": "string",
              "description": "INTERNALNT"
            },
            "MEMO": {
              "type": "string",
              "description": "MEMO"
            },
            "EXTERNALID": {
              "type": "string",
              "description": "EXTERNALID"
            },
            "ISNEW": {
              "type": "string",
              "description": "ISNEW()"
            },
            "ISDELETED": {
              "type": "string",
              "description": "DELETED()"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When a sales order is created or changed",
        "operationId": "SalesOrderCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "URL_TYPE": {
                  "type": "string",
                  "description": "URL_TYPE",
                  "title": "URL Type",
                  "default": "I",
                  "x-ms-visibility": "internal"
                },
                "HEADERS": {
                  "type": "string",
                  "description": "HEADERS",
                  "title": "Header",
                  "default": "Content-Type:application/json",
                  "x-ms-visibility": "internal"
                },
                "INACTIVE": {
                  "type": "boolean",
                  "description": "INACTIVE",
                  "title": "Inactive",
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "DESCR": {
                  "type": "string",
                  "description": "The webhook description that will be displayed in EBMS",
                  "title": "Description",
                  "default": "Power Automate"
                },
                "VERB": {
                  "type": "string",
                  "description": "VERB",
                  "title": "Verb",
                  "default": "POST",
                  "x-ms-visibility": "internal"
                },
                "URL_EXPR": {
                  "type": "string",
                  "description": "URL_EXPR",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "CRUD": {
                  "type": "string",
                  "title": "Trigger when",
                  "default": "A",
                  "enum": [
                    "A",
                    "X",
                    "Y",
                    "Z",
                    "C",
                    "U",
                    "D"
                  ],
                  "description": "A = Created updated or deleted, X = Created or updated,  Y = Created or deleted, Z = Updated or deleted, C = Created, U = Updated, D = Deleted",
                  "x-ms-visibility": "important"
                },
                "FILE": {
                  "type": "string",
                  "description": "FILE",
                  "title": "File",
                  "default": "ARINV",
                  "x-ms-visibility": "internal"
                },
                "PA_TRIG_ID": {
                  "type": "string",
                  "description": "PA_TRIG_ID",
                  "title": "PA Trigger ID",
                  "default": "ARINV",
                  "x-ms-visibility": "internal"
                },
                "PA01": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Customer ID field",
                  "title": "Customer ID filter"
                },
                "PA02": {
                  "type": "string",
                  "description": "Any string of letters or numbers that is in the Sales Order Description field",
                  "title": "Description filter"
                },
                "PA03": {
                  "type": "string",
                  "title": "Sales Order Status",
                  "default": "U",
                  "enum": [
                    "U",
                    "O",
                    "X"
                  ],
                  "description": "U = Created updated or deleted, X = Created or updated,  Y = Created or deleted, Z = Updated or deleted, C = Created, U = Updated, D = Deleted"
                },
                "PA04": {
                  "type": "string",
                  "description": "Enter the manufacturer's ID e.g. ACMECO",
                  "title": "Mfg ID"
                },
                "PA00": {
                  "type": "string",
                  "description": "Compile a codebase expression here that will define the condition upon which this will trigger in EBMS and send the notification to this flow",
                  "title": "Expression",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "CRUD",
                "URL_TYPE",
                "INACTIVE",
                "VERB",
                "FILE",
                "PA_TRIG_ID",
                "HEADERS",
                "URL_EXPR"
              ]
            }
          }
        ],
        "description": "When a product in EBMS is created, changed or deleted this trigger will receive a notification and basic data."
      }
    },
    "/DBDOCWEBHOOK/{Guid}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete registered webhook",
        "description": "Deletes an EBMS webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/DBDOCWEBHOOK/TASK1": {
      "x-ms-notification-content": {
        "description": "201",
        "schema": {
          "type": "object",
          "properties": {
            "TICKET": {
              "type": "string",
              "description": "TICKET"
            },
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "DESCR": {
              "type": "string",
              "description": "DESCR"
            },
            "NOTE": {
              "type": "string",
              "description": "NOTE"
            },
            "CUST_ID": {
              "type": "string",
              "description": "CUST_ID"
            },
            "STATUS": {
              "type": "string",
              "description": "STATUS"
            },
            "COMPLETED": {
              "type": "string",
              "description": "COMPLETED"
            },
            "PRIORITY": {
              "type": "string",
              "description": "PRIORITY"
            },
            "PIPE_PHASE": {
              "type": "string",
              "description": "PIPE_PHASE"
            },
            "APP_CONF": {
              "type": "string",
              "description": "APP_CONF"
            },
            "DUE_BY": {
              "type": "string",
              "description": "DUE_BY"
            },
            "DUE_TIME": {
              "type": "string",
              "description": "DUE_TIME"
            },
            "START_DATE": {
              "type": "string",
              "description": "START_DATE"
            },
            "START_TIME": {
              "type": "string",
              "description": "START_TIME"
            },
            "END_DATE": {
              "type": "string",
              "description": "END_DATE"
            },
            "END_TIME": {
              "type": "string",
              "description": "END_TIME"
            },
            "ACT_TIME": {
              "type": "string",
              "description": "ACT_TIME"
            },
            "BILL_TIME": {
              "type": "string",
              "description": "BILL_TIME"
            },
            "AUTHOR": {
              "type": "string",
              "description": "AUTHOR"
            },
            "HOURS": {
              "type": "string",
              "description": "HOURS"
            },
            "WORKCODE": {
              "type": "string",
              "description": "WORKCODE"
            },
            "MANAGER": {
              "type": "string",
              "description": "MANAGER"
            },
            "LOCATION": {
              "type": "string",
              "description": "LOCATION"
            },
            "ISNEW": {
              "type": "string",
              "description": "ISNEW"
            },
            "ISDELETED": {
              "type": "string",
              "description": "ISDELETED"
            }
          }
        },
        "headers": {
          "Location": {
            "description": "Location",
            "type": "string"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://eaglebusinesssoftware.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.eaglebusinesssoftware.com/company-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Commerce"
    }
  ],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}